.we-advice {
  text-align: left;

  h2 {
    text-align: left;
  }

  .box {
    h3 {
      font-size: 20px;
      font-weight: bold;
      color: var(--tm-black-title);
      text-align: left;
    }
  }

  a.box {
    border: 2px solid transparent;
  }

  .advicing_btn {
    margin: 1em auto;

    .action-button {
      background-color: var(--tm-btn);
      color: var(--tm-black-title);
      padding: 18px 32px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.162704);


      &:hover {
        background-color: var(--tm-primary-light);
        box-shadow: none;
      }

      @media (max-width: 580px) {
        padding: 18px;
      }
    }
  }

  a {
    transition: all 100ms ease-in-out;
    text-decoration: none;

    p {
      color: var(--tm-black);
    }
  }

  a.box:hover {
    border: 2px solid var(--tm-primary);
    background-color: var(--tm-primary-light);
  }

}
