.cooperation {
  background: none;

  .cooperation__logos {
    padding: 0;
    margin: 0 auto;

    a {
      display: block;
      padding: 0 16px;
      align-items: center;
      text-align: center;
      @media (min-width: 480px) {
        display: inline-flex;
      }
    }

    .sprite svg {
      display: inline-block;
      width: 110px;
      @media (max-width: 480px) {
        width: 90px;
      }
    }

    .-img_logo_apify, .-img_logo_pricefx {
      &:after {
        content: "Partneři";
        font-size: 12px;
        line-height: 14px;
        color: #979797;
        display: flex;
        margin-top: -34px;
        @media (max-width: 839px) {
          margin-top: -24px;
        }
      }
    }

    .-img_logo_adler {
      align-self: center;
      text-align: center;
      margin: 10px;

      svg {
        width: 84px;
        @media (max-width: 480px) {
          width: 68px;
        }
      }
    }

    @media (min-width: 480px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-flow: wrap;
    }
  }

  @media (max-width: 840px) {
    text-align: center;
  }
  //svg logo colors
  .-img_logo_pricefx {
    --color-1: #31b4e7;
    --color-2: #414142;
  }

  .-img_logo_erste-group {
    --color-1: #eb2227;
    --color-2: #0a4a7b;
  }
}
