<!doctype html>
<html lang="cs" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#">
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N4HGSRD');</script>
<!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Accept-CH" content="DPR,Viewport-Width,Width,Save-Data">
  <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
  <meta name="format-detection" content="telephone=no">
  <title>{% block title %}{{ language[page].title }}{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://res.cloudinary.com">
  {% block preconnect %}{% endblock %}
  {% block preload %}{% endblock %}

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style>
    @font-face {
      font-family: "Roobert";
      src: local("Roobert Regular"),
      url("/assets/css/Roobert-Regular.woff2") format("woff2"),
      url("/assets/css/Roobert-Regular.woff") format("woff"),
      url("/assets/css/Roobert-Regular.ttf") format("tff");
      font-weight: 400;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: "Roobert";
      src: local("Roobert Bold"),
      url("/assets/css/Roobert-Bold.woff2") format("woff2"),
      url("/assets/css/Roobert-Bold.woff") format("woff"),
      url("/assets/css/Roobert-Bold.tff") format("tff");
      font-weight: 700;
      font-style: normal;
      font-display: swap;
    }
  </style>
  <link rel="stylesheet" href="/assets/css/typography.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/components/contact.css">
  {% block head %}{% endblock %}
</head>
<body id="page-{{page}}" vocab="https://schema.org/" typeof="{{ pageType or 'WebPage' }}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N4HGSRD"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<link rel="stylesheet" href="/assets/css/components/header.css">
{% include 'components/header.njk' %}

<main id="content">
  {% block content %}{% endblock %}
</main>

<link rel="stylesheet" href="/assets/css/components/footer.css">
{% include 'components/footer.njk' %}


{% block javascript %}{% endblock %}

</body>
</html>

