{%- from 'macros/helpers.njk' import css, sprite -%}
{{ css('case-studies') }}
{% set gridSpan = 6 if caseStudiesData.activeCase else 4 %}

<section class="tm-case-studies">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner tm-layout-wrapper">
      <div class="tm-case-studies__title mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>{{ caseStudiesData.title }}</h2>
        {% if caseStudiesData.subTitle %}
          <p class="sub-text">{{ caseStudiesData.subTitle }}</p>
        {% endif %}
      </div>
      {% if caseStudiesData.activeCase != 'go-real-europe' %}
        <div
          class="tm-case-studies__clients mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-{{ gridSpan }}-desktop">
          <a href="/case-studies/go-real-europe/">
            <div class="tm-case-studies__logo tm-case-studies__logo--gorealeurope">
              <div class="tm-bgnd-wrapper">{{ sprite('img_logo_gorealeurope') }}</div>
            </div>
            <h3>Go Real Europe</h3></a>
          <p>GRE is a rapidly growing travel startup that specializes in crafting
            personalized itineraries for travelers of all kinds who want to explore the
            magic European countries&nbsp;offer.</p>
        </div>
      {% endif %}
      {% if caseStudiesData.activeCase != 'pricefx' %}
        <div
          class="tm-case-studies__clients mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-{{ gridSpan }}-desktop">
          <a href="/case-studies/price-fx/">
            <div class="tm-case-studies__logo tm-case-studies__logo--pricefx">
              <div class="tm-bgnd-wrapper">{{ sprite('img_logo_pricefx') }}</div>
            </div>
            <h3>Pricefx</h3></a>
          <p>We provided professional consultations to support a rapidly expanding portfolio of customers
            and improve the UX of the current website.</p>
        </div>
      {% endif %}
      {% if caseStudiesData.activeCase != 'cs' %}
        <div
          class="tm-case-studies__clients mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-{{ gridSpan }}-desktop">
          <a href="/case-studies/ceska-sporitelna-web-api/">
            <div class="tm-case-studies__logo tm-case-studies__logo--ceska-sporitelna">
              <div class="tm-bgnd-wrapper">{{ sprite('img_logo_cs') }}</div>
            </div>
            <h3>Česká Spořitelna WebAPI</h3></a>
          <p>A&nbsp;custom-made integration platform for the bank’s&nbsp;internal use as well as
            external in the form of a public&nbsp;API.</p>
        </div>
      {% endif %}

      {% if caseStudiesData.activeCase != 'adler' %}
        <div
          class="tm-case-studies__clients mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-{{ gridSpan }}-desktop">
          <a href="/case-studies/adler/">
            <div class="tm-case-studies__logo tm-case-studies__logo--adler">
              <div class="tm-bgnd-wrapper">{{ sprite('img_logo_adler') }}</div>
            </div>
            <h3>Adler</h3></a>
          <p>In close cooperation with the client, we have created a smart software that
            is user-friendly. Its biggest added value lies in saving Adler’s&nbsp;employees’
            time through the automation of multiple workflows.</p>
        </div>
      {% endif %}

      {% if caseStudiesData.activeCase != 'profi-option' %}
        <div
          class="tm-case-studies__clients mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-{{ gridSpan }}-desktop">
          <a href="/case-studies/profi-option/">
            <div class="tm-case-studies__logo tm-case-studies__logo--profi-option">
              <div class="tm-bgnd-wrapper">{{ sprite('img_logo_profi-option') }}</div>
            </div>
            <h3>Profi Option</h3></a>
          <p>Our team’s&nbsp;task was to review 24Cryptex’s&nbsp;trading app which experienced
            some difficulties with its usability and the overall look and feel of their
            platform.</p>
        </div>
      {% endif %}

      {% if caseStudiesData.activeCase != 'xixoio' %}
        <div
          class="tm-case-studies__clients mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-{{ gridSpan }}-desktop">
          <a href="/case-studies/xixoio/">
            <div class="tm-case-studies__logo tm-case-studies__logo--xixoio">
              <div class="tm-bgnd-wrapper">{{ sprite('img_logo_xixoio') }}</div>
            </div>
            <h3>XIXOIO</h3></a>
          <p>Our TopMonks Blockchain team was approached at the same time Xixoio’s&nbsp;IPCO
            was being prepared. It only took us three days to draft the complete token
            issuance architecture.</p>
        </div>
      {% endif %}
    </div>
  </div>
</section>
