@import "@material/layout-grid/mdc-layout-grid";

:root {
  --mdc-layout-grid-margin-desktop: 24px;
  --mdc-layout-grid-gutter-desktop: 20px;
  --mdc-layout-grid-column-width-desktop: 60px;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Proxima Nova", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header {
  background: linear-gradient(132.11deg, rgba(44, 77, 255, 0.5) 19.23%, rgba(196, 124, 217, 0.5) 94.63%);

  li a, .logo {
    color: #FFFFFF;
  }
}

section {
  margin: 24px 0;
}

.bl-layout-wrapper {
  max-width: 1060px;
  margin: 0 auto;
  //--mdc-layout-grid-margin-desktop: 0;
  //--mdc-layout-grid-margin-tablet: 0;
  //--mdc-layout-grid-margin-phone: 0;
}

.tns {
  &-nav {
    text-align: center;
    > [aria-controls] {
      width: 9px;
      height: 9px;
      padding: 0;
      margin: 0 5px;
      border-radius: 50%;
      background: #C4C4C4;
      border: 0;
    }
    > .tns-nav-active {
      background: #6C6AB9;
    }
  }

  &-item
  {
    padding-right: 20px;
    img {
      width: 100%;
      max-width: 305px;
    }
  }

  &-slider {
    padding-left: 0;
  }

  &-outer [data-action] {
    display: block;
    margin: 10px auto;
    font-size: 17px;
    min-width: 3em;
    text-align: center;
    background: transparent;
    border: 0;
  }
}

@media screen and (max-width: 480px) {
  .bl-layout--order-1-mobile {
    order: 1;
  }
}

.bh-revenue {
  &__input {
    border: none;
  }

  &__output {
    min-width: 3em;
    display: inline-block;
  }

  &__input,
  &__output {
    border-bottom: 4px solid #B1AEF8;
  }

}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 54px;
    color: #FFFFFF;
  }

  h2.title {
    font-size: 24px;
  }
  h2.title_center {
    text-align: center;
    max-width: 660px;
    margin: 0 auto;
  }

  h2 {
    font-size: 48px;
    padding-bottom: 36px;
  }
  nav a:hover {
    color: #32305D;
  }
  footer .bl-layout-wrapper, header .bl-layout-wrapper, ul.menu_list {
    display: -webkit-box;
  }
}

@media (max-width: 999px) {
  h1 {
    font-size: 26px;
    color: #FFFFFF;
  }

  h2.title {
    font-size: 18px;
  }
  h2.title_center {
    text-align: center;
    max-width: 660px;
    margin: 0 auto;
  }

  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
}

// Buttons //

.button {
  border-radius: 3.61742px;
  font-size: 1.33em;
  color: #FFFFFF;
  background: linear-gradient(132.11deg, rgba(44, 77, 255, 0.5) 19.23%, rgba(196, 124, 217, 0.5) 94.63%);
  padding: .77em 2.2em;
  box-shadow: 0px 14.4697px 43.4091px rgba(138, 130, 219, 0.2);

  &:hover {
    background-color: rebeccapurple;
  }
}

// Menu //

.logo {
  align-self: center;
  font-size: 24px;
  font-weight: 900;

  &:hover {
    color: #32305D;
  }
}

nav {
  ul {
    display: -webkit-inline-flex;
  }
  .menu_list {
    li {
      font-size: 18px;
      padding-right: 28px;
      list-style: none;
    }
  }
}

a {
  text-decoration: none;
}

// Section - Introduction //

.intro {
  background: linear-gradient(132.11deg, rgba(44, 77, 255, 0.5) 19.23%, rgba(196, 124, 217, 0.5) 94.63%);

  img {
    display: none;
  }

  @media screen and (min-width: 1020px) {
    h1 {
      margin-top: 3em;
      line-height: 1.4;
    }
  }
}

// Section - Create & scale your digital economy //

.digital {
  p {
    color: #B4B4B4;
  }

  @media screen and (min-width: 1020px) {
    position: relative;
    .upper-text {
      position: absolute;
      top: 50%;
      width: 300px;
    }
    .lower-text {
      position: absolute;
      bottom: 20%;
      width: 300px;
    }
    h3 {
      font-size: 30px;
    }

    p {
      font-size: 18px;
    }
  }
}

// Section - Get started for free, Wallet calculator //

.wallet {
  h2.title_center {
    padding-bottom: 36px;
  }

  @media screen and (min-width: 1020px) {
    img.iphone-phone {
      display: none;
    }
  }
  @media (max-width: 1019px) {
    img.iphone-desktop {
      display: none;
    }
  }
}

// Section - How your business benefits //

.benefits {
  h2 {
    padding-bottom: 0;
  }
  .box {
    box-shadow: 0px 20px 60px rgba(138, 130, 219, 0.2);
    text-align: center;
    height: 430px;

    h3 {
      font-size: 26px;
      line-height: 20px;
      padding: 8px 24px;
    }

    p {
      font-size: 16px;
      color: #B4B4B4;
      margin: 0 auto;
      padding: 0 24px 4px;
    }
  }

  @media (max-width: 320px) {
    height: 410px;
  }
  @media screen and (min-width: 1020px) {
    .box_margin {
      margin-top: 14px;
    }
  }
}

// Section - Get started Today //

.closure {
  text-align: center;
}

// Footer //

footer {
  li a {
    color: black;

    &:hover {
      color: #C36DE6;
    }
  }

  @media screen and (min-width: 561px) {
    .social-icon {
      text-align: right;
    }
  }
  @media (max-width: 560px) {
    .social-icon {
      padding: 24px 0;
      text-align: center;
    }
    nav {
      display: none;
    }
  }
}


/*.intro {
  @media screen and (min-width: 1020px) {
    h1 {
      margin-top: 3em;
      line-height: 1.4;
    }
    img {
      min-width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -100;
    }
    .bl-layout-wrapper {
      position: relative;
    }

    .mdc-layout-grid__inner {
      display: grid;
      margin: 0;
    }
  }
  @media (max-width: 1019px) {
    img {
      display: none;
    }
    background-color: #0c0449;
  }
}*/
