{% extends 'layouts/main.njk' %}
{% from 'macros/helpers.njk' import css, sprite %}

{% set page = 'hookamonk-cattering' %}
{% set language = en %}

{% block title %}
  Hookamonk - Game changer in Hookah
{% endblock %}

{% block head %}
  <meta name="description"
        content="Hookamonk is an exclusive hand-made equipment for your hookah to make it wholly electronic while allowing you smoking* genuine tobacco, not any e-liquid imitations.">
  <meta name="twitter:description" property="og:description"
        content="Hookamonk is an exclusive hand-made equipment for your hookah to make it wholly electronic while allowing you smoking* genuine tobacco, not any e-liquid imitations.">
  <link rel="canonical" href="https://www.hookamonk.com/">
  {#  <meta name="twitter:card" content="summary_large_image">#}
  {#  <meta name="twitter:site" content="@topmonks">#}
  {#  <meta name="twitter:title" property="og:title" content="TopMonks - Software development partner for your business">#}
  {#  <meta name="twitter:image" property="og:image" content="https://www.topmonks.com/images/og-image.png">#}
  <meta property="og:type" content="company">
  <meta property="og:url" content="https://www.hookamonk.com/">
  <meta property="og:site_name" content="hookamonk.com">
  <style>
    .hm-hero-wrapper{
      padding-bottom: 0;
    }
    #page-hookamonk-cattering .hm-hero__sub-header {
      color: var(--hm-black);
      background-color: #FFF;
      max-width: 1000px;
      margin: 1em auto 0;
      padding: 1em;
      font-weight: 400;
    }
    @media screen and (max-width: 479px) {
      .hm-hero-wrapper {
        background: url({{ "hookamonk.com/bgnd_header_cattering.png" | cloudinaryUrl(width=800) }}) no-repeat fixed top center;
        background-size: cover;
      }
    }

    @media screen and (max-width: 479px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 479px) and (min--moz-device-pixel-ratio: 2), screen and (max-width: 479px) and (-o-min-device-pixel-ratio: 2/1), screen and (max-width: 479px) and (min-device-pixel-ratio: 2), screen and (max-width: 479px) and (min-resolution: 192dpi), screen and (max-width: 479px) and (min-resolution: 2dppx) {
      .hm-hero-wrapper {
        background: url({{"hookamonk.com/bgnd_header_cattering.png" | cloudinaryUrl(width=800,dpr=2)}}) no-repeat fixed top center;
        background-size: cover;
      }
    }

    @media screen and (min-width: 480px) {
      .hm-hero-wrapper {
        background: url({{"hookamonk.com/bgnd_header_cattering.png" | cloudinaryUrl(width=1671)}}) no-repeat fixed top center;
        background-size: cover;
      }
    }

    @media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
      .hm-hero-wrapper {
        background: url({{"hookamonk.com/bgnd_header_cattering.png" | cloudinaryUrl(width=1671,dpr=2)}}) no-repeat fixed top center;
        background-size: cover;
      }
    }
  </style>
{% endblock %}

{% block content %}
  {{ css("hero") }}
  <div class="mdc-layout-grid hm-hero-wrapper">
    <div class="mdc-layout-grid__inner">
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <section class="hm-hero">
          <h1 class="hm-hero__header">Hi-tech
            unique solution for demanding users</h1>
          <h2 class="hm-hero__sub-header">
            If you want hookamonk for your lounge please contact us on email: <a href="mailto:sales@hookamonk.com">sales@hookamonk.com</a>
          </h2>
        </section>
      </div>
    </div>
  </div>
<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner tm-layout-wrapper">
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <h3>Heating only by electronics</h3>
        <p>There are no charcoals in hookamonk. All heating is made by spiral heated from electronic devices in head. Tobacco is heated same way as in classic hookah only charcoals are replaced by spiral.
        </p>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <h3>Smart inhale detection</h3>
        <p>Electronic head react on inhales. When you breathe in it will warm the tobacco, when you don't smoke it remains the temperature.</p>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <h3>No staff</h3>
        <p>You need shishaman only to fill the bowl by tobacco. There is no need to take care about charcoals and change them during the session.
        </p>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <h3>No burnt furniture</h3>
        <p>If there are charcoals, there are no cinders that could damage your couch, chairs or table.</p>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <h3>You pay as you smoke</h3>
        <p>Hookamonk is not for sell. Lounges pay only for finished sessions.</p>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <h3>New features updated automatically</h3>
        <p>Hookah is still connected to wifi. You will receive every update automatically.</p>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <h3>First electronic hookah for tobacco</h3>
        <p>There is no e-liquid in hookamonk. You can use any tobacco you love and enjoy its clear taste.</p>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <h3>Intensity regulation</h3>
        <p>If you like your hookah stronger or smoother you can change its intensity on display or in your mobile app.</p>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <h3>Compatibility with other hookahs</h3>
        <p>Electronic head is possible to place on most usual hookahs, heat managements and bowls.</p>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <h3>Consistent taste</h3>
        <p>With hookamonk taste of tobacco remains still the same during the session. </p>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <h3>Lounge app</h3>
        <p>The Lounge App helps lounge staff to manage Hookamonk devices. It features an overview of running table sessions, monitors session run time, maintenance status and allows to remotely control the hookahs</p>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <h3>Mobile app</h3>
        <p>Mobile app for Android and iOS. You can use it to change intensity of your hookah or create diary with your session.</p>
      </div>
      <div
      
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12" style="text-align: center">
        <h2 class="hm-h2">Products</h2>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <img title="Hookamonk box product photo"
             alt="[photo] Hookamonk box product photo"
             width="90%"
             src="{{ "hookamonk.com/img_box.png" | cloudinaryUrl(width=530) }}"
             srcset="{{ "hookamonk.com/img_box.png" | cloudinaryUrl(width=530) }} 1x,
                     {{ "hookamonk.com/img_box.png" | cloudinaryUrl(width=530,dpr=1.5) }} 1.5x,
                     {{ "hookamonk.com/img_box.png" | cloudinaryUrl(width=530,dpr=2) }} 2x" />
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <h3 class="hm-h2">Mobile box</h3>
        <p>Portable version of hookamonk. It's possible to use it with any table you have. You need only source of electricity and wifi connection.</p>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <h3 class="hm-h2">Table</h3>
        <p>Specific table designed for hookamonk. Display is installed in. All electronic is installed in. You only add shisha with an electronic head.</p>
      </div>
      <div
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <img title="Hookamonk table product photo"
             alt="[photo] Hookamonk table product photo"
             width="90%"
             src="{{ "hookamonk.com/img_table.png" | cloudinaryUrl(width=530) }}"
             srcset="{{ "hookamonk.com/img_table.png" | cloudinaryUrl(width=530) }} 1x,
                     {{ "hookamonk.com/img_table.png" | cloudinaryUrl(width=530,dpr=1.5) }} 1.5x,
                     {{ "hookamonk.com/img_table.png" | cloudinaryUrl(width=530,dpr=2) }} 2x"/>
      </div>

  </div>
</div>
{% endblock %}
