{% extends 'layouts/application.html' %}
{% block title %}caffe.topmonks.cz{% endblock %}

{% block navigation %}
{{ macros.navigation('caffe') }}
{% endblock %}

{% block content %}
{{ macros.pageHeader('TopMonks Caffè') }}

<ul id="navigace">
  <li>
    <a href="#uvod">Úvod</a>
  </li>
  <li>
    <a href="#courses">Co učíme</a>
  </li>
  <li>
    <a href="#galerie">Fotogalerie</a>
  </li>
  <li>
    <a href="#reference">Říkají o nás</a>
  </li>
  <li>
    <a href="#kontakt">Kontakt</a>
  </li>
</ul>
<body>

</body>
</html>
