{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}
{% block title %}Rozcestník{% endblock %}

{% block navigation %}
  {{ macros.navigation('home') }}
{% endblock %}

{% block content %}

  {{ macros.pageHeader('Developers for your startup','We are your software development partners, experienced with both startup and corporate environment.') }}

  {% include 'components/example-component/index.html' %}
{% endblock %}
