{% extends 'layouts/topmonks.html' %}
{% block title %}Kde nás najdete - TopMonks{% endblock %}
{% block head %}
<link rel="stylesheet" href="/stylesheets/meet-us.css">
{% endblock %}

{% block content %}

<section class="meet-us">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner tm-layout-wrapper">
      <div class="tm-page-header page_sub-title mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>Potkejte se s&nbsp;námi</h2>
        <p>Rádi poznáváme nové a zajímavé lidi. Přijďte se za námi podívat na
          jeden z&nbsp;našich mnoha eventů.</p>
      </div>
    </div>
  </div>
</section>
<section class="tm-events mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="tm-meetup box mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-wrapper">
      <div class="mdc-layout-grid__inner">
        <div
          class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
          <img class="tm-meetup__img" alt="TopMonks Caffè logo"
               src="https://res.cloudinary.com/topmonks/image/upload/c_scale,h_273,w_428/v1544791905/topmonks.com/Meet-us/tm-caffe.png">
        </div>
        <div
          class="tm-meetup__cell tm-events_text mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
          <h3>TopMonks Caffè</h3>
          <p>Každý první čtvrtek v&nbsp;měsíci pořádáme pravidelný meetup o&nbsp;všem,
            co nás zajímá.  IT témata občas proložíme soft prezentacemi např.
            o&nbsp;cestování nebo decentralizaci.</p>

          <div class="links"><a href="https://caffe.topmonks.cz">JAKÉ TÉMA BUDE PŘÍŠTĚ?</a>
          </div>
        </div>
      </div>
    </div>
    <div class="tm-meetup box mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-wrapper">
      <div class="mdc-layout-grid__inner">
        <div
          class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
          <img class="tm-meetup__img" alt="Photo of TopMonks breakfast"
               src="https://res.cloudinary.com/topmonks/image/upload/c_scale,h_273,w_428/v1544798416/topmonks.com/Meet-us/tm-breakfast.png">
        </div>
        <div
          class="tm-meetup__cell tm-events_text mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
          <h3>TopMonks breakfast</h3>
          <p>Každý čtvrtek chystají dva nebo tři monkové snídani pro všechny
            ostatní. Snídaňové čtvrtky jsou příležitost nejen potkat se a pokecat
            mezi sebou, ale také se zajímavými lidmi zvenčí.</p>

          <div class="links"><a href="mailto:happy@top&shy;monks.com">PŘIJĎTE S&nbsp;NÁMI KDYKOLI POSNÍDAT</a>
          </div>
        </div>
      </div>
    </div>
    <div class="tm-meetup box mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-wrapper">
      <div class="mdc-layout-grid__inner">
        <div
          class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
          <img class="tm-meetup__img" alt="Photo from Startup Stage"
               src="https://res.cloudinary.com/topmonks/image/upload/c_scale,h_273,w_428/v1544798429/topmonks.com/Meet-us/startup.png">
        </div>
        <div
          class="tm-meetup__cell tm-events_text mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
          <h3>Startup Stage</h3>
          <p>Třikrát ročně si zveme na #startupstage zajímavé hosty ze světa
            startupů. Ve velmi přátelské atmosféře se jich můžete zeptat na cokoli,
            co vás zajímá. Talkshow o&nbsp;startupech. Bez bullshitu.</p>

        <!--  <div class="links"><a href="">ZAŽIJTE ENERGII #STARTUPSTAGE</a>
          </div>-->
        </div>
      </div>
    </div>
    <div class="tm-meetup box mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-wrapper">
      <div class="mdc-layout-grid__inner">
        <div
          class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
          <img class="tm-meetup__img" alt="Photo from CZ Podcast"
               src="https://res.cloudinary.com/topmonks/image/upload/c_scale,h_273,w_428/v1544798611/topmonks.com/Meet-us/podcast.png">
        </div>
        <div
          class="tm-meetup__cell tm-events_text mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
          <h3>CZPodcast</h3>
          <p>Nejpopulárnější podcast pro programátory v&nbsp;Čechách. Duo Filemon a
            Dagi zpovídají ty nejzajímavější hosty. Zábava a vysoká informační
            hodnota zaručena.</p>

          <div class="links"><a href="https://soundcloud.com/czpodcast-1">POSLECHNĚTE SI PODCAST</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="other-events">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner tm-layout-wrapper">
      <div class="page_sub-title main_page-title mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>Ostatní eventy</h2>
        <p>Pořádáme konference o&nbsp;budoucnosti práce a blockchainu. Jsme členy mnoha
          dalších odborných meetupů, kterých se nejen účastníme, ale kde často
          i&nbsp;přednášíme.</p>
      </div>
      <div
        class="other-events_logos mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-12-desktop">
        <a class="img-link" href="http://block-stars.com/"><img class="tm-meetup__img" alt="Blockstars logo"
                                                                src="https://res.cloudinary.com/topmonks/image/upload/v1544789647/loga/logo_blockstars.png"
                                                                style="width: 219px"></a>
        <a class="img-link" href="http://www.wisephora.com/"><img class="tm-meetup__img" alt="Wisephora logo"
                                                                  src="https://res.cloudinary.com/topmonks/image/upload/v1544789648/loga/logo_wisephora.png"
                                                                  style="width: 219px"></a>
        <a class="img-link" href="https://coderetreat.cz/"><img class="tm-meetup__img" alt="Code Retreat CZ logo"
                                                                src="https://res.cloudinary.com/topmonks/image/upload/v1544789647/loga/logo_crcz.png"
                                                                style="width: 219px"></a>
        <a class="img-link" href="https://www.meetup.com/Lambda-Meetup-Group/"><img class="tm-meetup__img"
                                                                                    alt="Prague Lambda logo"
                                                                                    src="https://res.cloudinary.com/topmonks/image/upload/v1544789647/loga/logo_praguelambda.png"
                                                                                    style="width: 219px"></a>
      </div>
      <div
        class="other-events_logos mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-12-desktop">
        <a class="img-link" href="CodingDojo.cz"><img class="tm-meetup__img" alt="Coding Dojo logo"
                                                      src="https://res.cloudinary.com/topmonks/image/upload/v1544789647/loga/logo_codingdojo.png"
                                                      style="width: 219px"></a>

        <a class="img-link" href="http://www.asociaceux.cz/"><img class="tm-meetup__img" alt="Asociace UX logo"
                                                                  src="https://res.cloudinary.com/topmonks/image/upload/v1544789647/loga/logo_uxa.png"
                                                                  style="width: 219px"></a>
        <a class="img-link" href="http://devminutes.cz/"><img class="tm-meetup__img" alt="Dev Minutes logo"
                                                              src="https://res.cloudinary.com/topmonks/image/upload/v1544789647/loga/logo_devminutes.png"
                                                              style="width: 219px"></a>
      </div>
    </div>
  </div>
</section>
<section id="gallery">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-12-desktop">
        <img class="tm-meetup__img" alt="Blockstars logo"
             src="https://res.cloudinary.com/topmonks/image/upload/c_scale,h_300,w_230/v1544373347/topmonks.com/Meet-us/img_meet1.png">
        <img class="tm-meetup__img" alt="Blockstars logo"
             src="https://res.cloudinary.com/topmonks/image/upload/c_scale,h_300,w_620/v1544373347/topmonks.com/Meet-us/img_meet2.png">

        <img class="tm-meetup__img" alt="Blockstars logo"
             src="https://res.cloudinary.com/topmonks/image/upload/c_scale,h_300,w_300/v1544373346/topmonks.com/Meet-us/img_meet3.png">
        <img class="tm-meetup__img" alt="Blockstars logo"
             src="https://res.cloudinary.com/topmonks/image/upload/c_scale,h_300,w_230/v1544373346/topmonks.com/Meet-us/img_meet4.png">
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-12-desktop">

        <img class="tm-meetup__img" alt="Blockstars logo"
             src="https://res.cloudinary.com/topmonks/image/upload/c_scale,h_300,w_230/v1544373346/topmonks.com/Meet-us/img_meet5.png">
        <img class="tm-meetup__img" alt="Blockstars logo"
             src="https://res.cloudinary.com/topmonks/image/upload/c_scale,h_300,w_300/v1544373347/topmonks.com/Meet-us/img_meet6.png">
        <img class="tm-meetup__img" alt="Blockstars logo"
             src="https://res.cloudinary.com/topmonks/image/upload/c_scale,h_300,w_550/v1544796894/topmonks.com/Meet-us/img_meet7.png">
        <img class="tm-meetup__img" alt="Blockstars logo"
             src="https://res.cloudinary.com/topmonks/image/upload/c_scale,h_300,w_300/v1544796922/topmonks.com/Meet-us/img_meet8.png">

      </div>
    </div>
  </div>
</section>
<section class="gallery_img">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <img class="tm-meetup__img" alt="Blockstars logo"
           src="https://res.cloudinary.com/topmonks/image/upload/c_scale,h_300,w_550/v1544796894/topmonks.com/Meet-us/img_meet7.png">
    </div>
  </div>
</section>



{% endblock %}
