{% extends 'layouts/topmonks.html' %}
{% block title %}Kde nás najdete - TopMonks{% endblock %}
{% block head %}
<link rel="stylesheet" href="/stylesheets/meet-us.css">
{% endblock %}

{% block content %}

  <section class="principles">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner tm-layout-wrapper">
        <div class="tm-page-header mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <h2>Komunita</h2>
          <blockquote>
            <p>Neustále vzdělávej sebe i&nbsp;ostatní. Předávání znalostí je u&nbsp;nás
              povinnost.</p>
          </blockquote>
          <p>Našim cílem není sedět v&nbsp;kanceláři klasicky od 9&nbsp;do 5.&nbsp;Především
            chceme zákazníkům dodávat perfektně odvedenou práci. Protože většina
            z&nbsp;nás pracuje vzdáleně (remotně), používáme následující nástroje
            k&nbsp;tomu, abychom měli všichni přehled o&nbsp;dění ve firmě a komunikovali mezi
            sebou tak, jako bychom seděli u&nbsp;jednoho stolu. Přestaň počítat hodiny a
            dělej svou práci tak, jak nejlépe dovedeš.</p>
        </div>
        <div class="box box--team mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet">
          <h3>To jsme my</h3>
          <p>To jsme my. Jsme nadšený tým špičkových vývojářů, designérů a team leadrů, který ze sebe chce vždy dostat to nejlepší.</p>
        </div>
        <div class="box box--work mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet">
          <h3>Naše práce</h3>
          <p>Pracujeme rádi a snažíme se neustále vzdělávat - sebe i druhé.</p>
        </div>
        <div class="box box--love mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet">
          <h3>Milujeme</h3>
          <p>Milujeme sdílet naše vědomosti nejen ve firmě, ale i&nbsp;s&nbsp;celým
            světem.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>Můžeš<b> nás potkat</b> zde</h2>
      </div>
      <div class="tm-meetup box mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-wrapper">
        <div class="mdc-layout-grid__inner">
          <div class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
            <h3><a href="https://caffe.topmonks.cz">TopMonks Caffè</a></h3>
            <p>Každý první čtvrtek v&nbsp;měsíci pořádáme pravidelná setkání pro
              Monky i&nbsp;veřejnost. Probíráme nejrůznější témata&nbsp;&ndash; od konkrétních
              technických řešení, přes crypto, až po ta méně technická, např. jak se
              efektivně&nbsp;učit.</p>

            <div class="links"><a href="https://caffe.topmonks.cz">https://caffe.topmonks.cz</a>
            </div>
          </div>
          <div class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
            <a href="https://caffe.topmonks.cz"><img class="tm-meetup__img" alt="TopMonks Caffè logo" src="/images/community/caffe.png"></a>
          </div>
        </div>
      </div>
      <div class="tm-meetup box mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-wrapper">
        <div class="mdc-layout-grid__inner">
          <div class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
            <h3><a href="https://soundcloud.com/czpodcast-1">CZ Podcast</a></h3>
            <p>Nejpopulárnější tech-podcast v&nbsp;České Republice! Duo Filemon a Dagi +
              zajímaví hosté = zábava a hodnotné informace zaručeny!</p>

            <div class="links"><a href="https://soundcloud.com/czpodcast-1">https://soundcloud.com/czpodcast-1</a>
            </div>
          </div>
          <div class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
            <a class="img-link" href="https://soundcloud.com/czpodcast-1"><img class="tm-meetup__img" alt="CZ Podcast logo" src="/images/community/cz-podcast.png"></a>
          </div>
        </div>
      </div>
      <div class="tm-meetup box mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-wrapper">
        <div class="mdc-layout-grid__inner">
          <div class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
            <h3><a href="http://codingdojo.cz/">Coding Dojo</a></h3>
            <p>Coding Dojo je místo, kam za námi můžeš přijít a vzdělávat se
              v&nbsp;programování. Pořádáme pravidelně v&nbsp;různých městech. Dvě hodiny se
              plně věnujeme řešení Katas nebo jiným zajímavým otázkám.</p>

            <div class="links"><a href="http://codingdojo.cz/">http://codingdojo.cz/</a>
            </div>
          </div>
          <div class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
            <a class="img-link" href="http://codingdojo.cz/"><img class="tm-meetup__img" alt="Coding Dojo logo" src="/images/community/coding-dojo.png"></a>
          </div>
        </div>
      </div>
      <div class="tm-meetup box mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-wrapper">
        <div class="mdc-layout-grid__inner tm-layout-wrapper">
          <div class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
            <h3><a href="https://coderetreat.cz/">Code Retreat CZ</a></h3>
            <p>V kurzu Code retreat se intenzivně věnujeme základům pro vývoj softwaru. Code Retreat ti dá prostor a čas se soustředit a nabít novými zkušenostmi.</p>
            <div class="links"><a href="https://coderetreat.cz/">https://coderetreat.cz/</a></div>
          </div>
          <div class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
            <a class="img-link" href="https://coderetreat.cz/"><img class="tm-meetup__img" alt="Code Retreat CZ logo" src="/images/community/coderetreat-cz.png"></a>
          </div>
        </div>
      </div>
      <div class="tm-meetup box mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-wrapper">
        <div class="mdc-layout-grid__inner">
          <div class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
            <h3><a href="http://www.asociaceux.cz/">Asociace UX</a></h3>
            <p>UX Asociace se především zaměřuje na vývoj a formování lokálního UX marketu s ohledem na zahraniční trendy a zkušenosti. Také se snaží zvýšit povědomí veřejnosti o HCI, UX a nabídnout podporu odborníkům UX, obchodu a akademické sféře.</p>

            <div class="links"><a href="http://www.asociaceux.cz/">http://www.asociaceux.cz/</a></div>
          </div>
          <div class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
            <a class="img-link" href="http://www.asociaceux.cz/"><img class="tm-meetup__img" alt="Asociace UX logo" src="/images/community/ux-asociace.png"></a>
          </div>
        </div>
      </div>
      <div class="tm-meetup box mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-wrapper">
        <div class="mdc-layout-grid__inner">
          <div class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
            <h3><a href="https://www.meetup.com/Lambda-Meetup-Group/">Prague Lambda</a></h3>
            <p>Tato skupina vznikla z&nbsp;nadšených programátorů používajících
              nejrůznější programovací jazyky s&nbsp;podporou FP paradigm: Erlang, Clojure,
              Haskell, OCaml, Scala, Lisp,&nbsp;aj.</p>

            <div class="links"><a href="https://www.meetup.com/Lambda-Meetup-Group/">https://www.meetup.com/Lambda-Meetup-Group/</a></div>
          </div>
          <div class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
            <a class="img-link" href="https://www.meetup.com/Lambda-Meetup-Group/"><img class="tm-meetup__img" alt="Prague Lambda logo" src="/images/community/prague-lambda.png"></a>
          </div>
        </div>
      </div>
      <div class="tm-meetup box mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-wrapper">
        <div class="mdc-layout-grid__inner">
          <div class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
            <h3><a href="http://devminutes.cz/">DevMinutes</a></h3>
            <p>Náš vážený kolega Jirka se rozhodl vytvořit svůj vlastní podcast
              s&nbsp;mnoha zajímavými hosty. Součástí je pestrá řada témat začínaje
              vzdělávacím systémem, konče umělou inteligencí&nbsp;&ndash; v&nbsp;Jirkově široké
              nabídce si každý najde to, co ho zrovna baví a zajímá.</p>

            <div class="links"><a href="http://devminutes.cz/">http://devminutes.cz/</a></div>
          </div>
          <div class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
            <a class="img-link" href="http://devminutes.cz/"><img class="tm-meetup__img" alt="DevMinutes logo" src="/images/community/devminutes.png"></a>
          </div>
        </div>
      </div>
      <div class="tm-meetup box mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-wrapper">
        <div class="mdc-layout-grid__inner">
          <div class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
            <h3><a href="http://www.wisephora.com/">Wisephora</a></h3>
            <p>Wisephora je skupinová diskuze o&nbsp;budoucnosti práce, propojování lidí, a
              jak tyto otázky správně uchopit a pracovat s&nbsp;nimi. Těšit se můžete na
              přednášky kvalifikovaných manažerů, zástupců významných českých firem
              i&nbsp;různých vizionářů s&nbsp;jejich inovativními myšlenkami.</p>

            <div class="links"><a href="http://www.wisephora.com/">http://www.wisephora.com/</a></div>
          </div>
          <div class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
            <a class="img-link" href="http://www.wisephora.com/"><img class="tm-meetup__img" alt="Wisephora logo" src="/images/community/wisephora.png"></a>
          </div>
        </div>
      </div>
      <div class="tm-meetup box mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-wrapper">
        <div class="mdc-layout-grid__inner">
          <div class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
            <h3><a href="http://block-stars.com/">Block-Stars</a></h3>
            <p>Cílem této akce bylo lépe seznámit odborníky s technologií blockchainu a to z úst firemních zástupců, začínajících podnikatelů, investorů a široké veřejnosti.
              Tato jednodenní událost přilákala slibné projekty, odborníky a investory ze střední a východní Evropy.</p>
            <div class="links"><a href="http://block-stars.com/">http://block-stars.com/</a></div>
          </div>
          <div class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
            <a class="img-link" href="http://block-stars.com/"><img class="tm-meetup__img" alt="Blockstars logo" src="/images/community/blockstars.png"></a>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}
