{% extends 'layouts/topmonks.njk' %}
{%- import 'macros/helpers.njk' as macros -%}
{% block title %}About TopMonks{% endblock %}
{% block head %}
  <link rel="stylesheet" href="/assets/css/about-us.css">
{% endblock %}

{% block content %}
  <section id="how-we-work" class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner tm-layout-wrapper">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-page-header">
        <h2>About us</h2>
        <blockquote>
          <p>Success is a delivery not the time spent.</p>
        </blockquote>
        <p>We don’t need you messing around in the office from 9&nbsp;to 5.&nbsp;We want to
          create and deliver perfection. Our team is remote and we have worked diligently
          to improve the ways we work together and with our clients. We don’t count
          hours, we deliver!</p>
      </div>
      <div class="box mdc-layout-grid__cell">
        <h3>Slack</h3>
        <p>Effective communication is the essence of cooperation&nbsp;&ndash; not only across
          our projects, but also with our customers. We don’t care where you sit, but
          once you are working, you should make yourself available.</p>
      </div>
      <div class="box mdc-layout-grid__cell">
        <h3>GitHub</h3>
        <p>All our projects run through GitHub. Several also use GitHub Issues to track
          progress. Together with Slack, these are the alpha and omega of our
          cooperation.</p>
      </div>
      <div class="box mdc-layout-grid__cell">
        <h3>Quip</h3>
        <p>We share all our documentation, invoices and even our company library in
          Quip. Ask rarouš for his amazing cookbook!</p>
      </div>
      <div class="box mdc-layout-grid__cell">
        <h3>Swarmpit</h3>
        <p>Many of our projects are containerized and run in Docker Swarm environment. To manage
          these successfully, we developed our own UI called Swarmpit.</p>
      </div>
      <div class="box mdc-layout-grid__cell">
        <h3>Monksheets</h3>
        <p>To look after your project costs, ask for some time off or have your expenses
          refunded, our Monksheets are here for you. Wherever and whenever in the world
          you&nbsp;are.</p>
      </div>
      <div class="box mdc-layout-grid__cell">
        <h3>Trello</h3>
        <p>Trello is a powerful tool to track the team’s&nbsp;progress and
          delegate&nbsp;work.</p>
      </div>
    </div>
  </section>

  <section class="tm-team" id="team">
    <div id="team--collapsed" class="tm-bgnd-wrapper mdc-layout-grid">
      <div class="mdc-layout-grid__inner tm-layout-wrapper">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <h2>Our Team</h2>
        </div>
        {{ macros.teamMember(team.members['jiri-fabian'], true) }}
        {{ macros.teamMember(team.members['ales-roubicek'], true) }}
        {{ macros.teamMember(team.members['lea-petrasova'], true) }}
        {{ macros.teamMember(team.members['ondrej-tupy'], true) }}
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <div class="mdc-layout-grid tm-team__members">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-align-center">
                <a href="#team" class="action-button show-more">Show more</a>
              </div>
              {% for id, member in team.members %}
                {% if not member.pickup %}
                  {{ macros.teamMember(member) }}
                {% endif %}
              {% endfor %}
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-align-center">
                <a href="#team--collapsed" class="action-button show-less">Show Less</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="company-values" class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner tm-layout-wrapper">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>Company values</h2>
        <ul>
          <li>Learn or die. Teach or die. Only learning and teaching brains flourish.</li>
          <li>Have an entrepreneurial mind. Spin-offs of our former team members are welcome.</li>
          <li>Be brave. Provide a sincere feedback regardless of the circumstances.</li>
          <li>Your freedom can’t affect the freedom of others.</li>
          <li>Success is a delivery not the time spent. Don’t wait to be asked for your next task, find
            it yourself.
          </li>
          <li>Life is a constant change. Embrace it.</li>
          <li>Our company is a living organism interconnected with our partners, customers, and community.
            There are no borders.
          </li>
          <li>Give and you shall receive.</li>
          <li>Weirdness, non-conformity is welcome.</li>
        </ul>
        <p>If our values resonate with you, we want to <a href="/jobs/">hear from you</a> or <a
            href="mailto:sales@topmonks.com">reach out to us</a> to have your project delivered by us.
          You can also pay us a <a href="/contact/">visit</a>, we always enjoy meeting interesting people.</p>
      </div>
    </div>
  </section>

{% endblock %}
