{% extends 'layouts/topmonks.html' %}
{%- import 'macros/helpers.html' as macros -%}
{% block title %} About Us - TopMonks{% endblock %}
{% block head %}
<link rel="stylesheet" href="/assets/css/about-us.css">
{% endblock %}

{% block content %}
  <section id="how-we-work" class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner tm-layout-wrapper">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-page-header">
        <h2>How we work</h2>
        <blockquote>
          <p>Success is a delivery not the time spent.</p>
        </blockquote>
        <p>We don't need you messing around from 9 to 5 in the office. We want to deliver the perfection! As our
          team is mostly distributed, we've worked diligently to improve the ways we work together, and with
          our clients. Don't count hours, deliver!</p>
      </div>
      <div class="box mdc-layout-grid__cell">
        <h3>Slack</h3>
        <p>Effective communication is the essence of cooperation- not only across our projects, but also with some
          of our customers. We don't care where do you sit, but once you are working, you should be available.</p>
      </div>
      <div class="box mdc-layout-grid__cell">
        <h3>GitHub</h3>
        <p>All our projects are running in GitHub. Many of them also use GitHub Issues for tracking the progress.
          Together with Slack it is the alpha and omega of our cooperation.</p>
      </div>
      <div class="box mdc-layout-grid__cell">
        <h3>Quip</h3>
        <p>Here we share all the projects documentation, invoices, even our company library, basically our whole
          knowledge. Ask rarous for his amazing cook book!</p>
      </div>
      <div class="box mdc-layout-grid__cell">
        <h3>Swarmpit</h3>
        <p>Most of our projects are containerized and run in Docker Swarm environment. For management of these
          we developed our own UI called Swarmpit.</p>
      </div>
      <div class="box mdc-layout-grid__cell">
        <h3>Monksheets</h3>
        <p>Now let's shake-off all the useless administration! If you need to control your project costs, ask for
          time-off or refund your expenses, you can do it online wherever and whenever you want from.</p>
      </div>
      <div class="box mdc-layout-grid__cell">
        <h3>Trello</h3>
        <p>Trello is a powerful tool to track the team's progress and to delegate the work.</p>
      </div>
    </div>
  </section>

  <section class="tm-team" id="team">
    <div id="team--collapsed" class="tm-bgnd-wrapper mdc-layout-grid">
      <div class="mdc-layout-grid__inner tm-layout-wrapper">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <h2>Our Team</h2>
        </div>
        {{ macros.teamMember(members['jiri-fabian'], true) }}
        {{ macros.teamMember(members['anna-kovacsova'], true) }}
        {{ macros.teamMember(members['ondrej-tupy'] , true) }}
        {{ macros.teamMember(members['lea-petrasova'], true) }}
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <div class="mdc-layout-grid tm-team__members">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-align-center">
                <a href="#team" class="action-button show-more">Show more</a>
              </div>
              {% for id, member in members %}
                {% if not member.pickup %}
                  {{ macros.teamMember(member) }}
                {% endif %}
              {% endfor %}
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-align-center">
                <a href="#team--collapsed" class="action-button show-less">Show Less</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="company-values" class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner tm-layout-wrapper">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>Company values</h2>
        <ul>
          <li>Learn or die. Teach or die. Only learning and teaching brains flourish.</li>
          <li>Have an entrepreneurial mind. Spin-offs of our former team members are welcome.</li>
          <li>Be brave. Provide a sincere feedback regardless of the circumstances.</li>
          <li>Your freedom can’t affect the freedom of others.</li>
          <li>Success is a delivery not the time spent. Don’t wait to be asked for your next task, find
            it yourself.</li>
          <li>Life is a constant change. Embrace it.</li>
          <li>Our company is a living organism interconnected with our partners, customers, and community.
            There are no borders.</li>
          <li>Give and you shall receive.</li>
          <li>Weirdness, non-conformity is welcome.</li>
        </ul>
        <p>If you like these ideas, come <a href="/jobs/">join us</a>. Or, <a href="mailto:sales@topmonks.com">have your project</a> delivered by us. Or, simply <a href="/contact/">visit us</a>. We enjoy meeting interesting people.</p>
      </div>
    </div>
  </section>

{% endblock %}
