*.log
.DS_Store
.env
.idea/
/.pnp/
/.pnp.js
/package-lock.json
/public/
/results/
node_modules/
www.topmonks.cz/src/data/team.json

www.hlidacshopu.cz/src/data/media.json
blockchain.topmonks.com/src/data/podcasts.json
blockchain.topmonks.com/src/data/articles.json
