*.log
.DS_Store
.env
.idea/
.lighthouseci/
public/
results/

node_modules/
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp/
.pnp.*
yarn-error.log
package-lock.json

arx.monks.cloud/src/data/investments.json
arx.monks.cloud/src/data/news.json
arx.monks.cloud/src/data/team.json
session-monk.topmonks.com/session-monk.topmonks.com.iml
