@import "@material/layout-grid/mdc-layout-grid";
@import "common/colors";
@import "common/typography";
:root {
  --mdc-layout-grid-margin-desktop: 24px;
  --mdc-layout-grid-gutter-desktop: 20px;
  --mdc-layout-grid-column-width-desktop: 60px;
}
