@import "@material/layout-grid/mdc-layout-grid";

:root {
  --mdc-layout-grid-margin-desktop: 24px;
  --mdc-layout-grid-gutter-desktop: 20px;
  --mdc-layout-grid-column-width-desktop: 60px;

  --tm-primary: #fe664b;
  --tm-primary-dark: #c53321;
  --tm-primary-light: #ff9878;
  --tm-secondary: #5c5fd4;
  --tm-secondary-dark: #1d35a2;
  --tm-secondary-light: #918cff;
  --tm-grey: #9b9b9b;
  --tm-article-background: #f8fbfc;
  --tm-black: #4a4a4a;
}

html {
  background-color: #F4F8FB;
}

body {
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
  font-family: Lato, sans-serif, Roboto, Arial;
  font-weight: normal;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-variant-numeric: lining-nums slashed-zero;
  -webkit-font-variant-ligatures: common-ligatures contextual;
  font-variant-ligatures: common-ligatures contextual;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;

  background: url("/images/main-info_BG.png") top no-repeat;
  background-size: 100%;
  color: #FFFFFF;
}

header {
  padding: 2em 0 0 4em;
}

.wrapper {
  max-width: 980px;
  margin: 0 auto;
}

h1 {
  font-size: 58px;
  font-weight: 900;
  text-align: center;
}

h2 {
  font-size: 28px;
  font-weight: 900;
  text-align: center;
}

h2.h2_title {
  line-height: 0;
  font-weight: 400;
  padding-bottom: 1em;
}

h3 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

h3.h3_larger {
  font-size: 24px;
  text-align: center;
  font-weight: 900;
}

h4 {
  font-weight: 900;
  font-size: 24px;
  text-align: center;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

a {
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

/* Navigation bar - header */
.nav_bar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nav_bar ul {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
  color: white;
  list-style-type: none;
  padding: 0;
}

.nav_bar li a {
  color: #FFFFFF;
  border-bottom: 2px solid transparent;
}

.nav_bar a:hover {
  border-color: #D12785;
}

#logo {
  position: relative;
  width: 194px;
  height: 21px;
}

#logo svg.topmonks {
  position: absolute;
  top: 14px;
  left: 49px;
  z-index: 10;
}

svg.monk {
  padding-right: 6px;
}

.hamburger {
  visibility: hidden;
}

/* Main_info section */
.developers {
  background: url("/images/slices_BG.png") center no-repeat;
  height: 280px;
  width: 100%;
}

.opening {
  position: relative;
  margin-top: 5em;
}

.main_content_button {
  margin: 0 auto;
}

a.button {
  background: linear-gradient(to bottom right, #DB0F7F 0, #FF7E71 78%);
  border-radius: 32px;
  padding: 12px 54px;
  color: #fff;
}
a.button:hover {
  background: none;
  border: 4px solid #fff;;
  font-weight: 900;
}

.opening_button {
  margin: 0 auto;
  margin-top: -60px;
}

/*Values*/
.values_bg {
  background: url("/images/values_BG.png") right no-repeat;
}

#values p {
  text-align: center;
}

.value_1 {
  margin-left: 14.5em;
}

.value_2 {
  margin-right: 14.5em;
}

.value_1::before {
  content: "";
  display: block;
  background: url("/images/value_1.svg") center no-repeat;
  width: 100%;
  height: 99px;
}

.value_2::before {
  content: "";
  display: block;
  background: url("/images/value_2.svg") center no-repeat;
  width: 100%;
  height: 99px;
}

/* welcome */
.welcome h2 {
  font-weight: 400;
}

/* Offers */
.offer .wrapper {
  --mdc-layout-grid-gutter-desktop: 0;
}

.offer_box-white p {
  color: #586B78;
}

.offer_box {
  width: 100%;
  box-shadow: 0 0 20px #d3cdcd;
  padding: 24px;
}

.offer_box li {
  line-height: 1.5;
  font-size: 18px;
}

.offer_box-white {
  color: #000000;
  background-color: #FFFFFF;
  height: 458px;
}

.offer_box-purple {
  background-color: #4D2F72;
  height: 504px;
}

h3.blockchain_bubble::before {
  content: "";
  display: block;
  background: url("/images/blockchain.svg") center no-repeat;
  width: 100%;
  height: 116px;
  margin-bottom: 2em;
}

h3.aApps_bubble::before {
  content: "";
  display: block;
  background: url("/images/dApps.svg") center no-repeat;
  width: 100%;
  height: 116px;
  margin-bottom: 2em;
}

h3.ICO_bubble::before {
  content: "";
  display: block;
  background: url("/images/ICO.svg") center no-repeat;
  width: 100%;
  height: 116px;
  margin-bottom: 2em;
}

/* Offer continue */
.offer2_bg {
  margin: 3em 0 0;
  background: url("/images/offer2_BG.png") left no-repeat;
  padding-bottom: 0;
}

.offer2-box {
  max-width: 480px;
  min-height: 310px;
}

/* Security First section */
.security {
  margin-bottom: 6em;
}

.security .wrapper {
  background: url("/images/security_white_BG.png") center no-repeat;
  padding-top: 0;
}

.security_first img {
  position: static;
}

.security_first h3 {
  color: #9B9B9B;
}

.security_text p {
  color: #586B78;
  width: 405px;
}

.security_text {
  position: static;
  margin-right: 6px;
  background: white;
}

/* How we work */
#our-work {
  background-color: #212142;
}

.our-work_box {
  background-color: #333355;
  width: 300px;
  height: 440px;
  padding: 58px 24px;
  margin: 0 auto;
}

.box1::before {
  content: "";
  display: block;
  background: url("/images/we-listen.svg") center no-repeat;
  width: 100%;
  height: 82px;
}

.box2::before {
  content: "";
  display: block;
  background: url("/images/we-develop.svg") center no-repeat;
  width: 100%;
  height: 82px;
}

.box3::before {
  content: "";
  display: block;
  background: url("/images/we-verify.svg") center no-repeat;
  width: 100%;
  height: 82px;
}

.our-work_crypto::before {
  content: "";
  display: block;
  background: url("/images/crypto.svg") center no-repeat;
  width: 100%;
  height: 60px;
}

.our-work_members::before {
  content: "";
  display: block;
  background: url("/images/members.svg") center no-repeat;
  width: 100%;
  height: 60px;
}

.our-work_blockstars::before {
  content: "";
  display: block;
  background: url("/images/blockstars.svg") center no-repeat;
  width: 100%;
  height: 60px;
}

.our-work_blockstars a {
  color: #9E55B4;
}

.our-work_blockstars a:hover {
  color: #FFFFFF;
}

.why-topmonks {
  margin: 6em 0 4em;
}

/*Contact section*/
#contact {
  background-color: #F4F8FB;
  color: #1C1C37;
  text-align: center;
  min-height: 490px;
}

#contact img {
  width: 100%;
  height: 92px;
  margin: 0 auto;
}

#contact h4 {
  line-height: 0;
}

#contact p {
  line-height: 0;
  padding-bottom: 1em;
}

footer {
  background-color: #212142;
}

footer p {
  color: #FFFFFF;
}

footer .social-buttons {
  margin-top: 1em;
}

.social-buttons svg {
  background-color: #FFFFFF;
  border-radius: 80%;
}

@media (max-width: 1440px) {
  body {
    background-size: auto;
  }
}

@media (min-width: 1360px) {
  .offer2_bg, .values_bg {
    background-size: 82% 100%;
  }
}

@media (max-width: 1360px) {
  .offer2_bg, .values_bg {
    background-size: 1120px 320px;
  }
}
@media (max-width: 1200px) {
  .value_1, .value_2 {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {

  .nav_bar {
    display: block;
    background-color: #1A1C5E;
    position: fixed;
    width: 100%;
    height: 54px;
    z-index: 1;
    padding-top: 12px;
  }

  .nav_bar ul {
    flex-direction: column;
  }

  .nav_bar a {
    font-size: 16px;
    padding: 8px 8px 8px 16px;
    display: block;
  }

  .nav_bar li {
    width: 100%;
  }

  .nav_bar .hamburger {
    visibility: visible;
    color: white;
    position: relative;
    width: 24px;
    height: 24px;
    padding: 8px;
    top: -20px;
    left: 8px;
  }

  .nav_bar .hamburger:active,
  .nav_bar .hamburger:hover {
    border: none;
  }

  .hamburger .menu {
    display: block;
  }

  .hamburger:active .menu {
    display: none;
  }

  .hamburger .close {
    display: none;
  }

  .hamburger:active .close {
    display: block;
  }

  #logo {
    margin: 0 auto;
  }

  #navigace {
    display: none;
  }

  #navigace:target {
    display: block;
    background-color: white;
    position: relative;
    top: -35px;
  }

  #navigace a {
    color: purple;
  }

  .values_bg {
    background: none;
  }

  .welcome h2 {
    font-size: 24px;
  }

  .offer_box-purple {
    height: 564px;
  }

  .offer2_bg, .values_bg {
    background-size: 1120px 920px;
  }

  .offer2-box {
    margin: 0 auto;
  }

}


@media (max-width: 480px) {
  header {
    padding-left: 0;
  }

  body {
    background-size: 100% 30%;
  }

  h1 {
    font-size: 38px;
  }

  h2.h2_title {
    line-height: 1.2;
  }

  .values_bg {
    background: none;
    padding-top: 0;
  }

  .value_1 {
    margin-bottom: 2.5em;
  }

  .value_1, .value_2 {
    margin: 0 auto;
  }

  .offer2_bg, .values_bg {
    background-size: 600px 700px;
  }

  .security .wrapper {
    background-color: white;
  }

  .security {
    margin-bottom: 0;
  }

  .security p {
    width: 100%;
  }

  .security_first img {
    left: 8px;
    width: 100%;
  }

  .our-work_box {
    width: 100%;
  }

}
