<head>
  <meta name="description"
        content="First fully electronic hookah for tobacco.">
  <meta name="twitter:description" property="og:description"
        content="First fully electronic hookah for tobacco.">
  <script>
    window.location.replace("https://www.facebook.com/events/399694521353612/");
  </script>
</head>
<body>
  <p>If you are not redirected in five seconds, <a href="https://www.facebook.com/events/399694521353612/">click here</a>.</p>
</body>