.product {
  @media (max-width: 479px) {
    background: url("/images/bgnd_funnel_product_mobile.svg") bottom center
      no-repeat;
    background-size: 100% auto;
    padding-bottom: 110px;
    .tm-bgnd-wrapper {
      background: url("/images/bgnd_funnel_mobile.svg") top center no-repeat;
      padding-top: 110px;
      background-size: 100% auto;
      margin-left: -24px;
      margin-right: -24px;
    }
  }
  @media screen and (min-width: 840px) {
    background: url("https://res.cloudinary.com/topmonks/image/upload/w_903,dpr_auto,q_auto,f_auto/v1553775999/topmonks.com/bgnd_funnel.png")
      no-repeat left calc(50% - 500px) top 230px;
    background-size: 903px auto;
  }
  @media screen and (min-width: 840px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 840px) and (min-resolution: 192dpi),
    screen and (min-width: 840px) and (min-resolution: 2dppx) {
    background-image: url("https://res.cloudinary.com/topmonks/image/upload/w_903,dpr_2,q_auto,f_auto/v1553775999/topmonks.com/bgnd_funnel.png");
  }

  .steps {
    padding: 0;
    list-style: none;
    counter-reset: my-counter;
    @media screen and (min-width: 480px) {
      padding-left: calc(25% - 37px);
      padding-top: 150px;
      padding-bottom: 50px;
      background: url("/images/bgnd_funnel_product.svg") left calc(25% - 22px)
          bottom no-repeat,
        url("/images/bgnd_funnel.svg") left calc(25% - 22px) top no-repeat;
    }
    @media screen and (min-width: 840px) {
      padding-left: calc(50% - 37px);
      background-position: center bottom, center top;
    }
  }
  .steps__step {
    position: relative;
    padding-left: 85px;
    margin-bottom: 2.5em;
    &::before {
      position: absolute;
      display: block;
      counter-increment: my-counter;
      content: counter(my-counter, decimal-leading-zero);
      font-weight: 900;
      font-size: 1.25em;
      border: 12px solid var(--tm-secondary);
      color: var(--tm-primary);
      background-color: #ffffff;
      border-radius: 50%;
      text-align: center;
      width: 50px;
      height: 50px;
      line-height: 50px;
      left: 0;
    }
    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 90%;
      height: 4px;
      background-color: var(--tm-secondary);
      left: 70px;
      top: 35px;
    }
    @media screen and (min-width: 480px) {
      padding-left: 150px;
    }
    h3 {
      color: var(--tm-primary);
      font-size: 1em;
      text-transform: uppercase;
      text-align: left;
      padding-top: 4px;
    }
  }
}
