{% extends 'layouts/application.html' %}
{% block title %}www.topmonks.cz{% endblock %}

{% block navigation %}
{{ macros.navigation('topmonks.cz') }}
{% endblock %}

{% block content %}



<section id="uvod" class="main_info">
    <div class="mdc-layout-grid wrapper">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <h1>Tým pro váš projekt</h1>
                <h2>Prací na Startupech, B2B projektech a aktivní účastí v IT komunitě získáváme zkušenosti, které
                    vracíme zpět.</h2>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <h3>Nasloucháme</h3>
                <p>Čas věnovaný projektu na samém začátku bereme jako investici do budoucna.
                    Nasloucháme vašim nápadům a potřebám a přemýšlíme nad nejvhodnějším řešením, abychom projekt zvládli
                    napoprvé dobře.</p>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <h3>Vyvíjíme</h3>
                <p>Pracujeme s nejnovějšími technologiemi, abychom docílili co nejlepšího výsledku. Nepotřebujeme žádné
                    zdlouhavé zaučování a vysvětlování. Dáme vám k ruce
                    sehraný tým seniorních vývojářů, kteří se ihned se dají do práce.</p>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <h3>Ověřujeme</h3>
                <p>Každou myšlenku i funkci, každý krok vývoje podrobně zkoumáme a testujeme.
                    Soustředíme se na potřeby koncového uživatele. Neriskujeme. Nepustíme na
                    trh nic, za čím si nestojíme.</p>
            </div>
        </div>
    </div>
</section>
<section id="partneri" class="cooperation">
    <div class="mdc-layout-grid wrapper">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <h3>Kdo s námi spolupracuje</h3>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
                <p>logo</p>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
                <p>logo</p>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
                <p>logo</p>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
                <p>logo</p>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
                <p>logo</p>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
                <p>logo</p>
            </div>
        </div>
    </div>
</section>
<section id="nase_prace" class="how_we_work">
    <div class="mdc-layout-grid wrapper">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <h3>Bude vás to s námi bavit</h3>
                <h4>Naše seniorita spočívá ve využití kombinací znalostí světa B2B a startupové scény a ve schopnosti
                    aplikovat různá technologická řešení, ať už jsou stará nebo nová.</h4>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <ul class="work_list">
                    <li>Do vašeho projektu vneseme Startupovou hravost a jiný úhel pohledu.</li>
                    <li>Respektujeme procesy. Vaše firma, vaše pravidla.</li>
                    <li>Jsme otevření a féroví. Co řekneme, to platí.</li>
                    <li>Neustále vzděláváme jak sebe, tak i vás a vaše děti (odkaz na programovani pro deti?).</li>
                    <li>Provedeme vás světem IT tak, že vše pochopíte.</li>
                    <li>Zbavíme vás starostí. Rizika spojená s technickým řešením umíme odhadovat a vyhnout se
                        jim předem.
                    </li>
                    <li>Přemýšlíme v souvislostech. Zařídíme, aby dával váš produkt logický smysl koncovým
                        uživatelům.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="studie" class="knowledge">
    <div class="mdc-layout-grid wrapper">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <h3>Případové studie</h3>
                <h4>Každá dosavadní spolupráce s našimi klienty nás něčemu naučila.</h4>
            </div>
        </div>
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <p>obr</p>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <p>obr</p>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <p>obr</p>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <p>obr</p>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <p>obr</p>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                <p>obr</p>
            </div>
        </div>
    </div>
</section>
<section id="reference" class="review">
    <div class="mdc-layout-grid wrapper">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <h3>Naši zákazníci o nás říkají, že…</h3>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <blockquote>
                    <div class="monk_logo"><img src="../images/monk_logo.png"></div>
                    <p>„Spolupráce s TopMonks byla fakt boží. Spolupráce s TopMonks byla fakt boží.
                        Spolupráce s TopMonks byla naprosto boží. Spolupráce s TopMonks byla naprosto boží.“</p>
                </blockquote>
            </div>
        </div>
    </div>
</section>
<section id="kontakt" class="contact">
    <div class="mdc-layout-grid wrapper">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <h3>Kontakt</h3>
                <h4>Máte dotaz nebo zájem o spolupráci? Ozvěte se nám.</h4>
                <div class="monk_logo"><img src="img/monk_logo.png"></div>
                <a href="mailto:info@topmonks.com">info@topmonks.com</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
