img {
  width: 100%;
  height: auto;
}

hr {
  background-color: var(--postcube-grey-lighter);
  border: none;
  height: 2px;
  margin: 3em 0 2em;
}

header {
  background-color: var(--postcube-grey-light);
}

.main-info {
  background-color: var(--postcube-grey-light);
  padding-bottom: 4em;

  .main-info__list {
    li {
      &::marker {
        font-size: 24px;
        color: var(--postcube-secondary);
      }
      a {
        font-size: 20px;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        display: inline-block;

        &:hover {
          border-bottom: 2px solid var(--postcube-secondary);
        }
      }
    }

    @media (max-width: 839px) {
      margin-top: 1em;
      ul {
        margin: 0;
        li {
          margin: 1em 0;
        }
      }
    }
    @media (min-width: 840px) {
      ul {
        display: flex;
        justify-content: flex-start;
        padding-left: 0;
      }
      li {
        margin-left: 36px;

        &:first-child {
          list-style: none;
          margin: 3px 0 3px;
          padding-left: 0;
        }
      }
    }
  }

  .main-info__content {
    max-width: 95%;
  }
}

.how-pc-works {
  margin-bottom: 10em;

  .steps {
    padding: 3em 0;

    p.steps__subtitle {
      font-size: 24px;
    }

    .steps__bg {
      background-image: cloudinaryUrl("/postcube.cz/steps_bg.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      text-align: center;

      svg {
        height: 217px;
      }
    }

    .steps__content {
      h3 {
        font-size: 18px;
        margin-bottom: 0;
      }

      p {
        margin-top: 8px;
      }

      p.content__subtitle--blue {
        color: var(--postcube-primary);
      }
    }
  }

  .btn-price {
    text-align: center;
  }

  .btn-android {
    text-align: right;
  }

  button.content-btn {
    width: 280px;
  }
}
