{% extends 'layouts/main.njk' %}
{% set language = cs %}

{% block title %}
  PostCube - O nás
{% endblock %}
{% block head %}
  <meta name="description"
        content="Chytrá schránka PostCube pro vyzvedávání zásilek kdykoliv.">
  <link rel="canonical" href="https://postcube.cz/">
  <meta property="og:type" content="company">
  <meta property="og:url" content="https://www.postcube.cz/">
  <meta property="og:site_name" content="postcube.cz">

  <style>
    img {
      width: 100%;
      height: auto;
    }

    .main-info__content--location {
      font-size: 24px;
      line-height: 36px;
      color: var(--postcube-black);
      margin-top: 1.5em;
    }

    .main-info__content a {
      font-size: 24px;
      line-height: 36px;
      color: var(--postcube-primary);
      text-decoration: none;
      padding-top: 0;
      border-bottom: 2px solid transparent;
    }

    .main-info__content a:hover {
      border-bottom: 2px solid var(--postcube-secondary);
    }
    .team__member--photo {
      margin: 32px 32px 0 0;
    }
    .team__member--details {
      max-width: 617px;
    }
    @media screen and (min-width: 840px) {
      .main-info {
        align-self: center;
        background-image: url("https://res.cloudinary.com/topmonks/image/upload/v1620804984/postcube.cz/contact-map.png");
        background-size: 45% auto;
        background-position: center right;
        background-repeat: no-repeat;
        margin-top: 4em;
      }
    }
  </style>

{% endblock %}

{% block content %}
  <section id="" class="main-info">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner layout-wrapper">
        <div class="main-info__content mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
          <h1>Kontaktujte nás!</h1>
          <div class="main-info__content--location">
            <span property="legalName">Chytrý box, s.r.o.</span>
            <div property="location" typeof="Place">
              <div property="address" typeof="PostalAddress"><span
                  property="streetAddress">Struhařovská 2931/9</span><br>
                <span property="addressLocality">Praha 4, 141 00</span><br>
                <a href="https://goo.gl/maps/SBK1BRsmgu22" class="button" data-marker="praha">mapa</a>
                <div property="geo" typeof="GeoCoordinates">
                  <meta property="latitude" content="50.045386">
                  <meta property="longitude" content="14.491246">
                </div>
              </div>
            </div>
          </div>
          <div class="main-info__content--email">
            <a property="email" href="mailto:studio@topmonks.com">studio@​topmonks.com</a>
          </div>
          <div class="main-info__content--phone">
            <a property="telephone" href="tel:+420732364404">+420&nbsp;732&nbsp;364&nbsp;404</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="" class="team">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner layout-wrapper">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <h2>Kdo za projektem stojí?</h2>
        </div>
        <div class="team__member--photo mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
          <img alt="Fotografie Jana Slavíčka" src="https://res.cloudinary.com/topmonks/image/upload/v1620804034/postcube.cz/Team/jan-slavicek.png" width="180px" height="180px">
        </div>
        <div class="team__member--details mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop">
          <h3>Jan Slavíček</h3>
          <p>Historicky působil v&nbsp;desítkách společností napříč segmenty (Česká
            pošta, ČS,a.s., ČSOB pojišťovna, Austin Power, Novatop, Zátiší Group,
            Ista ČR, Collect Point, Steiner transocean).</p>
          <p>V&nbsp;současné době doplňuje svoje podnikání stavbou interních systémů
            vzdělávání ve společnostech, které to považují za zásadní pro svůj
            další růst (Etnetera, MeDitorial, testuj.to,&nbsp;ADM).</p>
          <p>Spolupracuje na Interim a Expertní úrovni s&nbsp;Moravskoslezkým inovačním
            centrem MSIC na poli komerčních služeb a Founders 4&nbsp;Founders Clubu.
            Facilituje několik Leadership Master Mindových&nbsp;kruhů.</p>
        </div>
        <div class="team__member--photo mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
          <img alt="Logo Firmy Lakum" src="https://res.cloudinary.com/topmonks/image/upload/v1620804087/postcube.cz/Team/Lakum.png" width="180px" height="180px">
        </div>
        <div class="team__member--details mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop">
          <h3>Jan Slavíček</h3>
          <p>Historicky působil v&nbsp;desítkách společností napříč segmenty (Česká
            pošta, ČS,a.s., ČSOB pojišťovna, Austin Power, Novatop, Zátiší Group,
            Ista ČR, Collect Point, Steiner transocean).</p>
          <p>V&nbsp;současné době doplňuje svoje podnikání stavbou interních systémů
            vzdělávání ve společnostech, které to považují za zásadní pro svůj
            další růst (Etnetera, MeDitorial, testuj.to,&nbsp;ADM).</p>
          <p>Spolupracuje na Interim a Expertní úrovni s&nbsp;Moravskoslezkým inovačním
            centrem MSIC na poli komerčních služeb a Founders 4&nbsp;Founders Clubu.
            Facilituje několik Leadership Master Mindových&nbsp;kruhů.</p>
        </div>
        <div class="team__member--photo mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
          <img alt="Logo Firmy TopMonks" src="https://res.cloudinary.com/topmonks/image/upload/v1620804164/postcube.cz/Team/TopMonks.png" width="180px" height="180px">
        </div>
        <div class="team__member--details mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop">
          <h3>Jan Slavíček</h3>
          <p>Historicky působil v&nbsp;desítkách společností napříč segmenty (Česká
            pošta, ČS,a.s., ČSOB pojišťovna, Austin Power, Novatop, Zátiší Group,
            Ista ČR, Collect Point, Steiner transocean).</p>
          <p>V&nbsp;současné době doplňuje svoje podnikání stavbou interních systémů
            vzdělávání ve společnostech, které to považují za zásadní pro svůj
            další růst (Etnetera, MeDitorial, testuj.to,&nbsp;ADM).</p>
          <p>Spolupracuje na Interim a Expertní úrovni s&nbsp;Moravskoslezkým inovačním
            centrem MSIC na poli komerčních služeb a Founders 4&nbsp;Founders Clubu.
            Facilituje několik Leadership Master Mindových&nbsp;kruhů.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="contact">
    <div class="mdc-layout-grid layout-wrapper">
      <div class="mdc-layout-grid__inner">
        <div class="contact__title mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <h2>Máte chuť na změnu?</h2>
          <p>Kontaktujte nás. Rádi vám o&nbsp;PostCube řekneme více nebo vám ukážeme,
            jak vypadá v&nbsp;reálu.</p>
        </div>

        <div
          class="contact__form mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
          <h3>Dejte nám kontakt a my se ozveme</h3>
          <form>
            <input datatype="name" placeholder="Jméno nebo název firmy" id="company-name" type="text">
            <input datatype="email" id="phone-name" placeholder="Email" type="text">
            <div class="mdc-layout-grid__inner">
              <div class="contact__form--button mdc-layout-grid__cell mdc-layout-grid__cell--span-2-phone">
                <button class="mdc-button content-btn" type="submit">
                  <a href="#" class="mdc-button__label">ODESLAT</a>
                </button>
              </div>
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-phone">
                <p>Odesláním formuláře souhlasíte se zpracováním osobních&nbsp;údajů.</p>
              </div>
            </div>
          </form>
        </div>

        <div
          class="contact__info mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
          <h3>Nebo se nás rovnou zeptejte</h3>
          <a property="telephone" href="tel:+421603666420" class="info--number">+421 603 666 420</a>
          <a property="email" href="mailto:info@postcube.cz" class="info--email">info@postcube.cz</a>
          <div class="social-buttons">
            <a href="/" title="PostCube on Facebook" rel="me" class="facebook">
              <svg xmlns="http://www.w3.org/2000/svg" width="34.588" height="34.379" viewBox="0 0 34.588 34.379">
                <defs>
                  <style>.a {
                      fill: #fff;
                    }</style>
                </defs>
                <path class="a"
                      d="M42.588,25.294a17.294,17.294,0,1,0-20,17.085V30.293H18.2v-5h4.393v-3.81c0-4.334,2.58-6.728,6.532-6.728A26.615,26.615,0,0,1,33,15.093v4.254H30.814A2.5,2.5,0,0,0,28,22.048v3.246h4.8l-.767,5H28V42.379A17.3,17.3,0,0,0,42.588,25.294Z"
                      transform="translate(-8 -8)"/>
              </svg>
            </a>
            <a href="/" title="PostCube on Instagram" rel="me" class="instagram">
              <svg xmlns="http://www.w3.org/2000/svg" width="34.179" height="34.171" viewBox="0 0 34.179 34.171">
                <defs>
                  <style>.a {
                      fill: #fff;
                    }</style>
                </defs>
                <path class="a"
                      d="M17.018,40.149a8.761,8.761,0,1,0,8.761,8.761A8.747,8.747,0,0,0,17.018,40.149Zm0,14.457a5.7,5.7,0,1,1,5.7-5.7,5.706,5.706,0,0,1-5.7,5.7ZM28.181,39.791a2.043,2.043,0,1,1-2.043-2.043A2.039,2.039,0,0,1,28.181,39.791Zm5.8,2.074c-.13-2.737-.755-5.162-2.76-7.16s-4.422-2.623-7.16-2.76c-2.821-.16-11.277-.16-14.1,0A10.165,10.165,0,0,0,2.805,34.7C.8,36.7.182,39.12.045,41.857c-.16,2.821-.16,11.277,0,14.1.13,2.737.755,5.162,2.76,7.16a10.192,10.192,0,0,0,7.16,2.76c2.821.16,11.277.16,14.1,0,2.737-.13,5.162-.755,7.16-2.76s2.623-4.422,2.76-7.16C34.144,53.135,34.144,44.686,33.984,41.865ZM30.339,58.983a5.767,5.767,0,0,1-3.248,3.248c-2.249.892-7.587.686-10.073.686s-7.831.2-10.073-.686A5.767,5.767,0,0,1,3.7,58.983c-.892-2.249-.686-7.587-.686-10.072s-.2-7.831.686-10.072A5.767,5.767,0,0,1,6.946,35.59c2.249-.892,7.587-.686,10.073-.686s7.831-.2,10.073.686a5.767,5.767,0,0,1,3.248,3.248c.892,2.249.686,7.587.686,10.072S31.231,56.741,30.339,58.983Z"
                      transform="translate(0.075 -31.825)"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

