{% macro sprite(id, viewBox, classes) %}
{% set viewBox = viewBox or "0 0 1 1"%}
<span class='sprite -{{id}} {{classes}}'>
  <svg viewBox="{{viewBox}}"><use xlink:href='images/icons.svg#{{id}}'></use></svg>
</span>
{% endmacro %}

{% macro css(stylesheet) -%}
<link rel="stylesheet" href="{{ 'stylesheets/components/' ~ stylesheet ~ '/index.css' }}">
{%- endmacro %}

{% macro eventInfo(eventData) %}
<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 history">
  <a href="{{eventData.link}}">
    <img alt="TopMonks Caffè - {{eventData.title}}"
         src="https://res.cloudinary.com/topmonks/image/fetch/f_auto,dpr_auto,w_320/http://caffe.topmonks.cz{{eventData.picture}}">
  </a>
  <h4>{{eventData.shortTitle}}</h4>
  <p>
    <time>{{eventData.date}}</time>
  </p>
  <div class="lecturer">
    {% for lecturer in eventData.lecturers | split(",") %}
      {{ lecturer }}<br/>
    {% endfor %}
  </div>
  {% if eventData.presentationLink %}
  <div class="link">
    <a href="{{eventData.presentationLink}}">Prezentace</a>
  </div>
  {% endif %}
  {% if eventData.videoLink %}
  <div class="link">
    <a href="{{eventData.videoLink}}">Video záznam</a>
  </div>
  {% endif %}
</div>
{% endmacro %}
