{% extends 'layouts/main.njk' %}
{% from 'macros/helpers.njk' import css, sprite %}

{% set page = 'hookamonk-index' %}
{% set language = en %}

{% block title %}
  Hookamonk - Game changer in Hookah
{% endblock %}

{% block head %}
  <meta name="description"
        content="Hookamonk is an exclusive hand-made equipment for your hookah to make it wholly electronic while allowing you smoking* genuine tobacco, not any e-liquid imitations.">
  <meta name="twitter:description" property="og:description"
        content="Hookamonk is an exclusive hand-made equipment for your hookah to make it wholly electronic while allowing you smoking* genuine tobacco, not any e-liquid imitations.">
  <link rel="canonical" href="https://www.hookamonk.com/">
{#  <meta name="twitter:card" content="summary_large_image">#}
{#  <meta name="twitter:site" content="@topmonks">#}
{#  <meta name="twitter:title" property="og:title" content="TopMonks - Software development partner for your business">#}
{#  <meta name="twitter:image" property="og:image" content="https://www.topmonks.com/images/og-image.png">#}
  <meta property="og:type" content="company">
  <meta property="og:url" content="https://www.hookamonk.com/">
  <meta property="og:site_name" content="hookamonk.com">

{% endblock %}

{% block content %}
  <h1>Game changer in Hookah</h1>

{% endblock %}
