#how-we-work {
  background-image: url("/assets/img/bgnd_curve_1.svg");
  background-repeat: no-repeat;
  background-position: bottom -5px left calc(50% - 530px);
  @media screen and (min-width: 480px) {
    background-position: bottom -120px left calc(50% - 400px);
  }
}

#team:target .show-more,
.show-less
{
  display: none;
}
#team:target {
  .show-less{
    display: inline-block;
  }
  .tm-team__member {
    display: flex;
    &.tm-team__member--hero {
      display: block;
    }
  }
}
.tm-team__members .action-button {
  margin-top: 2em;
}
.tm-team__member {
  display: none;
  align-items: center;

  img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 0;
  }

  .content {
    padding-left: 20px;
  }

  strong {
    display: block;
  }
  &.tm-team__member--hero {
    display: block;
    padding: 0;
    text-align: center;

    img {
      position: static;
      width: 100%;
      height: auto;
      border-radius: 20px 20px 0 0;
    }
    .content {
      padding: 20px;
    }
  }
}
.tm-team {
  padding: 0 0 4%;
  background: #fff url(/assets/img/bgnd_curve_3.svg) bottom no-repeat;
  background-size: 100% auto;

  .tm-bgnd-wrapper {
    background-color: #f3f3f3;
  }
}
