.tm-case-study__hero {
  background-image: url("/images/bgnd_curve_3.svg"),
    url("/images/bgnd_curve_1.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, bottom -5px left calc(50% - 530px);
  background-size: 100% auto, auto;
  h3 {
    font-weight: 400;
  }
}
.tm-case-study__project-numbers-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.tm-case-study__project-numbers-item {
  text-align: center;
  padding: 0;
  width: 100%;
  color: #000000;
}
.tm-case-study__project-number {
  display: flex;
  justify-content: center;
  height: 140px;
  width: 140px;
  line-height: 140px;
  margin: 1em auto 0.5em;
  border-radius: 50%;
  box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1);
  font-size: 2.111em;
  background-color: #ffffff;
}
.tm-case-study__section {
  background: top 7.5em center no-repeat;
  h3 {
    padding-bottom: 8em;
  }
}
.tm-case-study__technologies {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @media screen and (max-width: 479px) {
    flex-direction: column;
  }
  margin: 0;
  li {
    width: 164px;
    @media screen and (min-width: 480px) {
      margin-right: 24px;
    }
  }
  svg {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .tm-case-study__hero {
    background-position: bottom center, bottom 75px left calc(50% - 400px);
  }
  .tm-case-study__project-numbers-item {
    width: 20%;
    min-width: 150px;
  }
  .tm-case-study__section {
    padding-right: 50%;
    text-align: left;
    background-position: right 23% center;
    &.tm-case-study__section--right {
      padding-right: 0;
      padding-left: 50%;
      background-position: left 23% center;
    }
    h3 {
      text-align: left;
      padding-bottom: 0;
    }
  }
}
