main {
  @media (min-width: 1301px) and (max-width: 1800px) {
    background: cloudinaryUrl("topmonks.com/jobs/img_side.png", $width: 440) 0
      240px no-repeat;
    background-size: 440px 571px;
  }
  @media (min-width: 1301px) and (max-width: 1800px) and (min-resolution: 1.5dppx) {
    background-image: cloudinaryUrl(
      "topmonks.com/jobs/img_side.png",
      $width: 440,
      $dpr: 1.5
    );
  }
  @media (min-width: 1301px) and (max-width: 1800px) and (min-resolution: 2dppx) {
    background-image: cloudinaryUrl(
      "topmonks.com/jobs/img_side.png",
      $width: 440,
      $dpr: 2
    );
  }
  @media (min-width: 1024px) and (max-width: 1300px) {
    background: cloudinaryUrl("topmonks.com/jobs/img_side.png", $width: 336) 0
      280px no-repeat;
    background-size: 336px 467px;
  }
  @media (min-width: 1024px) and (max-width: 1300px) and (min-resolution: 1.5dppx) {
    background-image: cloudinaryUrl(
      "topmonks.com/jobs/img_side.png",
      $width: 336,
      $dpr: 1.5
    );
  }
  @media (min-width: 1024px) and (max-width: 1300px) and (min-resolution: 2dppx) {
    background-image: cloudinaryUrl(
      "topmonks.com/jobs/img_side.png",
      $width: 336,
      $dpr: 2
    );
  }
  background-position-x: 0;
}

p,
a {
  line-height: 26px;
}

.page_sub-title {
  h2 {
    line-height: 46px;
  }

  p {
    color: #9b9b9b;
    line-height: 35px;
  }
}

.page_sub-title_left {
  h2,
  p {
    text-align: left;
  }
}

#jobs-main {
  line-height: 26px;

  .jobs_positions h3 {
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
  }

  .hire-jobs {
    li {
      border-bottom: 2px solid #f3f3f3;
      line-height: 68px;

      &:last-child {
        border-bottom: none;
      }
    }

    span.location {
      float: right;
      color: #9b9b9b;
    }
  }

  .contact-info p {
    color: #000000;
    font-size: 18px;
    text-align: center;
    @media (max-width: 1000px) {
      margin-top: 2.5em;
    }
  }

  .box {
    @media screen and (min-width: 840px) {
      padding: 18px 40px 38px;
    }
    @media (min-width: 1024px) and (max-width: 1840px) {
      min-height: 300px;
    }
  }
}

.tm-values {
  .button {
    text-align: center;
  }

  svg {
    padding: 8px 0;
  }

  h3 {
    font-size: 24px;
    line-height: 26px;
    text-align: left;
    font-weight: bold;
  }

  .value-orange {
    color: #fe664b;
  }

  .value-purple {
    color: #5c5fd4;
  }

  @media (max-width: 480px) {
    .action-button {
      margin: 3em 0;
    }
  }
}

.line-between {
  hr {
    height: 2px;
    border: none;
  }

  @media screen and (min-width: 840px) {
    padding: 0;
  }
}

.line-between_grey {
  border: none;

  hr {
    background-color: #f3f3f3;
    @media (max-width: 840px) {
      background-color: #f3f3f3;
    }
  }
}

.line-between_white {
  border: none;

  hr {
    background-color: #ffffff;
    @media (max-width: 840px) {
      background-color: #f3f3f3;
    }
  }
}

.tm-projects {
  svg {
    padding: 8px 0;
  }

  .box {
    text-align: center;
    padding-top: 22px;
  }

  @media (max-width: 480px) {
    margin-bottom: 58px;
  }
}

#gallery {
  display: none;
}

.tm-jobs-info {
  h2,
  h3,
  p {
    text-align: left;
  }

  img {
    border-radius: 50%;
  }

  .action-button {
    margin: 20px 0;
    padding: 10px 58px;
    font-size: 16px;
    @media (max-width: 480px) {
      padding: 10px 24px;
    }
  }

  @media screen and (min-width: 840px) {
    padding-top: 0;
  }

  @media (max-width: 480px) {
    h2 {
      text-align: center;
    }
  }

  .box_member-contact {
    align-self: center;
    @media (max-width: 480px) {
      p {
        text-align: center;
      }
    }
  }
}

.middle-text {
  align-self: center;
  @media screen and (min-width: 840px) {
    p {
      text-align: right;
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 1030px) {
  body {
    background: cloudinaryUrl("topmonks.com/rounded_bgnd.png") center 46.5%
      no-repeat;
    background-size: 100%;
  }
  #gallery {
    display: unset;
    --mdc-layout-grid-gutter-desktop: 0;
    padding: 0;

    .gallery {
      text-align: center;
      display: flex;
      margin: 0 auto;
    }
  }
}

@media (max-width: 840px) {
  .mdc-layout-grid {
    padding: 24px;
  }

  .line-padding hr {
    margin: 14px 24px;
  }
}

@media (max-width: 480px) {
  .box img {
    margin: 8px auto;
  }
}
