:root {
  --insight-negative-color: #e13c1e;
  --insight-positive-color: #7e9204;
  --topmonks-orange: #fe664b;
  --topmonks-grey: #9b9b9b;
  --topmonks-article-background: #f8fbfc;
  --topmonks-black: #4a4a4a;
}

/*
http://pxtoem.com/ - how to count px to em
*/

body {
  color: var(--topmonks-black);
  margin: 0;
  padding: 0;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1.444em; //22/26px
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-kerning: normal;
  font-variant-numeric: lining-nums slashed-zero;
  font-variant-ligatures: common-ligatures contextual;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

.wf-active body {
  font-family: Lato, sans-serif;
}
.tm-logo {
  font-family: Futura, -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
.wf-active .tm-logo {
  font-family: futura-pt, sans-serif;
}

h1,
h2 {
  font-size: 1.75em; //28px
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin-bottom: 18px;
  font-weight: 900;
}
h3 {
  font-size: 1.5em; //24px
  text-align: center;
  color: #000000;
  font-weight: 900;
}
h4 {
  font-size: 1em; //16px
  margin-bottom: 0.25em; //4px
}

p {
  margin: 0 0 1em;
}
a {
  color: var(--topmonks-orange);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul,
ul li {
  padding: 0;
}
ul {
  margin: 1em 0;
}
ul li {
  list-style: none;
  margin: 0;
}

///* MD GRID DESKTOP BREAKPOINT*/
//@media (min-width: 840px) {
//}

/* MD GRID TABLET AND ABOVE BREAKPOINT */
@media (min-width: 480px) {
  body {
    font-size: 1.125em; //18px
  }
  h1,
  h2 {
    font-size: 2.25em; //36px
    line-height: 46px;
  }
  h3 {
    font-size: 1.5em; //24px
  }
  h4 {
    font-size: 20px; //20px
  }
}

nav {
  .active {
    color: var(--nav-active);
    font-weight: bold;
  }
}
