@import "@material/layout-grid/mdc-layout-grid";

  :root {
    --mdc-layout-grid-margin-desktop: 24px;
    --mdc-layout-grid-gutter-desktop: 20px;
    --mdc-layout-grid-column-width-desktop: 60px;

    --tm-primary: #fe664b;
    --tm-primary-dark: #c53321;
    --tm-primary-light: #ff9878;
    --tm-secondary: #5c5fd4;
    --tm-secondary-dark: #1d35a2;
    --tm-secondary-light: #918cff;
    --tm-grey: #9b9b9b;
    --tm-article-background: #f8fbfc;
    --tm-black: #4a4a4a;
    --tm-black-title: #3C3C3B;

}

body {
  padding: 0;
  margin: 0;
}

//section:target {
//  @media screen and (max-width: 479px) {
//    margin-top: 96px;
//  }
//  @media screen and (min-width: 480px) {
//    margin-top: 88px;
//  }
//}

.tm-layout-wrapper {
  max-width: 1008px;
  margin: 0 auto;
  //padding: 16px;
  --mdc-layout-grid-margin-desktop: 0;
  --mdc-layout-grid-margin-tablet: 0;
  --mdc-layout-grid-margin-phone: 0;
}

.tm-layout-align-center {
  text-align: center;
}

.tm-layout-grid__cell--span-0-desktop {
  @media screen and (min-width: 840px) {
  display: none;
}
}

blockquote {
  margin: 0 0 3em;

  p {
    position: relative;
    padding: 0 1em;
    margin-bottom: 0.5em;
    quotes: "“" "„";

    &::before,
    &::after {
      content: open-quote;
      display: inline-block;
      color: #dadada;
      font-size: 2.125em;
      font-weight: 900;
      position: absolute;
  }

    &::before {
      left: 0;
  }

    &::after {
      content: close-quote;
      bottom: 4px;
      padding-left: 4px;
  }
}

  cite {
    padding: 0 1em;
}
}

p {
line-height: 26px;
}

.tm-page-header blockquote p {
  font-size: 28px;
  line-height: 32px;

  @media screen and (min-width: 480px) {
  font-size: 40px;
  line-height: 48px;
}
  color: #9b9b9b;
  text-align: center;
  margin: 68px 0;

  &::before,
  &::after {
    content: none;
}
}

.box--purple {
  background: var(--tm-secondary);
  border-radius: 32px;
  color: white;
}

.main-info {
  h2 {
    color: var(--tm-black-title);
    text-align: center;
    border-radius: 50px;
    padding: 8px;
    background-color: white;
    margin-bottom: 6em;
}

  .box--lead {
    padding: 20px 8px;
}
}

.page_sub-title p {
  font-size: 24px;
  color: var(--tm-black);
  text-align: center;
  opacity: 0.7;
}

.page_sub-title h2 {
  text-transform: none;
}

.action-button {
  font-weight: 700;
  display: block;
  border-radius: 100px;
  color: #fff;
  background-color: var(--tm-primary);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
  padding: 10px 28px;
  width: max-content;
  margin: 0 1em;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
    background-color: var(--tm-primary-dark);
}
}

.sub-text {
  color: var(--tm-grey);
}

.box,
.teambox {
  background-color: white;
  box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 8px 20px;
}

.box img {
  margin: 2em auto;
  display: flex;
}

.box .button {
  text-transform: uppercase;
  display: inline-block;
  padding: 6px 8px;
  margin: 16px 0 8px -8px;
  border-radius: 4px;

  &:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.12);
}
}
.cooperation {
  .box {
    align-items: center;
    margin: 0 auto;
    @media screen and (min-width: 840px){
    padding: 0 120px;
  }
    a {
      align-items: center;
      display: inline-flex;
      padding: 0 2em;
  }
}
}

.how-we-work {
  h2 {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    position: relative;
    z-index: 10;
    @media screen and (max-width: 839px) {
    display: none;
  }
}

  h2::before {
    content: "";
    display: block;
    width: 66.666%;
    height: 150px;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 56px;
    position: absolute;
    left: 16.6666%;
    top: 32px;
    z-index: -1;
}

  h2::after {
    content: "";
    display: block;
    height: 100px;
    border: 1px solid #ccc;
    border-right: none;
    position: absolute;
    left: 50%;
    top: 32px;
    z-index: -1;
}

  .box {
    background: #fff url("/icons/ico_listen.svg") center top 60px no-repeat;
    background-size: auto 82px;
    padding-top: 2em; //32px
    z-index: 15;
    position: relative;

}

  .box--purple {
    font-size: 20px;
    padding: 4px 16px;
}

  .how-we-work_btn {
    text-align: center;
    margin: 2em auto; //32px
}

}

.tm-partners {
  padding: 0 0 3%;
  background: #fff url("/images/bgnd_curve_3.svg") center bottom no-repeat;
  background-size: 100% auto;

  .tm-bgnd-wrapper {
    background-color: #f3f3f3;
}
}

.tm-partners__list {
  color: var(--tm-grey);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @media screen and (max-width: 479px) {
  flex-direction: column;
}
  margin: 0;

  li {
    width: 164px;
    @media screen and (min-width: 480px) {
    margin-right: 24px;
  }
}

  svg {
    width: 100%;
    fill: currentColor;
    stroke: currentColor;
}
}

li.tm-partners__item--adler {
  width: 100px;
}

.steps {
  .step_1 {
    @media screen and (min-width: 840px) {
    margin-top: 40%;
  }
}

  .steps__step {
    @media (max-width: 840px) {
    background-color: white;
    box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 8px 20px;
  }
}

  @media screen and (min-width: 840px) {
  background: url("/images/work-with-us_bgnd.png") center left no-repeat;
  background-size: contain;
  background-position-y: 220px;
  z-index: 200;
  .tm-layout-wrapper {
    background: url("https://res.cloudinary.com/topmonks/image/upload/v1550609656/topmonks.com/svg/Group.svg") center no-repeat;
}
}

  .hidden-box {
    @media (max-width: 839px) {
    display: none;
  }
}
}

.product {
  background-color: #f3f3f3;

  .tm-layout-wrapper {
    background: url("/images/bgnd_product_top_mobile.svg") top center no-repeat,
    url("/images/bgnd_product_mobile.svg") bottom center no-repeat;
    background-size: 100% auto;
    padding-top: 110px;
    padding-bottom: 110px;
}

  h3 {
    color: #529cfb;
    font-size: 1em;
    text-transform: uppercase;
}

  @media screen and (max-width: 479px) {
  .tm-layout-wrapper {
    padding-left: 0;
    padding-right: 0;
}
  .steps__step {
    &:nth-child(odd) {
      padding-left: 85px;
      padding-right: 24px;
      margin-left: 24px;
      background: url("/images/bgnd_step_1.svg") left 0 top 10px no-repeat;
  }

    &:nth-child(even) {
      padding-right: 85px;
      padding-left: 24px;
      margin-right: 24px;
      background: url("/images/bgnd_step_2.svg") right 0 top 3px no-repeat;
  }

    &.design {
      background-image: url("/images/bgnd_step_3.svg");
  }

    &.development {
      background-image: url("/images/bgnd_step_4.svg");
  }
}
}
  @media screen and (min-width: 480px) {
  .tm-layout-wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
}
  p {
    width: 280px;
    @media screen and (min-width: 840px) {
    width: 340px;
  }
}
  .steps {
    width: 100%;
    height: 100%;
    min-height: 769px;
    margin: 0 auto;
    background: url("/images/bgnd_product.svg") calc(50% - 20px) top no-repeat;
}

  /* <!--
   .steps__step {
     position: relative;
     &:nth-child(odd) {
       top: 65px;
       left: 460px;
       @media screen and (min-width: 840px) {
         left: 560px;
       }
     }
     &:nth-child(even) {
       top: 165px;
       left: -268px;
       @media screen and (min-width: 840px) {
         left: -468px;
       }
     }
     &.design {
       top: 30px;
       @media screen and (min-width: 840px) {
         top: 45px;
       }
     }
     &.development {
       top: 130px;
       @media screen and (min-width: 840px) {
         top: 147px;
       }
     }
   } -->*/
}
}

.customers {
  text-align: center;
  background: #fff url("https://res.cloudinary.com/topmonks/image/upload/v1550567115/topmonks.com/bgnd_grey.png") center top no-repeat;
  @media screen and (min-width: 840px) {
  background-size: 100% auto;
}

  .box {
    text-align: left;
    line-height: 1.625em; //26px
    padding-bottom: 3em; //48px
    blockquote {
      height: 15.25em; //244px
      margin-bottom: 2em; //32px
  }

    figcaption {
      padding-top: 1em; //16px
  }
    @media screen and (min-width: 840px) {
    margin: 2em auto;
  }
}
  hr.line-between_grey {
    background-color: #f3f3f3;
    height: 2px;
    border: none;
}

  .name {
    font-size: 1em; //16px
    color: var(--tm-grey);
    text-align: center;
}

  svg {
    display: flex;
    margin: 3em 0 1em; //48px 0 16px
}
}


.contact {
  text-align: center;

  .contact_title p {
    color: var(--tm-black);
}

  .person--photo img {
    border-radius: 50%;
    width: 112px;
    filter: saturate(0);
}

  .box_member-contact {
    align-self: center;
}

  .box {
    text-align: left;

    padding: 14px 24px 0;
}

  svg {
    margin-top: 8px;
}
}

#page-topmonks-index {
  @media screen and (max-width: 479px) {
  background: url("https://res.cloudinary.com/topmonks/image/upload/v1550565219/topmonks.com/HP_top-bgnd.png") right top -1px no-repeat;
  background-size: 50% auto;
  overflow-x: hidden;
}
  @media screen and (max-width: 479px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (max-width: 479px) and (min--moz-device-pixel-ratio: 2),
  screen and (max-width: 479px) and (-o-min-device-pixel-ratio: 2/1),
  screen and (max-width: 479px) and (min-device-pixel-ratio: 2),
  screen and (max-width: 479px) and (min-resolution: 192dpi),
  screen and (max-width: 479px) and (min-resolution: 2dppx) {
    background-image: url("https://res.cloudinary.com/topmonks/image/upload/v1550565219/topmonks.com/HP_top-bgnd.png");
}
  @media screen and (min-width: 480px) {
  background: url("https://res.cloudinary.com/topmonks/image/upload/v1550565219/topmonks.com/HP_top-bgnd.png") right top -1px no-repeat;
  background-size: 50% auto;
  overflow-x: hidden;
}
  @media screen and (min-width: 480px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 480px) and (min-resolution: 192dpi),
  screen and (min-width: 480px) and (min-resolution: 2dppx) {
    background-image: url("https://res.cloudinary.com/topmonks/image/upload/v1550565219/topmonks.com/HP_top-bgnd.png");
}
  @media screen and (min-width: 480px) and (max-width: 839px) {
  background-position: right calc(50% - 460px) top -1px;
}

  .tm-logo {
    @media screen and (min-width: 840px) {
    font-size: 1.6em;
    color: var(--tm-secondary);
    &:hover {
      color: var(--tm-secondary-dark);
  }
  }
}

  .tm-hamburger {
    .tm-hamburger__container::after {
      color: rgba(0, 0, 0, 0.25);
  }

    .tm-hamburger__bar {
      background-color: var(--tm-primary);
  }
}

  .tm-app-bar {
    background-color: transparent;
    @media screen and (max-width: 839px) {
    &.tm-app-bar--sticky {
      background-color: #fff;
  }
    .tm-logo {
      padding-top: 2px;
      font-size: 22px;
  }
  }
    @media screen and (min-width: 840px) {
    height: 112px;
    &.tm-app-bar--sticky {
      background-color: #fff;
      height: 72px;

      .tm-layout-wrapper {
        padding: 20px 0 0 16px;
    }

      + main {
        margin-top: 72px;
    }

      .tm-menu__list a {
        color: var(--tm-black-title);
    }
  }
    .tm-layout-wrapper {
      padding: 66px 0 0 16px;
      transition: padding 0.25s;
  }
    + main {
      margin-top: 112px;
  }
  }
}
  .tm-menu__list a {
    color: var(--tm-black-title);
}

  .tm-app-bar--open {
    color: #fff;

    .tm-hamburger__container::after {
      color: rgba(255, 255, 255, 0.5);
  }

    .tm-hamburger__bar {
      background-color: #fff;
  }
}
}

footer {
  p {
    color: #fff;
}
}

/* MD GRID TABLET AND ABOVE BREAKPOINT */
@media (min-width: 480px) {
.action-button {
  display: inline-block;
  margin: 0;
}
.main-info {
  position: relative;

  h2 {
    text-align: left;
    background: none;
    margin: 64px 0 8px;
}

  .jumbotron__lead {
    box-shadow: none;
}

  .jumbotron__lead p {
    max-width: 320px;
}

  .box--lead {
    height: auto;
}
}
.customers blockquote p {
  font-size: 1.66em;

  &::before,
  &::after {
    font-size: 2.22em;
    position: relative;
}

  &::before {
    left: -8px;
    top: 16px;
}

  &::after {
    bottom: -2px;
}
}
.box.box--mobile-only {
  background: none;
  box-shadow: none;
}
}

/* MD GRID TABLET ONLY BREAKPOINT */
@media screen and (min-width: 480px) and (max-width: 839px) {
.tm-case-studies__clients {
  align-content: space-between;
}
}

@media screen and (min-width: 840px) {
.tm-layout-wrapper {
  padding: 24px;
}
}
