@import "@material/layout-grid/mdc-layout-grid";

:root {
  --mdc-layout-grid-margin-desktop: 1.5em; //24px
  --mdc-layout-grid-gutter-desktop: 1.25em; //20px
  --mdc-layout-grid-column-width-desktop: 3.75em; //60px

  --tm-xixo-purple: #BB6BD9;
  --tm-xixo-darkpurple: #B651E0;

}

.tm-layout-wrapper {
  max-width: 75em; //1200px
  margin: 0 auto;
  padding: 0;
  --mdc-layout-grid-margin-desktop: 0;
  --mdc-layout-grid-margin-tablet: 0;
  --mdc-layout-grid-margin-phone: 0;
}

body {
  font-family: Avenir, Avenir light -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: linear-gradient(to bottom right, #6551E0 0, #6B359D 78%) no-repeat;
  background-size: 100% 55%;
  line-height: 2.25em; //36px
  font-weight: lighter;
  margin: 0;
}

// Typography //

h1 {
  color: #FFFFFF;
  font-size: 2.25em; //36px
  font-weight: lighter;
  letter-spacing: 2px;
  line-height: normal;
}

h2 {
  font-size: 2.25em; //36px
  font-weight: 500;
  letter-spacing: 2px;
  line-height: normal;
  text-align: center;
}

h3, p {
  font-size: 1.25em; //20px
  line-height: 2.1em; //33px;
}

.text-center {
  text-align: center;
}

hr.purple {
  background-color: var(--tm-xixo-purple);
  height: 0.3125em; //5px
  border: none;
  width: 10.375em; //166px
  margin: 0 auto;
}

a.btn {
  font-size: 2.5em; //40px
  color: #FFFFFF;
}

a.btn_purple {
  background: url("/images/case-studies/xixoio/union.png") center no-repeat;
  margin: 2em 0;
}

// Section: Introduction //
.intro {
  height: 46.875em; //750px
  background: url("/images/case-studies/xixoio/abstract.svg") center no-repeat;
  text-align: center;
  padding-top: 6em;

  .intro_text {
    margin-top: 17%;
  }
}

// Section: About - Description //
.about {
  .description {
    padding: 5.25em 4.625em 2.75em; //84px 74px 44px
    background: url("/images/case-studies/xixoio/intro_bgnd.png") top center no-repeat;
    max-width: 68.75em; //1 100px
    margin: 0 auto;

    p {
      margin-bottom: 1em;
    }
  }

  a {
    text-decoration: none;
    color: var(--tm-xixo-darkpurple);
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Section: TM - Blockchain Team //
.team {
  max-width: 68.75em; //1 100px
  margin: 0 auto;
  color: #FFFFFF;
}

// Section: Proposal //
.proposal {
  color: #FFFFFF;
  background: url("/images/case-studies/xixoio/waves.png") center no-repeat;
}

// Section: Implementation //
.implementation, .testing {
  background-color: #FFFFFF;
}

.implementation {
  h3 {
    align-self: center;
    padding-left: 2em;
  }

  a {
    font-size: 5em; //80px
    color: var(--tm-xixo-purple);
    align-self: center;
    font-weight: bold;
  }

  .implementation_box {
    display: inline-flex;
    border: 2px solid var(--tm-xixo-purple);
    padding: 2em 2.75em; //24px 44px
  }

  @media screen and (min-width: 1024px) {
    padding: 3em 0 2em;
  }
}

// Section: Testing //
.testing {
  @media screen and (min-width: 1024px) {
    padding-bottom: 2em;
  }
}

// Section: Timeline //
.timeline {
  color: #FFFFFF;
  background: linear-gradient(to bottom right, #6551E0 0, #6B359D 78%);

  h3 {
    font-weight: lighter;
  }

  @media screen and (min-width: 1024px) {
    padding: 3em 0 4em;
  }
}

// Section: Our Work //

.our-work {
  margin-top: 2em;
  font-size: 30px;
  text-transform: uppercase;

  p {
    margin-bottom: 0;
  }
  p.work_shadow-box {
    font-size: 14px;
    line-height: 23px;
    box-shadow: 0 2px 23px 0 rgba(0,0,0,.1);
    width: max-content;
    padding: 4px 12px;
  }

  .string_1 {
    background: url("/images/case-studies/xixoio/String/01.API.svg") center no-repeat;
  }

  .string_2 {
    background: url("/images/case-studies/xixoio/String/02.Infrastructure.svg") center no-repeat;
  }

  .string_3 {
    background: url("/images/case-studies/xixoio/String/03.Crypto.svg") center no-repeat;
  }

  .string_4 {
    background: url("/images/case-studies/xixoio/String/04.Development.svg") center no-repeat;
  }

  .string_5 {
    background: url("/images/case-studies/xixoio/String/05.Contracts.svg") center no-repeat;
  }

  .string_6 {
    background: url("/images/case-studies/xixoio/String/06.Testing.svg") center no-repeat;
  }

  .string_7 {
    background: url("/images/case-studies/xixoio/String/07.Audit.svg") center no-repeat;
  }

  .string_8 {
    background: url("/images/case-studies/xixoio/String/08.Finalizations.svg") center no-repeat;
  }

  .string_9 {
    background: url("/images/case-studies/xixoio/String/09.Training.svg") center no-repeat;
  }

  .string_10 {
    background: url("/images/case-studies/xixoio/String/10.Audit.svg") center no-repeat;
  }

  .top-diamond {
    text-align: center;
  }

  @media screen and (min-width: 1024px) {
    .right-float {
      p {
        text-align: right;
        margin-right: 60%;
      }
      p.work_shadow-box {
        float: right;
      }
    }

    .left-float {
      p {
        margin-left: 60%;
      }
    }
  }
}
