{% extends "layouts/arx.njk" %}
{% from "common/helpers.njk" import image %}

{% block head %}
  <link rel="stylesheet" href="/assets/css/team.css">
{% endblock %}

{% block links %}
  <style>
    /* TODO: Move this to separate sass file and use cloudinaryUrl helper */
    body {
      background: #fff url("/assets/img/team-bg.jpg") top right no-repeat;
      background-size: 70% auto;
    }
  </style>
{% endblock %}

{% block main %}
<section class="intro">
  <div class="mdc-layout-grid layout-arx">
    <div class="mdc-layout-grid__inner">
      <div class="white-box intro-box mdc-layout-grid__cell">
        <p>Our team members personally invest in each transaction, our interests are
          aligned with our partners in every situation.</p>
      </div>
    </div>
  </div>
</section>
<div class="mdc-layout-grid layout-arx">
  <div class="mdc-layout-grid__inner">
    <div class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <div class="border-bg"></div>
    </div>
  </div>
</div>
<section class="team">
  <div class="mdc-layout-grid layout-arx">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>Team</h2>
      </div>
      <div class="member mdc-layout-grid__cell">
        <img alt="Team Member - Brian Wardrop" src="/assets/img/team-member.jpg" width="100%" height="auto">
        <div class="member-description">
          <span class="member-name">Brian Wardrop</span><br>
          <span class="member-post text-opacity">Managing Partner</span>
        </div>
      </div>
      <div class="member mdc-layout-grid__cell">
        <img alt="Team Member - Brian Wardrop" src="/assets/img/team-member.jpg" width="100%" height="auto">
        <div class="member-description">
          <span class="member-name">Michal Aron</span><br>
          <span class="member-post text-opacity">Partner</span>
        </div>
      </div>
      <div class="member mdc-layout-grid__cell">
        <img alt="Team Member - Brian Wardrop" src="/assets/img/team-member.jpg" width="100%" height="auto">
       <div class="member-description">
        <span class="member-name">Tomáš Lánský</span><br>
        <span class="member-post text-opacity">Partner</span>
       </div>
      </div>
      <div class="member mdc-layout-grid__cell">
        <img alt="Team Member - Brian Wardrop" src="/assets/img/team-member.jpg" width="100%" height="auto">
       <div class="member-description">
        <span class="member-name">Béla Lendvai-Lintner</span><br>
        <span class="member-post text-opacity">Partner</span>
       </div>
      </div>
      <div class="member mdc-layout-grid__cell">
        <img alt="Team Member - Brian Wardrop" src="/assets/img/team-member.jpg" width="100%" height="auto">
       <div class="member-description">
        <span class="member-name">Radil Stefovski</span><br>
        <span class="member-post text-opacity">Investment Director</span>
       </div>
      </div>
      <div class="member mdc-layout-grid__cell">
        <img alt="Team Member - Brian Wardrop" src="/assets/img/team-member.jpg" width="100%" height="auto">
        <div class="member-description">
          <span class="member-name">Ivana Tesařová</span><br>
          <span class="member-post text-opacity">Investment Manager</span>
        </div>
      </div>

      <div class="member mdc-layout-grid__cell">
        <img alt="Team Member - Brian Wardrop" src="/assets/img/team-member.jpg" width="100%" height="auto">
        <div class="member-description">
          <span class="member-name">David Swaim</span><br>
          <span class="member-post text-opacity">Analyst</span>
        </div>
      </div>
      <div class="member mdc-layout-grid__cell">
        <img alt="Team Member - Brian Wardrop" src="/assets/img/team-member.jpg" width="100%" height="auto">
        <div class="member-description">
          <span class="member-name">Martin Medo</span><br>
          <span class="member-post text-opacity">Analyst</span>
        </div>
      </div>
      <div class="member mdc-layout-grid__cell">
        <img alt="Team Member - Brian Wardrop" src="/assets/img/team-member.jpg" width="100%" height="auto">
        <div class="member-description">
          <span class="member-name">Jaroslav Horák</span><br>
          <span class="member-post text-opacity">Investment Committee Chairman</span>
        </div>
      </div>
      <div class="member mdc-layout-grid__cell">
        <img alt="Team Member - Brian Wardrop" src="/assets/img/team-member.jpg" width="100%" height="auto">
        <div class="member-description">
          <span class="member-name">Jacek Korpała</span><br>
          <span class="member-post text-opacity">Co-Managing Partner</span><br>
          <span class="member-post text-opacity">Fund II&III</span>
        </div>
      </div>
      <div class="member mdc-layout-grid__cell">
        <img alt="Team Member - Brian Wardrop" src="/assets/img/team-member.jpg" width="100%" height="auto">
        <div class="member-description">
          <span class="member-name">Monika Hubena</span><br>
          <span class="member-post text-opacity">Office Manager</span>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
