.contact-us {
  h2 {
    text-align: center;
  }

  h3 {
    color: #001F3F;
    text-align: left;
  }

  a {
    color: #F0BE59;
  }

  .page_sub-title {
    max-width: 763px;
    margin: 0 auto;
    p {
      line-height: 35px;
    }
  }

  .box-member {
    margin: 0 auto;
    padding: 10px 28px;
  }

  .box-member img {
    border-radius: 50%;
  }

  .box_member-contact {
    align-self: center;
  }

  p.box_text-about {
    height: 60px;
  }

  .box.address {
    padding: 0;
  }
}
