// SECTION NETWORKING //
.networking {
  li {
    display: -webkit-inline-flex;

    &:before {
      display: block;
      content: url("/images/pre-list_subpages-icon.svg");
      width: 16px;
      padding: 2px 12px 0;
    }
  }
}

// SECTION EXAMPLES //
.examples {
  h3 {
    font-size: 20px;
    line-height: 29px;
  }

  .box p {
    min-height: 100px;
  }
}
