h1 {
  font-size: 15px;
  font-weight: lighter;
  line-height: 144%;
  text-transform: uppercase;
  text-align: left;
}

p > a {
  border-bottom: none;
}

ul li {
  line-height: 40px;
}
.sub-info {
  color: var(--tm-black);
}

.jumbotron {
  h2 {
    text-align: left;
  }

  svg {
    width: 100%;
    padding-top: 24px; //1.5em;
  }
}

.purple {
  color: var(--tm-secondary);
}


// BOXES //
.box {
  padding: 14px;

  h3 {
    text-align: left;
  }
}
.consultation_box {
  padding: 0 28px;
  box-shadow: 2px 10px 23px rgba(92, 95, 255, 0.1);
  border-radius: 6px;
}


// BUTTONS //
.button {
  margin: 0 auto;

  .advicing_btn {
    background-color: var(--tm-btn);
    color: var(--tm-black-title);
    &:hover {
      background-color: var(--tm-primary-light);
    }
  }
}

//Pre-list Icons:
// SECTION NETWORKING //
.networking {
  li {
    display: -webkit-inline-flex;

    &:before {
      display: block;
      content: url("/images/sub-pages/pre-list_subpages-icon.svg");
      width: 16px;
      padding: 2px 12px 0;
    }
  }
}

// SECTION DATA OF THE COMPANY //
.data {
  li {
    display: -webkit-inline-flex;

    &:before {
      display: block;
      content: url("/images/sub-pages/pre-list_round-icon.svg");
      width: 18px;
      padding: 2px 12px 0;
    }
  }
}

.absence {
  li {
    display: -webkit-inline-flex;

    &:before {
      display: block;
      content: url("/images/sub-pages/pre-list_cross-icon.svg");
      width: 16px;
      padding: 2px 12px 0;
    }
  }
}


// SECTION EXAMPLES //
.examples {
  h2 {
    text-align: left;
  }

  h3 {
    font-size: 20px;
    line-height: 29px;
  }

  .box p {
    min-height: 100px;
  }
}


@media screen and (min-width: 840px) {
  .advicing_btn {
    padding: 18px 32px;
    margin-top: 3em;
  }
  .box {
    padding: 14px 28px;
  }
  .jumbotron {
    p {
      line-height: 164%;
    }
  }
}

@media (max-width: 839px) {
  .page_sub-title {
    font-size: 18px;
  }
  .advicing_btn {
    padding: 18px;
  }
}
