{% extends 'layouts/topmonks.html' %}
{%- import 'macros/helpers.html' as macros -%}
{% block title %}O nás - TopMonks{% endblock %}
{% block head %}
<link rel="stylesheet" href="/stylesheets/about-us.css">
{% endblock %}

{% block content %}

  <section id="jak-pracujeme" class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner tm-layout-wrapper">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-page-header">
        <h2>Jak pracujeme</h2>
        <blockquote>
          <p>Umění je odvést kvalitní práci, ne strávit nad ní spoustu hodin.</p>
        </blockquote>
        <p>Našim cílem není sedět v&nbsp;kanceláři klasicky od 9&nbsp;do 5.&nbsp;Především
          chceme zákazníkům dodávat perfektně odvedenou práci. Protože většina
          z&nbsp;nás pracuje vzdáleně (remotně), používáme následující nástroje
          k&nbsp;tomu, abychom měli všichni přehled o&nbsp;dění ve firmě a komunikovali mezi
          sebou tak, jako bychom společně seděli u&nbsp;jednoho stolu. Přestaň počítat hodiny a
          dělej svoji práci tak, jak nejlépe dovedeš.</p>
      </div>
      <div class="box mdc-layout-grid__cell">
        <h3>Slack</h3>
        <p>Efektivní komunikace je podstatou spolupráce nejen v&nbsp;rámci firmy, ale
          také s&nbsp;našimi zákazníky. Můžeš sedět, kde chceš, ale když
          pracuješ, měl bys být ostatním k&nbsp;dispozici.</p>
      </div>
      <div class="box mdc-layout-grid__cell">
        <h3>GitHub</h3>
        <p>Všechny naše projekty běží na GitHubu. U&nbsp;mnoha z&nbsp;nich používáme
          GitHub Issues pro sledování jejich samotného progresu. Spolu se Slackem je GitHub alfa a
          omega naší spolupráce.</p>
      </div>
      <div class="box mdc-layout-grid__cell">
        <h3>Quip</h3>
        <p>Zde sdílíme veškerou projektovou dokumentaci, faktury, naši firemní
          knihovnu&nbsp;&ndash; v&nbsp;podstatě veškeré naše znalosti. Popros rarouše a on ti
          nasdílí svoji super kuchařku plnou receptů.</p>
      </div>
      <div class="box mdc-layout-grid__cell">
        <h3>Swarmpit</h3>
        <p>Většina našich projektů je kontejnerizovaná a provozovaná
          v&nbsp;prostředí Docker Swarm. Pro jejich správu jsme vyvinuli vlastní
          uživatelské rozhraní nazvané Swarmpit.</p>
      </div>
      <div class="box mdc-layout-grid__cell">
        <h3>Monksheets</h3>
        <p>Všechnu zbytečnou administrativu hoď za hlavu. Pro řízení nákladů na
          projekt, žádost o&nbsp;dovolenou nebo proplacení jízdenek používáme
          Monksheety. Všechno si spravuješ sám online&nbsp;&ndash; tedy kdykoli, odkudkoli.</p>
      </div>
      <div class="box mdc-layout-grid__cell">
        <h3>Trello</h3>
        <p>S&nbsp;Trellem ses už určitě někdy setkal. Používáme ho na některých
          projektech pro sledování týmového progresu a pro delegování práce.
          Záleží na každém projekťákovi a týmu, jak se rozhodnou
          projekt&nbsp;vést.</p>
      </div>
    </div>
  </section>

  <section class="tm-team" id="team">
    <div id="team--collapsed" class="tm-bgnd-wrapper mdc-layout-grid">
      <div class="mdc-layout-grid__inner tm-layout-wrapper">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <h2>Náš team</h2>
        </div>
        {{ macros.teamMember(members['jiri-fabian'], true) }}
        {{ macros.teamMember(members['anna-kovacsova'], true) }}
        {{ macros.teamMember(members['ondrej-tupy'] , true) }}
        {{ macros.teamMember(members['lea-petrasova'], true) }}
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <div class="mdc-layout-grid tm-team__members">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-align-center">
                <a href="#team" class="action-button show-more">Ukaž více</a>
              </div>
              {% for id, member in members %}
              {% if not member.pickup %}
              {{ macros.teamMember(member) }}
              {% endif %}
              {% endfor %}
              <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-align-center">
                <a href="#team--collapsed" class="action-button show-less">Ukaž méně</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="firemni-hodnoty" class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner tm-layout-wrapper">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>Firemní hodnoty</h2>
        <ul>
          <li>Neustále vzdělávej sebe i ostatní. Předávání znalostí je u nás povinnost.</li>
          <li>Buď podnikavý. Vlastní projekty Monků jsou velmi vítány.</li>
          <li>Buď statečný. Poskytuj upřímnou a konstruktivní zpětnou vazbu bez ohledu na okolnosti.</li>
          <li>Tvoje svoboda končí tam, kde začíná svoboda ostatních.</li>
          <li>>Umění je odvést kvalitní práci, ne strávit nad ní spoustu hodin.</li>
          <li>Život je plný změn. Přijmi to.</li>
          <li>Naše firma je živý organismus propojený s našimi partnery, zákazníky i komunitou. Neexistují žádné hranice.</li>
          <li>Dávej a bude ti dáno.</li>
          <li>Zvláštnost, nekonvenčnost je vítána.</li>
        </ul>
        <p>Jestli tě baví naše hodnoty a myšlenky, <a href="/volna-mista/">přidej se k nám</a>. Nebo nám <a href="mailto:sales@topmonks.com">dej vědět</a>, jak ti můžeme pomoci s tvým projektem. Anebo nás jednoduše <a href="/kontakt/">přijď navštívit</a> na jednu z našich mnoha akcí. Moc rádi potkáme nové a zajímavé lidi.</p>
      </div>
    </div>
  </section>

{% endblock %}
