{% extends 'layouts/topmonks.html' %}
{% block title %} O nás - TopMonks{% endblock %}


{% block content %}

  <section id="how-we-work" class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner tm-layout-wrapper">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-page-header">
        <h2>Jak pracujeme</h2>
        <blockquote>
          <p>Úspěchem je výsledek, ne strávený čas.</p>
        </blockquote>
        <p>Nepotřebujeme se poflakovat v&nbsp;kanceláři od 9&nbsp;do 5.&nbsp;Chceme dodat
          perfektní výsledek! Jelikož je náš tým většinou distribuován, usilovně
          jsme pracovali na tom, abychom zlepšili způsob, jakým spolupracujeme mezi
          sebou, a také s&nbsp;našimi klienty. Nepočítejte hodiny, doručte!</p>
      </div>
      <div class="box mdc-layout-grid__cell">
        <h3>Slack</h3>
        <p>Efektivní komunikace je podstatou spolupráce&nbsp;&ndash; nejen u&nbsp;našich
          projektů, ale také u&nbsp;některých našich zákazníků. Je nám jedno, kde
          sedíte, ale jakmile pracujete, měli byste být k&nbsp;dispozici.</p>
      </div>
      <div class="box mdc-layout-grid__cell">
        <h3>GitHub</h3>
        <p>Všechny naše projekty probíhají v&nbsp;GitHubu. Mnoho z&nbsp;nich také
          používá GitHub Issues pro sledování pokroku. Spolu s&nbsp;nástrojem Slack je
          alfa a omega naší spolupráce.</p>
      </div>
      <div class="box mdc-layout-grid__cell">
        <h3>Quip</h3>
        <p>Zde sdílíme veškerou dokumentaci o&nbsp;projektech, faktury, dokonce i&nbsp;naši
          firemní knihovnu, v&nbsp;podstatě celé naše znalosti. Zeptejte se rarouše na
          jeho úžasnou kuchařku!</p>
      </div>
      <div class="box mdc-layout-grid__cell">
        <h3>Swarmpit</h3>
        <p>Většina našich projektů je kontejnerizována a provozována
          v&nbsp;prostředí Docker Swarm. Pro jejich správu jsme vyvinuli vlastní
          uživatelské rozhraní nazvané Swarmpit.</p>
      </div>
      <div class="box mdc-layout-grid__cell">
        <h3>Monksheets</h3>
        <p>Nyní se zbavte zbytečné administrace! Pokud potřebujete řídit své
          náklady na projekt, zažádat o&nbsp;volno nebo o&nbsp;vrácení nákladů, můžete to
          udělat online kdekoli a kdykoliv budete&nbsp;chtít.</p>
      </div>
      <div class="box mdc-layout-grid__cell">
        <h3>Trello</h3>
        <p>Trello je výkonný nástroj pro sledování pokroku týmu a
          delegování&nbsp;práce.</p>
      </div>
    </div>
  </section>
  <section id="company-values" class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner tm-layout-wrapper">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>Company values</h2>
        <ul>
          <li><b>导</b>Učte se, nebo zemřete. Učte, nebo zemřete. Pouze vzděláváním a učením mozek vzkvétá.</li>
          <li><b>灵</b> Mějte podnikavou mysl. Produkty navíc v&nbsp;řadách našich členů týmu
            jsou vítány.</li>
          <li><b>勇</b> Buďte stateční. Poskytněte upřímnou zpětnou vazbu bez ohledu na okolnosti.</li>
          <li><b>自由</b> Vaše svoboda nesmí ovlivnit svobodu druhých.</li>
          <li><b>看板</b> Úspěch je ve výsledku, ne ve stráveném čase. Nečekejte, až budeš požádán o další úkol, najděte si ho sami.</li>
          <li><b>改善</b> Život je neustálou změnou. Přijměte to.</li>
          <li><b>无国界</b> Naše firma je živý organismus provázaný s&nbsp;našimi partnery, zákazníky
            a komunitou. Nejsou zde žádné hranice.</li>
          <li><b>共享</b> Dávej a bude ti dáno.</li>
          <li><b>怪事</b> Zvláštnost, nekonvenčnost je vítána.</li>
        </ul>
        <p>Pokud se vám líbí naše myšlení <a href="mailto:jobs@topmonks.com">přidejte se k nám</a>. Nebo <a href="mailto:sales@topmonks.com">mějte svůj projekt</a> námi dodaný. Nebo jednoduše <a href="/contact/">nás navštivte</a>. Užíváme si potkávat nové lidi.</p>
      </div>
    </div>
  </section>

{% endblock %}
