:root {
  --mdc-theme--primary: #fff;

  --mdc-theme--secondary: #000;
  --mdc-theme--secondary-light: #6A6A6A;
  --mdc-theme--secondary-lighter: #B7B7B7;

  --mdc-theme--third: #0A2137;

  --mdc-theme--fourth: #FFA300;
}
