header,
footer {
  a {
    text-decoration: none;
  }
}

header {
  z-index: 1000;
  --mdc-layout-grid-margin-desktop: 0 24px;
  --mdc-layout-grid-margin-tablet: 0;
  --mdc-layout-grid-margin-phone: 0;

  li a {
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--mdc-theme--primary);
    &:link,
    &:visited {
      color: var(--mdc-theme--primary);
    }

    &:hover {
     text-decoration: underline;
    }

    @media (max-width: 1080px) {
      font-size: 16px;
    }
  }

  .app-bar {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
    background-color: var(--mdc-theme--primary);
  }
}


// HEADER //

header {
  .menu--horizontal .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 0;
  }

  ul li {
    font-size: 18px;
    letter-spacing: 1px;
    margin: 0 14px;
    list-style: none;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

// HAMBURGER //

.app-bar {
  padding: 14px 0;
  overflow: hidden;

  &.app-bar--sticky {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100vw;
    background-color: var(--mdc-theme--primary);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.07);
    a {
      color: var(--mdc-theme--third);
    }
    @media screen and (max-width: 913px) {
      height: 58px;
    }
  }
  &.app-bar--open {
    overflow: visible;
  }
  .app-bar_menu {
    align-self: center;
  }

  @media screen and (max-width: 913px) {
    height: 75px;
    padding-top: 8px;

    .app-bar_menu {
      transform: scaleY(0) translateY(-64px);
      transform-origin: top;
      transition: visibility 0.3s ease, transform 0.3s ease;
      order: 3;
      visibility: hidden;
    }
    &.app-bar--open .app-bar_menu {
      transform: scaleY(1) translateY(-4px);
      visibility: visible;
    }
    .logo {
      display: flex;
      align-items: baseline;
      transform: translate(16px, 8px);
      svg {
        width: 44px;
        height: 44px;
      }
    }
    .hamburger {
      order: 2;
      display: flex;
      justify-content: flex-end;
      transform: translate(-12px, 4px);
    }
  }
}

.hamburger {
  margin-top: 1em;
  @media screen and (min-width: 914px) {
    display: none;
  }

  .hamburger__container {
    display: inline-block;
    cursor: pointer;
    padding: 8px;
    width: 18px;
    height: 18px;
    position: relative;
  }

  .hamburger__bar {
    background-color: var(--mdc-theme--third);
    width: 20px;
    height: 2px;
    border-radius: 10px;
    position: absolute;
    top: 16px;
    transition: transform 0.4s;

    &:first-of-type {
      transform: translateY(-6px);
    }

    &:last-of-type {
      transform: translateY(6px);
    }
  }
  .hamburger__bar-middle {
    width: 14px;
  }

  .hamburger__container--open {
    .hamburger__bar:first-of-type {
      transform: rotate(-45deg);
    }

    .hamburger__bar:nth-of-type(2) {
      opacity: 0;
    }

    .hamburger__bar:last-of-type {
      transform: rotate(45deg);
    }
  }
}

.app-bar--sticky {
  .hamburger .hamburger__bar {
    background: var(--mdc-theme--third);
  }

  .hamburger .hamburger__container::after {
    color: var(--mdc-theme--third);
  }
}

.app-bar.app-bar--open {
  color: var(--mdc-theme--primary);

  .hamburger__container::after {
    color: var(--mdc-theme--third);
  }

  .hamburger__bar {
    background-color: var(--mdc-theme--third);
  }
}

.menu {
  @media screen and (max-width: 913px) {
    width: 100vw;
    overflow: hidden;
    z-index: 1000;
    background-color: var(--mdc-theme--primary);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.07);
    ul.menu__list {
      display: grid;
      padding-inline-start: 16px;
      padding-inline-end: 16px;
      width: auto;
    }
    .menu__list li {
      margin: 0 24px;
    }
    .menu__list li + li {
      border-top: 1px solid var(--mdc-theme--third);
    }
    .menu__list a {
      color: var(--mdc-theme--third);
      display: block;
      padding: 12px;
      margin: 4px;
    }
  }
}

.menu--horizontal .menu__list {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0;
  line-height: 2.5;
}

.modal {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1) translate(0);
  transform-origin: left;
  transition: transform 0.3s ease;

  &.modal--hidden {
    transform: scale(0) translateX(-100vw);
  }

  &__inner {
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.07);
    width: 100%;
    max-width: 620px;
    position: relative;
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    z-index: 1001;
    line-height: 32px;
    border: 1px solid var(--mdc-theme-secondary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    a {
      font-weight: bold;
      font-size: 1.6em;
      text-decoration: none;
    }

    &:hover {
      border-color: var(--mdc-theme--primary);

      a {
        color: var(--mdc-theme--primary) !important;
      }
    }
  }

  h2 {
    margin-bottom: 0;
    font-size: 1.5em;
  }
}
