/* Background for Small Devices */
@media screen and (min-width: 1440px) {
  body {
    background: #fff cloudinaryUrl("arx.monks.cloud/header-bg.jpg", (width: 1920)) top right no-repeat;
    background-size: 60% 744px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  body {
    background: #fff cloudinaryUrl("arx.monks.cloud/header-bg.jpg", (width: 1440)) top right no-repeat;
    background-size: 70% 744px;
  }
}

@media (max-width: 1023px) {
  .intro {
    background: cloudinaryUrl("arx.monks.cloud/header-bg.jpg", (width: 1024)) bottom center no-repeat;
    background-size: 100% 75%;
  }
}

/* Section: About */
.about {
  @media (min-width: 540px) {
    .column-1__inner-box, .column-2__inner-box {
      box-sizing: border-box;
      max-width: calc(var(--arx-layout-max-width) / 2);
    }
    .column-2 {
      margin-top: 6em;
    }
  }
  @media (min-width: 1024px) {
    .column-1__inner-box, .column-2__inner-box {
      padding: 6em;
    }
  }
  @media screen and (min-width: 740px) {
    display: flex;
    .about__bg {
      background: cloudinaryUrl("arx.monks.cloud/about-bg02.jpg", (width: 960)) no-repeat;
      background-size: cover;
      filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.07));
    }
  }
  @media (max-width: 739px) {
    padding: 1em;
  }
}

@media screen and (min-width: 740px) {
  .column-1 {
    display: flex;
    justify-content: flex-end;
  }
}


/* Section: Facts and Figures */
.investments {
  margin: 3em 0;

  h3 {
    color: var(--mdc-theme--primary);
    padding-top: 0.5em;
  }

  .investments__bg {
    background: cloudinaryUrl("arx.monks.cloud/facts-bg.jpg", (width: 960)) no-repeat;
    background-size: cover;
    @media screen and (min-width: 740px) {
      max-width: 50vw;
      padding: 6em 6em 20em;
    }
    @media (max-width: 739px) {
      max-width: 100vw;
      padding: 2em;
    }
    @media (min-width: 740px) and (max-width: 839px) {
      padding: 6em 6em 14em;
    }
  }

  .broskev {
    display: flex;
    max-width: calc(var(--arx-layout-max-width) / 2);
  }

  .column-2 {
    display: inline-flex;
  }

  .investments__box {
    text-align: center;

    h4 {
      margin-bottom: 0;
    }

    p {
      font-size: 18px;
      line-height: 22px;
      color: var(--mdc-theme--secondary-light);
    }

    .box_row {
      padding: 0 1em;
    }

    .box--white {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.07);
      @media screen and (min-width: 1024px) {
        margin-right: 24px;
        &:nth-child(5) {
          margin-right: 0;
        }
      }
      @media (min-width: 740px) and (max-width: 1023px) {
        margin: 0.5em 0 1.5em;
        &:nth-child(5) {
          margin-right: 0;
        }
      }
      @media (max-width: 739px) {
        padding: 1em;
        margin-bottom: 1.5em;
      }
    }

    @media (max-width: 1023px) {
      p {
        font-size: 14px;
        line-height: 18px;
      }
    }

    @media (min-width: 740px) {
      margin: -18em 0 16em;
      .box_row {
        display: inline-flex;
        max-width: var(--arx-layout-max-width);
      }
    }

    @media (min-width: 740px) and (max-width: 839px) {
      margin: -12em 0 14em;
    }
  }
}

/* Section: Our Believes */
/**/

/* Section: Team */
.team {
  background: linear-gradient(to bottom, var(--mdc-theme--primary) 50%, var(--mdc-theme--secondary-bg) 50%);
  color: var(--mdc-theme--primary);

  .column-1 {
    background-color: var(--mdc-theme--third);
    justify-content: center;
    align-self: center;
  }

  .column-2 {
    background: cloudinaryUrl("arx.monks.cloud/hp_team-bg.jpg", (width: 960)) 100% no-repeat;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.07);
  }

  .column-1__inner-box {
    align-self: center;
  }

  @media screen and (min-width: 740px) {
    display: flex;
    padding-bottom: 4em;
    .column-1 {
      height: 540px
    }
    .column-2 {
      height: 540px;
      margin-top: 12em;
    }
  }
  @media (max-width: 739px) {
    margin-top: 2em;
    .button {
      margin: 0 auto;
    }
    .column-1 {
      text-align: center;
      padding: 2em;
    }
    .column-2 {
      display: none;
    }
  }
}

/* Section: News */
/**/

.accordion {
  &__title {
    background-color: var(--mdc-theme--third);
    color: var(--mdc-theme--primary);
    position: relative;

    h4 {
      font-size: 1.5em;
      font-weight: normal;
      line-height: 1.3333;
      padding: 29px 39px 29px 115px;
      margin: 0;
    }

    h4::before {
      content: "";
      display: block;
      width: 90px;
      border-right: 1px solid var(--mdc-theme--primary);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='32' height='32'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z' fill='%23502CCC'/%3E%3C/svg%3E") 50% 50% no-repeat;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.07);
    }
  }

  &__text {
    background-color: #eeeff1;
    padding: 23px 23px 23px 29px;

    p {
      margin: 0;
      line-height: 1.77778;
    }
  }

  &__item--collapsed {
    h4::before {
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='32' height='32'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z' fill='%23c4c4c4'/%3E%3C/svg%3E") 50% 50% no-repeat;
      box-shadow: none;
    }

    &:hover h4::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='32' height='32'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z' fill='white'/%3E%3C/svg%3E");
    }

    .accordion__text {
      max-height: 1px;
      padding: 0;
      overflow: hidden;
    }
  }
}


