@import "@material/layout-grid/mdc-layout-grid";
@import "common/colors";
@import "colors";
@import "typography";

:root {
  --mdc-layout-grid-margin-desktop: 24px;
  --mdc-layout-grid-gutter-desktop: 20px;
  --mdc-layout-grid-column-width-desktop: 60px;
}

.layout-arx {
  max-width: 1200px;
}

html {
  scroll-behavior: smooth;
}

.responsive {
  width: 100%;
  height: auto;
}

.box {
  background: var(--mdc-theme--primary);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.07);

  .box--logo {
    text-align: center;
    align-self: center;
    padding-top: 28px;

    svg {
      width: 60%;
      height: 80px;
    }
  }

  .box--text {
    padding: 0 28px 14px;

    h3 {
      margin: 8px 0;
    }

    p {
      opacity: .43;
      margin-top: 0;
    }
  }

  hr {
    border: 1px solid #DBDBDB;
  }

  &:hover {
    cursor: pointer;
    transform: scale(.98);
    transition: all .3s ease-out;
  }
}
@media (min-width: 1440px) {
  .left-padding_box {
    padding: 2em 3em 4em 6em;
  }

  .right-padding_box {
    padding: 2em 6em 4em 3em;
  }
}

.white-box {
  background: var(--mdc-theme--primary);
}

.yellow-box {
  background: var(--mdc-theme--fourth);
}

.dark-box {
  color: var(--mdc-theme--primary);
  background: var(--mdc-theme--third);
}

.underline--light:after {
  content: "";
  width: 40%;
  height: 4px;
  background-color: var(--mdc-theme--fourth);
  display: block;
  margin: 30px 0;
  @media (max-width: 739px) {
    margin: 14px 0;
  }
}

.underline--dark:after {
  content: "";
  width: 40%;
  height: 4px;
  background-color: var(--mdc-theme--third);
  display: block;
  margin: 30px 0;
  @media (max-width: 739px) {
    margin: 14px 0;
  }
}

.border-bg {
  display: block;
  width: 93px;
  height: 93px;
  border: 10px solid var(--mdc-theme--third);
  box-sizing: border-box;
  margin-top: 1em;
  @media (max-width: 839px) {
    width: 50px;
    height: 50px;
    border: 5px solid var(--mdc-theme--third);
  }
}

/* INTRO */
.intro {
  padding-bottom: 8em;

  .intro-box {
    z-index: 10;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.03);
  }

  @media (min-width: 1024px) {
    margin-top: 3em;
  }

  @media (max-width: 839px) {
    span {
      font-weight: bold;
    }

    .intro-box {
      position: relative;
      width: 100%;
      margin: 0 auto;
      padding: 1em 1.5em;
    }

    .button {
      width: 100%;
      position: absolute;
      bottom: -5em;
      left: 3em;
    }
  }

  @media (min-width: 740px) {
    .intro-box {
      width: 660px;
    }
  }

  @media (min-width: 540px) {
    p {
      font-size: 40px;
      font-weight: normal;
      line-height: 46px;
      max-width: 500px;
    }
    .intro-box {
      padding: 4em;
    }
  }

  @media (max-width: 539px) {
    p {
      font-size: 24px;
      line-height: 37px;
    }
  }
}


/* NEWS */

.news {
  padding: 0.5em 0 4em;
  background-color: var(--mdc-theme--secondary-bg);

  .article-title {
    min-height: 114px;
  }

  h4 {
    font-size: 22px;
    font-weight: bold;
    line-height: 27px;
    text-transform: initial;

    a {
      color: var(--mdc-theme--secondary);
    }
  }

  p {
    font-size: 18px;
    line-height: 26px;
    color: var(--mdc-theme--secondary-light);
  }

  img {
    margin-bottom: 1em;
  }
}

/* FOOTER */

footer {
  padding: 3em 0 5em;

  ul {
    list-style: none;

    li {
      line-height: 32px;

      a {
        font-size: 18px;
        color: var(--mdc-theme--third);

        &:hover {
          text-decoration: underline;
        }
      }
    }

    @media (max-width: 539px) {
      padding: 0;
    }
  }

  .sro {
    display: inline-flex;
    align-self: center;

    p {
      font-size: 16px;
      line-height: 19px;
      color: var(--mdc-theme--secondary-lighter);
      text-transform: uppercase;
      margin: 8px 0 0 16px;
    }
  }

  p.legal-notice {
    font-size: 12px;
    line-height: 14px;
    color: var(--mdc-theme--secondary-light);
    opacity: 0.43;
  }
}
