/* Background for Small Devices */

@media screen and (min-width: 1440px) {
  body {
    background: #fff url("/assets/img/news-bg.jpg") top right no-repeat;
    background-size: 60% 446px;
  }
  .intro {
    min-height: 500px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  body {
    background: #fff url("/assets/img/news-bg.jpg") top right no-repeat;
    background-size: 70% 446px;
  }
  .intro {
    min-height: 320px;
  }
}

@media (max-width: 1023px) {
  .intro {
    background: #fff url("/assets/img/news-bg.jpg") bottom center no-repeat;
    background-size: 100% 75%;
  }
}

@media (min-width: 540px) {
 .intro__box {
    padding: 1.5em 4em;
  }
}


/* Section: News */
.news_page {
  article {
    h3, h3 a {
      font-size: 24px;
      font-weight: bold;
      line-height: 29px;
      color: var(--mdc-theme--secondary);
      padding-right: 1em;
    }
    time {
      font-size: 18px;
      font-weight: normal;
      line-height: 32px;
      color: var(--mdc-theme--secondary);
    }

    p {
      font-size: 20px;
      line-height: 32px;
      opacity: 0.43;
      padding-right: 1em;
    }
  }

  .intro {
    margin-top: 3em;
    min-height: auto;
  }
}
