.news_page {
  article {
    color: var(--mdc-theme--secondary);
    h3, a {
      font-size: 24px;
      font-weight: bold;
      line-height: 29px;
    }

    time {
      font-size: 18px;
      font-weight: normal;
      line-height: 32px;
    }

    p {
      font-size: 20px;
      line-height: 32px;
      opacity: 0.43;
    }
  }
  .intro {
    margin-top: 3em;
    min-height: auto;
  }
}
