/* Background for Small Devices */
@media screen and (min-width: 1440px) {
  body {
    background: #fff url("/assets/img/strategy-bg.jpg") top right no-repeat;
    background-size: 65% 755px;
  }
  .intro {
    min-height: 700px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  body {
    background: #fff url("/assets/img/strategy-bg.jpg") top right no-repeat;
    background-size: 75% 755px;
  }
  .intro {
    min-height: 700px;
  }
}

@media (max-width: 1023px) {
  .intro {
    background: #fff url("/assets/img/strategy-bg.jpg") bottom center no-repeat;
    background-size: 100% 75%;
    padding-bottom: 6em;
  }
}

.intro-box {
  padding: 4em;
}

.transaction {
  h3, p {
    color: var(--mdc-theme--third);
  }

  .dark-box h3, .dark-box p {
    color: var(--mdc-theme--primary);
  }
}

.transaction-boxes {
  @media (min-width: 540px) {
    .column--1, .column--2 {
      max-width: 50vw;
      display: inline-flex;
    }
    .jahudka, .boruvka {
      box-sizing: border-box;
      max-width: calc(var(--arx-layout-max-width) / 2);
      padding: 6em;
    }
    .ovocna-zmrzlina {
      padding: 3em 6em;
      background: var(--mdc-theme--primary);
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.07);
    }
  }
}
