:root {

}

body {
  font-family: Proxima Nova;
  margin: 0;
}

h1, h2, h3, h4 {
  font-weight: normal;
  text-transform: uppercase;
}

h2 {
  font-size: 64px;
  line-height: 42px;
}

h3 {
  font-size: 44px;
  line-height: 42px;
}

h4 {
  font-size: 26px;
  line-height: 32px;
}

p {
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
}

.sub-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  text-transform: initial;
}

.text-opacity {
  opacity: 0.67;
}

a {
  text-decoration: none;
}

span.date {
  font-size: 18px;
  line-height: 22px;
  color: var(--mdc-theme--secondary-light);
}


.text-center {
  text-align: center;
}

.button {
  background-color: var(--mdc-theme--fourth);
  max-width: 152px;
  text-align: center;
  padding: 14px;
  a {
    color: var(--mdc-theme--primary);
  }
  &:hover {
    cursor: pointer;
  }
}
