{% extends 'layouts/application.html' %}
{% block title %}caffe.topmonks.cz{% endblock %}

{% block navigation %}
{{ macros.navigation('caffe') }}
{% endblock %}

{% block content %}
{{ macros.pageHeader('TopMonks Caffè') }}
<header>
  <ul id="navigace">
    <li>
      <a href="#uvod">Úvod</a>
    </li>
    <li>
      <a href="#courses">Co učíme</a>
    </li>
    <li>
      <a href="#galerie">Fotogalerie</a>
    </li>
    <li>
      <a href="#reference">Říkají o nás</a>
    </li>
    <li>
      <a href="#kontakt">Kontakt</a>
    </li>
  </ul>
</header>
<main id="main_content" class="main_content">
  <section id="uvod" class="opening">
    <div class="mdc-layout-grid wrapper">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
          <h1>Teach or die, learn or die.</h1>
          <p>Každý první čtvrtek v&nbsp;měsící se setkáváme a bavíme se
            o&nbsp;tématéch, která nás&nbsp;baví.</p>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        </div>
      </div>
    </div>
  </section>
  <section id="main" class="main_info">
    <div class="mdc-layout-grid wrapper">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <h2>Co je TopMonks Caffé?</h2>
          <p>Firma TopMonks, pořádající setkání TopMonks Caffé je plná zajímavých a šikovných lidí, kteří se nebojí
            svoje zkušenosti předat dál. Mezi tématy najdete programování, moderní technologie, blockchain, cestování,
            design a mnoho dalšího.</p>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <h2>Přečtěte si, o&nbsp;čem přednášíme</h2>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
          <img src="/images/presentation1.svg">
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
          <img src="/images/presentation2.svg">
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
          <img src="/images/presentation3.svg">
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <a href="">Další témata...</a>
        </div>
      </div>
    </div>
  </section>
</main>


<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner poster">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
      <a href="https://www.facebook.com/events/294980417665663/">
        <img alt="TopMonks Caffè - Conference Minutes" src="/images/posters-small/empty.png">
      </a>>
    </div>

    <div id="actual-sessions" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 sessionInfo">
      <h3>Conference Minutes</h3>
      <time>2. listopadu 2017, 19.00</time>
      <br>
      <a href="https://goo.gl/maps/TiqAbr4sRTB2" title="Zobrazit na mapě">Loft N8, Nekázanka 8, Praha 1</a>
      <div class="lecturers">
        Tomáš Záluský<br> Lumír Mrkva<br> Aleš Roubíček<br>
      </div>

      <p>
        Akce je veřejná, je však třeba se přihlásit přes meetup.com
      </p>
      <div class="link">
        <a href="https://www.meetup.com/TopMonks-Caffe/" title="Zaregistrovat se na akci přes Meetup.com">
          <img alt="Registrovat se" src="/images/caffe/caffe-register-btn.png">
        </a>
      </div>
    </div>
  </div>
</div>


<div id="about-caffe" class="aboutTitle mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h2>O co se jedná?</h2>
    </div>
  </div>
</div>

<section class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <p>
        Na programu je vždy přednáška nebo praktická ukázka spjatá s&nbsp;některým z&nbsp;témat našeho oboru či zájmu.
        Někdy bývá
        příspěvků hned několik. A&nbsp;někdy souvisí s&nbsp;oblastí IT jenom volně. Naše
        <em>„kaféčka“</em>, jak jim přezdíváme, totiž nejsou žádná sešněrovaná večerní školení. Je to přátelský
        a neformální prostor pro svobodnou výměnu myšlenek.
      </p>
      <p>
        Témata <a href="#previous-sessions">předchozích setkání</a>.
      </p>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <p>
        TopMonks Caffè je ovšem především akce velmi příjemná. Příspěvky budete sledovat v&nbsp;prostředí útulné
        kavárny, k&nbsp;poslechu
        si můžete objednat pivo nebo třeba vodní dýmku. Celému setkání vládne přátelská atmosféra a dobrá
        nálada, nechybí ani humor. Nikdo se nemusí bát přihlásit se, zeptat či vyjádřit svůj&nbsp;názor.
      </p>
      <p>
        Je to zkrátka ideální příležitost, abyste se seznámili nejen s&nbsp;novými tématy a podněty, ale zejména s&nbsp;novými
        lidmi&nbsp;—
        kolegy z&nbsp;oboru. Připojte se k&nbsp;nám a nechte se inspirovat: Rádi vás na TopMonks Caffè uvidíme!
      </p>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <p>
        Nezapomeňte — TopMonks Caffè se koná <b>každý první čtvrtek v&nbsp;měsíci od&nbsp;19.00 v&nbsp;kavárně Loft
        N8</b>.
        A registrujte se, prosím, včas, kapacita je omezená a&nbsp;rychle se plní. Sledujte nás na
        <a href="https://cs-cz.facebook.com/topmonks/">Facebooku</a> a
        <a href="https://twitter.com/topmonks">Twitteru</a>.
      </p>
    </div>
  </div>
</section>

<div id="previous-sessions" class="historyTitle mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h2>Předchozí setkání</h2>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/2004956993116250/">
        <img alt="TopMonks Caffè - TopMonks Startup Studio" src="/images/posters-small/empty.png">
      </a>
      <h4>Startup Studio</h4>
      <p>
        <time>12. října 2017</time>
      </p>
      <div class="lecturer">
        Jiří Fabián<br> Jiří Pénzeš<br>
      </div>
      <div class="link">
        <a href="https://youtu.be/8CWSuWSwtFU">Video záznam</a>
      </div>
    </div>

    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/2033039536927367/">
        <img alt="TopMonks Caffè - Aplikace Blokchainu - měny, ICO a dalši projekty"
             src="/images/posters-small/2017-09-07.png">
      </a>
      <h4>Aplikace Blokchainu</h4>
      <p>
        <time>7. září 2017</time>
      </p>
      <div class="lecturer">
        Jiří Fabián<br> Josef Tětek<br> Peter Dendis<br> Josef Jelacic<br>
      </div>
      <div class="link">
        <a href="https://youtu.be/l0VFnTJhlyE">Video záznam</a>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/421419548252216/">
        <img alt="TopMonks Caffè - REPL Driven Development" src="/images/posters-small/2017-08-03.jpg">
      </a>
      <h4>REPL Driven Development</h4>
      <p>
        <time>3. srpna 2017</time>
      </p>
      <div class="lecturer">
        Aleš Roubíček<br> Daria Nováková<br> Jan Břešťan<br>
      </div>
      <div class="link">
        <a href="https://youtu.be/xQZRvn7CdCE">Video záznam</a>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/114481429162494/">
        <img alt="TopMonks Caffè - Docker Swarm" src="/images/posters-small/2017-07-13.jpg">
      </a>
      <h4>Docker Swarm</h4>
      <p>
        <time>13. července 2017</time>
      </p>
      <div class="lecturer">
        Lumír Mrkva<br> Pavol Noha<br> Jirka Pénzeš<br>
      </div>
      <div class="link">
        <a href="https://youtu.be/8QZZkvLy_L0">Video záznam</a>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/1783979718581192/">
        <img alt="TopMonks Caffè - “This is how we do it&quot; aneb co se vaří v naší kuchyni."
             src="/images/posters-small/2017-06-08.jpg">
      </a>
      <h4>Naše startupy</h4>
      <p>
        <time>8. června 2017</time>
      </p>
      <div class="lecturer">
        Jan Fabián<br> Dan Hromada<br> Lea Petrášová<br> Peter Varga<br>
      </div>
      <div class="link">
        <a href="https://youtu.be/K2EwjyBSCPk">Video záznam</a>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/1979565328931052/">
        <img alt="TopMonks Caffè - Budoucnost práce" src="/images/posters-small/2017-05-04.jpg">
      </a>
      <h4>Budoucnost práce</h4>
      <p>
        <time>4. května 2017</time>
      </p>
      <div class="lecturer">
        Jirka Pénzeš<br> Aleš Roubíček<br> Ján Lopušek<br>
      </div>
      <div class="link">
        <a href="https://youtu.be/Yf8V-4wJ3r4">Video záznam</a>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/1618556358158831/">
        <img alt="TopMonks Caffè - Java is !dead" src="/images/posters-small/2017-04-06.jpg">
      </a>
      <h4>Java is !dead</h4>
      <p>
        <time>6. dubna 2017</time>
      </p>
      <div class="lecturer">
        Albert Šputa<br> Tomáš Záluský<br> Karel Štefan<br>
      </div>
      <div class="link">
        <a href="https://youtu.be/rGqfrz_KVPM">Video záznam</a>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/1377327419000742/">
        <img alt="TopMonks Caffè - Making Apps Accessible" src="/images/posters-small/2017-03-02.jpg">
      </a>
      <h4>Making Apps Accessible</h4>
      <p>
        <time>2. března 2017</time>
      </p>
      <div class="lecturer">
        Dan Hromada<br> Radek Jakl<br> Tomáš Franěk<br>
      </div>
      <div class="link">
        <a href="https://youtu.be/ZflmL9NIVcE">Video záznam</a>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/339046369810983/">
        <img alt="TopMonks Caffè - Startup Evening" src="/images/posters-small/2017-02-02.jpg">
      </a>
      <h4>Startup Evening</h4>
      <p>
        <time>2. února 2017</time>
      </p>
      <div class="lecturer">
        Andrej Kiska<br> Cedric Maloux<br> Jiří Fabián<br>
      </div>
      <div class="link">
        <a href="https://youtu.be/mya_r1ymmc4">Video záznam</a>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/1870587983162920/">
        <img alt="TopMonks Caffè - Matematické hádanky" src="/images/posters-small/2017-01-12.jpg">
      </a>
      <h4>Matematické hádanky</h4>
      <p>
        <time>12. ledna 2017</time>
      </p>
      <div class="lecturer">
        Tomáš Bouda<br> Daria Nováková<br>
      </div>
      <div class="link">
        <a href="https://youtu.be/lm0aCWqs3g0">Video záznam</a>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/1117502861681725/">
        <img alt="TopMonks Caffè - Nejen API" src="/images/posters-small/2016-12-01.jpg">
      </a>
      <h4>Nejen API</h4>
      <p>
        <time>1. prosince 2016</time>
      </p>
      <div class="lecturer">
        Jirka Pénzeš<br> Michal Nikodím<br> Jaroslav Holaň<br> Lumír Mrkva<br> Martin Malinda<br> Karel Štefan
        <br>
      </div>
      <div class="link">
        <a href="https://youtu.be/qqn8KL79ymA">Video záznam</a>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/1625407951093453/">
        <img alt="TopMonks Caffè - Máchale, spadlo&nbsp;ti&nbsp;to…" src="/images/posters-small/2016-11-03.jpg">
      </a>
      <h4>Máchale, spadlo&nbsp;ti&nbsp;to…</h4>
      <p>
        <time>3. listopadu 2016</time>
      </p>
      <div class="lecturer">
        Anna Kovácsová<br> Marcel Veselka<br> Roman Provazník<br>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/1094882887298798/">
        <img alt="TopMonks Caffè - React.js" src="/images/posters-small/2016-10-06.jpg">
      </a>
      <h4>React.js</h4>
      <p>
        <time>6. října 2016</time>
      </p>
      <div class="lecturer">
        Antonín Hackenberg<br> Daniel Steigerwald<br> Aleš Roubíček<br>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/1759865687558801/">
        <img alt="TopMonks Caffè - Relokace a práce v zaharaničí - &quot;O životě v USA&quot;"
             src="/images/posters-small/2016-09-08.jpg">
      </a>
      <h4>Relokace a&nbsp;práce v&nbsp;zaharaničí</h4>
      <p>
        <time>8. září 2016</time>
      </p>
      <div class="lecturer">
        Jan Houstek<br> Zuzana Roubíčková<br> Jan Jůna<br>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/1776410759239937/">
        <img alt="TopMonks Caffè - Networking - &quot;Zážitek je král&quot;" src="/images/posters-small/2016-08-04.jpg">
      </a>
      <h4>Networking</h4>
      <p>
        <time>4. srpna 2016</time>
      </p>
      <div class="lecturer">
        Svatava Kotyzová<br> Petr Krejčí<br> Jan Staněk<br>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/1727860000828068/">
        <img alt="TopMonks Caffè - Firemní kulturu nelze vytvořit. Ona však vytváří nás. Jakou roli v tom hraje značka?"
             src="/images/posters-small/2016-07-14.jpg">
      </a>
      <h4>Firemní kulturu nelze vytvořit</h4>
      <p>
        <time>14. července 2016</time>
      </p>
      <div class="lecturer">
        Tomáš Hrivnák<br>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/220111015042859/">
        <img alt="TopMonks Caffè - Unlock your achievement - Herní principy, gamifikace a proč hrát hry"
             src="/images/posters-small/2016-06-02.jpg">
      </a>
      <h4>Unlock your achievement</h4>
      <p>
        <time>2. června 2016</time>
      </p>
      <div class="lecturer">
        Radek Jakl<br> Jaroslav Holaň<br> Vít Miština<br>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/1696943837223749/">
        <img alt="TopMonks Caffè - The change - Future of work" src="/images/posters-small/2016-05-05.jpg">
      </a>
      <h4>The change: Future of work</h4>
      <p>
        <time>5. května 2016</time>
      </p>
      <div class="lecturer">
        Jiří Fabián<br> Jaroslav Holaň<br> Vít Miština<br> Jirka Pénzeš<br>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/1669682529959216/">
        <img
          alt="TopMonks Caffè - Nástroje pro generování statických webových stránek… aneb příběh ze života Pražského fotografa"
          src="/images/posters-small/2016-04-07.jpg">
      </a>
      <h4>Generování statických webů</h4>
      <p>
        <time>7. dubna 2016</time>
      </p>
      <div class="lecturer">
        Jiří Píša<br>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/1242038059158318/">
        <img alt="TopMonks Caffè - Continuous delivery v&nbsp;Dockeru" src="/images/posters-small/2016-03-03.jpg">
      </a>
      <h4>Continuous delivery v&nbsp;Dockeru</h4>
      <p>
        <time>3. března 2016</time>
      </p>
      <div class="lecturer">
        Aleš Roubíček<br> Michal Augustýn<br> Martin Podval<br>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/168610583509161/">
        <img alt="TopMonks Caffè - Digitální nomádství doma i v zahraničí" src="/images/posters-small/2016-02-04.jpg">
      </a>
      <h4>Digitální nomádství</h4>
      <p>
        <time>4. února 2016</time>
      </p>
      <div class="lecturer">
        Antonín Hackenberg<br> Jiří Pénzeš<br>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/1065643610166410/">
        <img alt="TopMonks Caffè - Bitcoin změní svět peněz, blockchain změní svět"
             src="/images/posters-small/2016-01-07.jpg">
      </a>
      <h4>Bitcoin: Přichází změna</h4>
      <p>
        <time>7. ledna 2016</time>
      </p>
      <div class="lecturer">
        Karel Fillner<br>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/1700237473553933/">
        <img alt="TopMonks Caffè - Tiskneme 3D. Opravdový tisk, opravdová akce!"
             src="/images/posters-small/2015-12-03.jpg">
      </a>
      <h4>Tiskneme 3D</h4>
      <p>
        <time>3. prosince 2015</time>
      </p>
      <div class="lecturer">
        Petr Kovács<br> Marek Duciuc<br>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/525022064321121/">
        <img alt="TopMonks Caffè - Hrajeme si s roboty Lego Mindstorms" src="/images/posters-small/2015-11-05.jpg">
      </a>
      <h4>Hrajeme si s&nbsp;roboty Lego&nbsp;Mindstorms</h4>
      <p>
        <time>5. listopadu 2015</time>
      </p>
      <div class="lecturer">
        Jiří Píša<br>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/1638276743084700/">
        <img alt="TopMonks Caffè - Okénko do světa umělé inteligence" src="/images/posters-small/2015-10-01.jpg">
      </a>
      <h4>Okénko do světa umělé inteligence</h4>
      <p>
        <time>1. října 2015</time>
      </p>
      <div class="lecturer">
        Jirka Pénzeš<br> Martin Mariška<br> Tomáš Bouda<br>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/802086283242563/">
        <img alt="TopMonks Caffè - Vydáváme vlastní knihu" src="/images/posters-small/2015-09-03.jpg">
      </a>
      <h4>Vydáváme vlastní knihu</h4>
      <p>
        <time>3. září 2015</time>
      </p>
      <div class="lecturer">
        Jaroslav Holaň<br> Jana Volencová<br> Borek Bernard<br>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/1027151377304347/">
        <img alt="TopMonks Caffè - Story Telling pro nevypravěče" src="/images/posters-small/2015-08-06.jpg">
      </a>
      <h4>Story Telling pro nevypravěče</h4>
      <p>
        <time>6. srpna 2015</time>
      </p>
      <div class="lecturer">
        Vít Miština<br> Jiří Fabián<br>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/1444296539224478/">
        <img alt="TopMonks Caffè - Mobile friendly development" src="/images/posters-small/2015-07-02.jpg">
      </a>
      <h4>Mobile friendly development</h4>
      <p>
        <time>2. července 2015</time>
      </p>
      <div class="lecturer">
        Robert Vojta<br> Aleš Roubíček<br>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <a href="https://www.facebook.com/events/369084113294005/">
        <img alt="TopMonks Caffè - Jak si ochočit klienta" src="/images/posters-small/2015-06-04.jpg">
      </a>
      <h4>Jak si ochočit klienta</h4>
      <p>
        <time>4. června 2015</time>
      </p>
      <div class="lecturer">
        Jiří Kratochvíl<br> Petr Pospíchal<br>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <div class="history">
        <a href="https://www.facebook.com/events/1578142242444167/">
          <img alt="TopMonks Caffè - Elasticsearch prakticky" src="/images/posters-small/2015-05-07.jpg">
        </a>
        <h4>Elasticsearch prakticky</h4>
        <p>
          <time>7. května 2015</time>
        </p>
        <div class="lecturer">
          Lumír Mrkva<br>
        </div>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <div class="history">
        <a href="https://www.facebook.com/events/811162862296021/">
          <img alt="TopMonks Caffè - Automatizace a&nbsp;virtualizace vývojového prostředí"
               src="/images/posters-small/2015-04-02.jpg">
        </a>
        <h4>Automatizace a&nbsp;virtualizace</h4>
        <p>
          <time>2. dubna 2015</time>
        </p>
        <div class="lecturer">
          Jiří Píša<br>
        </div>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <div class="history">
        <a href="https://www.facebook.com/events/346588935524951/">
          <img alt="TopMonks Caffè - Build webových aplikací" src="/images/posters-small/2015-03-05.jpg">
        </a>
        <h4>Build webových aplikací</h4>
        <p>
          <time>5. března 2015</time>
        </p>
        <div class="lecturer">
          Miroslav „Juhy“ Juhos<br>
        </div>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <div class="history">
        <a href="https://www.facebook.com/events/804734709601656/">
          <img alt="TopMonks Caffè - Funkcionální programování a&nbsp;Clojure"
               src="/images/posters-small/2015-02-05.jpg">
        </a>
        <h4>Funkcionální programování a&nbsp;Clojure</h4>
        <p>
          <time>5. února 2015</time>
        </p>
        <div class="lecturer">
          Aleš Roubíček<br> Marian Schubert<br> Jirka Pénzeš<br> Dan Škarda<br>
        </div>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <div class="history">
        <a href="https://www.facebook.com/events/398423286978982/">
          <img alt="TopMonks Caffè - Hrátky s&nbsp;Dockerem" src="/images/posters-small/2015-01-08.jpg">
        </a>
        <h4>Hrátky s&nbsp;Dockerem</h4>
        <p>
          <time>8. ledna 2015</time>
        </p>
        <div class="lecturer">
          Jiří „Filemon“ Fabián<br>
        </div>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <div class="history">
        <a href="https://www.facebook.com/events/750495971665715/">
          <img alt="TopMonks Caffè - Grafický design pro vývojáře" src="/images/posters-small/2014-12-04.jpg">
        </a>
        <h4>Grafický design pro vývojáře</h4>
        <p>
          <time>4. prosince 2014</time>
        </p>
        <div class="lecturer">
          Miroslav „Juhy“ Juhos<br>
        </div>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <div class="history">
        <a href="https://www.facebook.com/events/548987865201810/">
          <img alt="TopMonks Caffè - Node for (crash test) dummies" src="/images/posters-small/2014-11-06.jpg">
        </a>
        <h4>Node for dummies</h4>
        <p>
          <time>6. listopadu 2014</time>
        </p>
        <div class="lecturer">
          Jan Jůna<br>
        </div>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 history">
      <div class="history">
        <a href="https://www.facebook.com/events/393222227494620/">
          <img alt="TopMonks Caffè - Meteor za hodinu" src="/images/posters-small/2014-10-02.jpg">
        </a>
        <h4>Meteor za hodinu</h4>
        <p>
          <time>2. října 2014</time>
        </p>
        <div class="lecturer">
          Lumír Mrkva<br>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
