.hm-section-features {
  p {
    color: var(--hm-grey);
  }
};

.hm-section-features__feature {
  display: flex;
  .material-icons {
    display: block;
    margin: 2em 1em 0 0;
    color: var(--hm-violet);
    svg {
      width: 36px;
      height: 36px;
    }
  }
}
