.hm-section-features {
  p {
    color: var(--hm-grey);
  }
};

.hm-section-features__feature {
  display: flex;
  .material-icons {
    display: block;
    margin: 2em 1em 0 0;
    color: var(--hm-violet);
    svg {
      width: 36px;
      height: 36px;
    }
  }
}

.hm-section-products {
  max-width: 1010px;
}

.hm-section-apps {
  background-color: #EEEEEE;
  overflow: hidden;
}
.hm-img--lounge-app {
  @media screen and (max-width: 478px) {
    width: 478px;
    height: 345px;
    background-size: 478px 345px;
    background-repeat: no-repeat;
    background-image: cloudinaryUrl(
        "hookamonk.com/img_lounge_app.png",
        (
          "width": 478
        )
    );
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: cloudinaryUrl(
          "hookamonk.com/img_lounge_app.png",
          (
            "width": 478,
            "dpr": 2
          )
      );
    }
  }
  @media screen and (min-width: 479px) {
    width: 1157px;
    height: 834px;
    background-size: 1157px 834px;
    background-repeat: no-repeat;
    background-image: cloudinaryUrl(
        "hookamonk.com/img_lounge_app.png",
        (
          "width": 1157
        )
    );
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: cloudinaryUrl(
          "hookamonk.com/img_lounge_app.png",
          (
            "width": 1157,
            "dpr": 2
          )
      );
    }
  }
}
