.hm-hero {
  color: var(--hm-white);
  text-align: center;
}
.hm-hero__header {
  padding-top: 10vh;
  font-size: 4em;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  @media screen and (max-width: 839px) {
    font-size: 3em;
  }
}
.hm-hero__sub-header {
  font-size: 1.556em;
  margin-bottom: 2em;
}
