@import "../../node_modules/@material/layout-grid/mdc-layout-grid";
@import "common/colors";

:root {
  --mdc-layout-grid-margin-desktop: 24px;
  --mdc-layout-grid-gutter-desktop: 20px;
  --mdc-layout-grid-column-width-desktop: 60px;

  --primary-color: #000000;
  --secondary-color: #E25822;
  --third-color: #ffff;
}

.tm-layout-wrapper {
  max-width: 1200px;
  margin: 0 auto;

  --mdc-layout-grid-margin-desktop: 0;
  --mdc-layout-grid-margin-tablet: 24px;
  --mdc-layout-grid-margin-phone: 24px;
}

body {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-variant: normal;
  font-style: normal;
  color: var(--primary-color);
  margin: 0 auto;
  line-height: 1.5;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('./fonts/CenturyGothicStd/3099F9_2_0.eot');
  src: url('./fonts/CenturyGothicStd/3099F9_2_0.eot?#iefix') format('embedded-opentype'),
  url('./fonts/CenturyGothicStd/3099F9_2_0.woff2') format('woff2'),
  url('./fonts/CenturyGothicStd/3099F9_2_0.woff') format('woff'),
  url('./fonts/CenturyGothicStd/3099F9_2_0.ttf') format('truetype');
  font-weight: 400;
}


@font-face {
  font-family: 'CenturyGothicBold';
  src: url('./fonts/CenturyGothicBold/3099F9_2_0.eot');
  src: url('./fonts/CenturyGothicBold/3099F9_2_0.eot?#iefix') format('embedded-opentype'),
  url('./fonts/CenturyGothicBold/3099F9_2_0.woff2') format('woff2'),
  url('./fonts/CenturyGothicBold/3099F9_2_0.woff') format('woff'),
  url('./fonts/CenturyGothicBold/3099F9_2_0.ttf') format('truetype');
  font-weight: 700;
}

header {
  margin: 2em 0;
}

/* Typography */

h1 {
  font-size: 70px;
  text-align: center;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
}

h3 {
  font-size: 30px;
  padding: 8px 0 8px 12px;
}

p {
  font-size: 18px;
}

p.sub-text {
  font-size: 24px;
  text-align: center;
  margin-top: 0;
}

p.text-bold {
  font-weight: bold;
}

footer {
  font-size: 15px;

  h3 {
    font-weight: bold;
  }
}

img {
  width: 100%;
}

/* Buttons */

.button {
  text-align: center;

  a.button {
    font-size: 18px;
    color: var(--third-color);
    background-color: var(--secondary-color);
    padding: 12px 48px;
    text-align: center;
    display: inline-flex;
    text-decoration: none;
  }
}

body {
  background: url("https://res.cloudinary.com/topmonks/image/upload/c_scale,h_835/v1543851209/hookamonk.com/Main_bgnd.png") no-repeat;
  background-size: auto;
}

@media screen and (min-width: 840px) {
  section {
    padding: 2em 0;
  }
  body {
    background-size: 100% 835px;
  }
  #products {
    .button a.button {
      position: absolute;
    }

    .products_sub-title h3 {
      text-align: right;
    }
  }
}

li {
  list-style: none;
  margin: 0;

  a {
    text-decoration: none;
    text-underline: none;
  }

  a:hover {
    font-weight: 900;
  }
}

/* Navigation Menu */

ul.menu {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0;

  li a {
    display: inline-block;
    padding: 4px 8px;
    color: var(--primary-color);
  }

  a:hover {
    text-underline: var(--secondary-color);
  }
}

/* Revolution section */
#revolution {
  background: url("https://res.cloudinary.com/topmonks/image/upload/v1544004582/hookamonk.com/smoke-png-transparent-background-2.png") center no-repeat;
  background-size: 100%;

  .revolution_text:before {
    content: "";
    display: inline-block;
    background: url("/images/check.svg") no-repeat;
    width: 50px;
    height: 51px;
    padding-right: 2em;
  }

  .revolution_side-text {
    align-self: center;

    p {
      display: inline-flex;
    }
  }
}

/* Products section */
#products {
  background: url("https://res.cloudinary.com/topmonks/image/upload/v1543851209/hookamonk.com/Main_bgnd.png") no-repeat;
  background-size: 100% 100%;

  h3 {
    border-left: 4px solid var(--secondary-color);
  }

  .products_text {
    align-self: center;
  }

  .button a.button {
    padding: 12px 90px;
  }

  .products_text_management .button a {
    margin: 0 2%;
  }

  .products_text_pipe .button a {
    margin: 0 -18%;
  }
}

/* Services section */
#services {
  h3 {
    text-align: center;
  }

  .services_box {
    border: 2px solid #E5E5E5;
    text-align: center;
    padding: 24px;
  }

  .serivces_box_info {
    p {
      font-size: 24px;
    }

    p.serivces_box_bold {
      font-size: 60px;
      font-weight: 700;
      margin: 0 auto;
    }
  }
}


/* Footer */
footer {
  background: url("https://res.cloudinary.com/topmonks/image/upload/v1543849049/hookamonk.com/footer_bgnd.png") no-repeat;
  background-size: 100%;

  h3, ul {
    padding-left: 0;
  }

  h3 {
    font-size: 16px;
    color: #111111;
  }

  a {
    font-size: 15px;
    color: var(--primary-color);
    text-decoration: none;
  }

  .logo {
    text-align: center;
    margin: 3em 0;
  }

  .footer_social-section {
    border-top: 1px solid #DCDCDC;
    align-self: center;
    margin: 24px 0;

    p {
      font-size: 15px;
      color: #270202;
      text-align: right;
    }

    a {
      padding: 6px;
    }

    .social-buttons {
      align-self: center;
    }
  }
}

@media (max-width: 840px) {
  footer, #products {
    background: url(https://res.cloudinary.com/topmonks/image/upload/v1543849049/hookamonk.com/footer_bgnd.png);
    background-size: 100%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 48px;
  }
  header svg {
    width: 125px;
    height: 32px;
  }

  #products {
    h3 {
      text-align: center;
      border-left: none;
    }
    .button a.button {
      position: inherit;
    }
  }
  footer {
    h3, .footer_social-section p {
      text-align: left;
    }
  }
}




