:root {
  --hm-black: #000000;
  --hm-white: #ffffff;
}

body {
  color: var(--hm-black);
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  font: 18px/1.25 "Work Sans", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-kerning: normal;
  font-variant-numeric: lining-nums slashed-zero;
  font-variant-ligatures: common-ligatures contextual;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

a {
  text-decoration: none;
  color: #502CCC;
  &:hover{
    text-decoration: underline;
  }
}

ul,
ul li {
  padding: 0;
}

ul {
  margin: 1em 0;
}

ul li {
  list-style: none;
  margin: 0;
}
