{% extends 'layouts/master.html' %}
{% block title %}Hlídač shopů{% endblock %}
{% from 'layouts/helpers.html' import sprite %}

{% block main %}
<section class="main">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner layout-wrapper">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-8-desktop">
        <h1>Ujistěte se, že nakupujete opravdu se slevou</h1>
        <form id="contact-form">
          <p>Není sleva jako sleva. Někdy obchody těsně před vlnou slev uměle
            navyšují původní ceny, aby konečná sleva působila výhodně. Hlídač
            Shopů vám zobrazí původní cenu produktu a její vývoj v&nbsp;čase, takže
            díky němu snadno poznáte, jestli nakupujete se slevou nebo&nbsp;ne.</p>
          <div class="email-input">
            <label>
              <input type="url" name="url" placeholder="Zde si můžete ověřit odkaz vašeho produktu&hellip;">
              <button>OVĚŘIT VÝVOJ CENY</button>
            </label>
          </div>
          <!--
          <div class="alert alert--error alert--hidden">
            <span class="closebtn" onclick="this.parentElement.style.display=quot;none&quot;">×</span>
            A&nbsp;sakra! Něco je fakt špatně.
          </div>
          <div class="alert alert--success alert--hidden">
            <span class="closebtn" onclick="this.parentElement.style.display=quot;none&quot;">×</span>
            Váš e-mail sme si odložili. Ozveme sa.
          </div>-->

          <h2 class="sub-title">AKTUÁLNĚ MONITORUJEME TYTO ESHOPY</h2>
          <div class="logos mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <a href="https://www.alza.cz/">
              {{sprite('alza_logo', '[logo] Alza')}}
<!--              <img alt="Barevné Logo Alza.cz" src="/images/logos/alza_logo.svg" height="24">-->
            </a>
            <a href="https://www.czc.cz/">
              {{sprite('czc.cz_logo', '[logo] CZC')}}
<!--              <img alt="Barevné Logo CZC.cz" src="/images/logos/czc.cz_logo.svg">-->
            </a>
            <a href="https://www.datart.cz/">
              {{sprite('datart_logo', '[logo] Datart')}}
<!--              <img alt="Barevné Logo Datart" src="/images/logos/datart_logo.svg">-->
            </a>
            <a href="https://www.itesco.cz/">
              {{sprite('tesco_logo', '[logo] Tesco')}}
<!--              <img alt="Barevné Logo Tesco" src="/images/logos/tesco_logo.svg">-->
            </a>
            <a href="https://www.kasa.cz/">
              {{sprite('kasa-logo', '[logo] kasa.cz')}}
<!--              <img alt="Barevné Logo Kasa.cz" src="/images/logos/kasa_logo.svg">-->
            </a>
            <a href="https://www.kosik.cz/">
              {{sprite('kosik_logo', '[logo] kosik.cz')}}
<!--              <img alt="Barevné Logo Košík.cz" src="/images/logos/kosik_logo.svg">-->
            </a>
            <a href="https://www.lekarna.cz/">
              {{sprite('lekarna_logo', '[logo] lekarna.cz')}}
<!--              <img alt="Barevné Logo Lékárna.cz" src="/images/logos/lekarna_logo.svg">-->
            </a>
            <a href="https://www.mountfield.cz/">
              {{sprite('mountfield-logo', '[logo] Mountfield')}}
<!--              <img alt="Barevné Logo Mountfield" src="/images/logos/mountfield_logo.svg">-->
            </a>
            <a href="https://www.notino.cz/">
              {{sprite('notino_logo', '[logo] Notino')}}
<!--              <img alt="Barevné Logo Notino" src="/images/logos/notino_logo.svg">-->
            </a>
            <a href="https://www.rohlik.cz/">
              {{sprite('rohlik_logo', '[logo] rohlik.cz')}}
<!--              <img alt="Barevné Logo Rohlik.cz" src="/images/logos/rohlik_logo.svg">-->
            </a>
            <a href="https://www.tsbohemia.cz/">
              {{sprite('tsbohemia_logo', '[logo] TSBohemia')}}
<!--              <img alt="Barevné Logo TSBohemia"  src="/images/logos/tsbohemia_logo.svg">-->
            </a>
            <a href="https://www.mironet.cz/">
              <img class="shops" alt="Barevné Logo Mironet" src="/images/logos/mironet-logo.svg">
            </a>
            <a href="https://www.mall.cz/">
              {{sprite('mall_logo', '[logo] mall.cz')}}
<!--              <img alt="Barevné Logo Mall.cz" src="/images/logos/mall_logo.svg">-->
            </a>
          </div>
        </form>
      </div>
      <div
        class="main-bgnd mdc-layout-grid__cell mdc-layout-grid__cell--span-2-tablet">
        <img alt="Hlídač Shopů - Ukázka"
             src="https://res.cloudinary.com/topmonks/image/upload/dpr_auto,q_auto,f_auto/v1572271246/www.hlidacshopu.cz/porovnani-cen.svg"
             width="480px">
      </div>
    </div>
  </div>
  <script type="module">
    const form = document.querySelector("#contact-form");
    form.addEventListener("submit", async function(e) {
      e.preventDefault();
      const email = e.target["EMAIL"].value;
      const response = await fetch("", { method: "POST", mode: "no-cors", body: JSON.stringify({ email }) });
      if (response.statusCode == 200) {
        form.querySelector(".alert--error").classList.remove("alert--hidden");
      } else {
        form.querySelector(".alert--success").classList.remove("alert--hidden");
      }
    });
  </script>
</section>
<section class="attendant">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner layout-wrapper">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-12">
        <h2 class="sub-title">HLÍDAČ SHOPŮ VÁM PŘINÁŠÍ</h2>
        <div class="logos">
          <img src="/images/logos/topmonks_logo.svg" alt="TopMonks Logo" width="180">
          <img src="/images/logos/apify_logo.svg" alt="Apify Logo" width="180">
          <img src="/images/logos/keboola_logo.svg" alt="Keboola Logo" width="180">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="illustration">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner layout-wrapper">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>Jak Hlídač Shopů vypadá a jak číst graf?</h2>
        <img alt="Jak Hlídač Shopů vypadá a jak číst graf?"
             src="https://res.cloudinary.com/topmonks/image/upload/dpr_auto,q_auto,f_auto/v1572120642/www.hlidacshopu.cz/second-bgnd.jpg"
             width="784">
        <p>Hlídač Shopů si můžete <b>nainstalovat přímo do svého prohlížeče</b> a
          hlídat tak největší e-shopy a jejich někdy prapodivné taktiky při
          tvoření&nbsp;slev.</p>
      </div>
    </div>
  </div>
</section>

<section class="guidance">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner layout-wrapper">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>Jak a proč nainstalovat rozšíření Hlídač Shopů?</h2>
      </div>
      <div
        class="browser-support mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <img src="/images/google_icon.svg" alt="Barevná ikona prohlížeče Google Chrome">
        <p class="sub-info--grey">Podporujeme<br>Chrome prohlížeč</p>
        <img src="/images/firefox_icon.jpg" alt="Barevná ikona prohlížeče FireFox">
        <p class="sub-info--grey">Brzy podpora pro<br>Firefox prohlížeč</p>
        <img src="/images/brave_icon.svg" alt="Šedá ikona prohlížeče Brave">
        <p class="sub-info--grey">Brzy podpora pro<br>Brave prohlížeč</p>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <h3>Instalace Hlídače Shopů do prohlížeče</h3>
        <p>Aktuálně si můžete Hlídače Shopů nainstalovat pouze do Chromu a
          Firefoxu. Pokud Chrome a Firefox nepoužíváte, vydržte. Usilovně makáme na
          verzích rozšíření Hlídače Shopů i&nbsp;pro další prohlížeče.</p>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <h3>Proč byste si měli rozšíření Hlídače Shopů instalovat a jak to vlastně vypadá?</h3>
        <p>Rozšíření v&nbsp;prohlížeči vám umožňuje kontrolovat ceny rovnou na
          stránkách e-shopů. Nemusíte se pracně vracet na tento web s&nbsp;odkazem
          každého produktu, který chcete překontrolovat.</p>
      </div>
      <div class="steps mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h3>Instalace probíhá ve třech jednoduchých krocích</h3>
      </div>


      <div class="step_1 mdc-layout-grid__cell">
        <img
          src="https://res.cloudinary.com/topmonks/image/upload/dpr_auto,q_auto,f_auto/v1572121993/www.hlidacshopu.cz/search.jpg"
          alt="Najít Rozšíření - Obrázkový Průvodce" style="max-width: 342px">
        <h3>Najděte rozšíření v&nbsp;obchodě</h3>
        <p class="grey-text">Přejděte do <b class="text--purple">obchodu Chrome</b> na stránku Hlídače Shopů.</p>
      </div>
      <div class="step_2 mdc-layout-grid__cell">
        <img
          src="https://res.cloudinary.com/topmonks/image/upload/dpr_auto,q_auto,f_auto/v1572121995/www.hlidacshopu.cz/install.jpg"
          alt="Instalovat Rozšíření - Obrázkový Průvodce" style="max-width: 342px">
        <h3>Přidejte si rozšíření do prohlížeče</h3>
        <p class="grey-text">Vpravo nahoře klikněte na tlačítko Přidat do Chromu</p>
      </div>
      <div class="step_3 mdc-layout-grid__cell">
        <img
          src="https://res.cloudinary.com/topmonks/image/upload/dpr_auto,q_auto,f_auto/v1572290612/www.hlidacshopu.cz/usage.jpg"
          alt="Použití Rozšíření - Obrázkový Průvodce" style="max-width: 342px">
        <h3>Potvrďte instalaci rozšíření</h3>
        <p class="grey-text">Poté na vás vyskočí okno, kde potvrdíte přidání do Chromu tlačítkem Přidat rozšíření.</p>
      </div>
      <div class="final-step mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <p><b>A&nbsp;máte hotovo! Skvěle.</b><br>
          Teď už jen stačí přejít do vašeho oblíbeného e-shopu a vesele kontrolovat jeho cenotvorbu.
        </p>
        <div class="btn">
          <a class="button" type="button">Nainstalovat do prohlížeče</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="numbers">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner layout-wrapper">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>Naše čísla</h2>
      </div>
      <div class="mdc-layout-grid__cell">
        <p class="text--grey">Počet stažení</p>
        <p class="numbers">3 800 +</p>
      </div>
      <div class="mdc-layout-grid__cell">
        <p class="text--grey">Počet e-shopů</p>
        <p class="numbers">13 +</p>
      </div>
      <div class="mdc-layout-grid__cell">
        <p class="text--grey">Počet produktů</p>
        <p class="numbers">2 000 000 +</p>
      </div>
    </div>
  </div>
</section>
<section class="references">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner layout-wrapper">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>Co o&nbsp;nás říkají uživatelé</h2>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <span class="text--grey">Marek Sukup</span><br>
            <span class="text--light-grey">10. 12. 2018</span>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <p>Skvělý doplněka a výborný nápad něco takového vytvořit. Clovek si
              tak udelá představu o&nbsp;tom jak funguji slevy a z&nbsp;jake ceny se
              slevuje&nbsp;…</p>
          </div>
        </div>
      </div>

      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <span class="text--grey">Táňa Lálová</span><br>
            <span class="text--light-grey">Mluvčí Mall.cz</span>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <p>Aktivity, jako je například Apify vítáme, protože pomáhají
              zákazníkům s&nbsp;orientací na trhu. Naším cílem je být transparentní a
              umožnit lidem rychle a snadno ověřit uvedenou&nbsp;cenu.</p>
          </div>
        </div>
      </div>

      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <span class="text--grey">Marek Sukup</span><br>
            <span class="text--light-grey">10. 12. 2018</span>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <p>Skvělý doplněka a výborný nápad něco takového vytvořit. Clovek si
              tak udelá představu o&nbsp;tom jak funguji slevy a z&nbsp;jake ceny se
              slevuje&nbsp;…</p>
          </div>
        </div>
      </div>
      <div class="references_link mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <a>Další hodnocení nalezente zde</a>
      </div>
    </div>
  </div>
</section>
<section class="news">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner layout-wrapper">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>Nejzajímavější slevy</h2>
        <img alt="Obrázek nejzajímavějších slev" src="https://res.cloudinary.com/topmonks/image/upload/dpr_auto,q_auto,f_auto/v1572292361/www.hlidacshopu.cz/sales--news.svg" width="722">
      </div>
    </div>
  </div>
</section>
{% endblock %}
