{% extends 'layouts/master.html' %}
{% from 'macros/helpers.html' import sprite %}

{% block title %}Hlídač shopů{% endblock %}

{% block main %}
<section class="main">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner layout-wrapper">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
        <h1>Ujistěte se, že nakupujete opravdu se slevou</h1>
        <form id="compare-form">
          <p>Není sleva jako sleva. Někdy obchody těsně před vlnou slev uměle
            navyšují původní ceny, aby konečná sleva působila výhodně. Hlídač
            Shopů vám zobrazí původní cenu produktu a její vývoj v&nbsp;čase, takže
            díky němu snadno poznáte, jestli nakupujete se slevou nebo&nbsp;ne.</p>

          <label class="url-input">
            <input type="url" name="url" placeholder="Zde si můžete ověřit odkaz vašeho produktu&hellip;">
            <button>OVĚŘIT VÝVOJ CENY</button>
          </label>
        </form>

        <h2 class="sub-title">AKTUÁLNĚ MONITORUJEME TYTO ESHOPY</h2>
        <div class="logos mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <a href="https://www.alza.cz/">{{sprite('alza_logo', '[logo] Alza')}}</a>
          <a href="https://www.czc.cz/">{{sprite('czc.cz_logo', '[logo] CZC')}}</a>
          <a href="https://www.datart.cz/">{{sprite('datart_logo', '[logo] Datart')}}</a>
          <a href="https://www.itesco.cz/">{{sprite('tesco_logo', '[logo] Tesco')}}</a>
          <a href="https://www.kasa.cz/">{{sprite('kasa_logo', '[logo] kasa.cz')}}</a>
          <a href="https://www.kosik.cz/">{{sprite('kosik_logo', '[logo] kosik.cz')}}</a>
          <a href="https://www.lekarna.cz/">{{sprite('lekarna_logo', '[logo] lekarna.cz')}}</a>
          <a href="https://www.mountfield.cz/">{{sprite('mountfield_logo', '[logo] Mountfield')}}</a>
          <a href="https://www.notino.cz/">{{sprite('notino_logo', '[logo] Notino')}}</a>
          <a href="https://www.rohlik.cz/">{{sprite('rohlik_logo', '[logo] rohlik.cz')}}</a>
          <a href="https://www.tsbohemia.cz/">{{sprite('tsbohemia_logo', '[logo] TSBohemia')}}</a>
          <a href="https://www.mironet.cz/">{{sprite('mironet_logo', '[logo] Mironet')}}</a>
          <a href="https://www.mall.cz/">{{sprite('mall_logo', '[logo] mall.cz')}}</a>
        </div>
      </div>
      <div
        class="main-bgnd mdc-layout-grid__cell mdc-layout-grid__cell--span-2-tablet">
        <img alt="Hlídač Shopů - Ukázka"
             src="https://res.cloudinary.com/topmonks/image/upload/dpr_auto,q_auto,f_auto/v1572271246/www.hlidacshopu.cz/porovnani-cen.svg"
             width="480px">
      </div>
    </div>
  </div>
</section>
<section class="attendant">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner layout-wrapper">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-12">
        <h2 class="sub-title">HLÍDAČ SHOPŮ VÁM PŘINÁŠÍ</h2>
        <div class="logos">
          <a href="https://www.topmonks.cz/"><img src="/images/logos/topmonks_logo.svg" alt="TopMonks Logo" width="180"></a>
          <a href="https://apify.com/"><img src="/images/logos/apify_logo.svg" alt="Apify Logo" width="180"></a>
          <a href="https://www.keboola.com/"><img src="/images/logos/keboola_logo.svg" alt="Keboola Logo" width="180"></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="illustration">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner layout-wrapper">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>Jak Hlídač Shopů vypadá a jak číst graf?</h2>
        <img alt="Jak Hlídač Shopů vypadá a jak číst graf?"
             src="https://res.cloudinary.com/topmonks/image/upload/dpr_auto,q_auto,f_auto/v1572120642/www.hlidacshopu.cz/second-bgnd.jpg"
             width="784">
        <p>Hlídač Shopů si můžete <b>nainstalovat přímo do svého prohlížeče</b> a
          hlídat tak největší e-shopy a jejich někdy prapodivné taktiky při
          tvoření&nbsp;slev.</p>
      </div>
    </div>
  </div>
</section>

<section class="guidance">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner layout-wrapper">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>Jak a proč nainstalovat rozšíření Hlídač Shopů?</h2>
      </div>
      <div
        class="browser-support mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <img src="/images/google_icon.svg" alt="Barevná ikona prohlížeče Google Chrome">
        <p class="sub-info--grey">Podporujeme<br>Chrome prohlížeč</p>
        <img src="/images/firefox_icon.jpg" alt="Barevná ikona prohlížeče FireFox">
        <p class="sub-info--grey">Brzy podpora pro<br>Firefox prohlížeč</p>
        <img src="/images/brave_icon.svg" alt="Šedá ikona prohlížeče Brave">
        <p class="sub-info--grey">Brzy podpora pro<br>Brave prohlížeč</p>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <h3>Instalace Hlídače Shopů do prohlížeče</h3>
        <p>Aktuálně si můžete Hlídače Shopů nainstalovat pouze do Chromu a
          Firefoxu. Pokud Chrome a Firefox nepoužíváte, vydržte. Usilovně makáme na
          verzích rozšíření Hlídače Shopů i&nbsp;pro další prohlížeče.</p>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <h3>Proč byste si měli rozšíření Hlídače Shopů instalovat a jak to vlastně vypadá?</h3>
        <p>Rozšíření v&nbsp;prohlížeči vám umožňuje kontrolovat ceny rovnou na
          stránkách e-shopů. Nemusíte se pracně vracet na tento web s&nbsp;odkazem
          každého produktu, který chcete překontrolovat.</p>
      </div>
      <div class="steps mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h3>Instalace probíhá ve třech jednoduchých krocích</h3>
      </div>


      <div class="step_1 mdc-layout-grid__cell">
        <img
          src="https://res.cloudinary.com/topmonks/image/upload/dpr_auto,q_auto,f_auto/v1572121993/www.hlidacshopu.cz/search.jpg"
          alt="Najít Rozšíření - Obrázkový Průvodce" style="max-width: 342px">
        <h3>Najděte rozšíření v&nbsp;obchodě</h3>
        <p class="grey-text">Přejděte do <b class="text--purple">obchodu Chrome</b> na stránku Hlídače Shopů.</p>
      </div>
      <div class="step_2 mdc-layout-grid__cell">
        <img
          src="https://res.cloudinary.com/topmonks/image/upload/dpr_auto,q_auto,f_auto/v1572121995/www.hlidacshopu.cz/install.jpg"
          alt="Instalovat Rozšíření - Obrázkový Průvodce" style="max-width: 342px">
        <h3>Přidejte si rozšíření do prohlížeče</h3>
        <p class="grey-text">Vpravo nahoře klikněte na tlačítko Přidat do Chromu</p>
      </div>
      <div class="step_3 mdc-layout-grid__cell">
        <img
          src="https://res.cloudinary.com/topmonks/image/upload/dpr_auto,q_auto,f_auto/v1572290612/www.hlidacshopu.cz/usage.jpg"
          alt="Použití Rozšíření - Obrázkový Průvodce" style="max-width: 342px">
        <h3>Potvrďte instalaci rozšíření</h3>
        <p class="grey-text">Poté na vás vyskočí okno, kde potvrdíte přidání do Chromu tlačítkem Přidat rozšíření.</p>
      </div>
      <div class="final-step mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <p><b>A&nbsp;máte hotovo! Skvěle.</b><br>
          Teď už jen stačí přejít do vašeho oblíbeného e-shopu a vesele kontrolovat jeho cenotvorbu.
        </p>
        <div class="btn">
          <a class="button" type="button">Nainstalovat do prohlížeče</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="numbers">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner layout-wrapper">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>Naše čísla</h2>
      </div>
      <div class="mdc-layout-grid__cell">
        <p class="text--grey">Počet stažení</p>
        <p class="numbers">3 800 +</p>
      </div>
      <div class="mdc-layout-grid__cell">
        <p class="text--grey">Počet e-shopů</p>
        <p class="numbers">13 +</p>
      </div>
      <div class="mdc-layout-grid__cell">
        <p class="text--grey">Počet produktů</p>
        <p class="numbers">2 000 000 +</p>
      </div>
    </div>
  </div>
</section>
<section class="references">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner layout-wrapper">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>Co o&nbsp;nás říkají uživatelé</h2>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <span class="text--grey">Marek Sukup</span><br>
            <span class="text--light-grey">10. 12. 2018</span>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <p>Skvělý doplněka a výborný nápad něco takového vytvořit. Clovek si
              tak udelá představu o&nbsp;tom jak funguji slevy a z&nbsp;jake ceny se
              slevuje&nbsp;…</p>
          </div>
        </div>
      </div>

      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <span class="text--grey">Táňa Lálová</span><br>
            <span class="text--light-grey">Mluvčí Mall.cz</span>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <p>Aktivity, jako je například Apify vítáme, protože pomáhají
              zákazníkům s&nbsp;orientací na trhu. Naším cílem je být transparentní a
              umožnit lidem rychle a snadno ověřit uvedenou&nbsp;cenu.</p>
          </div>
        </div>
      </div>

      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            <span class="text--grey">Marek Sukup</span><br>
            <span class="text--light-grey">10. 12. 2018</span>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <p>Skvělý doplněka a výborný nápad něco takového vytvořit. Clovek si
              tak udelá představu o&nbsp;tom jak funguji slevy a z&nbsp;jake ceny se
              slevuje&nbsp;…</p>
          </div>
        </div>
      </div>
      <div class="references_link mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <a>Další hodnocení nalezente zde</a>
      </div>
    </div>
  </div>
</section>
<section class="news">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner layout-wrapper">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>Nejzajímavější slevy</h2>
        <img alt="Obrázek nejzajímavějších slev" src="https://res.cloudinary.com/topmonks/image/upload/dpr_auto,q_auto,f_auto/v1572292361/www.hlidacshopu.cz/sales--news.svg" width="722">
      </div>
    </div>
  </div>
</section>
{% endblock %}
