@import "@material/layout-grid/mdc-layout-grid";
@import "common/colors";

:root {
  --grey: #2e2828;
  --dark-grey: #455a64;
  --light-grey: #4f4f4f;
  --sub-info-grey: #979797;
  --sub-title: #515151;
  --purple: #545fef;
  --light-purple: #f7f7ff;
  --red: #ca0505;

  --mdc-layout-grid-margin-desktop: 24px;
  --mdc-layout-grid-gutter-desktop: 20px;
  --mdc-layout-grid-column-width-desktop: 60px;
}

.layout-wrapper {
  max-width: 1008px;
  margin: 0 auto;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;

  &.no-scroll {
    overflow: hidden;
  }
}

header {
  background-color: white;
  height: 60px;
  padding-top: 24px;
  z-index: 10;
  --mdc-layout-grid-margin-desktop: 0;
  --mdc-layout-grid-margin-tablet: 0;
  --mdc-layout-grid-margin-phone: 0;

  .hs_logo {
    display: flex;
  }
  li a {
    color: black;

    &:hover {
      color: var(--purple);
    }
  }

  .app-bar {
    position: fixed;
    width: 100vw;
    z-index: 1000;
    top: 0;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    background-color: var(--tm-white);
  }
}

header,
footer {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// TYPOGRAPHY //
h1 {
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
}

h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  text-align: center;
}

h2.sub-title {
  font-size: 13px;
  font-weight: normal;
  color: var(--sub-title);
  line-height: 16px;
  text-align: left;
  margin-top: 2em;
  text-transform: uppercase;
}

h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

p {
  font-size: 18px;
  color: var(--grey);
  line-height: 28px;
}

hr {
  background-color: #ebeef2;
  border: 1px solid #ebeef2;
}

@media (max-width: 839px) {
  h1 {
    text-align: center;
  }
  h1,
  h2 {
    font-size: 24px;
    line-height: 29px;
  }

  p {
    font-size: 14px;
    color: var(--grey);
    text-align: left;
  }
  .icon svg {
    height: 100%;
  }
}

.btn {
  text-align: center;

  a {
    font-size: 15px;
    color: #ffffff;
    background-color: var(--purple);
    padding: 14px 48px;
    text-transform: uppercase;
    border-radius: 8px;
    text-decoration: none;

    &:hover {
      background-color: #3a42a0;
    }

    @media (max-width: 739px) {
      font-size: 13px;
      padding: 14px 24px;
      margin: 24px auto;
    }
  }
}

.text--grey {
  font-size: 16px;
  color: var(--grey);
  text-align: center;
  text-transform: uppercase;
}

.text--dark-grey {
  font-size: 13px;
  color: var(--dark-grey);
  line-height: 16px;
  text-transform: uppercase;
}

.text--light-grey {
  font-size: 14px;
  color: var(--light-grey);
}

.sub-info--grey {
  font-size: 13px;
  color: var(--sub-info-grey);
  line-height: 20px;
}

.text--purple {
  color: var(--purple);
}

// HEADER //

header {
  nav {
    float: right;
  }

  .menu--horizontal .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 0;
  }

  ul li {
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0 14px;
    list-style: none;
    display: -ms-inline-flexbox;
    display: inline-flex;

    &:hover {
      color: var(--purple);
    }
  }
}

.logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0.5em 0;

  a {
    height: 40px;
    line-height: 40px;
    margin: 0 0.5em;
  }
  span {
    svg {
      height: 59px;
      width: auto;
      vertical-align: middle;
      filter: saturate(0);
      transition: 0.3s filter ease-in;
      &:hover {
        filter: saturate(1);
      }
    }
  }
  img {
    &.shops {
      margin-top: 13px;
    }
    vertical-align: middle;
    filter: saturate(0);
    transition: 0.3s filter ease-in;
    &:hover {
      filter: saturate(1);
    }
  }
}

section.purple-gradient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 24.48%,
    rgba(84, 95, 239, 0.1) 100%
  );
}

// Section: MAIN //
.main {
  .url-input {
    display: flex;
    flex-flow: row;
    align-items: center;
    background: #fff;
    box-shadow: 0 20px 20px rgba(92, 98, 205, 0.1);
    border-radius: 8px;
    justify-content: space-between;
    margin-bottom: 1em;

    .url-input__icon {
      width: 29px;
      padding: 0 13px;
    }

    input {
      font-size: 14px;
      line-height: 54px;
      color: #676767;
      font-family: inherit;
      padding: 0 1em;
      -webkit-appearance: none;
      border: none;
      background: none;
      flex-grow: 2;
    }
  }

  @media screen and (min-width: 840px) {
    .email-input {
      min-width: 474px;
      min-height: 54px;
    }
    .example {
      display: flex;
      align-items: center;
    }
  }
  @media (max-width: 839px) {
    h2.sub-title {
      margin-top: 7em;
    }
    h2.sub-title:last-of-type {
      margin-top: 2em;
    }
    .email-input {
      font-size: 10px;
      margin: 0 auto;
      width: 100%;
      min-height: 54px;

      input {
        font-size: 10px;
      }
    }
  }
}

#compare-form {
  button {
    font-family: inherit;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
    background: var(--purple);
    width: 200px;
    height: 54px;
    border: none;
    border-radius: 8px;
  }
}

// Section: watcher //

.attendant {
  .mdc-layout-grid__cell {
    margin: 0 auto;
  }

  .sub-title {
    text-align: center;
  }

  img {
    -webkit-filter: saturate(0);
    filter: saturate(0);
    max-width: 180px;
    &:hover {
      filter: saturate(1);
    }
  }

  .logos {
    a {
      margin: 1em 1em 0;
    }
    @media screen and (max-width: 479px) {
      flex-direction: column;
      a {
        margin: 1em 0;
      }
    }
  }
}

// Section: Illustration //

.illustration {
  text-align: center;
}

// Section: Guidance //

.guidance {
  .browser-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .browser-support {
    display: block;
    text-align: center;
    width: 120px;
    margin: 0 1em;

    p {
      display: block;
      margin: 0.5em 0 1em;
    }

    .browser-support__icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      border-radius: 50%;
      box-shadow: 0 20px 20px rgba(92, 98, 205, 0.1);

      width: 67px;
      height: 67px;
      img {
        width: 60%;
      }
    }
    .browser-support__icon--disabled {
      img {
        filter: saturate(0) opacity(0.7);
      }
    }

    @media (max-width: 839px) {
      .sub-info--grey {
        text-align: center;
      }
      img {
        max-width: 80px;
        max-height: 80px;
      }
    }
  }

  .steps {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    .step_2 {
      margin-top: 66px;
    }

    .step_3 {
      margin-top: 132px;
    }
    .final-step {
      text-align: center;

      p {
        margin-bottom: 2em;
      }
    }
  }
  @media (max-width: 840px) {
    .step_1,
    .step_2,
    .step_3 {
      margin-top: 34px;
      text-align: center;
    }
  }
}

// Section: Numbers //

p.text--grey {
  font-size: 13px;
  line-height: 16px;
}

p.numbers {
  font-size: 44px;
  font-weight: 700;
  color: black;
  line-height: 54px;
  text-align: center;
  margin-top: 0;
}

// Section: References //

.references {
  .references_link {
    font-size: 18px;
    color: var(--purple);
    font-weight: bold;
    margin: 0 auto;

    a:hover {
      font-weight: lighter;
    }
  }
}

// Section: Sales - News //
.news {
  background: rgba(84, 95, 239, 0.07);
}

// DASHBOARD //
.dashboard {
  .dashboard-header {
    border-bottom: 1px solid #dadada;
    padding-bottom: 7px;
    margin-bottom: 26px;
    h2 {
      font-weight: bold;
      font-size: 14px;
      margin: 0;
      line-height: 17px;
    }
    span {
      font-size: 14px;
      line-height: 17px;
      display: block;
    }
  }
  .dashboard-row {
    background-color: #fff;
    margin-bottom: 13px;
    border: 1px solid #ebeef2;
    box-sizing: border-box;
    border-radius: 6px;
    span {
      font-size: 18px;
      line-height: 22px;
      display: block;
      padding: 19px 0 13px 0;
      @media (max-width: 479px) {
        font-size: 16px;
      }
      &.sprite {
        width: 72px;
        height: 69px;
        padding: 0;
        margin-left: 23px;
        @media (max-width: 479px) {
          padding-top: 5px;
        }
      }
    }
    img {
      margin-left: 23px;
      @media (max-width: 479px) {
        padding-top: 5px;
      }
    }
  }
}

// FOOTER //

footer {
  background: rgba(84, 95, 239, 0.07);

  nav {
    text-transform: uppercase;
  }

  h3 {
    font-weight: normal;
    margin: 0.5em 0 1.1em;
  }

  ul {
    padding-left: 0;

    li {
      font-size: 14px;
      font-weight: normal;
      color: var(--purple);
      line-height: 26px;
      text-decoration: none;
      list-style: none;
    }
  }

  a {
    color: var(--purple);

    &:hover {
      color: black;
    }
  }

  img,
  svg {
    height: 32px;
    width: auto;
    margin: 0;
  }

  .text-about {
    p {
      font-size: 14px;
      line-height: 26px;
    }
  }

  .company,
  .terms {
    font-size: 13px;
    line-height: 26px;

    a,
    span {
      color: #8896a7;
      text-decoration: none;
    }
  }

  .logo-box {
    .sub-info--grey {
      height: 40px;
    }
  }

  .terms {
    @media screen and(min-width: 840px) {
      text-align: right;
    }
  }
}

// HAMBURGER //

.app-bar {
  &.app-bar--sticky {
    position: fixed;
    width: 100vw;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  @media screen and (max-width: 839px) {
    padding-top: 8px;
    height: 48px;

    .app-bar_menu {
      display: none;
    }
    &.app-bar--open .app-bar_menu {
      display: block;
      .menu {
        background: var(--purple);
        z-index: 1000;
        margin-top: 56px;
      }
    }
    .hs_logo {
      order: 1;
      display: flex;
      align-items: baseline;
      padding-top: 4px;
      padding-left: 16px;
    }
    .hamburger {
      order: 2;
      display: flex;
      justify-content: flex-end;
      padding-right: 16px;
    }
  }
}

.app-bar_menu {
  align-self: center;
}

.hamburger {
  @media screen and (min-width: 840px) {
    display: none;
  }

  .hamburger__container {
    display: inline-block;
    cursor: pointer;
    padding: 8px;
    width: 18px;
    height: 18px;
    position: relative;
  }

  .hamburger__bar {
    background-color: var(--purple);
    width: 20px;
    height: 2px;
    position: absolute;
    top: 16px;
    transition: transform 0.4s;

    &:first-of-type {
      transform: translateY(-6px);
    }

    &:last-of-type {
      transform: translateY(6px);
    }
  }

  .hamburger__container--open {
    .hamburger__bar:first-of-type {
      transform: rotate(-45deg);
    }

    .hamburger__bar:nth-of-type(2) {
      opacity: 0;
    }

    .hamburger__bar:last-of-type {
      transform: rotate(45deg);
    }
  }
}

.app-bar--sticky {
  .hamburger .hamburger__bar {
    background: var(--purple);
  }

  .hamburger .hamburger__container::after {
    color: var(--purple);
  }
}

.app-bar.app-bar--open {
  color: var(--purple);

  .hamburger__container::after {
    color: var(--purple);
  }

  .hamburger__bar {
    background-color: var(--purple);
  }

  .menu {
    transform: translate(-8px, -64px);
    z-index: 1;
  }
}

.menu {
  @media screen and (max-width: 839px) {
    width: 100vw;
    height: 100vh;
    margin-top: 64px;
    transform: translate(calc(-100vw - 12px), -64px);
    transform: translate(calc(-140vw - 12px), -64px);
    position: fixed;
    z-index: 3;
    transition: transform 0.3s;
    overflow: hidden;
    background-color: var(--ml-dark-purple);
    color: #fff;
    ul.menu__list {
      display: inline-grid;
    }
    .menu__list li {
      margin: 0 24px;
    }
    .menu__list li + li {
      border-top: 1px solid rgba(255, 255, 255, 0.25);
    }
    .menu__list a {
      color: #ffffff;
      display: block;
      padding: 12px;
      margin: 4px;
      text-transform: uppercase;
    }
  }
}

.menu--horizontal .menu__list {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0;
}

.modal {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &.modal--hidden {
    display: none;
  }

  &__inner {
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.07);
    width: 100%;
    max-width: 620px;
    position: relative;
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border: 1px solid var(--purple);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      font-weight: bold;
      font-size: 1.6em;
      text-decoration: none;
    }
  }
}

#hlidac-shopu-modal {
  a {
    color: var(--purple);
  }
  time {
    font-weight: bold;
    line-height: 2;
  }
  del {
    text-decoration: none;
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      border-bottom: 2px solid #000000;
      transform: rotate(167.24deg);
      bottom: 0;
      left: 0;
      height: calc(50% - 1px);
      width: 100%;
    }
  }
  .box {
    text-align: center;
    &.box--purple {
      background: var(--light-purple);
      border-radius: 6px;
      padding: 16px;
    }
  }
  .actual-price {
    color: var(--red);
    font-weight: bold;
    font-size: 2em;
    line-height: 1.6;
  }
  .claimed-price {
    color: var(--grey);
  }
  .discount {
    background: #ffe607;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 48px;
    height: 48px;
    line-height: 48px;
  }
}
