.wrapper {
  width: 100%;
  min-height: 44em;
  margin: 0 auto;
  @media screen and (max-width: 839px) {
    min-height: 32em;
  }
}

.tabs {
  margin-top: 4em;
  position: relative;
  background: var(--mdc-theme-primary);
  display: inline-flex;
  border-bottom: 1px solid var(--mdc-theme-secondary-light);
  padding-top: 4px;
  @media (max-width: 419px) {
    width: 280px;
  }
  @media (min-width: 420px) and (max-width: 839px) {
    display: block;
    margin: 2em auto;
  }
}

.tabs::before,
.tabs::after {
  content: "";
  display: table;
}

.tabs::after {
  clear: both;
}

.tab {
  float: left;
  margin: 0 14px -2px 0;

  &:last-of-type {
    margin-right: 0;
  }

  @media screen and (max-width: 839px) {
    padding-bottom: 14px;
    margin: 0 auto;
  }
}

.tab-switch:checked + label + .tab-content {
  z-index: 2;
  visibility: visible;
  transition: all 0.45s;
}

.tab-switch {
  display: none;
}

.tab-label {
  font-size: 13px;
  width: 320px;
  position: relative;
  text-align: left;
  background: var(--mdc-theme-primary);
  color: var(--mdc-theme-text-third-on-light);
  padding-bottom: 8px;
  cursor: pointer;
  top: 0;
  transition: all 0.45s;
  display: inline-flex;
  @media (max-width: 419px) {
    max-width: 280px;
    color: var(--mdc-theme-text-secondary-on-light);
  }
  @media (min-width: 420px) and (max-width: 839px) {
    max-width: 340px;
    color: var(--mdc-theme-text-secondary-on-light);
  }
}

.tab-label:hover {
  top: -4px;
  transition: top 0.25s;
}

.tab-content {
  height: 13rem;
  position: absolute;
  z-index: 1;
  top: 4em;
  left: 0;
  padding: 1.618rem;
  visibility: none;
  transition: 0.45s;
  margin: 0 auto;
  @media screen and (max-width: 839px) {
    height: 13rem;
    position: absolute;
    z-index: 1;
    top: 13em;
    left: 0;
    img {
      margin: 0 auto;
      width: 100%;
    }
  }
}

.tab-switch:checked + .tab-label {
  font-size: 13px;
  transition: all 0.45s;
  color: var(--mdc-theme-secondary);
  background: var(--mdc-theme-primary);
  border-bottom: 3px solid var(--mdc-theme-secondary);
  z-index: 1;
  top: -0.0625rem;
  width: 320px;
  @media screen and (max-width: 839px) {
    text-shadow: 0 0 .5px var(--mdc-theme-secondary), 0 0 .5px var(--mdc-theme-secondary);
    margin: 0 auto;
  }
}

.tab-switch:checked + label + .tab-content {
  z-index: 2;
  visibility: visible;
  transition: all 0.45s;
}


