{% extends "layouts/arx.njk" %}
{% from "common/helpers.njk" import image %}

{% block links %}
  <link rel="stylesheet" href="/assets/css/contact.css">

  <style>
    /* TODO: Move this to separate sass file and use cloudinaryUrl helper */
    body {
      background: #fff url("/assets/img/contacts-bg.jpg") top right no-repeat;
      background-size: 60% auto;
    }

    @media (max-width: 1024px) {
      body {
        background: #fff url("/assets/img/contacts-bg.jpg") top right no-repeat;
        background-size: 70% auto;
      }
    }

    .intro {
      min-height: 700px;
    }

    .intro-box {
      padding: 2em 4em;
    }
  </style>
{% endblock %}

{% block main %}
  <section class="intro">
    <div class="mdc-layout-grid layout-arx">
      <div class="mdc-layout-grid__inner">
        <div class="yellow-box intro-box mdc-layout-grid__cell">
          <p>Contacts</p>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
        </div>
        <div class="mdc-layout-grid__cell">
          <h2>ARX Equity Partners s.r.o.</h2>
          <span>28. října 12</span><br>
          <span>110 00 Praha 1</span><br>
          <span><a href="tel:+420 22 423 5399">Tel.: +420 22 423 5399</a></span><br>
          <span><a href="mailto:praha@arxequity.com">praha@arxequity.com</a></span><br>
        </div>
      </div>
    </div>
  </section>

  <div class="contact--map mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <a title="Show ARX office on map" target="_blank"
      href="https://www.google.com/maps/place/Arx+Equity+Partners+s.r.o./@50.0835359,14.420448,17z/data=!3m1!4b1!4m5!3m4!1s0x470b94ec3596373b:0xeba19b406adab57a!8m2!3d50.0835325!4d14.4226367?hl=cs-CZ"><img
        alt="ARX on map" src="/assets/img/map-contact.jpg" width="100%" height="auto"></a>
  </div>

{% endblock %}
