{% extends "layouts/arx.njk" %}
{% from "common/helpers.njk" import image %}

{% block links %}
  <link rel="stylesheet" href="/assets/css/work-with-us.css">

  <style>
  /* TODO: Move this to separate sass file and use cloudinaryUrl helper */
  body {
    background: #fff url("/assets/img/case-study-bg.jpg") top right no-repeat;
    background-size: 70% 755px;
  }
  .intro {
    min-height: 700px;
  }
  .intro-box {
    padding: 9em 4em;
  }
  .intro-box:before {
    content: "";
    width: 40%;
    height: 4px;
    background-color: var(--mdc-theme--fourth);
    display: block;
    margin: 30px 0;
  }
</style>
{% endblock %}

{% block main %}

<section class="intro">
  <div class="mdc-layout-grid layout-arx">
    <div class="mdc-layout-grid__inner">
      <div class="dark-box intro-box mdc-layout-grid__cell">
        <p>How we work with our companies.</p>
      </div>
    </div>
  </div>
</section>
<div class="mdc-layout-grid layout-arx">
  <div class="mdc-layout-grid__inner">
    <div class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <div class="border-bg"></div>
    </div>
  </div>
</div>
<section class="transaction">
  <div class="mdc-layout-grid layout-arx">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>Entrepreneurs</h2>
      </div>
      <div class="left-padding_box mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <h3 class="underline--light">Expansion through acquisitions or new markets</h3>
        <p>Over half of the ARX investments over the last decade have achieved growth
          through completing an add-on acquisition or entering a new geographic market.
          ARX has the capability to invest follow-on equity into its portfolio companies
          to fund growth.</p>
      </div>
      <div
        class="right-padding_box mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <h3 class="underline--light">Introducing the right people</h3>
        <p>We’ve developed a deep pool of talented industry experts over our 20-year history that can help strengthen
          management teams and boards.</p>
      </div>
      <div class="dark-box left-padding_box mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <h3 class="underline--light">Keeping debt levels low</h3>
        <p>We don’t believe in burdening our companies with excessive debt. We keep
          debt levels low so the company can pursue opportunities for&nbsp;growth.</p>
      </div>
      <div
        class="right-padding_box yellow-box mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <h3 class="underline--dark">Positioning businesses for the future</h3>
        <p>We have proven expertise in positioning former family-owned businesses for eventual exits to international
          strategic buyers.</p>
      </div>
      <div
        class="left-padding_box mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <h3 class="underline--light">Non-executive board development</h3>
        <p>ARX adds value through its systematic approach to introducing best-practice corporate governance, reporting
          standards and strategic guidance.</p>
      </div>
    </div>
  </div>
</section>
<section class="managers">
  <div class="mdc-layout-grid layout-arx">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>Managers</h2>
        <p class="sub-title">We work with our portfolio company leadership teams according to two guiding principles.</p>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-12-desktop">
        <h3 class="underline--light">Ownership</h3>
        <p class="text-opacity">We believe in creating ownership structures where our portfolio company
          managers become shareholders alongside ARX. Whether in a management buyout (MBO)
          or a management buy-in (MBI) structure, equity-oriented incentive structures
          create strong alignment and a solid partnership with our portfolio company
          management&nbsp;teams.</p>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-12-desktop">
        <h3 class="underline--light">Autonomy</h3>
        <p class="text-opacity">We believe in working with the most qualified and committed management teams
          and providing them autonomy to run the day-to-day activities of our companies.
          We are totally committed to creating shared value within our portfolio companies
          and we provide entrepreneurial managers the necessary level of independence to
          deliver results while supporting them from a non-executive&nbsp;level.</p>
        <p class="text-opacity">We encourage any prospective manager or entrepreneur considering a
          transaction partnership with ARX to directly check our references and
          track-record.</p>
      </div>
    </div>
  </div>
</section>
<section class="intermediaries">
  <div class="mdc-layout-grid layout-arx">
    <div class="mdc-layout-grid__inner">
      <div class="intermediaries_main-text mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <h2>Intermediaries</h2>
        <p class="sub-title">For over 20&nbsp;years we&nbsp;have worked with intermediaries of all types&nbsp;&ndash;
          whether individual deal introducers or multinational institutional
          advisory&nbsp;firms.</p>
        <p class="sub-title">Whether engaged on the sell-side for a client seeking to divest or raise
          capital, or in a situation where an intermediary introduces an exclusive
          opportunity to ARX, our approach is consistent:</p>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <h3 class="underline--light">Responsiveness and transparency</h3>
        <p class="text-opacity">We are not time wasters. We provide feedback promptly and clearly regarding our level of interest in a
          transaction.</p>

        <h3 class="underline--light">Compensation</h3>
        <p class="text-opacity">We compensate buy-side intermediaries for exclusively introducing us to
          proprietary investment opportunities that get&nbsp;closed.</p>

        <h3 class="underline--light">Integrity</h3>
        <p class="text-opacity">Our reputation is a key asset&nbsp;&ndash; and we respect processes and the vital
          role that intermediaries play in helping us close fair deals for all parties.
          Some of our closest intermediary relationships are based on mutual trust that
          has been built over multiple&nbsp;deals.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
