{% extends 'layouts/topmonks.html' %}
{% set page = 'topmonks-retail-consultation' %}
{% block title %}IT in Retail - TopMonks{% endblock %}

{% block head %}
<meta property="og:title" content="TopMonks in Retail Consultation">
<meta property="fb:pages" content="190700404282725">
<meta property="og:type" content="business.business">
<meta property="og:url" content="https://www.topmonks.cz/retail-consultation/">
<meta property="og:site_name" content="TopMonks.cz">
<meta property="business:contact_data:street_address" content="Struhařovská 2931/9"/>
<meta property="business:contact_data:locality" content="Praha 4"/>
<meta property="business:contact_data:postal_code" content="141 00"/>
<meta property="business:contact_data:country_name" content="Czech republic"/>
<meta property="business:contact_data:email" content="info@topmonks.com"/>
<meta property="business:contact_data:phone_number" content="+420 226 257 521"/>
<meta property="business:contact_data:website" content="https://www.topmonks.cz/"/>
<style>
  .jumbotron h3 {
    text-align: left;
    margin-bottom: 0;
  }
  .layout .layout_icon {
    margin-top: 4.5em;
  }
</style>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="/stylesheets/v2.css">
<link rel="stylesheet" href="/stylesheets/sub-pages/main.css">

<section class="jumbotron">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner tm-layout-wrapper">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <h2>Retailová konzultace středně velké firmy</h2>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h3>Vstupní data firmy:</h3>
      </div>
      <div class="data mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <ul>
          <li>Celkový roční obrat činí 220&nbsp;miliónů</li>
          <li>205&nbsp;zaměstnanců</li><br>
          <li>29&nbsp;poboček v&nbsp;CZ a SK</li><br>
          <li>6 franchise poboček</li>
        </ul>
      </div>
      <div class="data mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
        <ul>
          <li>Má vlastní eshop</li><br>
          <li>Spolupracuje s&nbsp;marketplace</li>
          <li>Má 3&nbsp;vlastní sklady a výrobu v&nbsp;Asii</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<div class="tm-layout-wrapper line-between mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
  <hr>
</div>
<link rel="stylesheet" href="/stylesheets/hp/advicing.css">
<section class="">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner tm-layout-wrapper">
      <div
        class="networking box mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <h3>Zákazník řešil</h3>
        <ul>
          <li>Skladový systém a pokladní systém</li>
          <li>Účetní systém, který nenavazuje na skladový</li>
          <li>3x různé platformy ecommerce řešení (CZ, SK, DE)</li>
          <li>Věrnostní program a klubové karty</li>
          <li>GoodData na vyhodnocování tržeb v&nbsp;retailu a eshopu</li>
        </ul>
      </div>
      <div class="absence box mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <h3>Zákazník neřešil</h3>
        <ul>
          <li>Bez interní komunikace zaměstnanců</li>
          <li>Absence jakéhokoliv programu na přehled odvedené práce</li>
          <li>Bez systému na efektivní plánování a optimalizaci výroby a&nbsp;zásob</li>
          <li>Bez zátěžových testů serverů</li>
          <li>Rozdělení pro samostatné sledování výkonu franchisantů</li>
          <li>Bez strategie práce s&nbsp;klubisty</li>
          <li>Bez strategie prodeje na marketplace</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<div class="tm-layout-wrapper line-between mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
  <hr>
</div>
<section class="layout">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner tm-layout-wrapper">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>Naše řešení v&nbsp;praxi</h2>
      </div>
      <div class="box mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <div class="mdc-layout-grid__inner">
          <div class="layout_icon mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
              <title>Ikona pro sekci Vizualizace</title>
              <circle cx="21" cy="21" r="21" fill="#7462E0"/>
              <path d="M10 21C10 21 14 13 21 13C28 13 32 21 32 21C32 21 28 29 21 29C14 29 10 21 10 21Z" stroke="white"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path
                d="M21 24C22.6569 24 24 22.6569 24 21C24 19.3431 22.6569 18 21 18C19.3431 18 18 19.3431 18 21C18 22.6569 19.3431 24 21 24Z"
                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10">
            <h3>Vizualizace dat a insighty</h3>
            <p>V&nbsp;tomto případě využijeme GoodData, které jsou již implementovány,
              ale upravíme nebo rozšíříme jejich působnost o&nbsp;další datové cesty.
              Tento systém se aktualizuje minimálně 1× denně v&nbsp;závislosti na dynamice
              daného typu&nbsp;dat.</p>
          </div>
        </div>
      </div>
      <div class="box mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <div class="mdc-layout-grid__inner">
          <div class="layout_icon mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
              <title>Ikona pro sekci Pricing</title>
              <circle cx="21" cy="21" r="21" fill="#7462E0"/>
              <path d="M27 29V19" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M21 29V13" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M15 29V23" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10">
            <h3>Pricing</h3>
            <p>Zanalyzujeme historické transakce a pomůžeme s&nbsp;dynamickým nastavování
              cen a promo akcemi. Současně zoptimalizujeme práci s&nbsp;vaším věrnostním
              klubem na základě analýzy současných&nbsp;dat.</p>
          </div>
        </div>
      </div>
      <div class="box mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <div class="mdc-layout-grid__inner">
          <div class="layout_icon mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
              <title>Ikona pro sekci Propojení systémů</title>
              <circle cx="21" cy="21" r="21" fill="#7462E0"/>
              <path
                d="M26.5 29.25C28.0188 29.25 29.25 28.0188 29.25 26.5C29.25 24.9812 28.0188 23.75 26.5 23.75C24.9812 23.75 23.75 24.9812 23.75 26.5C23.75 28.0188 24.9812 29.25 26.5 29.25Z"
                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path
                d="M15.5 18.25C17.0188 18.25 18.25 17.0188 18.25 15.5C18.25 13.9812 17.0188 12.75 15.5 12.75C13.9812 12.75 12.75 13.9812 12.75 15.5C12.75 17.0188 13.9812 18.25 15.5 18.25Z"
                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path
                d="M21.9165 15.5H24.6665C25.1527 15.5 25.619 15.6932 25.9629 16.037C26.3067 16.3808 26.4998 16.8471 26.4998 17.3333V23.75"
                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M15.5 18.25V29.25" stroke="white" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10">
            <h3>Propojení systémů</h3>
            <p>Klasickou bolestí mnoha retailových firem je nevalné propojení
              jednotlivých systémů. V&nbsp;tomto konkrétním případě se
              zaměříme&nbsp;na:</p>
          </div>
        </div>
      </div>
      <div class="box mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <div class="mdc-layout-grid__inner">
          <div class="layout_icon mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
              <title>Ikona pro sekci Prodej na externích portálech</title>
              <circle cx="21" cy="21" r="21" fill="#7462E0"/>
              <path
                d="M16 12.6666L13.5 16V27.6666C13.5 28.1087 13.6756 28.5326 13.9882 28.8451C14.3007 29.1577 14.7246 29.3333 15.1667 29.3333H26.8333C27.2754 29.3333 27.6993 29.1577 28.0118 28.8451C28.3244 28.5326 28.5 28.1087 28.5 27.6666V16L26 12.6666H16Z"
                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M13.5 16H28.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path
                d="M24.3332 19.3334C24.3332 20.2174 23.982 21.0653 23.3569 21.6904C22.7317 22.3155 21.8839 22.6667 20.9998 22.6667C20.1158 22.6667 19.2679 22.3155 18.6428 21.6904C18.0177 21.0653 17.6665 20.2174 17.6665 19.3334"
                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10">
            <h3>Prodej na externích portálech</h3>
            <p>Ať už firma prodává přes marketplace jako je Amazon, Mall apod. nebo
              spolupracuje na affiliate programech s&nbsp;externími odběrateli, všechno se dá
              monitorovat a vyhodnocovat.</p>
          </div>
        </div>
      </div>
      <div class="box mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <div class="mdc-layout-grid__inner">
          <div class="layout_icon mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
              <title>Ikona pro sekci Cashflow</title>
              <circle cx="21" cy="21" r="21" fill="#7462E0"/>
              <path
                d="M30.2099 24.89C29.5737 26.3945 28.5787 27.7202 27.3118 28.7513C26.0449 29.7824 24.5447 30.4874 22.9424 30.8048C21.34 31.1222 19.6843 31.0422 18.1201 30.5718C16.5558 30.1015 15.1305 29.2551 13.9689 28.1067C12.8073 26.9583 11.9447 25.5428 11.4565 23.984C10.9684 22.4252 10.8695 20.7705 11.1685 19.1647C11.4675 17.5588 12.1554 16.0506 13.172 14.772C14.1885 13.4934 15.5028 12.4833 16.9999 11.83"
                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path
                d="M31 21C31 19.6868 30.7413 18.3864 30.2388 17.1732C29.7362 15.9599 28.9997 14.8575 28.0711 13.9289C27.1425 13.0003 26.0401 12.2638 24.8268 11.7612C23.6136 11.2587 22.3132 11 21 11V21H31Z"
                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10">
            <h3>Cashflow</h3>
            <p>Sledování a alerty ohledně stavu peněz na účtu a plnění sales KPI.
              Denní monitoring v&nbsp;reálném čase, alerty jsou upravovány dle požadavků
              klienta.</p>
          </div>
        </div>
      </div>
      <div class="box mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <div class="mdc-layout-grid__inner">
          <div class="layout_icon mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
              <title>Ikona pro sekci Simulace</title>
              <circle cx="21" cy="21" r="21" fill="#7462E0"/>
              <path d="M20.9998 12.6667L12.6665 16.8334L20.9998 21L29.3332 16.8334L20.9998 12.6667Z" stroke="white"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M12.6665 25.1667L20.9998 29.3334L29.3332 25.1667" stroke="white" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M12.6665 21L20.9998 25.1667L29.3332 21" stroke="white" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10">
            <h3>Simulace</h3>
            <p>Zátěžové stress testy a simulace hlavních a sezonních prodejních
              období, např. Black Friday, Vánoce, Valentýn&nbsp;apod.</p>
          </div>
        </div>
      </div>
      <div class="box mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <div class="mdc-layout-grid__inner">
          <div class="layout_icon mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
              <title>Ikona pro sekci Tým</title>
              <circle cx="21" cy="21" r="21" fill="#7462E0"/>
              <g clip-path="url(#clip0)">
                <path
                  d="M25.1668 28.5V26.8333C25.1668 25.9493 24.8156 25.1014 24.1905 24.4763C23.5654 23.8512 22.7176 23.5 21.8335 23.5H15.1668C14.2828 23.5 13.4349 23.8512 12.8098 24.4763C12.1847 25.1014 11.8335 25.9493 11.8335 26.8333V28.5"
                  stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path
                  d="M18.4998 20.1667C20.3408 20.1667 21.8332 18.6743 21.8332 16.8333C21.8332 14.9924 20.3408 13.5 18.4998 13.5C16.6589 13.5 15.1665 14.9924 15.1665 16.8333C15.1665 18.6743 16.6589 20.1667 18.4998 20.1667Z"
                  stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path
                  d="M30.1665 28.5V26.8333C30.166 26.0948 29.9201 25.3773 29.4676 24.7936C29.0152 24.2099 28.3816 23.793 27.6665 23.6083"
                  stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path
                  d="M24.3335 13.6083C25.0505 13.7919 25.686 14.2089 26.1399 14.7936C26.5937 15.3783 26.84 16.0974 26.84 16.8375C26.84 17.5776 26.5937 18.2967 26.1399 18.8814C25.686 19.4661 25.0505 19.8831 24.3335 20.0667"
                  stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
              <defs>
                <clipPath id="clip0">
                  <rect width="20" height="20" fill="white" transform="translate(11 11)"/>
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10">
            <h3>Posílení týmovosti</h3>
            <p>Zaměříme se na komunikaci, informovanost a sdílení informací a dat.
              Podíváme se na interní komunikační “hygienu”, připravíme workshop na
              sdílení dat, souborů a dokumentů. Pomůžeme identifikovat tahouny a
              stěžejní lidi v&nbsp;týmu tak, jak to vnímá samostatný&nbsp;tým.</p>
          </div>
        </div>
      </div>
      <div class="box mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <div class="mdc-layout-grid__inner">
          <div class="layout_icon mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
              <title>Ikona pro sekci Pohyb zboží</title>
              <circle cx="21" cy="21" r="21" fill="#7462E0"/>
              <path
                d="M21 31C26.5228 31 31 26.5228 31 21C31 15.4772 26.5228 11 21 11C15.4772 11 11 15.4772 11 21C11 26.5228 15.4772 31 21 31Z"
                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M25.2398 16.76L23.1198 23.12L16.7598 25.24L18.8798 18.88L25.2398 16.76Z" stroke="white"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10">
            <h3>Pohyb zboží</h3>
            <p>Flow dat a informací mezi skladem, ecommerce, fakturačním systémem a
              komunikačními kanály. Klíčové mohou být i&nbsp;jednoduché alerty typu:
              “Pozor, za měsíc dojdou tašky, doskladnit” nebo “Kontejner z&nbsp;Pekingu
              na cestě, zaplatit.</p>
          </div>
        </div>
      </div>
      <div class="button mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <a class="action-button advicing_btn jumbotron__cta" href="https://calendly.com/simona-zabrzova/nezavazna-schuzka">OBJEDNEJTE
          SI NEZÁVAZNOU KONZULTACI</a>
      </div>
    </div>
  </div>
</section>

<div class="tm-layout-wrapper line-between mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
  <hr>
</div>
<link rel="stylesheet" href="/stylesheets/sub-pages/contact-us.css">
<section class="contact-us mdc-layout-grid">
  <div class="mdc-layout-grid__inner tm-layout-wrapper">
    <div class="page_sub-title mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h2>Kontaktujte nás</h2>
      <p>Zanalyzujeme stav vašeho IT, doporučíme další kroky a po vašem schválení jednotlivé kroky implementujeme.</p>
    </div>
    <div
      class="box box-member mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop"
      itemprop="employee" itemscope="" itemtype="https://schema.org/Person">
      <h3><b>Konzultace v&nbsp;retailu a ecommerce</b></h3>
      <p class="box_text-about">Know-How v&nbsp;oblasti retail a ecommerce nejlépe prodiskutujete se
        Simonou.</p>
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
          <img alt="[foto] Simona Zábržová"
               src="https://res.cloudinary.com/topmonks/image/upload/v1563262501/avatars/simona-zabrzova_zsr1ad.png"
               onerror="this.onerror=null; this.src='/images/monk_logo-c877778634.png'" width="112" height="112">
        </div>
        <div class="box_member-contact mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
          <p><span itemprop="name">Simona Zábržová</span><br/>
            <a itemprop="telephone" href="tel:+420777285544">+420 777 285 544</a><br>
            <a itemprop="email" href="mailto:simona.zabrzova&#64;topmonks.com">simona.zabrzova@​topmonks.com</a></p>
          </p>
        </div>
      </div>
    </div>
    <div
      class="box box-member mdc-layout-grid__cell mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop"
      itemprop="employee" itemscope="" itemtype="https://schema.org/Person">
      <h3><b>Konzultace v&nbsp;retailu a fintechu</b></h3>
      <p class="box_text-about">Know-how v&nbsp;oblasti retailu a fintechu nejlépe proberete s&nbsp;Ondrou.</p>
      <div class="mdc-layout-grid__inner">
        <div class="person--photo mdc-layout-grid__cell mdc-layout-grid__cell--span-4"><img alt="[photo] Ondrej Tupý"
                                                                                            loading="lazy"
                                                                                            src="https://res.cloudinary.com/topmonks/image/fetch/w_112,dpr_auto,f_auto/https://insight.topmonks.com/avatar/ondrej-tupy"
                                                                                            srcset="https://res.cloudinary.com/topmonks/image/fetch/w_112,dpr_1,f_auto/https://insight.topmonks.com/avatar/ondrej-tupy, https://res.cloudinary.com/topmonks/image/fetch/w_112,dpr_1.5,f_auto/https://insight.topmonks.com/avatar/ondrej-tupy 1.5x, https://res.cloudinary.com/topmonks/image/fetch/w_112,dpr_2,f_auto/https://insight.topmonks.com/avatar/ondrej-tupy 2x, https://res.cloudinary.com/topmonks/image/fetch/w_112,dpr_3,f_auto/https://insight.topmonks.com/avatar/ondrej-tupy 3x"
                                                                                            onerror="this.onerror=null; this.src='/assets/img/monk_logo-c877778634.png'"
                                                                                            width="112" height="112">
        </div>
        <div class="box_member-contact mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
          <p><span itemprop="name">Ondrej Tupý</span><br>
            <a itemprop="telephone" href="tel:+420730581488">+420 730 581 488</a><br>
            <a itemprop="email" href="mailto:sales@​topmonks.com">sales@​topmonks.com</a></p>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
