{% extends 'layouts/topmonks.html' %}
{% set page = 'topmonks-optimalizace-cenotvorby' %}
{% block title %}Konzultace Inteligentní Cenotvorby - TopMonks{% endblock %}

{% block head %}
<meta property="og:title" content="TopMonks Konzultace a Implementace Inteligentní Cenotvorby">
<meta property="fb:pages" content="190700404282725">
<meta property="og:type" content="business.business">
<meta property="og:url" content="https://www.topmonks.cz/optimalizace-cenotvorby/">
<meta property="og:site_name" content="TopMonks.cz">
<meta property="business:contact_data:street_address" content="Struhařovská 2931/9"/>
<meta property="business:contact_data:locality" content="Praha 4"/>
<meta property="business:contact_data:postal_code" content="141 00"/>
<meta property="business:contact_data:country_name" content="Czech republic"/>
<meta property="business:contact_data:email" content="info@topmonks.com"/>
<meta property="business:contact_data:phone_number" content="+420 226 257 521"/>
<meta property="business:contact_data:website" content="https://www.topmonks.cz/"/>
<style>
  .jumbotron .sub-info {
    font-size: 20px;
  }
  .networking h3 {
    text-align: left;
  }

  .networking img {
    width: 100%;
    margin: 0 auto;
  }

  .purple {
    display: contents;
    font-weight: bold;
  }

</style>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="/stylesheets/v2.css">
<link rel="stylesheet" href="/stylesheets/sub-pages/main.css">

<section class="jumbotron">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner tm-layout-wrapper">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h1>Zákazníky nejoblíbenější konzultace</h1>
        <h2>Konzultace a implementace inteligentní cenotvorby</h2>
        <p class="sub-info">Pro zákazníka s&nbsp;obratem <span class="purple">500&nbsp;milionů</span>, který se pohybuje v&nbsp;oblasti B2B
          jsme zanalyzovali historické transakce. Dynamická práce s&nbsp;cenami a slevami
          je nejjednodušší způsob zvýšení obratu. Na základě analýzy jsem
          pomohli s&nbsp;dynamickým nastavování cen a s&nbsp;přípravou efektivních promo
          akcí. Současně jsme díky zjištěným datům zoptimalizovali práci
          s&nbsp;věrnostním klubem.</p>
      </div>
    </div>
  </div>
</section>
<link rel="stylesheet" href="/stylesheets/hp/advicing.css">
<section class="networking">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner tm-layout-wrapper">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h3>Co implementace inteligentní cenotvorby přinesla zákazníkovi?</h3>
      </div>
      <div
        class="consultation_box mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <ul>
          <li>Plošně zvýšili marži o&nbsp;<span class="purple">5%</span>
          </li>
        </ul>
      </div>
      <div
        class="consultation_box mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <ul>
          <li>Zvýšili zisk během 2&nbsp;měsíců o&nbsp<span class="purple">6%</span>
          </li>
        </ul>
      </div>
      <div
        class="consultation_box mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <ul>
          <li>Sledovali výkon slev a optimalizovali ho v&nbsp;čase v&nbsp;závislosti na
            výsledcích
          </li>
        </ul>
      </div>
      <div
        class="consultation_box mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <ul>
          <li>Zoptimalizovali více než <span class="purple">33.000 položek</span>
          </li>
        </ul>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <img
          src="https://res.cloudinary.com/topmonks/image/upload/dpr_auto,q_auto,f_auto/v1565471053/TM%20Subpages/consultation_desktop-img.png"
          alt="Obrázek pro cenotvorbu pro naše zákazníky">
      </div>
      <div class="button mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <a class="action-button advicing_btn jumbotron__cta"
           href="mailto:sales@​topmonks.com">OBJEDNEJTE
          SI NEZÁVAZNOU KONZULTACI</a>
      </div>
    </div>
  </div>
</section>

<div class="tm-layout-wrapper line-between mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
  <hr>
</div>
<link rel="stylesheet" href="/stylesheets/sub-pages/contact-us.css">
<section class="contact-us mdc-layout-grid">
  <div class="mdc-layout-grid__inner tm-layout-wrapper">
    <div class="page_sub-title mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h2>Kontaktujte nás</h2>
      <p>Zanalyzujeme stav vašeho IT, doporučíme další kroky a po vašem schválení jednotlivé kroky implementujeme.</p>
    </div>
    <div
      class="box box-member mdc-layout-grid__cell mdc-layout-grid__cell--span-12"
      itemprop="employee" itemscope="" itemtype="https://schema.org/Person">
      <h3><b>Konzultace v&nbsp;retailu a fintechu</b></h3>
      <p class="box_text-about">Know-how v&nbsp;oblasti retailu a fintechu nejlépe proberete s&nbsp;Ondrou.</p>
      <div class="mdc-layout-grid__inner">
        <div class="person--photo mdc-layout-grid__cell mdc-layout-grid__cell--span-4"><img alt="[photo] Ondrej Tupý"
                                                                                            loading="lazy"
                                                                                            src="https://res.cloudinary.com/topmonks/image/fetch/w_112,dpr_auto,f_auto/https://insight.topmonks.com/avatar/ondrej-tupy"
                                                                                            srcset="https://res.cloudinary.com/topmonks/image/fetch/w_112,dpr_1,f_auto/https://insight.topmonks.com/avatar/ondrej-tupy, https://res.cloudinary.com/topmonks/image/fetch/w_112,dpr_1.5,f_auto/https://insight.topmonks.com/avatar/ondrej-tupy 1.5x, https://res.cloudinary.com/topmonks/image/fetch/w_112,dpr_2,f_auto/https://insight.topmonks.com/avatar/ondrej-tupy 2x, https://res.cloudinary.com/topmonks/image/fetch/w_112,dpr_3,f_auto/https://insight.topmonks.com/avatar/ondrej-tupy 3x"
                                                                                            onerror="this.onerror=null; this.src='/assets/img/monk_logo-c877778634.png'"
                                                                                            width="112" height="112">
        </div>
        <div class="box_member-contact mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
          <p><span itemprop="name">Ondrej Tupý</span><br>
            <a itemprop="telephone" href="tel:+420730581488">+420 730 581 488</a><br>
            <a itemprop="email" href="mailto:sales@​topmonks.com">sales@​topmonks.com</a></p>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
