@import "@material/layout-grid/mdc-layout-grid";

:root {
  --mdc-layout-grid-margin-desktop: 24px;
  --mdc-layout-grid-gutter-desktop: 20px;
  --mdc-layout-grid-column-width-desktop: 60px;

  --tm-primary: #fe664b;
  --tm-primary-dark: #c53321;
  --tm-primary-light: #ff9878;
  --tm-secondary: #5c5fd4;
  --tm-secondary-dark: #1d35a2;
  --tm-secondary-light: #918cff;
  --tm-grey: #9b9b9b;
  --tm-article-background: #f8fbfc;
  --tm-black: #4a4a4a;
}

.tm-layout-wrapper {
  max-width: 900px;
  margin: 0 auto;
  //padding: 16px;
  --mdc-layout-grid-margin-desktop: 0;
  --mdc-layout-grid-margin-tablet: 0;
  --mdc-layout-grid-margin-phone: 0;
}
header {
  max-width: 900px;
  margin: 0 auto;
}

.tm-layout-grid__cell--span-0-desktop {
  @media screen and (min-width: 840px) {
    display: none;
  }
}

section {
  margin-bottom: 3em;
  min-height: 10em;
}

.date {
  font-size: 0.875em;
  color: #999999;
}
.news_content {
  font-size: 0.875em;
  background-color: #FFFFFF;
}

#uvod {
  background: url("/images/main_BG.png") center no-repeat;
  background-size: 100%;
  height: 790px;
  margin: 0 auto;

  p {
    font-size: 1.5em;
  }
  a {
    text-align: right;
  }
  .opening_text {
    margin-top: 12em;
    color: #FFFFFF;
    text-align: left;
  }

  .newest-news {
    width: 228px;
    height: 535px;
    margin: 6em;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 12);
    background-color: #FFFFFF;
    p {
      line-height: 0;
      font-size: 14px;
    }
    .news_content {
      padding: 24px 24px 0;
      img {
        width: 100%;
      }
    }
    .news_content-details {
      span {
        font-size: 12px;
      }
      svg {
        padding: 10px 24px;
      }
      .date {
        color: #233341;
      }
      .meet-up .date {
        padding: 18px 0;
      }
    }
    hr {
      margin-top: 38px;
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #EEEEEE;
      padding: 0;
    }

    .confirm-btn {
      margin: 0 auto;
      a.button {
        background-color: #01A2C7;
        padding: 12px 34px;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        color: #FFFFFF;
      }
    }
  }
}

.articles {
  .latest-news {
    box-shadow: 0 12px 24px lightgrey;
    img {
      width: 100%;
      background: #233341;
    }
  }
  a {
    float: right;
    margin: 18px;
  }
  .news_content {
    padding: 1.5em;
  }
}

.latest-news:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  transition: all .25s linear;
  box-shadow: -1px 4px 24px rgba(0, 0, 0, 0.8);
  width: 100%;
}

#recnici {
  background: url("/images/speakers_BG.png") center no-repeat;
  background-size: 100%;
  height: 409px;
  text-align: center;
  p {
    line-height: 0.4;
  }
  a {
    font-size: 24px;
  }
  a:hover {
    font-weight: bold;
  }
  .speakers_content {
    margin-top: 4em;
  }
}

.seance {
  .seance_posters {
   margin: 0 auto;
  }
}
