:root {
  --insight-negative-color: #e13c1e;
  --insight-positive-color: #7e9204;
  --topmonks-orange: #fe664b;
  --topmonks-grey: #9b9b9b;
  --topmonks-article-background: #f8fbfc;
  --topmonks-black: #4a4a4a;
}

/*
http://pxtoem.com/ - how to count px to em
*/

body {
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
  font-family: Lato, sans-serif, Roboto, Arial, sans-serif;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-variant-numeric: lining-nums slashed-zero;
  -webkit-font-variant-ligatures: common-ligatures contextual;
  font-variant-ligatures: common-ligatures contextual;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;

  background: url("/images/BG.svg") no-repeat;
  background-position-x: 50%;
  color: #233341;
}

.wf-active body {
  font-family: Lato, sans-serif;
}

.tm-logo {
  font-family: Futura, -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
}

.wf-active .tm-logo {
  font-family: futura-pt, sans-serif;
}

h1 {
  font-size: 3em;
  font-weight: normal;

}

h2 {
  font-size: 2em;
  font-weight: normal;
}

p {
  font-size: 1.125em;
  font-weight: normal;
}

a {
  font-weight: normal;
  color: #02A3C8;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul,
ul li {
  padding: 0;
  a {
    color: #233341;
  }
}

ul {
  margin: 1em 0;
}

ul li {
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 4px 14px;
  font-size: 14px;
}

ul#navigace {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin: 0;
}

///* MD GRID DESKTOP BREAKPOINT*/
//@media (min-width: 840px) {
//}

/* MD GRID TABLET AND ABOVE BREAKPOINT */
@media (min-width: 480px) {
  body {
    font-size: 1.125em; //18px
  }
  h1,
  h2 {
    font-size: 2.25em; //36px
    line-height: 46px;
  }
  h3 {
    font-size: 1.5em; //24px
  }
  h4 {
    font-size: 20px; //20px
  }
}

nav {
  .active {
    color: var(--nav-active);
    font-weight: bold;
  }
}
