{% extends 'layouts/topmonks.html' %}
{% block title %}Meet Us - TopMonks{% endblock %}
{% block head %}
<link rel="stylesheet" href="/stylesheets/meet-us.css">
{% endblock %}

{% block content %}

<section class="meet-us">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner tm-layout-wrapper">
      <div class="tm-page-header page_sub-title mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>You Can Meet Us Here</h2>
        <p>We love meeting new interesting people. Come and meet us at some of our many
          events.</p>
      </div>
    </div>
  </div>
</section>
<section class="tm-events mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="tm-meetup box mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-wrapper">
      <div class="mdc-layout-grid__inner">
        <div
          class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
          <img class="tm-meetup__img" alt="TopMonks Caffè logo"
               src="https://res.cloudinary.com/topmonks/image/upload/c_scale,h_273,w_428/v1544791905/topmonks.com/Meet-us/tm-caffe.png">
        </div>
        <div
          class="tm-meetup__cell tm-events_text mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
          <h3>TopMonks Caffè</h3>
          <p>Every first Thursday of the month we hold regular meetup about everything we
            are interested in. Balanced mix of technical and soft themes delivered by our
            speakers and special guests.</p>

          <div class="links"><a href="https://caffe.topmonks.cz">CHECK OUT LATEST CAFFE</a>
          </div>
        </div>
      </div>
    </div>
    <div class="tm-meetup box mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-wrapper">
      <div class="mdc-layout-grid__inner">
        <div
          class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
          <img class="tm-meetup__img" alt="Photo of TopMonks breakfast"
               src="https://res.cloudinary.com/topmonks/image/upload/c_scale,h_273,w_428/v1544798416/topmonks.com/Meet-us/tm-breakfast.png">
        </div>
        <div
          class="tm-meetup__cell tm-events_text mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
          <h3>TopMonks breakfast</h3>
          <p>Every Thursday we have breakfast together. This is not only an opportunity to
            meet almost all the monks, but we also welcome the interesting people
            outer&nbsp;space.</p>

          <div class="links"><a href="mailto:happy@top&shy;monks.com">FEEL FREE TO COME ANYTIME</a>
          </div>
        </div>
      </div>
    </div>
    <div class="tm-meetup box mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-wrapper">
      <div class="mdc-layout-grid__inner">
        <div
          class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
          <img class="tm-meetup__img" alt="Photo from Startup Stage"
               src="https://res.cloudinary.com/topmonks/image/upload/c_scale,h_273,w_428/v1544798429/topmonks.com/Meet-us/startup.png">
        </div>
        <div
          class="tm-meetup__cell tm-events_text mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
          <h3>Startup Stage</h3>
          <p>Three times a year we invite three interesting guests from the startup world
            to share their experiences with us. Come and ask them whatever you want. This is
            what is #startupstage about&nbsp;&mdash; no bullshit enjoyable&nbsp;night.</p>

       <div class="links"><a href="https://youtu.be/3bRkKJ0Xzmo">FEEL THE VIBE</a>
          </div>
        </div>
      </div>
    </div>
    <div class="tm-meetup box mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-wrapper">
      <div class="mdc-layout-grid__inner">
        <div
          class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
          <img class="tm-meetup__img" alt="Photo from CZ Podcast"
               src="https://res.cloudinary.com/topmonks/image/upload/c_scale,h_273,w_428/v1544798611/topmonks.com/Meet-us/podcast.png">
        </div>
        <div
          class="tm-meetup__cell tm-events_text mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
          <h3>CZPodcast</h3>
          <p>The most popular tech-podcast in Czech republic! Duo Filemon and Dagi +
            interesting guest = fun and knowledge guaranteed!</p>

          <div class="links"><a href="https://soundcloud.com/czpodcast-1">LISTEN TO THE PODCAST</a>
          </div>
        </div>
      </div>
    </div>
    <!--
    <div class="tm-meetup box mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-wrapper">
      <div class="mdc-layout-grid__inner tm-layout-wrapper">
        <div
          class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
          <h3><a href="https://coderetreat.cz/">Code Retreat CZ</a></h3>
          <p>Code retreat is an intensive one day training focused on the basics of software development.
            Thanks to the fact that the developers are not under pressure of results delivery CodeRetreat
            offers the opportunity to concentrate on improving your skills.</p>

          <div class="links"><a href="https://coderetreat.cz/">https://coderetreat.cz/</a></div>
        </div>
        <div
          class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
          <a class="img-link" href="https://coderetreat.cz/"><img class="tm-meetup__img" alt="Code Retreat CZ logo"
                                                                  src="/images/community/coderetreat-cz.png"></a>
        </div>
      </div>
    </div>
    <div class="tm-meetup box mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-wrapper">
      <div class="mdc-layout-grid__inner">
        <div
          class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
          <h3><a href="http://www.asociaceux.cz/">Asociace UX</a></h3>
          <p>UX Asociace mainly focuses on forming and developing local UX market with regards to the foreign
            trends and experiences. Also it tries to rais awareness of the public about HCI, UX and offers
            support for UX specialists, business and the academic sphere.</p>

          <div class="links"><a href="http://www.asociaceux.cz/">http://www.asociaceux.cz/</a></div>
        </div>
        <div
          class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
          <a class="img-link" href="http://www.asociaceux.cz/"><img class="tm-meetup__img" alt="Asociace UX logo"
                                                                    src="/images/community/ux-asociace.png"></a>
        </div>
      </div>
    </div>
    <div class="tm-meetup box mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-wrapper">
      <div class="mdc-layout-grid__inner">
        <div
          class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
          <h3><a href="https://www.meetup.com/Lambda-Meetup-Group/">Prague Lambda</a></h3>
          <p>This meetup group was created as a group for functional programming enthusiasts, programmers
            interested in different programming languages which support FP paradigm: Erlang, Clojure,
            Haskell, OCaml, Scala, Lisp, etc. and different FP related topics and techniques.</p>

          <div class="links"><a href="https://www.meetup.com/Lambda-Meetup-Group/">https://www.meetup.com/Lambda-Meetup-Group/</a>
          </div>
        </div>
        <div
          class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
          <a class="img-link" href="https://www.meetup.com/Lambda-Meetup-Group/"><img class="tm-meetup__img"
                                                                                      alt="Prague Lambda logo"
                                                                                      src="/images/community/prague-lambda.png"></a>
        </div>
      </div>
    </div>
    <div class="tm-meetup box mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-wrapper">
      <div class="mdc-layout-grid__inner">
        <div
          class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
          <h3><a href="http://devminutes.cz/">DevMinutes</a></h3>
          <p>Our colleague Jirka decided to make his very own podcast with interesting guests. Starting with
            running, going through education system, ending with artificial intelligence - in Jirka’s
            wide field of interests everybody can find something edifying.</p>

          <div class="links"><a href="http://devminutes.cz/">http://devminutes.cz/</a></div>
        </div>
        <div
          class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
          <a class="img-link" href="http://devminutes.cz/"><img class="tm-meetup__img" alt="DevMinutes logo"
                                                                src="/images/community/devminutes.png"></a>
        </div>
      </div>
    </div>
    <div class="tm-meetup box mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-wrapper">
      <div class="mdc-layout-grid__inner">
        <div
          class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
          <h3><a href="http://www.wisephora.com/">Wisephora</a></h3>
          <p>Wisephora focuses on supporting the discussion about future of work and connecting people and
            organisations interested in these topics. You can be looking forward to lectures of skilled
            managers, significant czech companies as well as various visionaries with their innovative
            thoughts.
          </p>

          <div class="links"><a href="http://www.wisephora.com/">http://www.wisephora.com/</a></div>
        </div>
        <div
          class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
          <a class="img-link" href="http://www.wisephora.com/"><img class="tm-meetup__img" alt="Wisephora logo"
                                                                    src="/images/community/wisephora.png"></a>
        </div>
      </div>
    </div>
    <div class="tm-meetup box mdc-layout-grid__cell mdc-layout-grid__cell--span-12 tm-layout-wrapper">
      <div class="mdc-layout-grid__inner">
        <div
          class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
          <h3><a href="http://block-stars.com/">Block-Stars</a></h3>
          <p>The aim of the event was to evangelise the blockchain technology for the professional audience from
            corporate representatives,
            startup incubators, accelerators, investors, startup founders and general public. This one day event
            attracted promising projects, experts or investors from CEE region.</p>
          <div class="links"><a href="http://block-stars.com/">http://block-stars.com/</a></div>
        </div>
        <div
          class="tm-meetup__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-6-desktop">
          <a class="img-link" href="http://block-stars.com/"><img class="tm-meetup__img" alt="Blockstars logo"
                                                                  src="/images/community/blockstars.png"></a>
        </div>
      </div>
    </div>-->
  </div>
</section>
<section class="other-events">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner tm-layout-wrapper">
      <div class="page_sub-title main_page-title mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>Other events</h2>
        <p>We hold conferences on the future of work and the blockchain. We are members
          of many other dev events that we not only participate but also where we often
          lecture.</p>
      </div>
      <div
        class="other-events_logos mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-12-desktop">
        <a class="img-link" href="http://block-stars.com/"><img class="tm-meetup__img" alt="Blockstars logo"
                                                                src="https://res.cloudinary.com/topmonks/image/upload/v1544789647/loga/logo_blockstars.png"
                                                                style="width: 219px"></a>
        <a class="img-link" href="http://www.wisephora.com/"><img class="tm-meetup__img" alt="Wisephora logo"
                                                                  src="https://res.cloudinary.com/topmonks/image/upload/v1544789648/loga/logo_wisephora.png"
                                                                  style="width: 219px"></a>
        <a class="img-link" href="https://coderetreat.cz/"><img class="tm-meetup__img" alt="Code Retreat CZ logo"
                                                                src="https://res.cloudinary.com/topmonks/image/upload/v1544789647/loga/logo_crcz.png"
                                                                style="width: 219px"></a>
        <a class="img-link" href="https://www.meetup.com/Lambda-Meetup-Group/"><img class="tm-meetup__img"
                                                                                    alt="Prague Lambda logo"
                                                                                    src="https://res.cloudinary.com/topmonks/image/upload/v1544789647/loga/logo_praguelambda.png"
                                                                                    style="width: 219px"></a>
      </div>
      <div
        class="other-events_logos mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-12-desktop">
        <a class="img-link" href="http://CodingDojo.cz"><img class="tm-meetup__img" alt="Coding Dojo logo"
                                         src="https://res.cloudinary.com/topmonks/image/upload/v1544789647/loga/logo_codingdojo.png"
                                         style="width: 219px"></a>

        <a class="img-link" href="http://www.asociaceux.cz/"><img class="tm-meetup__img" alt="Asociace UX logo"
                                                                  src="https://res.cloudinary.com/topmonks/image/upload/v1544789647/loga/logo_uxa.png"
                                                                  style="width: 219px"></a>
        <a class="img-link" href="http://devminutes.cz/"><img class="tm-meetup__img" alt="Dev Minutes logo"
                                         src="https://res.cloudinary.com/topmonks/image/upload/v1544789647/loga/logo_devminutes.png"
                                         style="width: 219px"></a>
      </div>
    </div>
  </div>
</section>
<section class="gallery_img">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <img class="tm-meetup__img" alt="Blockstars logo"
             src="https://res.cloudinary.com/topmonks/image/upload/c_scale,h_300,w_550/v1544796894/topmonks.com/Meet-us/img_meet7.png">
      </div>
    </div>
</section>


{% endblock %}
