{% set chooseBox = images["choose-pc01.png"]["public_id"] %}
{% set choosePickup = images["choose-pc02.png"]["public_id"] %}


<style>
  .choose-postcube h3 {
    font-size: 18px;
  }
  .choose-postcube__content {
    max-width: 350px;
  }
  .choose-postcube__content a {
    font-weight: 800;
    text-decoration: none;
    border-bottom: 2px solid transparent;
  }
  .choose-postcube__content a:hover {
    border-bottom: 2px solid var(--postcube-secondary);
  }
</style>

<section id="" class="choose-postcube">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner layout-wrapper">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2 class="content-title">Vyberte si svou ideální PostCube</h2>
      </div>
      <div class="choose-postcube__content mdc-layout-grid__cell">
        <img alt="Fotografie PostCube" src="{{ chooseBox | cloudinaryUrl(dpr="auto", width=400) }}">
        <h3>4&nbsp;velikosti chytré poštovní schránky</h3>
        <p>Přizpůsobte velikost PostCube rozměrům zásilek, které vám obvykle
          chodí. Zvolte si rozměr XS, S, M nebo&nbsp;L.</p>
      </div>
      <div class="choose-postcube__content mdc-layout-grid__cell">
        <img alt="Fotografie doručení zásilky do schránky" src="{{ choosePickup | cloudinaryUrl(dpr="auto", width=400) }}">
        <h3>Instalace na míru nebo svépomocí</h3>
        <p>S&nbsp;instalací PostCube vám rádi pomůžeme. Pokud jste zruční, zvládnete
          ji připevnit na plot, k&nbsp;domu nebo umístit na zahradu i&nbsp;sami.
          <a href="#">Jak na&nbsp;to</a></p>
      </div>
      <div class="choose-postcube__content mdc-layout-grid__cell">
        <img alt="Fotografie PostCube" src="{{ chooseBox | cloudinaryUrl(dpr="auto", width=400) }}">
        <h3>Cena podle náročnosti vašich přání</h3>
        <p>Pořizovací cena PostCube se odvíjí od její velikosti, způsobu instalace
          a vybraného příslušenství včetně kamerového systému.</p>
      </div>
    </div>
  </div>
</section>
