{% set createPostcube = images["create-pc_bg.png"]["public_id"] %}

<style>
  .create-postcube {
    text-align: center;
    padding: 4em 0 7em;
  }

  .create-postcube h2 {
    color: var(--postcube-white)
  }
  .action-btn {
    margin-top: 2em;
  }
  @media screen and (min-width: 840px) {
    .create-postcube {
      background-image: url({{ createPostcube | cloudinaryUrl(dpr="auto", width=1020) }});
      background-size: 100% auto;
      background-position: 100%;
      background-repeat: no-repeat;
    }
  }
  @media (max-width: 839px) {
    .create-postcube {
      background-color: var(--postcube-primary);
    }
  }
</style>

<section class="create-postcube">
  <div class="mdc-layout-grid layout-wrapper">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>Sestavte si svou PostCube a zjistěte její cenu</h2>
      </div>
      <div class="action-btn mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <a href="#" class="action-btn__label">Sestavit PostCube</a>
      </div>
    </div>
  </div>
</section>
