<link rel="stylesheet" href="/assets/css/components/faq.css">
<section class="faq mdc-layout-grid">
  <div class="mdc-layout-grid__inner layout-wrapper">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h2>Možná vás zajímá ještě něco více</h2>
    </div>
    <div class="accordion mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
      <div>
        <input type="checkbox" name="accordion__faq" id="faq2" class="faq--input">
        <label for="faq2" class="faq--label">Jaká je životnost poštovní schránky PostCube?</label>
        <div class="faq--content">
          <p>PostCube je kovová, voděodolná poštovní schránka budoucnosti navržená tak, aby dlouhodobě odolávala nástrahám počasí. Její životnost závisí na způsobu umístění a používání. Životnost tužkových baterií uvnitř PostCube záleží zejména na způsobu a frekvenci jejího užívání a obvykle se pohybuje v řádu měsíců. Úroveň nabití vidíte v aplikaci, která tuto informaci aktualizuje při každém propojení s boxem.</p>
          <p>V okamžiku zakoupení PostCube získáte záruku 2 roky a můžete se na nás obrátit v případě jakéhokoliv problému. Pro zvýšení bezpečnosti zásilek doporučujeme instalaci kamerového systému, který dodáváme spolu s PostCube.. </p>
        </div>
      </div>
      <div>
        <input type="checkbox" name="accordion__faq" id="faq3" class="faq--input">
        <label for="faq3" class="faq--label">Přes jaké dopravce je možné zasílat?</label>
        <div class="faq--content">
          <p>Naším cílem je, aby byla PostCube univerzální a vy jste si mohli vybrat dopravce, který vám vyhovuje nejvíce. V současné době spolupracujeme s Liftagem a navazujeme spolupráci s dalšími nejpoužívanějšími přepravními společnostmi..</p>
        </div>
      </div>
      <div>
        <input type="checkbox" name="accordion__faq" id="faq4" class="faq--input">
        <label for="faq4" class="faq--label">Mohu si vzhled PostCube nějak přizpůsobit?</label>
        <div class="faq--content">
          <p>Ano. Jen výběrem velikosti to zdaleka nekončí. Můžete si vybrat z různých barev, případně PostCube opatřit polepem fólií a sladit ji s barvou a stylem svého domu či plotu. Zcela jiný vzhled dodá vaší poštovní schránce také to, zda bude stát na zemi, nebo na stojanu. Různé varianty PostCube a jejího upevnění si můžete vyzkoušet pomocí konfigurátoru.</p>
        </div>
      </div>
    </div>
    <div class="accordion mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
      <div>
        <input type="checkbox" name="accordion__faq" id="faq5" class="faq--input">
        <label for="faq5" class="faq--label">Kde všude mohu PostCube umístit?</label>
        <div class="faq--content">
          <p>Kolem domu je celá řada možností, kam poštovní schránku PostCube nainstalovat. Díky podstavci může stát samostatně kdekoliv na zahradě, připevněná ke zdi nebo jako součást vašeho plotu. Fantazii se meze nekladou.</p>
        </div>
      </div>
      <div>
        <input type="checkbox" name="accordion__faq" id="faq6" class="faq--input">
        <label for="faq6" class="faq--label">Je možné aplikaci používat i&nbsp;na počítači?</label>
        <div class="faq--content">
          <p>Ano. Své zásilky můžete spravovat v jednoduché mobilní aplikaci, která je zdarma ke stažení pro Android (a brzy i iPhone). Pokud si však s aplikacemi příliš netykáte, můžete celý systém přijímání i odesílání zásilek řídit prostřednictvím webového prohlížeče.</p>
        </div>
      </div>
      <div>
        <input type="checkbox" name="accordion__faq" id="faq8" class="faq--input">
        <label for="faq8" class="faq--label">Jak probíhá instalace chytré poštovní schránky?</label>
        <div class="faq--content">
          <p>Instalaci PostCube může za poplatek provést náš montážní tým a vy se nemusíte vůbec o nic starat, nebo se do montáže poštovní schránky můžete pustit na vlastní pěst. V přehledném návodu najdete tipy, jak správně použít spojovací materiál, který je součástí balení, a jaké nářadí budete potřebovat. Svépomocí zvládnete PostCube namontovat na zeď, na plot nebo ji můžete nechat volně stát na stojanu kdekoliv na zahradě..</p>
        </div>
      </div>
    </div>
  </div>
</section>

