<footer>
  <div class="mdc-layout-grid layout-wrapper">
    <div class="mdc-layout-grid__inner">
      <div class="footer__list mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <ul>
          <li><a href="/PP">Privacy policy</a></li>
          <li><a href="/TC">Terms & Conditions</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
