{% set getApp = images["pc-phones.png"]["public_id"] %}

<link rel="stylesheet" href="/assets/css/components/get-app.css">
<section class="get-app mdc-layout-grid">
  <div class="mdc-layout-grid__inner layout-wrapper">
    <div
      class="get-app__content mdc-layout-grid__cell mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-7-desktop">
      <h2>Aplikace ke stažení zdarma</h2>
      <p>Stáhněte si aplikaci do svého mobilního telefonu a staňte se pánem
        příjmu i&nbsp;odesílání zásilek. Vstupte do světa, kde se na zásilky
        nečeká!</p>
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
          <button class="mdc-button content-btn" type="button">
            <a href="https://app.postcube.cz/" class="mdc-button__label" target="_blank" rel="noopener">Stáhnout pro Android</a>
          </button>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
          <button class="mdc-button content-btn" type="button">
            <a href="#" class="mdc-button__label" target="_blank" rel="noopener">Stáhnout pro iPhone</a>
          </button>
        </div>
      </div>
    </div>
    <div class="get-app__bg mdc-layout-grid__cell mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-5-desktop">
      <img alt="Postcube jako mobilní aplikace" src="{{ getApp | cloudinaryUrl(dpr="auto", width=540) }}">
    </div>
  </div>
</section>

