<style>
  .how-it-works .icon-section__content svg {
    min-height: 48px;
  }
</style>


<section id="how-it-works" class="how-it-works icon-section mdc-layout-grid">
  <div class="mdc-layout-grid__inner layout-wrapper">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h2>A takhle jednoduché to je</h2>
    </div>
    <div
      class="after-icon icon-section__content mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-3-desktop">
      <svg xmlns="http://www.w3.org/2000/svg" width="45.993" height="40.286" viewBox="0 0 45.993 40.286">
        <defs>
          <style>.a {
              fill: #1538e5;
            }</style>
        </defs>
        <path class="a"
              d="M759.667,3078.567l.434-1.91a1.816,1.816,0,0,0,.047-.422,1.888,1.888,0,0,0-1.888-1.887H737.144l-.515-2.517H759.69a1.889,1.889,0,0,0,1.841-1.474l4.447-18.667-33.472,0-.721-3.525a1.887,1.887,0,0,0-1.846-1.51h-8.066a1.888,1.888,0,0,0-1.888,1.888v1.259a1.888,1.888,0,0,0,1.886,1.888h5.5l5.526,27.019a4.405,4.405,0,1,0,5.274.674h16.5a4.407,4.407,0,1,0,5-.818Zm-15.673-17.583v-5.651h5.9v5.651h5.4l-8.35,8.35-8.35-8.35Z"
              transform="translate(-719.985 -3046.657)"/>
      </svg>
      <h3>Objednáte online</h3>
      <p>Při doručení stačí poslat kurýrovi odkaz k otevření boxu.</p>
    </div>
    <div
      class="after-icon icon-section__content mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-3-desktop">
      <svg xmlns="http://www.w3.org/2000/svg" width="46.093" height="37.662" viewBox="0 0 46.093 37.662">
        <defs>
          <style>.a {
              fill: #1538e5;
            }</style>
        </defs>
        <path class="a"
              d="M792.936,2978.994h-.1v-8.632l-4.686-10.252h-9.518v-3.48a3.356,3.356,0,0,0-.034-.334v-3.2H748.036v23.7h-.016v6.907h4.724a7.062,7.062,0,0,0,14.124-.005h9.416a7.062,7.062,0,0,0,14.124,0h2.528a1.182,1.182,0,0,0,1.177-1.177v-2.351A1.182,1.182,0,0,0,792.936,2978.994Zm-33.13,8.239a3.531,3.531,0,1,1,3.53-3.534A3.53,3.53,0,0,1,759.806,2987.233Zm23.542,0h0a3.531,3.531,0,1,1,3.531-3.534A3.531,3.531,0,0,1,783.347,2987.233Zm5.884-15.3h-10.6v-8.241h7.244l3.356,7.349Z"
              transform="translate(-748.02 -2953.099)"/>
      </svg>
      <h3>Přijede kurýr</h3>
      <p>Pomocí jednorázového odkazu kurýr otevře box a bezpečně do něj vloží
        zásilku.</p>
    </div>
    <div
      class="after-icon--last icon-section__content mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-3-desktop">
      <svg xmlns="http://www.w3.org/2000/svg" width="53.745" height="37.474" viewBox="0 0 53.745 37.474">
        <defs>
          <style>.a {
              fill: #1538e5;
            }</style>
        </defs>
        <g transform="translate(-640.35 -2908.852)">
          <path class="a"
                d="M667.223,2911.974l8.391,12.654,18.482-5.208-6.075-10.568-20.8,2.924-20.8-2.924-6.075,10.568,18.482,5.208Z"/>
          <path class="a"
                d="M667.256,2916.663l-6.841,10.772-14.027-3.88v17.1l20.869,5.667,20.869-5.667v-17.1l-14.027,3.88Z"/>
        </g>
      </svg>
      <h3>Zásilku vyzvednete</h3>
      <p>O&nbsp;doručeném balíku, který na vás čeká ve schránce, vám přijde
        upozornění do aplikace.</p>
    </div>
    <div
      class="icon-section__content mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-3-desktop">
      <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38">
        <defs>
          <style>.a {
              fill: #1538e5;
            }

            .b {
              fill: #fff;
              stroke: rgba(0, 0, 0, 0);
              stroke-miterlimit: 10;
            }</style>
        </defs>
        <g transform="translate(-1074 -2777)">
          <g transform="translate(-40)">
            <path class="a" d="M286.978,165.259v25.333l12.667,12.666h25.333V177.926l-12.667-12.667Z"
                  transform="translate(827.022 2611.741)"/>
            <path class="b"
                  d="M12.569,1879.2l2.789-2.789L.1,1861.154l3.051-3.051,15.253,15.254-1.525,1.525,4.314-4.315v8.629Zm-15.254-23.883H5.944l-8.629,8.629Z"
                  transform="translate(1123.686 928.686)"/>
          </g>
        </g>
      </svg>
      <h3>Odesílání z&nbsp;boxu</h3>
      <p>Chcete vrátit zboží nebo odeslat zásilku? V&nbsp;aplikaci vyplníte údaje,
        balík vložíte do boxu a kurýr už si ho sám vyzvedne.</p>
    </div>
    <div class="action-link mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <a href="/jak-box-funguje">Jak to celé funguje?</a>
    </div>
    <div class="action-btn mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <a href="https://shop.postcube.cz/" class="action-btn__label">Objednat PostCube</a>
    </div>
  </div>
</section>

