{% extends 'layouts/master.html' %}

{% block title %}Recenze na Hlídač shopů{% endblock %}

{% block preload %}
<link rel="modulepreload" href="https://unpkg.com/lit-html@1.1.1/lit-html.js?module" crossorigin="anonymous">
<link rel="preload" href="https://api.hlidacshopu.cz/reviews-stats" as="fetch" crossorigin="anonymous">
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/assets/css/reviews.css">
{% endblock %}

{% block main %}
<section class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <h2>Recenze na rozšíření Hlídač shopů</h2>
    </div>
  </div>
  <div id="reviews" class="mdc-layout-grid__inner">
    <div class=loading-container>
      <div class=loader aria-label="Načítám data…">Recenze se načítají&hellip;</div>
    </div>
  </div>
</section>
{% endblock %}

{% block scripts %}
<script type="module">
  import { html, render } from "https://unpkg.com/lit-html@1.1.1/lit-html.js?module";

  const reviewsRoot = document.getElementById("reviews");
  const newestFirst = (a, b) => (a.sortKey < b.sortKey) ? 1 : (a.sortKey === b.sortKey) ? 0 : -1;
  const timeout = ms => new Promise((_, reject) => setTimeout(() => reject(new Error("timeout")), ms));

  addEventListener("load", e => {
    fetchReviews().then(x => render(x.map(reviewTemplate), reviewsRoot));
  });

  async function fetchReviews() {
    const resp = await Promise.race([timeout(4000), fetch("https://api.hlidacshopu.cz/reviews-stats")]);
    if (!resp.ok) throw new Error("API error");
    const { reviews } = await resp.json();
    console.log(reviews);
    return reviews
      .map(({avatar, date, name, text, rating, type, sourceUrl}) => ({
        imageUrl: avatar,
        date: new Date(Date.parse(date)),
        sortKey: Date.parse(date),
        name,
        text,
        rating: parseInt(rating),
        source: type,
        sourceUrl
      }))
      .filter(x => x.name !== "" && x.text !== "")
      .sort(newestFirst);
  }

  function reviewTemplate({ name, date, text, imageUrl }) {
    return html`
      <div class="review mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
        <div class="review__header review__header--no-avatar">
          <img class="avatar" alt="" src="https://${imageUrl}" loading="lazy">
          <span class="review__author">${name}</span><br>
          <time class="review__date text--light-grey" datetime="${date.toISOString()}">
            ${date.toLocaleString("cs", {
              year: "numeric",
              month: "long",
              day: "numeric"
            })}
          </time>
        </div>
        <div class="review__content">
          <p>${text}</p>
        </div>
      </div>
    `;
  }
</script>
{% endblock %}
