.tm-logo {
  display: flex;
  align-items: center;
  @media screen and (max-width: 839px) {
    font-size: 24px;
    padding-top: 2px;
    justify-content: flex-end;
  }
}

.tm-hamburger {
  @media screen and (min-width: 840px) {
    display: none;
  }
  .tm-hamburger__container {
    display: inline-block;
    cursor: pointer;
    padding: 8px;
    width: 18px;
    height: 18px;
    position: relative;
  }
  .tm-hamburger__container::after {
    content: "menu";
    color: var(--tm-primary);
    text-transform: uppercase;
    font-size: 13px;
    position: absolute;
    top: 5px;
    left: 36px;
  }
  .tm-hamburger__bar {
    background-color: var(--tm-primary);
    width: 20px;
    height: 2px;
    position: absolute;
    top: 16px;
    transition: transform 0.4s;
    &:first-of-type {
      transform: translateY(-6px);
    }
    &:last-of-type {
      transform: translateY(6px);
    }
  }
  .tm-hamburger__container--open {
    .tm-hamburger__bar:first-of-type {
      transform: rotate(-45deg);
    }
    .tm-hamburger__bar:nth-of-type(2) {
      opacity: 0;
    }
    .tm-hamburger__bar:last-of-type {
      transform: rotate(45deg);
    }
  }
}

.tm-app-bar {
  position: fixed;
  width: 100vw;
  z-index: 1000;
  top: 0;
  transition: all 0.2s;
  background-color: var(--tm-secondary);
  @media screen and (max-width: 839px) {
    height: 52px;
    .tm-layout-wrapper {
      padding: 8px 16px 0 8px;
    }
    + main {
      margin-top: 52px;
    }
  }
  @media screen and (min-width: 840px) {
    height: 72px;
    .tm-layout-wrapper {
      padding: 20px 0 0 16px;
    }
    + main {
      margin-top: 72px;
    }
  }
}

.tm-app-bar--sticky {
  background-color: #fff;
  box-shadow: 0px 1px 0px rgba(63, 162, 247, 0.1);
  .tm-hamburger .tm-hamburger__bar {
    background-color: var(--tm-primary);
  }
  .tm-hamburger .tm-hamburger__container::after {
    color: rgba(0, 0, 0, 0.25);
  }
  @media screen and (min-width: 840px) {
    height: 88px;
    .tm-layout-wrapper {
      padding: 30px 16px 0;
    }
    + main {
      margin-top: 88px;
    }
    .tm-menu__list a {
      color: var(--tm-secondary_text);
      &.tm-btn {
        color: var(--tm-primary);
        background-color: var(--tm-secondary);
        display: inline;
        margin-left: 1.5em;
      }
    }
  }
}

.tm-app-bar.tm-app-bar--open {
  color: var(--tm-primary);
  .tm-hamburger__container::after {
    color: var(--tm-primary);
  }
  @media screen and (max-width: 839px) {
    .tm-menu {
      transform: translate(-8px, -64px);
      z-index: -1;
    }
  }
}

.tm-menu {
  @media screen and (max-width: 839px) {
    width: 100vw;
    height: 100vh;
    padding-top: 64px;
    transform: translate(calc(-100vw - 12px), -64px);
    transform: translate(calc(-140vw - 12px), -64px);
    position: fixed;
    z-index: 3;
    transition: transform 0.3s;
    overflow: hidden;
    background-color: #ffffff;
    color: var(--tm-primary);

    .tm-menu__list li {
      margin: 0 24px;
    }
    .tm-menu__list li + li {
      border-top: 1px solid rgba(255, 255, 255, 0.25);
    }
    .tm-menu__list a {
      display: block;
      padding: 12px;
      margin: 4px;
      text-transform: capitalize;
      &.tm-btn {
        text-align: left;
      }
    }
  }
}

.tm-menu--horizontal .tm-menu__list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  vertical-align: center;
  margin: 0;
}
.tm-menu--horizontal .tm-menu__list a {
  text-transform: uppercase;
  padding: 1.1em 1.2em;
}
.tm-menu--horizontal .tm-menu__list li + li {
  margin-left: 4px;
}
