@import url('https://fonts.googleapis.com/css?family=Varela+Round');
:root {
  --tm-primary_text: #3C3C3B;
  --tm-secondary_text: #6A7B8C;
  --tm-primary: #B46AF2;
  --tm-secondary: #f7f0fe;
}
body {
  font-size: 16px;
  line-height: 1.688;
  margin: 0;
  padding: 0;
  font-display: optional;
  font-family: 'Varela Round', sans-serif;
  font-kerning: normal;
  font-variant-numeric: lining-nums slashed-zero;
  font-variant-ligatures: common-ligatures contextual;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  color: var(--tm-primary_text);
}
.accessible-text {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  font-weight: normal;
}
h1 {
  font-size: 3em;
  margin-bottom: 0;
}
h2 {
  font-size: 1.667em;
  line-height: 1;
}
h3 {
  font-size: 1.3em;
  line-height: 1;
}
p {
  margin-top: 0;
  margin-bottom: 1.5em;
}
a {
  text-decoration: none;
  color: var(--tm-primary);
  &:hover {
    text-decoration: underline;
    text-underline: var(--tm-primary);
  }
}
q {
  line-height: 1.214em; // 34px
}
ul {
  list-style: none;
  padding: 0;
}
/* desktop */
@media (min-width: 840px) {
  h1 {
    font-size: 6em;
  }
  h2 {
    font-size: 3.111em; // 56px
  }
  h3 {
    font-size: 1.5em; // 36px
  }
}
.tm-text--center {
  text-align: center;
}
.tm-text--subtext {
  font-size: 0.875em;
  color: var(--tm-secondary_text);
}
.tm-text__h1-subtitle {
  display: block;
  color: var(--tm-primary);
  font-size: 0.5em;
}
