{% extends 'layouts/main.njk' %}
{% set language = cs %}

{% block title %}
  PostCube - Privacy Policy
{% endblock %}
{% block head %}
  <meta name="description"
        content="Chytrá schránka PostCube pro vyzvedávání zásilek kdykoliv.">
  <link rel="canonical" href="https://postcube.cz/">
  <meta property="og:type" content="company">
  <meta property="og:url" content="https://www.postcube.cz/">
  <meta property="og:site_name" content="postcube.cz">

  <style>

    .policy__content {
      padding-top: 4em;
    }
    .policy__content h1 {
      font-size: 54px;
      margin-bottom: 24px;
    }
    .policy__content a {
      font-size: 18px;
      line-height: 30px;
      color: var(--postcube-primary);
      text-decoration: none;
      border-bottom: 2px solid transparent;
    }

    .policy__content a:hover {
      border-bottom: 2px solid var(--postcube-secondary);
    }

    .policy__content li::marker {
      color: var(--postcube-secondary);
    }
  </style>

{% endblock %}

{% block content %}
  <section id="" class="policy__content">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner layout-wrapper">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <h1>Zásady ochrany osobních údajů</h1>
          <p>
Ve společnosti <b>Chytrý box CZ s.r.o.</b>, IČO 097 30 931, se sídlem Praha 4, Záběhlice, Struhařovská 2931/9, PSČ 141 00, zapsané v obchodním rejstříku u Městského soudu v Praze, oddíl C, vložka 341380  (dále jen <b>„Chytrý box“</b>), si velice vážíme Vaší důvěry.
          </p>
          <p>
Těmito zásadami ochrany osobních údajů (dále také jen <b>„Zásady“</b>) bychom Vás chtěli informovat o tom, jaké osobní údaje o Vás shromažďujeme, jak jsou údaje zpracovány a dále užívány, navštívíte-li internetový obchod provozovaný společností Chytrý box prostřednictvím webové stránky na internetové adrese: https://shop.postcube.cz (dále také jen <b>„Internetový obchod“</b>).
          </p>
          <p>
Jak možná již víte, od 25.5.2018 je ochrana osobních údajů upravena na evropské úrovni v NAŘÍZENÍ EVROPSKÉHO PARLAMENTU A RADY (EU) 2016/679 ze dne 27. dubna 2016 o ochraně fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů a o zrušení směrnice 95/46/ES (obecné nařízení o ochraně osobních údajů). Evropskou úpravu pak v České republice doplňuje český zákon č. 110/2019 Sb., o zpracování osobních údajů.
          </p>
          <p>
Veškeré osobní údaje zpracováváme v souladu s platnými a účinnými právními předpisy, přičemž největší důraz klademe na bezpečí Vašich osobních údajů.
          </p>
          <p>
Budete-li mít jakýkoliv dotaz týkající se ochrany Vašich osobních údajů, neváhejte nás kdykoliv kontaktovat. Na společnost Chytrý box se lze obrátit e-mailem na <a href="mailto:info@postcube.cz">info@postcube.cz</a>, nebo písemně na výše uvedenou adresu sídla.
          </p>
          <p>
Osobními údaji jsou veškeré informace o identifikované nebo identifikovatelné fyzické osobě, která je označována jako subjekt údajů. Identifikovatelnou fyzickou osobou je fyzická osoba, kterou lze přímo či nepřímo identifikovat, zejména odkazem na určitý identifikátor, například jméno, identifikační číslo, lokační údaje, síťový identifikátor nebo na jeden či více zvláštních prvků fyzické, fyziologické, genetické, psychické, ekonomické, kulturní nebo společenské identity této fyzické osoby.
          </p>
          <p>Chytrý box zpracovává především údaje získané v souvislosti s Vaším nákupem inteligentní poštovní schránky PostCube (dále jen <b>„PostCube“</b>) prodávané společností Chytrý box prostřednictvím Internetového obchodu a dále v souvislosti s Vaší návštěvou Internetového obchodu a případně založením Vašeho uživatelského účtu na Internetovém obchodu, založíte-li si jej, a dále v souvislosti s provozem PostCube. Chytrý box ale může oprávněně zpracovávat i některé další údaje, které pro Vás chceme v těchto Zásadách přiblížit:  
          </p>
          <ul>
          <li><h3>1. Osobní údaje, které nám sdělíte přímo Vy sami</h3>
          <p><b>Vytvoření objednávky a uzavření kupní smlouvy</b></p>
                    <p>
Osobní údaje nám primárně poskytujete prostřednictvím objednávkového formuláře umístěného na našem Internetovém obchodě při vyplnění příslušné objednávky a nákupu PostCube na našem Internetovém obchodě. Údaje, které nám poskytnete při vyplnění objednávkového formuláře v souvislosti s nákupem PostCube na Internetovém obchodě, slouží výhradně za účelem uzavření a následného plnění kupní smlouvy, kterou máte v úmyslu se společností Chytrý box uzavřít za účelem nákupu PostCube v příslušné objednávce.
          </p>
          <p>V tomto případě tak Vaše osobní údaje zpracováváme za účelem platného uzavření kupní smlouvy a pro účely plnění povinností vyplývajících z uzavřené kupní smlouvy, zejména za účelem řádného dodání objednaného PostCube, případně také vyřízení reklamace atp. Poskytnutí a zpracování těchto informací ze strany společnosti Chytrý box je tak nezbytné pro uzavření a plnění kupní smlouvy. </p>
          <p>
Takto poskytnuté osobní údaje je pak společnost Chytrý box oprávněna s Vaším výslovným souhlasem zpracovávat také pro marketingové účely.
          </p>
          <p>
Těmito údaji jsou: jméno, příjmení, e-mailová adresa, telefonní číslo, adresa pro doručení PostCube, případně fakturační adresa, adresa umístění PostCube, identifikační číslo, jste-li podnikatelem, případně daňové identifikační číslo.
          </p>
          <p><b>Založení a vedení uživatelského účtu</b></p>
                    <p>Na našem Internetovém obchodě si pak můžete za účelem zrychlení objednávky PostCube nabízeného naší společností, a získáním aktuálních informací o naší společnosti a jejích produktech, o novinkách a akcích, založit vlastní osobní účet, přičemž při jeho vytvoření také poskytujete naší společnosti své osobní údaje, které zpracováváme. Uživatelský účet můžete samozřejmě kdykoliv zrušit. </p>
          <p>V tomto případě, užívá společnost Chytrý box takto sdělené osobní údaje za účelem vedení uživatelského účtu, a to na základě Vašeho souhlasu uděleného při založení uživatelského účtu. </p>
          <p>
Takto poskytnuté osobní údaje je pak společnost Chytrý box oprávněna s Vaším výslovným souhlasem zpracovávat také za marketingovými účely.
          </p>
          <p>
Těmito údaji jsou: jméno, příjmení, e-mailová adresa, telefonní číslo, adresa trvalého bydliště, adresa pro doručení PostCube, případně fakturační adresa.</p>
<p>V tomto případě zpracováváme Vaše osobní údaje po dobu užívání uživatelského účtu z Vaší strany a v případně, že jej nebudete užívat déle než pět let, budeme Vaše osobní údaje zpracovávat nejdéle do uplynutí těchto pěti let ode dne poslední aktivity Vašeho uživatelského účtu.</p></li>
         <p>Pokud nám dále na základě Vašeho uvážení poskytnete jakékoliv další údaje v rámci naší vzájemné komunikace, budou takové osobní údaje v nezbytném rozsahu taktéž zpracovány, a to vždy s plným respektováním Vašich práv plynoucích z příslušných obecně závazných právních předpisů v oblasti ochrany osobních údajů.</p>
          </li>
          <li><h3>2.	Osobní údaje, které získáváme během návštěvy Internetového obchodu</h3>
          <p>Pro účely zlepšení efektivnosti, bezpečnosti a kvality námi poskytovaných služeb mohou být na našem Internetovém obchodě užity různé technologie, pomocí kterých dochází ke sběru a ukládání údajů. Takto získané údaje slouží ke statistickým účelům, k analýze preferencí návštěvníků Internetového obchodu a ke všeobecnému zobrazení vhodného obsahu. Patří mezi ně především IP adresa, informace o Vašem přístupu na Internetový obchod a o chování na našem Internetovém obchodě, o proklicích, o prohlížeči a o operačním systému. </p>
          <p>Je však třeba zmínit, že takovéto informace jsou anonymizované. Na jejich základě není možné zjistit údaje o Vás, jakožto konkrétní osobě, a proto nedochází k automatickému rozhodování, včetně profilování. </p>
          <p>Na našem Internetovém obchodě pak používáme tzv. cookies, tj. krátké textové soubory generované webovým serverem a ukládané v počítači prostřednictvím prohlížeče. Rozlišují se dva typy. V prvé řadě jsou to cookies nutné pro zajištění fungování a analýzu webu (uskutečnění přenosu elektronické komunikace prostřednictvím sítě elektronických komunikací), k užití těchto cookies není třeba Váš souhlas. Dále se jedná o cookies, které hodnotí některé osobní aspekty vztahující se ke konkrétní fyzické osobě. Pro použití druhého typu cookies musíme mít Váš souhlas. Souhlas lze v tomto případě udělit rovněž prostřednictvím nastavení Vašeho prohlížeče a shodným způsobem jej lze také kdykoliv odvolat, tj. úpravou nastavení prohlížeče tak, aby cookies do koncového zařízení neukládal. </p>
          </li>
                    <li><h3>3.	Údaje získané z jiných zdrojů</h3>
          <p>Osobní údaje můžeme získávat i z dalších oprávněných zdrojů, kterými jsou především údaje získané od našich obchodních partnerů. Takto získané údaje slouží především pro marketingové a statistické účely. </p>
          <p>Nutno zdůraznit, že pokud nám bude chtít některý z našich obchodních partnerů předat Vaše osobní údaje, musíte o tom být předem informováni. K předání tudíž rozhodně nebude docházet bez Vašeho vědomí. </p> </li>
          </ul>
          <p>Pokud není v těchto Zásadách pro konkrétní případ uvedeno výslovně jinak, poskytování Vašich osobních údajů není zákonným či smluvní požadavkem, nebo požadavkem, který je nutné uvést do smlouvy, a nemáte povinnost nám osobní údaje poskytnout.</p>
       <p>Pokud není v těchto Zásadách pro konkrétní případ uvedeno výslovně jinak, poskytování Vašich osobních údajů není zákonným či smluvní požadavkem, nebo požadavkem, který je nutné uvést do smlouvy, a nemáte povinnost nám osobní údaje poskytnout.</p>
       <p>Chytrý box zpracovává Vaše osobní údaje pouze v nezbytných případech, v nutném rozsahu a pouze pro dále popsané sjednané účely. </p>
       <p><i>Vytvoření objednávky a uzavření kupní smlouvy:</i> Osobní údaje jsou v tomto případě zpracovávány za účelem platného uzavření kupní smlouvy o koupi PostCube, který prodává naše společnost na Internetovém obchodě, a dále pak k plnění povinností z této kupní smlouvy plynoucích, zejména pro řádné a včasné dodání Vámi zakoupeného PostCube na Internetovém obchodě. Jedná se tudíž o zpracování nezbytné pro plnění smlouvy, nebo pro provedení opatření přijatých před uzavřením smlouvy. S Vaším výslovným souhlasem pak mohou být tyto osobní údaje využity také pro marketingové účely.</p>
       <p><i>Zřízení uživatelského účtu:</i> Osobní údaje jsou v tomto případě zpracovávány s Vaším souhlasem za účelem vytvoření a vedení uživatelského účtu na našem Internetovém obchodě. S Vaším výslovným souhlasem pak mohou být tyto osobní údaje využity také pro marketingové účely. Základem pro zpracování osobních údajů je tak v tomto případě Váš souhlas.</p>
       <p><i>Oprávněné zájmy správce:</i> Osobní údaje jsou zpracovávány zejména z důvodů ochrany našich práv a oprávněných zájmů (např. údaje získané automaticky při návštěvě Internetového obchodu nám pomáhají k zajišťování a zvyšování ochrany Internetového obchodu a současně k zajištění jeho funkčnosti).</p>
       <p><i>Plnění právní povinnosti společnosti Chytrý box, jakožto správce:</i> Chytrý box dále zpracovává osobní údaje za účelem plnění povinností, které vyplývají z příslušných právních předpisů.</p>
       <p>Osobní údaje používáme také k tomu, aby námi poskytované služby odpovídaly Vašim přáním a zájmům a abychom mohli vylepšit kvalitu našich služeb, přičemž k takovému účelu slouží především cookies.  </p>
       <p>Někdy je třeba osobní údaje zpracovávat proto, abychom dostáli nám právními předpisy uložených povinností, nebo abychom chránili naše oprávněné zájmy.</p>
       <p><b>Nutno shrnout, že základem pro zpracování Vašich osobních údajů je samozřejmě Váš dobrovolně udělený souhlas, pokud nám nesvědčí jiný oprávněný právní základ pro zpracování Vašich osobních údajů.</b></p>
        <p>Vaše osobní údaje jsou zpracovávány a uchovávány pouze po dobu nezbytně nutnou pro uvedené účely zpracování, není-li v těchto Zásadách uvedeno jinak nejdéle po dobu 5 let ode dne jejich poskytnutí. V ostatních případech (kdy jsou osobní údaje poskytnuty z jiného důvodu) vyplývá doba zpracovávání a uchovávání z konkrétního účelu zpracování anebo je výslovně stanovena příslušnými právními předpisy. </p>
        <p>Společnost Chytrý box zpracovává osobní údaje v elektronické podobě neautomatizovaným i částečně a zcela automatizovaným způsobem a vede evidenci veškerých činností, při kterých dochází ke zpracování osobních údajů.</p>
        <p>Společnost Chytrý box přijímá veškerá nezbytná technická a organizační opatření k zabezpečení ochrany Vašich osobních údajů a dodržuje veškeré povinnosti stanovené jí obecně závaznými právními předpisy. Taková opatření budou podle potřeby revidována a aktualizována.</p>
        <p>Snažíme se užívat taková bezpečnostní opatření, která zajišťují ochranu osobních údajů v nejvyšší možné míře. </p>
        <p>Společnost Chytrý box vynaloží maximální úsilí, aby nedošlo k neoprávněnému zpracování osobních údajů.</p>
        <p>Společnost Chytrý box dbá na to, aby bylo s Vašimi údaji zacházeno s náležitou péčí. </p>
        <p>Pouze tito poskytovatelé služeb, se kterými dlouhodobě spolupracujeme, mohou mít přístup k Vašim osobním údajům:</p>
        <ul><li>Společnost TopMonks s.r.o., Struhařovská 2931/9, Záběhlice, 141 00 Praha 4, IČO: 24847437</li></ul>
        <p>V souvislosti se zpracováním osobních údajů máte v souladu s příslušnými právními předpisy níže uvedená práva, které samozřejmě plně respektujeme a při jejich uplatňování se Vám budeme snažit vyjít vstříc v maximální možné míře:</p>
<p><b>Oprava a doplnění osobních údajů –</b> pro opravu osobních údajů či doplnění nás můžete kdykoliv kontaktovat na adrese Chytrý box CZ s.r.o., Praha 4, Záběhlice, Struhařovská 2931/9, PSČ 141 00;</p>
<p><b>Přístup k osobním údajům – </b>na základě Vaší žádosti a při splnění předpisy stanovených podmínek máte právo na přístup k informacím týkajícím se Vašich osobních údajů, které my jakožto správce zpracováváme;</p>
<p><b>Odvolání souhlasu a výmaz osobních údajů – </b>svůj souhlas se zpracováváním osobních údajů můžete kdykoliv odvolat na adrese Chytrý box CZ s.r.o., Praha 4, Záběhlice, Struhařovská 2931/9, PSČ 141 00, aniž je tím dotčena zákonnost zpracování založená na souhlasu uděleném před jeho odvoláním, a my Vaše osobní údaje vymažeme. Údaje budou vymazány i v dalších případech v souladu s příslušnými právními předpisy. Takové právo však nelze chápat absolutně a je třeba přihlédnout k předpokladům stanoveným příslušnými právními předpisy. Takový postup se nemůže týkat údajů, které Chytrý box potřebuje ke splnění zákonných povinností;</p>
<p><b>Právo na vznesení námitky – </b>jedná-li se o případ, kdy osobní údaje zpracováváme na základě našeho oprávněného zájmu, můžete proti takovému zpracování při naplnění právními předpisy předpokladů vznést námitku na adrese Chytrý box CZ s.r.o., Praha 4, Záběhlice, Struhařovská 2931/9, PSČ 141 00;</p>
<p><b>Právo na přenositelnost osobních údajů – </b>máte právo od nás, jakožto správce Vašich osobních údajů, získat všechny o Vás zpracovávané informace ve strukturovaném, běžně používaném, strojově čitelném formátu a dále máte s tím související právo možnost je v takto získané podobě předat jinému správci;</p>
<p><b>Právo nebýt předmětem žádného rozhodnutí založeného výhradně na automatizovaném zpracování včetně profilování –</b> máte právo na to, nebýt předmětem automatizovaného rozhodování, které pro Vás má právní účinky, nebo které se Vás obdobným způsobem významně dotýká;</p>
<p><b>Právo na omezení zpracování osobních údajů –</b> v určitých právními předpisy předvídaných případech máte právo požadovat, aby Vaše osobní údaje byly vynechány z dalšího zpracování.</p>
<p>Pokud budete mít dojem, že s Vašimi osobními údaji zacházíme v rozporu s příslušnými právními předpisy, můžete se na nás kdykoliv obrátit se žádostí o vysvětlení, případně se žádostí o odstranění vzniklého nesouladného stavu či se žádostí o omezení zpracování osobních údajů. Pro tyto účely můžete využít kterýkoliv z kontaktních údajů Chytrý box uvedený v těchto Zásadách v sekci „Kdo je správcem Vašich osobních údajů?“. Rovněž máte právo se kdykoliv obrátit na Úřad pro ochranu osobních údajů, jehož kontaktní údaje naleznete na <a href="https://www.uoou.cz/vismo/o_utvar.asp?id_u=10">https://www.uoou.cz/vismo/o_utvar.asp?id_u=10</a>. Budeme však rádi, pokud budete záležitost řešit nejprve s námi.</p>
   <p>Tyto Zásady ochrany osobních údajů jsou platné a účinné od 25. 6. 2021, přičemž Vám budou kdykoliv k dispozici na našem Internetovém obchodě.</p>   
   <p><b>Chytrý box CZ s.r.o.</b></p> 
       
       
        </div>
      </div>
    </div>
  </section>


{% endblock %}















