{% extends "layouts/arx.njk" %}
{% from "common/helpers.njk" import image %}

{% block links %}
  <link rel="stylesheet" href="/assets/css/strategy.css">

  <style>
  /* TODO: Move this to separate sass file and use cloudinaryUrl helper */
  body {
    background: #fff url("/assets/img/strategy-bg.jpg") top right no-repeat;
    background-size: 70% 755px;
  }
  .intro {
    min-height: 700px;
  }
  .intro-box {
    padding: 6em 4em;
  }
</style>
{% endblock %}

{% block main %}
<section class="intro">
  <div class="mdc-layout-grid layout-arx">
    <div class="mdc-layout-grid__inner">
      <div class="yellow-box intro-box mdc-layout-grid__cell">
        <p>We seek to Invest in Central European companies with EBITDAs of at least €
          1&nbsp;million that are valued between € 10&nbsp;million and € 50&nbsp;million in
          enterprise value&nbsp;(“EV”).</p>
      </div>
    </div>
  </div>
</section>
<div class="mdc-layout-grid layout-arx">
  <div class="mdc-layout-grid__inner">
    <div class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <div class="border-bg"></div>
    </div>
  </div>
</div>
<section class="transaction">
  <div class="mdc-layout-grid layout-arx">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>KEY Transaction types</h2>
      </div>
      <div class="left-padding_box mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <h3 class="underline--light">Succession Situations of Family Businesses</h3>
        <p>This is our favorite type of transaction. The owners would like to divest
          entirely from the business in order to pursue other opportunities, or partially
          divest while retaining a shareholding alongside&nbsp;ARX.</p>
      </div>
      <div
        class="right-padding_box mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <h3 class="underline--light">Corporate<br>Divestitures</h3>
        <p>A&nbsp;corporation seeking to divest a Central European subsidiary.</p>
      </div>
      <div class="dark-box left-padding_box mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <h3 class="underline--light">Management Buyouts (MBO)  / Buy-ins (MBI)</h3>
        <p>Managers of a company would like to become co-owners of the business, or an
          outside management team would like to acquire a company with our financial
          support.</p>
      </div>
      <div
        class="yellow-box right-padding_box mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <h3 class="underline--dark">Growth Equity</h3>
        <p>A&nbsp;company seeking capital to strengthen its market position, acquire a
          complementary business or fund a significant capex investment.</p>
      </div>
      <div
        class="left-padding_box mdc-layout-grid__cell mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-6-desktop">
        <h3 class="underline--light">Financial Restructuring</h3>
        <p>A&nbsp;company seeking capital to help get through a period of financial or
          operational&nbsp;stress.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
