:root {
  --insight-negative-color: #e13c1e;
  --insight-positive-color: #7e9204;
  --tm-primary: #fe664b;
  --tm-primary-dark: #c53321;
  --tm-primary-light: #ff9878;
  --tm-secondary: #5c5fd4;
  --tm-secondary-dark: #1d35a2;
  --tm-secondary-light: #918cff;
  --tm-grey: #9b9b9b;
  --tm-article-background: #f8fbfc;
  --tm-black: #4a4a4a;
  --tm-black-title: #3c3c3b;
}

body {
  color: var(--tm-black);
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  font-family: 16px/1.5 Lato, lato, -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-kerning: normal;
  font-variant-numeric: lining-nums slashed-zero;
  font-variant-ligatures: common-ligatures contextual;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

.tm-logo {
  font-family: Futura, futura-pt, -apple-system, BlinkMacSystemFont, Roboto,
    "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

h1,
h2 {
  font-size: 1.75em; //28px
  line-height: 1.214em; //34px
  text-transform: uppercase;
  text-align: center;
  color: var(--tm-black-title);
  margin-bottom: 18px;
  font-weight: 900;
}

h3 {
  font-size: 1.5em; //24px
  line-height: 1.167em; //28px
  text-align: center;
  color: var(--tm-black-title);
  font-weight: 900;
}

h4 {
  font-size: 1em; //16px
  margin-bottom: 0.25em; //4px
}

p {
  margin: 0 0 1em;
}

a {
  color: var(--tm-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul,
ul li {
  padding: 0;
}

ul {
  margin: 1em 0;
}

ul li {
  list-style: none;
  margin: 0;
}

ul.formatted {
  padding-left: 1em;

  li {
    list-style: initial;
    margin-bottom: 0.5em;
  }
}

@media (min-width: 480px) {
  body {
    font-size: 1.125em;
  }
  h1,
  h2 {
    font-size: 2.111em;
    line-height: 1.447em;
  }
  h3 {
    font-size: 1.333em;
  }
  h4 {
    font-size: 20px;
  }
}

.no-transform {
  text-transform: none;
}

.tm-text--margin-top {
  margin-top: 1em;
}
