{% extends "layouts/arx.njk" %}
{% from "common/helpers.njk" import image %}

{% block links %}
  <link rel="stylesheet" href="/assets/css/investments.css">
{% endblock %}

{% block main %}
  <section class="intro">
    <div class="mdc-layout-grid layout-arx">
      <div class="mdc-layout-grid__inner">
        <div class="intro__box box--white mdc-layout-grid__cell">
          <p>Our investment track-record is summarized&nbsp;below.</p>
        </div>
      </div>
    </div>
  </section>
  <div class="mdc-layout-grid layout-arx">
    <div class="mdc-layout-grid__inner">
      <div class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <div class="square-icon"></div>
      </div>
    </div>
  </div>
  <div class="mdc-layout-grid layout-arx">
    <div class="investments__filter">
      <svg width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <title>[Icon] Filter</title>
        <rect y="11.2" width="11" height="2.8" fill="#C4C4C4"/>
        <rect y="5.59998" width="15.2778" height="2.8" fill="#C4C4C4"/>
        <rect width="22" height="2.8" fill="#C4C4C4"/>
      </svg>
      <div id="countries-select">
        Sort by Country
      </div>
      <div id="transactions-select">
        Sort by Transaction
      </div>
      <div id="years-select">
        Sort by Investment year
      </div>
    </div>
  </div>

  <script type="module">
    import {html, render} from "https://unpkg.com/lit-html@1.3.0/lit-html.js?module";
    import {repeat} from "https://unpkg.com/lit-html@1.3.0/directives/repeat.js?module";
    import {unsafeHTML} from "https://unpkg.com/lit-html@1.3.0/directives/unsafe-html.js?module";

    const investmentCard = (item) => html`
      <article class="box box--stretch mdc-layout-grid__cell">
        <div class="box__logo">
          <img alt="" src="${item.image}" width="200" loading="lazy">
        </div>
        <div class="box__inner box__inner--stretch">
          <div class="box__text">
            <h3 class="sub-title">${item.title}</h3>
            ${unsafeHTML(item.body)}
          </div>
          <dl class="box__info">
            <dt>Country</dt>
            <dd>${item.country}</dd>
            <dt>Transaction</dt>
            <dd>${item.transaction}</dd>
            <dt>Investment year</dt>
            <dd>${item.year}</dd>
          </dl>
        </div>
      </article>
    `;

    const select = (items, onChange) => html`
      <select @change=${onChange}>
        ${items.map(x => html`<option>${x}</option>`)}
        </select>
    `;

    function renderInvestments(el, arr) {
      render(
        html`${repeat(sortDescBy("year", arr), investmentCard)}`,
        document.getElementById(el)
      );
    }

    function renderFilter(el, arr, prop) {
      render(
        select(Array.from(arr).sort((a, b) => (a > b ? 1 : -1)), (e) => {
          renderInvestments("current-investments", currentInvestments.filter(x => x[prop] == e.target.value));
          renderInvestments("realized-investments", realizedInvestments.filter(x => x[prop] == e.target.value));
        }),
        document.getElementById(el)
      );
    }

    const {Current: currentInvestments, Realized: realizedInvestments} = {{ investments | groupby("status") | dump | safe }};
    const investments = [...currentInvestments, ...realizedInvestments];
    const countries = new Set(investments.map(x => x.country));
    const transactions = new Set(investments.map(x => x.transaction));
    const years = new Set(investments.map(x => x.year));
    console.log({countries, transactions, years});
    const sortBy = (prop, arr) => arr.sort((a, b) => (a[prop] > b[prop]) ? 1 : -1);
    const sortDescBy = (prop, arr) => arr.sort((a, b) => (a[prop] > b[prop]) ? -1 : 1);

    renderFilter("countries-select", countries, "country");

    render(
      select(Array.from(transactions).sort((a, b) => (a > b ? 1 : -1))),
      document.getElementById("transactions-select")
    );
    render(
      select(Array.from(years).sort((a, b) => (a > b ? 1 : -1))),
      document.getElementById("years-select")
    );

    renderInvestments("current-investments", currentInvestments);
    renderInvestments("realized-investments", realizedInvestments);
  </script>

  {%- set byStatus = investments | groupby("status") -%}
  {%- set current = byStatus["Current"] | sort(true, true, "year") -%}
  {%- set realized = byStatus["Realized"] | sort(true, true, "year") -%}

  {% macro investment(item) %}
    <article class="box box--stretch mdc-layout-grid__cell">
      <div class="box__logo">
        <img alt="" src="{{ item.image }}" width="200" loading="lazy">
      </div>
      <div class="box__inner box__inner--stretch">
        <div class="box__text">
          <h3 class="sub-title">{{ item.title }}</h3>
          {{ item.body | safe }}
        </div>
        <dl class="box__info">
          <dt>Country</dt>
          <dd>{{ item.country }}</dd>
          <dt>Transaction</dt>
          <dd>{{ item.transaction }}</dd>
          <dt>Investment year</dt>
          <dd>{{ item.year }}</dd>
        </dl>
      </div>
    </article>
  {% endmacro %}

  <section class="case-studies">
    <div class="mdc-layout-grid layout-arx">
      <div class="mdc-layout-grid__inner">
        <div class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <h3>Current Investments</h3>
        </div>
      </div>
      <div class="mdc-layout-grid__inner" id="current-investments">
        {%- for item in current -%}
          {{ investment(item) }}
        {%- endfor -%}
      </div>
      <div class="mdc-layout-grid__inner">
        <div class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <h3>Realized Investments</h3>
        </div>
      </div>
      <div class="mdc-layout-grid__inner" id="realized-investments">
        {%- for item in realized -%}
          {{ investment(item) }}
        {%- endfor -%}

        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <div class="button text-center">
            <a class="button__info" href="/news/">MORE INFO</a>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

