{% extends "layouts/arx.njk" %}
{% from "common/helpers.njk" import image %}

{% block links %}
  <link rel="stylesheet" href="/assets/css/investments.css">
{% endblock %}

{% block main %}
  <section class="intro">
    <div class="mdc-layout-grid layout-arx">
      <div class="mdc-layout-grid__inner">
        <div class="intro__box box--white mdc-layout-grid__cell">
          <p>Our investment track-record is summarized&nbsp;below.</p>
        </div>
      </div>
    </div>
  </section>
  <div class="mdc-layout-grid layout-arx">
    <div class="mdc-layout-grid__inner">
      <div class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <div class="square-icon"></div>
      </div>
    </div>
  </div>
  <script type="module">
    import {html, render} from "https://unpkg.com/lit-html@1.3.0/lit-html.js?module";
    import {repeat} from "https://unpkg.com/lit-html@1.3.0/directives/repeat.js?module";
    import {unsafeHTML} from "https://unpkg.com/lit-html@1.3.0/directives/unsafe-html.js?module";

    const investmentCard = (item) => html`
      <article class="box box--stretch mdc-layout-grid__cell">
        <div class="box__logo">
          <img alt="" src="${item.image}" width="200">
        </div>
        <div class="box__inner box__inner--stretch">
          <div class="box__text">
            <h3 class="sub-title">${item.title}</h3>
            ${unsafeHTML(item.body)}
          </div>
          <dl class="box__info">
            <dt>Country</dt>
            <dd>${item.country}</dd>
            <dt>Transaction</dt>
            <dd>${item.transaction}</dd>
            <dt>Investment year</dt>
            <dd>${item.year}</dd>
          </dl>
        </div>
      </article>
    `;

    const {Current: currentInvestments, Realized: realizedInvestments} = {{ investments | groupby("status") | dump(2) | safe }};
    const sortBy = (prop, arr) => arr.sort((a, b) => (a[prop] > b[prop]) ? 1 : -1);
    const sortDescBy = (prop, arr) => arr.sort((a, b) => (a[prop] > b[prop]) ? -1 : 1);

    render(
      html`${repeat(sortDescBy("year", currentInvestments), investmentCard)}`,
      document.getElementById("current-investments")
    );
    render(
      html`${repeat(sortDescBy("year", realizedInvestments), investmentCard)}`,
      document.getElementById("realized-investments")
    );
  </script>

  {%- set byStatus = investments | groupby("status") -%}
  {%- set current = byStatus["Current"] | sort(true, true, "year") -%}
  {%- set realized = byStatus["Realized"] | sort(true, true, "year") -%}

  <section class="case-studies">
    <div class="mdc-layout-grid layout-arx">
      <div class="mdc-layout-grid__inner">
        <div class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <h3>Current Investments</h3>
        </div>
      </div>
      <div class="mdc-layout-grid__inner" id="current-investments">
        {%- for item in current -%}
          <article class="box box--stretch mdc-layout-grid__cell">
            <div class="box__logo">
              <img alt="" src="{{ item.image }}" width="200">
            </div>
            <div class="box__inner box__inner--stretch">
              <div class="box__text">
                <h3 class="sub-title">{{ item.title }}</h3>
                {{ item.body | safe }}
              </div>
              <dl class="box__info">
                <dt>Country</dt>
                <dd>{{ item.country }}</dd>
                <dt>Transaction</dt>
                <dd>{{ item.transaction }}</dd>
                <dt>Investment year</dt>
                <dd>{{ item.year }}</dd>
              </dl>
            </div>
          </article>
        {%- endfor -%}
      </div>
      <div class="mdc-layout-grid__inner">
        <div class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <h3>Realized Investments</h3>
        </div>
      </div>
      <div class="mdc-layout-grid__inner" id="realized-investments">
        {%- for item in realized -%}
          <article class="box box--stretch mdc-layout-grid__cell">
            <div class="box__logo">
              <img alt="" src="{{ item.image }}" width="200">
            </div>
            <div class="box__inner box__inner--stretch">
              <div class="box__text">
                <h3 class="sub-title">{{ item.title }}</h3>
                {{ item.body | safe }}
              </div>
              <dl class="box__info">
                <dt>Country</dt>
                <dd>{{ item.country }}</dd>
                <dt>Transaction</dt>
                <dd>{{ item.transaction }}</dd>
                <dt>Investment year</dt>
                <dd>{{ item.year }}</dd>
              </dl>
            </div>
          </article>
        {%- endfor -%}

        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <div class="button text-center">
            <a class="button__info" href="/news/">MORE INFO</a>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

