<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    html, body {
      margin: 0;
      padding: 0;
    }

    body {
      background-color: #FFFFFF;
      color: #283443;
      font: 18px/1.3333333 vista-sans, sans-serif;
      font-variant-numeric: lining-nums;
      font-variant-ligatures: common-ligatures;
      -webkit-font-feature-settings: "kern", "liga", "clig", "lnum";
      font-feature-settings: "kern", "liga", "clig", "lnum";
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      text-rendering: geometricPrecision;
      height: 100vh;
      overflow: hidden;
      padding: 8px;
    }

    h1 {
      font-size: 48px;
      text-align: left;
      font-weight: 400;
      padding: 8px 0 34px 34px;
      margin: 0;
    }

    h2 {
      font-size: 28px;
      font-weight: 400;
      text-align: center;
    }

    section {
      border-radius: 4px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
      padding: 12px 24px;
    }

    section + section {
      margin-top: 16px;
    }

    .score-card {
      padding: 8px 24px;
    }

    .flex-wrapper {
      display: flex;
      flex-flow: row nowrap;
    }

    .single-chart {
      width: 33%;
      justify-content: space-around;
    }

    .circular-chart {
      display: block;
      margin: 10px auto;
      max-width: 80%;
      max-height: 250px;
    }

    .circle-bg {
      fill: none;
      stroke: #eee;
      stroke-width: 3.8;
    }

    .circle {
      fill: none;
      stroke-width: 2.8;
      stroke-linecap: round;
      animation: progress 1s ease-out forwards;
    }

    @keyframes progress {
      0% {
        stroke-dasharray: 0 100;
      }
    }

    .circular-chart.orange .circle {
      stroke: #E37921;
    }

    .circular-chart.green .circle {
      stroke: #1F803C;
    }

    .percentage {
      fill: #666;
      font-family: sans-serif;
      font-size: 0.5em;
      text-anchor: middle;
    }
    .name {
      font-size: 34px;
      font-weight: 400;
      flex: 1 1 auto;
      color: #000;
    }
    .state {
      display: none;
      font-size: .9rem;
      font-weight: 600;
      margin-right: 10px;
    }
    .uptime {
      font-size: 34px;
      font-weight: 400;
    }

    .check {
      padding: 8px 34px;
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;
    }
    .info {
      display: flex;
      padding: 5px 0;
    }
    .points {
      display: flex;
      height: 30px;
    }
    .point {
      position: relative;
      margin-right: 4px;
      background: #E6EDF4;
      width: 6px;
    }
    .error{
      height: 30px;
      top: 0;
      background: #E03131;
      display: block;
      position: absolute;
      width: 6px;
    }
    .ok {
      background: #4DADF7;
      height: 30px;
      opacity: 1;
      top: 0;
      display: block;
      position: absolute;
      width: 6px;
    }

  </style>
</head>
<body>

</body>
</html>

<section class="score-card">
  <h1>TopMonks.com</h1>
  <div class="flex-wrapper" style="padding: 24px 0">
    <div class="single-chart">
      <svg viewBox="0 0 36 36" class="circular-chart orange" width="110px" height="110px">
        <path class="circle-bg"
              d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
        />
        <path class="circle"
              stroke-dasharray="76, 100"
              d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
        />
        <text x="18" y="20.35" class="percentage">76</text>
      </svg>
      <h2>Perfomance</h2>
    </div>
    <div class="single-chart">
      <svg viewBox="0 0 36 36" class="circular-chart orange" width="110px" height="110px">
        <path class="circle-bg"
              d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
        />
        <path class="circle"
              stroke-dasharray="81, 100"
              d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
        />
        <text x="18" y="20.35" class="percentage">81</text>
        <h2>Accessibility</h2>
      </svg>
    </div>
    <div class="single-chart">
      <svg viewBox="0 0 36 36" class="circular-chart green" width="110px" height="110px">
        <path class="circle-bg"
              d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
        />
        <path class="circle"
              stroke-dasharray="92, 100"
              d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
        />
        <text x="18" y="20.35" class="percentage">92</text>
        <h2>Best practices</h2>
      </svg>
    </div>
    <div class="single-chart">
      <svg viewBox="0 0 36 36" class="circular-chart green" width="110px" height="110px">
        <path class="circle-bg"
              d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
        />
        <path class="circle"
              stroke-dasharray="98, 100"
              d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
        />
        <text x="18" y="20.35" class="percentage">98</text>
        <h2>SEO</h2>
      </svg>
    </div>
  </div>

  <div class="check state-Operational">
    <div class="info">
      <div class="name">Last build: 24/4/2019</div>
      <div class="state">(Operational)</div>
      <div class="uptime">100% uptime</div>
    </div>
    <div class="points">
      <div class="point" data-tippy="" data-original-title="100% uptime on February 06 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on February 07 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on February 08 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on February 09 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on February 10 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on February 11 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on February 12 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on February 13 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on February 14 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on February 15 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on February 16 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on February 17 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on February 18 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on February 19 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on February 20 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on February 21 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on February 22 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on February 23 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on February 24 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on February 25 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on February 26 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on February 27 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on February 28 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 01 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 02 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 03 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 04 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 05 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 06 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 07 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 08 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 09 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 10 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 11 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 12 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 13 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 14 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 15 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 16 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 17 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 18 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 19 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 20 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 21 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 22 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 23 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 24 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 25 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 26 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 27 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 28 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 29 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 30 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on March 31 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 01 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 02 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 03 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 04 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 05 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 06 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 07 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 08 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 09 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 10 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 11 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 12 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 13 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 14 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 15 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 16 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 17 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 18 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 19 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 20 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 21 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 22 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 23 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 24 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 25 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 26 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 27 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 28 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 29 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on April 30 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on May 01 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on May 02 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on May 03 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on May 04 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on May 05 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on May 06 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

      <div class="point" data-tippy="" data-original-title="100% uptime on May 07 UTC">
        <div class="error" style="height: 30px; top: 0px"></div>
        <div class="ok" style="height: 30px; opacity: 1; top: 0px"></div>
      </div>

    </div>
  </div>
</section>
