// Footer //
footer {
  background-color: var(--postcube-primary);

  .footer__list {
    ul {
      padding: 0;
      display: inline-flex;

      li {
        list-style: none;

        a {
          text-decoration: none;
          color: var(--postcube-white);
          margin-right: 24px;
          border-bottom: 2px solid transparent;

          &:hover,
          &.active {
            border-bottom: 2px solid var(--postcube-secondary);
          }
        }
      }
    }
  }

  .footer__logo {
    position: relative;
    @media (min-width: 840px) {
      svg {
        position: absolute;
        bottom: -25px;
        right: 0;
      }
    }
    @media (min-width: 600px) and (max-width: 839px) {
      text-align: center;
    }
  }
  @media (max-width: 839px) {
    .mdc-layout-grid {
      padding-bottom: 0;
    }
  }
}
