// Download the App - Get the App //
.get-app {
  color: var(--postcube-white);
  padding-top: 2em;

  .get-app__content {
    h2, p {
      color: var(--postcube-white);
      text-align: left;
      max-width: 420px;
    }
  }
  @media screen and (min-width: 840px) {
    background-image: cloudinaryUrl("/postcube.cz/download-app_bg.png");
    background-size: 90% 500px;
    background-position: 100%;
    background-repeat: no-repeat;
    min-height: 540px;
    .get-app__content {
      margin-left: 8em;
    }
  }
  @media (max-width: 839px) {
    background-color: var(--postcube-primary);
    h2 {
      font-size: 30px;
      text-align: center;
      margin-bottom: 0;
    }
    p {
      font-size: 16px;
      text-align: center;
    }
    .btn {
      padding: 20px 10px;
      width: 80%;
      margin: 0 auto;
    }
  }
}
