// Header Component//
header {
  color: var(--postcube-white);

  .app-bar__logo {
    align-self: center;
    position: relative;
  }

  nav {
    float: right;
  }

  ul li {
    list-style: none;
    display: inline-flex;
    position: relative;

    a {
      font-size: 16px;
      font-style: normal;
      font-weight: normal;
      color: var(--postcube-black);
      line-height: 32px;
      border-bottom: 2px solid transparent;
      text-decoration: none;
      margin-right: 44px;
      padding: 4px 0;

      &:hover,
      &.active a:after {
        border-bottom: 2px solid var(--postcube-secondary);
      }
    }

    a.list__btn {
      &:hover {
        cursor: pointer;
        background-color: var(--postcube-secondary-light);
        border-bottom: transparent;
      }

      @media screen and (min-width: 840px) {
        background-color: var(--postcube-secondary);
        padding: 4px 14px;
      }
    }

    a.list__lang--cz {
      margin-right: 6px;
    }

    a.list__lang--sk {
      color: var(--postcube-grey);

      &:active {
        color: var(--postcube-black);
      }
    }
  }

  button.dropbtn {
    background-color: transparent;
    padding: 0;
  }

  .dropdown {
    .dropbtn {
      border: none;
      outline: none;
      background-color: inherit;
      font-family: inherit;
      line-height: 32px;
      border-bottom: 2px solid transparent;
      text-decoration: none;

      &:hover,
      &.active a:after {
        border-bottom: 2px solid var(--postcube-secondary);
      }

      @media screen and (min-width: 840px) {
        font-size: 16px;
        padding: 4px 0;
      }
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: var(--postcube-primary);
      min-width: 180px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dropdown-content a {
      float: none;
      color: var(--postcube-white);
      padding: 18px 30px;
      text-decoration: none;
      display: block;
      text-align: left;

      &:hover {
        color: var(--postcube-secondary);
      }
    }

    @media screen and (min-width: 840px) {
      float: left;
      overflow: hidden;
    }
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  @media screen and (min-width: 1440px) {
    .layout-wrapper {
      padding-left: 0;
    }
  }
}

.app-bar {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;

}

// Animation //
// Fade In Logo //
@media screen and (min-width: 1024px) {
  .app-bar__logo {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-play-state: unset;
    animation-iteration-count: 1;
  }
}

#logo--text {
  font-family: Roobert, sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: var(--postcube-primary);
  text-decoration: none;
}




.app-bar--sticky {
  background-color: var(--postcube-white);
  box-shadow: 2px 4px 10px rgb(92 95 212 / 10%);
}


.logo__subpage {
  font-size: 28px;
  font-weight: 800;
  color: var(--postcube-primary);
  text-decoration: none;
}

// HAMBURGER
.logo__hp {
  @media screen and (max-width: 839px) {
    left: -10%;
    top: -55%;
    svg {
      height: 100px;
      width: 100px;
    }

    .logo--phone {
      display: block;
    }

    .logo--desktop {
      display: none;
    }
  }
  @media screen and (min-width: 840px) {
    .logo--phone {
      display: none;
    }

    .logo--desktop {
      display: block;
    }
  }
}

.app-bar_menu {
  align-self: center;
}

.app-bar {
  @media screen and (max-width: 839px) {
    height: 70px;
  }
}

.hamburger-logo {
  position: absolute;
  top: 20px;
  left: 31px;
  @media screen and (min-width: 840px) {
    display: none;
  }
}

.hamburger {
  text-align: right;
  @media screen and (min-width: 840px) {
    display: none;
  }

  .hamburger__container {
    display: inline-block;
    cursor: pointer;
    padding: 8px;
    width: 18px;
    height: 18px;
    position: relative;
    z-index: 1000;
  }

  .hamburger__bar {
    background-color: var(--postcube-primary);
    width: 20px;
    height: 2px;
    position: absolute;
    top: 16px;
    transition: transform 0.4s;

    &:first-of-type {
      transform: translateY(-6px);
    }

    &:last-of-type {
      transform: translateY(6px);
    }
  }

  .hamburger__container--open {
    .hamburger__bar:first-of-type {
      transform: rotate(-45deg);
      background-color: white;
    }

    .hamburger__bar:nth-of-type(2) {
      opacity: 0;
    }

    .hamburger__bar:last-of-type {
      transform: rotate(45deg);
      background-color: white;
    }
  }
}

.app-bar.app-bar--open {
  color: var(--postcube-primary);

  .hamburger__container::after {
    color: var(--postcube-primary);
  }

  .hamburger__bar {
    color: var(--postcube-primary);
  }

  .menu {
    transform: translate(-8px, -64px);
    z-index: 1;
  }
}

.menu {
  @media screen and (max-width: 839px) {
    width: 100vw;
    height: 100vh;
    padding-top: 140px;
    transform: translate(calc(-100vw - 12px), -64px);
    transform: translate(calc(-140vw - 12px), -64px);
    position: absolute;
    z-index: 3;
    transition: transform 0.3s;
    overflow: hidden;
    background-color: var(--postcube-primary);;
    color: var(--postcube-white);
    ul.menu__list {
      display: inline-grid;
      padding-left: 1em;
      margin-top: 0;
    }
    .menu__list a {
      font-size: 30px;
      font-weight: bold;
      color: #ffffff;
      display: block;
      padding: 12px;
      margin: 4px;
    }
    a.list__btn {
      color: var(--postcube-secondary);
    }
    .header--social {
      margin-top: 2em;
      border-top: 1px solid white;
      border-bottom: 1px solid white;

      a.list__lang--cz {
        font-size: 26px;
      }
    }
    a.social-icons--fb {
      margin-left: 2em;
    }
    .header--policy a {
      font-size: 16px;
      font-weight: normal;
    }

    .dropbtn {
      font-size: 30px;
      font-weight: bold;
      color: #ffffff;
      margin: 4px;
      padding-left: 1em;
    }
  }
}

.menu--horizontal .menu__list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin: 0;
}

@media screen and (min-width: 840px) {
  header {
    a.social-icons, .header--policy {
      display: none;
    }
  }
}
