{% extends 'layouts/main.njk' %}
{% set language = cs %}

{% block title %}
  PostCube - Hlavní stránka
{% endblock %}
{% block head %}
  <meta name="description"
        content="">
  <link rel="canonical" href="https://www.postcube.cz/">
  <meta property="og:type" content="company">
  <meta property="og:url" content="https://www.postcube.cz/">
  <meta property="og:site_name" content="postcube.cz">

{% endblock %}
