{% extends 'layouts/application.html' %}
{% block title %}studio.topmonks.com{% endblock %}

{% block navigation %}
  {{ macros.navigation('studio') }}
{% endblock %}

{% block content %}
  {{ macros.pageHeader('We are a startup studio!','Do you have an idea for the next big thing?','<a data-scroll="" class="btn" href="#how-it-works">Come and Pitch Us</a>') }}



  <section id="how-it-works" class="how-it-works">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <h2>How can we help you?</h2>
          <p class="description">We are developers for your startup. We offer you our topnotch developers or help with finding your
            new CTO. Furthermore, you are welcome in our offices.</p>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
          <div class="principle">
            <div class="icon"><img style="top:36%;left:15%" src="images/mutual-trust.png" alt="Mutual Trust"></div>
            <div class="text">
              <h3>Meet us</h3>
              <p>Get our friendly feedback and some fine coffee.</p>
            </div>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
          <div class="principle">
            <div class="icon"><img style="top:31%;left:16%" src="images/healthy-communication.png" alt=""></div>
            <div class="text">
              <h3>Investment</h3>
              <p>We can become your angel or pre-seed investors.</p>
            </div>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
          <div class="principle">
            <div class="icon"><img style="top:27%;left:10%" src="images/remote-work.png" alt="Remote work"></div>
            <div class="text">
              <h3>Technical incubation</h3>
              <p>Get your prototype or MVP done by some skilled technicians.</p>
            </div>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
          <div class="principle">
            <div class="icon"><img style="top:34%;left:14%" src="images/team.png" alt="Teams"></div>
            <div class="text">
              <h3>Network of VC Investors</h3>
              <p>Get introduced to Investors for your next round.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="references" class="references">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <h2>References</h2>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 startups-list">
          <div class="startup"><a href="https://www.purposefly.com/"><img src="/images/logos/purposefly.png" alt="PurposeFly" width="120"></a></div>
          <div class="startup"><a href="https://lafluence.com/"><img src="/images/logos/lafluence.png" alt="Lafluence" width="120"></a></div>
          <div class="startup"><a href="https://swarmpit.io"><img src="/images/logos/swarmpit.png" alt="Swarmpit" width="120"></a></div>
          <div class="startup"><a href="https://www.2pocket.com/"><img src="/images/logos/2pocket.png" alt="2pocket" width="120"></a></div>
          <div class="startup"><a href="https://www.pricefx.eu/" class="hatched"><img src="/images/logos/pricefx.png" alt="PriceFx" width="120"></a></div>
          <div class="startup"><a href="https://techloop.io/" class="hatched"><img src="/images/logos/techloop.png" alt="Techloop" width="120"></a></div>
          <div class="startup"><a href="https://www.kartapacienta.cz/" class="hatched"><img src="/images/logos/cardoid.png" alt="Karta pacienta" width="120"></a></div>
          <div class="startup"><a href="https://www.purposefly.com/ingrid/" class="hatched"><img src="/images/logos/ingrid.png" alt="Ingrid" width="120"></a></div>
          <div class="startup"><a href="https://www.gorealeurope.com/" class="hatched"><img src="/images/logos/go-real-europe.png" alt="Go Real Europe" width="120"></a></div>
          <div class="startup"><a href="https://www.coocooshop.com/"><img src="/images/logos/coocoon.png" alt="Coocoo Shop" width="120"></a></div>
          <div class="startup"><a href="http://www.bouncepilot.com/"><img src="/images/logos/bouncepilot.png" alt="BouncePilot" width="120"></a></div>
        </div>
      </div>
    </div>
  </section>
  <section id="contacts">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <h2>Contacts</h2>
        </div>
        <div class="mdc-layout-grid__cell titleteam">
          <div class="team padd text-center" itemprop="author" itemscope="" itemtype="https://schema.org/Person"><img src="https://res.cloudinary.com/swarmpit/image/fetch/f_auto,q_auto/http://swarmpit.io/img/jiri-penzes-s.jpg"
                                                                                                                      alt="photo: Jirka Pénzeš" class="avatar" itemprop="image">
            <div class="title">
              <h5 class="name" itemprop="name">Jirka Pénzeš</h5>
              <p><a itemprop="email" href="mailto:jiri.penzes@topmonks.com">jiri.penzes@topmonks.com</a></p>
            </div>
          </div>
        </div>
        <div class="mdc-layout-grid__cell titleteam">
          <div class="team padd text-center" itemprop="author" itemscope="" itemtype="https://schema.org/Person"><img src="https://res.cloudinary.com/swarmpit/image/fetch/f_auto,q_auto/http://swarmpit.io/img/janjanko-s.jpg"
                                                                                                                      alt="photo: Jan Lopusek" class="avatar" itemprop="image">
            <div class="title">
              <h5 class="name" itemprop="name">Jan Lopusek</h5>
              <p><a href="mailto:jan.lopusek@topmonks.com">jan.lopusek@topmonks.com</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
