@import "@material/layout-grid/mdc-layout-grid";

:root {
  --primary-color: #3324ae;
  --secondary-color: #d5e9ff;
}

body {
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
  font-family: Lato, lato, -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-variant-numeric: lining-nums slashed-zero;
  -webkit-font-variant-ligatures: common-ligatures contextual;
  font-variant-ligatures: common-ligatures contextual;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  background: url("/images/BG.svg") no-repeat;
  background-position-x: 50%;
}

.tm-logo {
  font-family: Futura, futura-pt, -apple-system, BlinkMacSystemFont, Roboto,
    "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
  font-size: 36px;
  color: black;
  text-align: center;
}

h2 {
  font-size: 36px;
  color: black;
  text-align: center;
}

h3 {
  font-size: 18px;
  color: black;
  text-align: center;
}

h4 {
  font-size: 18px;
  color: #3d2476;
  text-align: center;
}

p {
  color: #000;
  font-size: 18px;
  line-height: 1.5;
}

p.description {
  text-align: center;
  color: #4a4a4a;
}
ul {
  list-style-type: none;
  padding: 0;
}

.a11y--hidden {
  // Hides content visually but make it accessible for screen readers.
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
.tm-layout-wrapper {
  max-width: 980px;
  margin: 0 auto;
}
.tm-bgnd-wrapper {
  background: url("/images/BG.svg") no-repeat left 50% bottom 60px;
  background-size: auto 100%;
}
.main_info {
  padding-top: 80px;
  padding-bottom: 120%;
  background: cloudinaryUrl("prodeti.topmonks.cz/bgnd_boy.png", $width: 510)
    no-repeat center bottom;
  background-size: 90% auto;
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min--moz-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: cloudinaryUrl("prodeti.topmonks.cz/bgnd_boy.png", $width: 510);
  }
}

@media screen and (min-width: 768px) {
  .tm-bgnd-wrapper {
    background: none;
  }
  .main_info {
    margin: 0 auto;
    padding-bottom: 0;
    min-height: 600px;
    background-position: left calc(50% + 280px) bottom 0;
    background-size: 510px auto;
  }
  .price .price_table {
    width: 200px;
  }
  .table_body p::after {
    width: 210px;
  }
}

.main_info {
  h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    @media screen {
      color: white;
    }
  }

  ul {
    padding-left: 2.5em;
  }

  li {
    line-height: 25px;
    text-decoration: none;
    text-align: left;
    font-weight: normal;
    font-size: 18px;
    @media screen {
      color: #fff;
      position: relative;
    }
  }
  .button {
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-color);
    background-color: white;
    border-radius: 30px;
    box-shadow: 4px 4px 22px var(--primary-color);
    padding: 14px 68px;
    text-decoration: none;
  }

  .button:hover {
    background-color: #ddd;
  }
}

@media screen {
  .main_info li::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url("/images/odrazky.svg") no-repeat;
    position: absolute;
    left: -36px;
    top: 3px;
  }
}

@media print {
  .main_info ul {
    list-style-type: circle;
  }
}

/*Základní info*/
#basic-info {
  h2 {
    line-height: 4px;
    padding-top: 81px;
  }
  p {
    color: #9b9b9b;
    text-align: center;
  }

  .basic-info_box_age {
    background: url("/images/age_box.svg") no-repeat;
    width: 330px;
    height: 230px;
    margin: 0 auto;
  }
  .basic-info_box_calendar {
    background: url("/images/calendar_box.svg") no-repeat;
    width: 330px;
    height: 230px;
    margin: 0 auto;
  }

  .basic-info_box_capacity {
    background: url("/images/capacity_box.svg") no-repeat;
    width: 330px;
    height: 230px;
    margin: 0 auto;
  }
}

/*Nabídka kurzů - 4 sloupce: */

.courses h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0;
}

.courses h4 {
  color: #9b9b9b;
  font-weight: 300;
  text-align: left;
  margin: 0;
}

.courses p {
  padding-bottom: 8px;
}

.courses a.button:hover {
  background-color: #a3b7cc;
}

.fill_1 {
  background: url("/images/fill_1.svg") no-repeat;
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

.fill_2 {
  background: url("/images/fill_2.svg") no-repeat;
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

.fill_3 {
  background: url("/images/fill_3.svg") no-repeat;
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

/* Ukázka - Video */
#ukazka::after {
  content: "";
  display: block;
  background: url("/images/form-grainy_bg.png") no-repeat;
  background-size: 100%;
  background-position-y: 400px;
}

#ukazka img {
  width: 100%;
}

/*Cena*/
.price {
  text-align: center;
  margin: 0 auto;
  background: url(/images/price_bg.png) top repeat-y;
  background-size: 100%;
  h3 {
    font-size: 30px;
    color: #fff;
    padding: 50px 40px;
    margin: 0;
  }
  .price_table {
    box-shadow: 0 0 20px #d3cdcd;
    border-radius: 8px;
    width: 360px;
    margin: 0 auto;
  }
  .table_head {
    background-color: #3324ae;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .table_body {
    border: 1px solid #d8d8d8;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    min-height: 430px;
    background-color: white;
  }
  .table_body p {
    font-size: 24px;
    color: #5d5d5d;
    padding: 8px 0 8px;
  }
  .table_body p::after {
    content: "";
    display: block;
    border-bottom: 1px solid #d8d8d8;
    width: 310px;
    margin: 0 auto;
    padding-top: 34px;
  }
  .table_body a {
    display: inline-flex;
  }
  .button {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #3324ae;
    border-radius: 30px;
    box-shadow: 4px 4px 6px #bbdbff;
    padding: 14px 38px;
    text-decoration: none;
    &:hover {
      background-color: #0c0449;
    }
  }
}

/* DEVICES */

@media (max-width: 1024px) {
  #galerie .tm-layout-wrapper::after {
    visibility: hidden;
  }
  .main_info img {
    max-width: 500px;
  }
}

@media screen and (min-width: 1500px) {
  .illustration {
    background-size: cover;
  }
}

/* Keep In Touch*/
.form {
  padding-bottom: 3em;
  background: url(/images/price_bg.png) top repeat-y;
  background-size: 100%;
  min-height: 300px;

  h3 {
    color: #4a4a4a;
  }

  input {
    padding: 15px;
    width: 320px;
    background-color: white;
    font-size: 18px;
    color: #9b9b9b;
    border-radius: 30px;
    border: 1px solid #84beff;
    display: block;
    float: right;
  }

  button {
    -webkit-appearance: none;
    background-color: var(--primary-color);
    font-weight: bold;
    font-size: 18px;
    color: white;
    border-radius: 30px;
    box-shadow: 6px 6px 10px #bbdbff;
    padding: 15px 50px;
    display: block;
  }
}

/* Fotogalerie */

.gallery {
  --mdc-layout-grid-gutter-desktop: 0;
  --mdc-layout-grid-gutter-tablet: 0;
  --mdc-layout-grid-gutter-phone: 0;
  .mdc-layout-grid {
    padding: 0;
    line-height: 0;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

/*TEACHERS*/
.teachers {
  min-height: 400px;
  margin-bottom: 4em;
  background: url("/images/price_curve.png") top no-repeat;
  background-size: 100%;
  padding-top: 1em;
  text-align: center;

  h3 {
    text-align: center;
    color: white;
    font-size: 18px;
  }
  a {
    text-decoration: none;
    font-weight: 500;
    color: #5835b0;
  }
  a:hover {
    font-weight: bold;
  }
  a.phone {
    color: black;
  }
  img {
    width: 100%;
    max-width: 938px;
  }
  .teachers_contact {
    max-width: 938px;
    margin: 1em auto 0;
  }
  .teachers_contact-box {
    margin: 0 4px;
    text-align: center;
    border: 0.5px solid #d8d8d8;
    background-color: #ffffff;
    border-radius: 80px;
    padding: 8px 2em;
  }
}

/*reviews:*/

.review {
  margin: 0 auto;
  position: relative;
  text-align: center;
  background: url("/images/price_curve.png") top no-repeat;
  background-size: 100%;
  padding: 3em 0;
}

.review h2::after {
  background-color: #fff;
}

.photo img {
  border-radius: 50%;
}

.name {
  color: #555;
  p {
    color: #9b9b9b;
  }
}

/*Review Slider */
.lSSlideOuter {
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lSSlideWrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

ul#clients {
  width: 6840px;
  transform: translate3d(-1140px, 0px, 0px);
  height: 280px;
  li {
    width: 1140px;
    margin-right: 0px;
  }
}

.lSSlideOuter {
  a {
    border: 1px solid #3324ae;
    border-radius: 100%;
    padding: 2px 12px;
  }
  a:hover {
    background-color: #3324ae;
  }
}

.lSSlideOuter .lightSlider,
.lSSlideOuter .lSPager {
  padding-left: 0;
  list-style: none outside none;
}

.lSSlideWrapper .lSSlide {
  -webkit-transform: translate(0);
  transform: translate(0);
  -webkit-transition: all 1s;
  -webkit-transition-property: -webkit-transform, height;
  transition-property: transform, height;
  -webkit-transition-duration: inherit !important;
  transition-duration: inherit !important;
  -webkit-transition-timing-function: inherit !important;
  transition-timing-function: inherit !important;
}

.lightSlider {
  overflow: hidden;
  margin: 0;
}

.lightSlider.lsGrab > * {
  cursor: -webkit-grab;
  cursor: grab;
}

.lSSlideOuter .lightSlider > *,
.lSSlideOuter .lSGallery li {
  float: left;
}

.lSSlideOuter .lSPager.lSpg {
  padding: 0;
  text-align: center;
  ul {
    margin-top: 5px;
  }
}

.lSSlideOuter .lightSlider,
.lSSlideOuter .lSPager {
  padding-left: 0;
  list-style: none outside none;
}

.lSSlideOuter .lSPager.lSpg > li {
  cursor: pointer;
  display: inline-block;
  padding: 0 5px;
}

.parent {
  width: 700px;
  margin-left: 8em;
}

/*footer Kontakt */
footer {
  position: absolute;
  width: 100%;
  margin: 0 auto;
}

.contact {
  background-image: linear-gradient(-134deg, #e475b9 0%, #3023ae 100%);
  padding-bottom: 6em;
}

.contact h2 {
  @media screen {
    color: #fff;
  }
}

.contact ul {
  list-style-type: none;
  padding: 0;
}

.contact a {
  @media screen {
    color: #fff;
  }
  text-decoration: none;
  font-weight: 300;

  &:hover {
    font-weight: 500;
  }
}

.contact p {
  @media screen {
    color: #fff;
  }
}

.contact h2::after {
  background-color: #fff;
}

.contact .about_us {
  margin-top: 3em;
}

.contact h3 {
  @media screen {
    color: white;
  }
  text-align: left;
}

.contact h3::after {
  display: none;
}

.contact .contact_details p {
  margin: 0;
}

.contact .mail {
  font-size: 18px;
  text-align: center;
}

.contact img {
  border-radius: 50%;
  margin: 13px auto;
}

.social {
  margin-bottom: 0 !important;
}

.social .social-buttons {
  background: white;
  border-radius: 25px;
  display: inline-flex;
  align-content: center;
  justify-content: space-between;
  padding: 8px;
  width: 240px;
}

/* Mobile layout */

@media (max-width: 480px) {
  .main_info img {
    width: 100%;
    padding-top: 2em;
  }
  .basic-info_box {
    margin-top: 40px;
  }
  .basic-info_box_age {
    width: 100%;
  }
  .basic-info_box_calendar {
    width: 100%;
  }
  .basic-info_box_capacity {
    width: 100%;
  }

  .courses p {
    height: auto;
    padding-bottom: 4px;
  }

  .fill_1,
  .fill_2 {
    padding-bottom: 30px;
  }

  .email_form {
    display: inline-flex;
  }
  .email {
    margin: 0 auto;
  }
  .form {
    input {
      width: 200px;
    }
    button {
      margin-top: 4px;
      padding: 15px 40px;
      font-size: 14px;
      box-shadow: 3px 3px #bbdbff;
    }
  }

  .gallery img {
    width: 100%;
  }
  .price {
    .price_table {
      width: 280px;
    }
    .table_body p::after {
      width: 200px;
    }
  }

  .teachers img {
    width: 100%;
  }
  .teachers {
    .teachers_contact {
      display: block;
    }
    .teachers_contact-box {
      padding: 8px 26px;
      margin: 6px;
    }
  }
}

@media (min-width: 481px) {
  .nav_bar {
    height: 72px;
  }
}

@media (max-width: 320px) {
  #basic-info {
    .basic-info_box_age {
      background: none;
      border-radius: 20px;
      box-shadow: 0px 4px 10px #d5e9ff;
      width: 100%;
      height: 100%;
    }
    .basic-info_box_calendar {
      background: none;
      border-radius: 20px;
      box-shadow: 0px 4px 10px #d5e9ff;
      width: 100%;
      height: 100%;
    }
    .basic-info_box_capacity {
      background: none;
      border-radius: 20px;
      box-shadow: 0px 4px 10px #d5e9ff;
      width: 100%;
      height: 100%;
    }
    h2 {
      padding-top: 20px;
    }
  }
}

@media (max-width: 768px) {
  .form button {
    padding: 15px 30px;
  }
}

@media print {
  body > header,
  body > footer {
    display: none;
  }

  main {
    color: black;
  }

  section {
    page-break-before: always;
  }
}
