@import "@material/layout-grid/mdc-layout-grid";

:root {
  --primary-color: #3324ae;
  --secondary-color: #d5e9ff;
}

body {
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
  font-family: Lato, Roboto, Arial, sans-serif;
  font-weight: normal;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-variant-numeric: lining-nums slashed-zero;
  -webkit-font-variant-ligatures: common-ligatures contextual;
  font-variant-ligatures: common-ligatures contextual;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;

  background: url("/images/BG.svg") no-repeat;
  background-position-x: 50%;
}

header {
  padding-left: 6em;
}

h1 {
  font-size: 36px;
  color: black;
  text-align: center;
}

h2 {
  font-size: 36px;
  color: black;
  text-align: center;
}

h3 {
  font-size: 18px;
  color: black;
  text-align: center;
}

h4 {
  font-size: 18px;
  color: #3d2476;
  text-align: center;
}

p {
  color: #000;
  font-size: 18px;
}

p.description {
  text-align: center;
  color: #4A4A4A;
}

.a11y--hidden {
  // Hides content visually but make it accessible for screen readers.
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.wrapper {
  max-width: 980px;
  margin: 0 auto;
}

@media screen and (min-width: 1500px) {
  .main_content {
    background-size: contain;
    background-position-x: 50%;
    background-position-y: -5%;
  }
}

@media screen {
  .main_info {
    padding-top: 80px;
  }
}

@media screen and (min-width: 768px) {
  .main_info {
    width: 85%;
    margin: 0 auto;
  }
  .price .price_table {
    width: 200px;
  }
  .table_body p::after {
    width: 210px;
  }
}

.main_info h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  @media screen {
    color: white;
  }
}

.main_info ul {
  list-style-type: none;
}

.main_info li {
  line-height: 25px;
  text-decoration: none;
  text-align: left;
  font-weight: normal;
  font-size: 18px;
  @media screen {
    color: #fff;
    position: relative;
  }
}

@media screen {
  .main_info li::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url("/images/odrazky.svg") no-repeat;
    position: absolute;
    left: -36px;
    top: 3px;
  }
}

@media print {
  .main_info ul {
    list-style-type: circle;
  }
}

.main_info .button {
  font-size: 16px;
  font-weight: bold;
  color: var(--primary-color);
  background-color: white;
  border-radius: 30px;
  box-shadow: 4px 4px 22px var(--primary-color);
  padding: 14px 68px;
  text-decoration: none;
}

.main_info .button:hover {
  background-color: #ddd;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nav_bar ul {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
  color: white;
  list-style-type: none;
  padding: 0;
}

.nav_bar a {
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid transparent;
}

.nav_bar a:hover {
  border-color: white;
}

#logo:before {
  content: "";
  display: block;
  top: 0;
  left: -29px;
  width: 200px;
  height: 100px;
  position: absolute;
  background: url("/images/logoBG.svg") no-repeat;
  z-index: 0;
}

#logo {
  position: relative;
  width: 142px;
  height: 18px;
}

#logo svg {
  position: absolute;
  top: 16px;
  left: 0;
  z-index: 10;
}

#logo svg::before {
  content: "";
  display: block;
  background: url("/images/monk_logo.svg") no-repeat;
  z-index: 0;
}

.hamburger {
  visibility: hidden;
}

/*Základní info*/
#basic-info {
  h2 {
    line-height: 4px;
  }
  p {
    color: #9B9B9B;
    text-align: center;
  }
  .basic-info_box {
    position: relative;
    width: auto;
    height: 151px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px #D5E9FF;
    padding-top: 44px;
  }
  .basic-info_box_icons::before {
    width: 91px;
    height: 91px;
    position: absolute;
    bottom: 105px;
    right: 101px;
  }

  .basic-info_box_age::before {
    content: '';
    display: block;
    background: url("/images/age_icon.svg") no-repeat;
  }
  .basic-info_box_calendar::before {
    content: '';
    display: block;
    background: url("/images/calendar_icon.svg") no-repeat;
  }
  .basic-info_box_capacity::before {
    content: '';
    display: block;
    background: url("/images/capacity_icon.svg") no-repeat;
  }
}

/*Nabídka kurzů - 4 sloupce: */

.courses h3 {
  font-size: 24px;
  font-weight: normal;
  text-align: left;
  margin-bottom: 0;
}

.courses h4 {
  color: #9b9b9b;
  font-weight: 300;
  text-align: left;
  margin: 0;
}

.courses p {
  padding-bottom: 8px;
}

.courses a.button:hover {
  background-color: #a3b7cc;
}

.fill_1 {
  background: url("/images/fill_1.svg") no-repeat;
  width: 81px;
  height: 97px;
  margin: 0 auto;
}

.fill_2 {
  background: url("/images/fill_2.svg") no-repeat;
  width: 81px;
  height: 97px;
  margin: 0 auto;
}

.fill_3 {
  background: url("/images/fill_3.svg") no-repeat;
  width: 81px;
  height: 97px;
  margin: 0 auto;
}

/* Ukázka - Video */
#ukazka::after {
  content: "";
  display: block;
  background: url("/images/form-grainy_bg.png") no-repeat;
  background-size: 100%;
  background-position-y: 400px;
}

#ukazka img {
  width: 100%;
}

/*Cena*/
.price {
  text-align: center;
  margin: 0 auto;
  background: url(/images/price_bg.png) top no-repeat;
  h3 {
    font-size: 30px;
    color: #fff;
    padding: 60px 40px;
    margin: 0;
  }
  .price_table {
    box-shadow: 0 0 20px #000;
    border-radius: 8px;
    width: 360px;
    margin: 0 auto;
  }
  .table_head {
    background-color: #3324AE;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .table_body {
    border: 1px solid #D8D8D8;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    min-height: 420px;
    background-color: white;
  }
  .table_body p {
    font-size: 24px;
    color: #5D5D5D;
    padding: 8px 0 8px;
  }
  .table_body p::after {
    content: '';
    display: block;
    border-bottom: 1px solid #D8D8D8;
    width: 310px;
    margin: 0 auto;
    padding-top: 34px;
  }
  .table_body a {
    display: inline-flex;
  }
  .button {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #3324AE;
    border-radius: 30px;
    box-shadow: 6px 6px 4px #BBDBFF;
    padding: 14px 38px;
    text-decoration: none;
    &:hover {
      background-color: #0C0449;
    }
  }
}

/* DEVICES */

@media (max-width: 1024px) {
  #galerie .wrapper::after {
    visibility: hidden;
  }
  .main_info img {
    max-width: 500px;
  }
}

@media screen and (min-width: 1500px) {
  .illustration {
    background-size: cover;
  }
}

/* Keep In Touch*/
.form {
  padding-bottom: 3em;
}

.form h3 {
  color: #4a4a4a;
}

/* Fotogalerie */

.gallery img {
  width: 100%;
}

/*TEACHERS*/
.teachers {
  min-height: 400px;
  h3 {
    text-align: center;
    color: white;
    font-size: 18px;
  }
  a {
    text-decoration: none;
    font-weight: 500;
    color: #5835B0;
  }
  a:hover {
    font-weight: 700;
  }
  button {
    background-color: #3324AE;
    border: 2px solid #3324AE;
    width: 486px;
    height: 75px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
  }
  button.lectors_jan {
    color: #000000;
    background-color: #FFFFFF;
  }

  img {
    width: 460px;
    height: 613px;
  }
  .lectors-box {
    background: url("/images/lektori/grainy_bg.png");
  }
  .lectors-box_text {
    padding: 28px 46px 0 0;
  }

}

/*reviews:*/

.review {
  margin: 0 auto;
  position: relative;
  text-align: center;
  background: url("/images/price_curve.png") top no-repeat;
  background-size: 100%;
}

.review h2::after {
  background-color: #fff;
}

.photo img {
  border-radius: 50%;
}

.name {
  color: #555;
}

.name p {
  color: #9b9b9b;
}
.slide{
  margin: 0 auto;
  width: auto;
}

.slides-wrap .lSSlideOuter .lSPager.lSpg {
  margin-top: 24px !important;
}

.slides-wrap .lSSlideOuter .lSPager.lSpg > li a {
  background-color: #fff;
  width: 19px;
  height: 19px;
}

.slides-wrap .lSSlideOuter .lSPager.lSpg > li.active a {
  background-color: var(--primary-color);
}

/*footer Kontakt */
footer {
  position: absolute;
  width: 100%;
  margin: 0 auto;
}

.contact {
  background-image: linear-gradient(-134deg, #e475b9 0%, #3023ae 100%);
  padding-bottom: 6em;
}

.contact h2 {
  @media screen {
    color: #fff;
  }
}

.contact ul {
  list-style-type: none;
  padding: 0;
}

.contact a {
  @media screen {
    color: #fff;
  }
  text-decoration: none;
  font-weight: 300;

  &:hover {
    font-weight: 500;
  }
}

.contact p {
  @media screen {
    color: #fff;
  }
}

.contact h2::after {
  background-color: #fff;
}

.contact .about_us {
  margin-top: 3em;
}

.form input {
  padding: 15px;
  width: 320px;
  background-color: white;
  font-size: 18px;
  color: #9b9b9b;
  border-radius: 30px;
  border: 1px solid #84beff;
  display: block;
  float: right;
}

.form button {
  -webkit-appearance: none;
  background-color: var(--primary-color);
  font-weight: bold;
  font-size: 18px;
  color: white;
  border-radius: 30px;
  box-shadow: 6px 6px 10px #bbdbff;
  padding: 15px 50px;
  display: block;
}

.contact h3 {
  @media screen {
    color: white;
  }
  text-align: left;
}

.contact h3::after {
  display: none;
}

.contact .contact_details p {
  margin: 0;
}

.contact .mail {
  font-size: 18px;
  text-align: center;
}

.contact .mail::before {
  content: "";
  display: block;
  background: url("/images/jiri.penzes.png") no-repeat;
  background-size: contain;
  border-radius: 50%;
  width: 84px;
  height: 84px;
  margin: 15px auto;
}

.social {
  margin-bottom: 0 !important;
}

.social .social-buttons {
  background: white;
  border-radius: 25px;
  display: inline-flex;
  align-content: center;
  justify-content: space-between;
  padding: 8px;
  width: 240px;
}

/* Mobile layout */

@media (max-width: 480px) {
  header {
    padding-left: 0;
  }

  #logo {
    margin: 0 auto;
  }

  .nav_bar {
    display: block;
    background: linear-gradient(#613ab2, #6b3fb2);
    position: fixed;
    width: 100%;
    height: 54px;
    z-index: 1;
  }

  .nav_bar ul {
    flex-direction: column;
  }

  .nav_bar a {
    font-size: 16px;
    padding: 8px 8px 8px 16px;
    display: block;
  }

  .nav_bar li {
    width: 100%;
  }

  .nav_bar .hamburger {
    visibility: visible;
    color: white;
    position: relative;
    width: 24px;
    height: 24px;
    padding: 8px;
    top: -12px;
    left: 8px;
  }

  .hamburger:before {
    content: "";
    position: absolute;
    left: 2px;
    top: 3px;
    border: 2px solid white;
    width: 32px;
    height: 32px;
    transform: rotate(45deg);
    border-radius: 6px;
  }

  .nav_bar .hamburger:active,
  .nav_bar .hamburger:hover {
    border: none;
  }

  .hamburger .menu {
    display: block;
  }

  .hamburger:active .menu {
    display: none;
  }

  .hamburger .close {
    display: none;
  }

  .hamburger:active .close {
    display: block;
  }

  #navigace {
    display: none;
  }

  #navigace:target {
    display: block;
    background-color: white;
    position: relative;
    top: -35px;
  }

  #navigace a {
    color: purple;
  }

  .main_info img {
    width: 100%;
    padding-top: 2em;
  }
  .basic-info_box {
    margin-top: 40px;
  }

  .courses p {
    height: auto;
    padding-bottom: 4px;
  }

  .fill_1,
  .fill_2 {
    padding-bottom: 30px;
  }

  .email_form {
    display: inline-flex;
  }
  .email {
    margin: 0 auto;
  }

  .form input {
    padding: 14px;
    width: 260px;
  }

  .form button {
    margin-top: 4px;
    padding: 15px 40px;
    float: right;
    font-size: 14px;
    box-shadow: 3px 3px #bbdbff;
  }

  .gallery img {
    width: 100%;
  }
  .price .price_table {
    width: 280px;
  }
  .price .table_body p::after {
    width: 200px;
  }
}

@media (min-width: 481px) {
  .nav_bar {
    height: 72px;
  }
}

@media (max-width: 768px) {
  .form button {
    padding: 15px 30px;
  }
  #basic-info .basic-info_box_age::before, #basic-info .basic-info_box_capacity::before, #basic-info .basic-info_box_calendar::before {
    right: 130px;
  }
  #basic-info .basic-info_box_capacity {
    margin-top: 40px;
  }
}

@media print {
  body > header,
  body > footer {
    display: none;
  }

  main {
    color: black;
  }

  section {
    page-break-before: always;
  }
}
