h2 {
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
  color: black;
}

.studies {
  h2 {
    color: #F5A623;
    margin-bottom: 18px;
  }
  .studies_title p {
    color: #9B9B9B;
    text-align: center;
  }
  h3 {
    margin-top: 14px;
    margin-bottom: 0;
  }
  hr {
    width: 59px;
    height: 2px;
    border: none;
    background-color: #FE664B;
    display: inline-flex;
  }
}

.costumers {
  p {
    text-align: center;
  }
  blockquote p{
    color: #4A4A4A;
  }
  blockquote::before {
    content: "";
    display: block;
    background-image: url("/images/topmonks.com/unquote.svg") no-repeat;
    width: 24px;
    height: 24px;
  }
  blockquote::after {
    content: "";
    display: block;
    background-image: url("/images/topmonks.com/quote.svg") no-repeat;
    width: 24px;
    height: 24px;
  }
  .name {
    font-size: 15px;
    color: #9B9B9B;
    text-align: center;
  }
}

.contact {
  text-align: center;
  h2 {
    margin-bottom: 18px;
  }
  .contact_title p {
    color: #4A4A4A;
  }
  h4 {
    margin-bottom: 4px;
  }
  .photo {
    border-radius: 50%;
  }
  svg {
    margin-top: 8px;
  }
}
