
.studies {
  .studies_title p {
    text-align: center;
  }
  h3 {
    text-align: left;
    margin-top: 14px;
    margin-bottom: 0;
    &:after
    {
      content: "";
      width: 59px;
      height: 2px;
      background-color: var(--topmonks-orange);
      display: block;
      margin: 16px 0;
    }
  }
}

.costumers {
  p {
    text-align: center;
  }
  blockquote p {
    color:  var(--topmonks-black);
  }
  blockquote::before,
  blockquote::after {
    content: "";
    display: block;
    background-image: url("/images/topmonks.com/unquote.svg") no-repeat;
    width: 24px;
    height: 24px;
  }
  blockquote::after {
    background-image: url("/images/topmonks.com/quote.svg");
  }
  .name {
    font-size: 16px;
    color:  var(--topmonks-grey);
    text-align: center;
  }
}

.contact {
  text-align: center;

  .contact_title p {
    color: var(--topmonks-black);
  }
  .photo {
    border-radius: 50%;
  }
  svg {
    margin-top: 8px;
  }
}
