:root {
  --mdc-layout-grid-margin-desktop: 24px;
  --mdc-layout-grid-gutter-desktop: 20px;
  --mdc-layout-grid-column-width-desktop: 60px;
}

body {
  background-color: #ffffff;
}

footer {
  /* TODO*/
  background-image: linear-gradient(
      -215deg,
      #3023ae 0%,
      #53a0fd 47%,
      #b4ec51 100%
  );
  background-image: linear-gradient(
      -205deg,
      #3023ae 0%,
      #53a0fd 47%,
      #b4ec51 100%
  );
}

header,
main, .wrapper {
  max-width: 960px;
  margin: 0 auto;
}

header {
  a {
    text-transform: uppercase;
    font-size: 16px;
  }
  .pure-menu-horizontal .pure-menu-list {
    display: flex;
    float: right;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .logo a {
    font-size: 20px;
    color: #5C5FD4;
    font-weight: bold;
    text-decoration: none;
  }
}

blockquote::before,
blockquote::after {
  content: "";
  display: block;
  background: url("/images/topmonks.com/unquote.svg") no-repeat;
  width: 24px;
  height: 24px;
  background-position: top left;
  background-size: 24px 24px;
  position: absolute;

}

blockquote::after {
  background-image: url("/images/topmonks.com/quote.svg");
}

.main_info {
  position: relative;
  h2 {
    text-align: left;
  }
  .jumbotron blockquote {
    color: #4A4A4A;
    width: 400px;
  }
  blockquote::before,
  blockquote::after {
    background-size: 16px 16px;
  }
  p.box--purple {
    box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding: 12px;
    text-align: center;
    width: 200px;
    font-weight: bold;
    margin: 0 auto;
  }
  .box {
    height: 440px;
  }
}

.action-button {
  display: block;
  border-radius: 100px;
  color: #fff;
  background-color: var(--topmonks-orange);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
  padding: 20px 28px;
  margin: 0 1em;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
  }
}

.sub-text {
  color: var(--topmonks-grey);
}

.box,
.teambox {
  box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 15px;
}

.box img {
  margin: 0 auto;
  display: flex;
}

.teambox {
  &:before {
    background: url("/images/topmonks.com/listen_ic.svg") no-repeat;
    background-position: center 30px;
    background-size: 82px 82px;
    content: "";
    display: block;
    height: 120px;
  }

  &.develop:before {
    background-image: url("/images/topmonks.com/develop_ic.svg");
  }
  &.verify:before {
    background-image: url("/images/topmonks.com/verify_ic.svg");
  }
}

.cooperation, .jumbotron {
  p.box--purple {
    background-color: #529CFB;
    color: white;
  }
}

.product {
  background-color: #F3F3F3;
  background-size: cover;
  position: relative;
  h3 {
    font-family: Avenir;
    color: #529CFB;
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
  }
  p {
    width: 200px;
  }
  .wrapper {
    background-image: url("/images/topmonks.com/background/product_bg.svg");
    width: 654px;
    height: 769px;
    margin: 0 auto;
  }
  .step_1 {
    content: "";
    display: block;
    position: absolute;
    top: 130px;
    right: 85px;
  }
  .step_2 {
    content: "";
    display: block;
    position: absolute;
    top: 230px;
    left: 153px;
  }

  .step_3 {
    content: "";
    display: block;
    position: absolute;
    top: 330px;
    right: 86px;
  }

  .step_4 {
    content: "";
    display: block;
    position: absolute;
    bottom: 114px;
    left: 155px;
  }
  .sales h3 {
    text-align: left;
  }
}

.studies {
  .studies_title p {
    text-align: center;
  }
  h3 {
    text-align: left;
    margin-top: 14px;
    margin-bottom: 0;
    &:after {
      content: "";
      width: 59px;
      height: 2px;
      background-color: var(--topmonks-orange);
      display: block;
      margin: 16px 0;
    }
  }
}

.studies {
  .studies--clients {
    width: 100%;
  }
}

.costumers {
  p {
    text-align: center;
  }
  .name {
    font-size: 16px;
    color: var(--topmonks-grey);
    text-align: center;
  }
}

.contact {
  text-align: center;

  .contact_title p {
    color: var(--topmonks-black);
  }
  .person--photo {
    border-radius: 50%;
  }
  svg {
    margin-top: 8px;
  }
}

/* MOBILE LAYOUT*/
@media (max-width: 480px) {
  nav {
    display: none;
  }
  .main_info {
    h2 {
      text-align: center;
      border-radius: 50px;
      background-color: white;
    }
    p.box--purple {
      display: none;
    }
    .service p {
      width: 100%;
    }
  }
  .action-button {
    padding: 10px 80px;
  }
  .product .wrapper {
    background-image: none;
    width: 100%;
    height: 100%;
  }
  /*HAMBURGER*/
  .container {
    display: inline-block;
    cursor: pointer;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #FE664B;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

/* MD GRID TABLET AND ABOVE BREAKPOINT */
@media (min-width: 480px) {
  .action-button {
    display: inline-block;
  }
  .product .wrapper {
    width: auto;
  }
}

/* MD GRID TABLET ONLY BREAKPOINT */
@media (min-width: 480px) and (max-width: 839px) {
  .studies--clients {
    align-content: space-between;
  }
  .hamburger {
    display: none;
  }
}

/* DESKTOP HAMBURGER NONE */
@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }
}
