
body {
  background-color: #ffffff;
}

.wrapper-outer {
  max-width: 1440px;

  &.footer {
   /* TODO*/
    background-image: linear-gradient(-215deg, #3023AE 0%, #53A0FD 47%, #B4EC51 100%);
    background-image: linear-gradient(-205deg, #3023AE 0%, #53A0FD 47%, #B4EC51 100%);
  }
}

header,
footer,
main {
  max-width: 960px;
  margin: 0 auto;
}


.action-button {
  display:inline-block;
  border-radius: 100px;
  color: #fff;
  background-color: var(--topmonks-orange);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
  padding:.7em;
  margin:0 1em;
  text-align: center;
  text-transform:uppercase;


  &:hover {
    text-decoration: none;
  }
}


.sub-text {
  color: var(--topmonks-grey);
  margin: 0;
}


/* MD GRID DESKTOP BREAKPOINT*/
@media (min-width: 840px) {

}

/* MD GRID TABLET AND ABOVE BREAKPOINT */
@media (min-width: 480px) {

}

/* MD GRID TABLET ONLY BREAKPOINT */
@media (min-width: 480px) and (max-width: 839px) {

}
