{% extends 'layouts/master.html' %}
{% block title %}Hlídač shopů v médiích{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/assets/css/media.css">
{% endblock %}

{% block main %}
<section class="media">
  <div class="mdc-layout-grid">
    <div class="layout-wrapper">
      <h2 class="media-heading">2019</h2>
      <div class="media-article-list">
        <article class="media-article-item">
          <div class="media__image">
            <a href="https://www.podnikatel.cz/clanky/dny-dopravy-zdarma-letos-nebudou-nektere-e-shopy-ale-uz-startuji-black-friday/">
              <img src="https://res.cloudinary.com/topmonks/image/upload/v1572804369/www.hlidacshopu.cz/media/2019-11-01-podnikatel.jpg" alt="" width="250" height="142" role="presentation">
            </a>
          </div>
          <div class="media__body">
            <h3>
              <a href="https://www.podnikatel.cz/clanky/dny-dopravy-zdarma-letos-nebudou-nektere-e-shopy-ale-uz-startuji-black-friday/">
                Dny dopravy zdarma letos nebudou, některé e-shopy ale už startují Black Friday</a>
            </h3>
            <time datetime="2019-11-01" class="media__date">1. listopadu 2019</time>
            <p class="media__description">
              Podle Heureky už doprava zdarma není tak důležitým benefitem jako
              v&nbsp;minulosti a u&nbsp;objednávek ve vyšší hodnotě už je samozřejmostí.
              Hlavní pozornost tak letos bude směřovat na Black Friday, který už
              u&nbsp;některých e-shopů odstartoval.</p>
          </div>
        </article>
      </div>
      <h2 class="media-heading">2018</h2>
      <div class="media-article-list">
        <article class="media-article-item">
          <div class="media__image">
            <a href="https://www.lupa.cz/clanky/black-friday-po-cesku-kouzla-se-slevami-po-roce/">
              <img src="https://res.cloudinary.com/topmonks/image/upload/v1572804368/www.hlidacshopu.cz/media/2018-12-10-lupa.jpg" alt="" width="250" height="142" role="presentation">
            </a>
          </div>
          <div class="media__body">
            <h3>
              <a href="https://www.lupa.cz/clanky/black-friday-po-cesku-kouzla-se-slevami-po-roce/">
                Black Friday po česku: kouzla se slevami po roce</a>
            </h3>
            <time datetime="2018-12-10" class="media__date">10. prosince 2018</time>
            <p class="media__description">
              Po loňské úspěšné analýze slev v&nbsp;rámci Black Friday jsme se opět
              rozhodli podívat na to, jak největší české e-shopy pracují s&nbsp;tímto
              fenoménem. Hlavně nás zajímalo, zda stále čarují se slevami, převážně
              pomocí umělého navyšování původních cen, ze kterých
              vypočítávají&nbsp;slevy.</p>
          </div>
        </article>
        <article class="media-article-item">
          <div class="media__image">
            <a href="https://www.podnikatel.cz/clanky/chceme-vubec-black-friday-zastavme-uz-tu-nesmyslnou-spiralu-slev-a-lzi/">
              <img src="https://res.cloudinary.com/topmonks/image/upload/v1572804369/www.hlidacshopu.cz/media/2018-12-11-podnikatel.jpg" alt="" width="250" height="142" role="presentation">
            </a>
          </div>
          <div class="media__body">
            <h3>
              <a href="https://www.podnikatel.cz/clanky/chceme-vubec-black-friday-zastavme-uz-tu-nesmyslnou-spiralu-slev-a-lzi/">
              Chceme vůbec Black Friday? Zastavme už tu nesmyslnou spirálu slev a lží</a>
            </h3>
            <time datetime="2018-12-11" class="media__date">11. prosince 2018</time>
            <p class="media__description">
              Nemám rád slevy. Nebo jinak. Nemám rád nesmyslné, pitomé, ulhané a
              zbytečné slevy. A&nbsp;přesně tyto slevy se v&nbsp;Česku vždy vyrojí během Black
              Friday.</p>
          </div>
        </article>
        <article class="media-article-item">
          <div class="media__image">
            <a href="https://www.zive.cz/clanky/jak-dopadlo-black-friday-apify-spocitalo-jak-moc-byly-slevy-e-shopu-realne/sc-3-a-196281/default.aspx">
              <img src="https://res.cloudinary.com/topmonks/image/upload/v1572804369/www.hlidacshopu.cz/media/2018-12-10-zive.jpg" alt="" width="250" height="142" role="presentation">
            </a>
          </div>
          <div class="media__body">
            <h3>
              <a href="https://www.zive.cz/clanky/jak-dopadlo-black-friday-apify-spocitalo-jak-moc-byly-slevy-e-shopu-realne/sc-3-a-196281/default.aspx">
                Jak dopadlo Black Friday? Apify spočítalo, jak moc byly slevy e-shopů reálné</a>
            </h3>
            <time datetime="2018-12-10" class="media__date">10. prosince 2018</time>
            <p class="media__description">
              Black Friday je známý nákupní svátek, který ale v&nbsp;poslední době
              hlavně v&nbsp;Česku získal nepříjemnou pachuť. Místo opravdových bleskových
              slev jeden den se akce vlečou i&nbsp;měsíc a reálných slev je pomálu. Apify
              zanalyzovalo letošní ročník a přišlo se zajímavými čísly, jak nás
              obchodníci (ne)šidili.</p>
          </div>
        </article>
        <article class="media-article-item">
          <div class="media__image">
            <a href="https://echo24.cz/a/StRBV/mene-oklamanych-zakazniku-e-shopy-letos-na-cerny-patek-omezily-triky-s-cenami">
              <img src="https://res.cloudinary.com/topmonks/image/upload/v1572804369/www.hlidacshopu.cz/media/2018-12-07-zive.jpg" alt="" width="250" height="142" role="presentation">
            </a>
          </div>
          <div class="media__body">
            <h3>
              <a href="https://echo24.cz/a/StRBV/mene-oklamanych-zakazniku-e-shopy-letos-na-cerny-patek-omezily-triky-s-cenami">
                Méně oklamaných zákazníků. E-shopy letos na černý pátek omezily triky s cenami</a>
            </h3>
            <time datetime="2018-12-07" class="media__date">7. prosince 2018</time>
            <p class="media__description">
              Tuzemské internetové obchody letos omezily triky s&nbsp;umělým navyšováním
              cen, ze kterých se počítají slevy během výprodejů na tzv. černý pátek
              (Black Friday). Analýza start-upu Apify, která monitoruje největší on-line
              prodejce, letos nalezla 33&nbsp;takových případů na Alza.cz, 569&nbsp;případů na
              Mall.cz a 13&nbsp;případů na CZC.cz. Loni analýza zjistila 291&nbsp;případů
              klamání spotřebitele, kde došlo u&nbsp;zboží k&nbsp;navýšení
              původní&nbsp;ceny.</p>
          </div>
        </article>
        <article class="media-article-item">
          <div class="media__image">
            <a href="https://www.tyden.cz/rubriky/byznys/cesko/min-triku-nez-pred-rokem-e-shopy-omezily-carovani-s-cenami_505980.html?showTab=diskutovane">
              <img src="https://res.cloudinary.com/topmonks/image/upload/v1572804368/www.hlidacshopu.cz/media/2018-12-07-tyden.jpg" alt="" width="250" height="142" role="presentation">
            </a>
          </div>
          <div class="media__body">
            <h3>
              <a href="https://www.tyden.cz/rubriky/byznys/cesko/min-triku-nez-pred-rokem-e-shopy-omezily-carovani-s-cenami_505980.html?showTab=diskutovane">
                Míň triků než před rokem. E-shopy omezily "čarování" s cenami</a>
            </h3>
            <time datetime="2018-12-07" class="media__date">7. prosince 2018</time>
            <p class="media__description">
              Tuzemské internetové obchody letos omezily triky s&nbsp;umělým navyšováním
              cen, ze kterých se počítají slevy během výprodejů na tzv. černý pátek
              (Black Friday). Analýza start-upu Apify, která monitoruje největší on-line
              prodejce, letos nalezla 33&nbsp;takových případů na Alza.cz, 569&nbsp;případů na
              Mall.cz a 13&nbsp;případů na CZC.cz. Podle analýzy letos ovšem šlo spíše
              o&nbsp;chyby v&nbsp;naceňování produktů než o&nbsp;cílené klamání zákazníků.
              U&nbsp;Mall.cz bylo přitom období Black Friday nejdelší.</p>
          </div>
        </article>
        <article class="media-article-item">
          <div class="media__image">
            <a href="https://www.idnes.cz/ekonomika/test-a-spotrebitel/eshop-black-friday-ceny-manipulace-podvody.A181207_154406_test_rts">
              <img src="https://res.cloudinary.com/topmonks/image/upload/v1572804368/www.hlidacshopu.cz/media/2018-12-07-idnes.jpg" alt="" width="250" height="142" role="presentation">
            </a>
          </div>
          <div class="media__body">
            <h3>
              <a href="https://www.idnes.cz/ekonomika/test-a-spotrebitel/eshop-black-friday-ceny-manipulace-podvody.A181207_154406_test_rts">
                Méně triků než loni. E-shopy na Černý pátek omezily manipulace s cenami</a>
            </h3>
            <time datetime="2018-12-07" class="media__date">7. prosince 2018</time>
            <p class="media__description">
              Tuzemské internetové obchody letos omezily triky s&nbsp;umělým navyšováním
              cen, ze kterých se počítají slevy během výprodejů na tzv. Černý pátek
              (Black Friday). Analýza start-upu Apify, která monitoruje největší on-line
              prodejce, letos nalezla 33&nbsp;takových případů na portálu Alza.cz,
              569&nbsp;případů na Mall.cz a 13&nbsp;případů na CZC.cz.</p>
          </div>
        </article>
        <article class="media-article-item">
          <div class="media__image">
            <a href="https://denikn.cz/25995/tyden-v-penezence-slevy-black-friday-penzijni-fondy-okamzite-platby/">
              <img src="https://res.cloudinary.com/topmonks/image/upload/v1572804368/www.hlidacshopu.cz/media/2018-11-25-denikn.jpg" alt="" width="250" height="142" role="presentation">
            </a>
          </div>
          <div class="media__body">
            <h3>
              <a href="https://denikn.cz/25995/tyden-v-penezence-slevy-black-friday-penzijni-fondy-okamzite-platby/">
              Týden v peněžence: Velký e-shop vysvětlil, jak počítá divné slevy. A kde si spoříte na důchod?</a>
            </h3>
            <time datetime="2018-11-25" class="media__date">25. listopadu 2018</time>
            <p class="media__description">
              Jak jsme před měsícem napsali, tak se i&nbsp;stalo: první banka v&nbsp;Česku
              spouští okamžité platby. Jiná zajímavá inovace startuje na Slovensku&nbsp;&ndash;
              zaujalo nás spoření s&nbsp;názvem Syslení. A&nbsp;kolik už jste vydělali na
              bitcoinu? Nabízíme pravidelný výběr z&nbsp;oblasti osobních financí.</p>
          </div>
        </article>
        <article class="media-article-item">
          <div class="media__image">
            <a href="https://www.blesk.cz/clanek/vanoce-vanocni-zpravy/578242/black-friday-po-cesku-slevy-se-nemusi-vzdy-vyplatit-varuji-odbornici.html">
              <img src="https://res.cloudinary.com/topmonks/image/upload/v1572804368/www.hlidacshopu.cz/media/2018-11-20-blesk.jpg" alt="" width="250" height="142" role="presentation">
            </a>
          </div>
          <div class="media__body">
            <h3>
              <a href="https://www.blesk.cz/clanek/vanoce-vanocni-zpravy/578242/black-friday-po-cesku-slevy-se-nemusi-vzdy-vyplatit-varuji-odbornici.html">
                Black Friday po česku: Slevy se nemusí vždy vyplatit, varují odborníci</a>
            </h3>
            <time datetime="2018-11-20" class="media__date">20. listopadu 2018</time>
            <p class="media__description">
              Svátek slevového či také nákupního „šílenství“ zvaný Black
              Friday (Černý pátek) letos připadá na 23.&nbsp;listopadu. V&nbsp;USA je
              záležitostí zejména kamenných obchodů, ale v&nbsp;Česku ho začaly využívat
              hojně e-shopy, kteří tak chtějí navnadit zákazníky na první vánoční
              nákupy. Není všechno zlato, co se třpytí, varují ale odborníci.
              Zdánlivě výhodné ceny jsou často vypočítávány z&nbsp;výrazně zvýšených
              běžných cen, a konečná úspora nemusí být tak vysoká. Jak si dát pozor,
              aby se vaše peněženka nestala obětí Černého pátku po&nbsp;česku?</p>
          </div>
        </article>
        <article class="media-article-item">
          <div class="media__image">
            <a href="https://insmart.cz/alza-mall-czc-black-friday-skutecne-ceny/">
              <img src="https://res.cloudinary.com/topmonks/image/upload/v1572804369/www.hlidacshopu.cz/media/2018-11-12-insmart.jpg" alt="" width="250" height="142" role="presentation">
            </a>
          </div>
          <div class="media__body">
            <h3>
              <a href="https://insmart.cz/alza-mall-czc-black-friday-skutecne-ceny/">
                Pozor na Black Friday: Proč lžou české e-shopy o výši slev?</a>
            </h3>
            <time datetime="2018-11-12" class="media__date">12. listopadu 2018</time>
            <p class="media__description">
              Tak jako každý rok i&nbsp;letos čekají na zákazníky internetových obchodů
              nemalé slevy spojené s&nbsp;výprodejovou akcí Black Friday. Několik dní až
              týdnů dlouhé výprodeje však nutně nemusí znamenat výhodné nabídky pro
              zákazníky. Minimálně ne tak výhodné, jako e-shopy u&nbsp;produktů tvrdí. Jak
              si ověřit skutečnou výši&nbsp;slev?</p>
          </div>
        </article>
        <article class="media-article-item">
          <div class="media__image">
            <a href="https://www.info.cz/black-friday-2018">
              <img src="https://res.cloudinary.com/topmonks/image/upload/v1572804369/www.hlidacshopu.cz/media/2018-09-29-info.jpg" alt="" width="250" height="142" role="presentation">
            </a>
          </div>
          <div class="media__body">
            <h3>
              <a href="https://www.info.cz/black-friday-2018">
                Black Friday: Kde se vzal Černý pátek a kdy se ho letos zákazníci dočkají?</a>
            </h3>
            <time datetime="2018-10-29" class="media__date">29. října 2018</time>
            <p class="media__description">
              Výrazné slevy, dlouhé fronty a start předvánoční nákupní horečky
              hraničící s&nbsp;šílenstvím. Tak vypadá Černý pátek, v&nbsp;původním znění
              tedy Black Friday. Kde a proč vlastně vznikl a kdy se na něj mohou
              zákazníci&nbsp;těšit?</p>
          </div>
        </article>
      </div>
      <h2 class="media-heading">2017</h2>
      <section class="media-article-list">
        <article class="media-article-item">
          <div class="media__image">
            <a href="https://video.aktualne.cz/dvtv/nekupujte-veci-jen-proto-ze-jsou-ve-sleve-casto-tak-nakoupit/r~5d1c7aeee00d11e7afac0cc47ab5f122/">
              <img src="https://res.cloudinary.com/topmonks/image/upload/v1572805593/www.hlidacshopu.cz/media/2017-12-13-dvtv.jpg" alt="" width="250" height="142" role="presentation">
            </a>
          </div>
          <div class="media__body">
            <h3>
              <a href="https://video.aktualne.cz/dvtv/nekupujte-veci-jen-proto-ze-jsou-ve-sleve-casto-tak-nakoupit/r~5d1c7aeee00d11e7afac0cc47ab5f122/">
                Nekupujte věci jen proto, že jsou ve slevě. Často tak nakoupíte dokonce dráž, říká Balada</a>
            </h3>
            <time datetime="2017-12-13" class="media__date">13. prosince 2017</time>
            <p class="media__description">
              Místo rychlého a emocionálního rozhodovaní vsaďte na to
              rozvážnější a logičtější. Při nákupu ušetříte, říká Jakub
              Balada, vývojář a spoluzakladatel služby Apify. Více v&nbsp;dalším díle
              DVTV&nbsp;Apel.
            </p>
          </div>
        </article>
        <article class="media-article-item">
          <div class="media__image">
            <a href="https://www.lupa.cz/clanky/nemoralni-mozna-nezakonne-nikoli-co-rika-coi-na-manipulace-e-shopu-s-cenami/">
              <img src="https://res.cloudinary.com/topmonks/image/upload/v1572805593/www.hlidacshopu.cz/media/2017-11-29-lupa.jpg" alt="" width="250" height="142" role="presentation">
            </a>
          </div>
          <div class="media__body">
            <h3>
              <a href="https://www.lupa.cz/clanky/nemoralni-mozna-nezakonne-nikoli-co-rika-coi-na-manipulace-e-shopu-s-cenami/">
                Nemorální možná, nezákonné nikoli. Co říká ČOI na manipulace e-shopů s cenami?</a>
            </h3>
            <time datetime="2017-11-29" class="media__date">29. listopadu 2017</time>
            <p class="media__description">
              Klamavá praktika je přesně definována zákonem. Počínání obchodníků
              nám může připadat neetické, ale zákon je nezakazuje. Tak se Česká
              obchodní inspekce (ČOI) dívá na úpravy cen v&nbsp;e-shopech před
              předvánoční slevovou akcí Black Friday.</p>
          </div>
        </article>
        <article class="media-article-item">
          <div class="media__image">
            <a href="https://www.lupa.cz/clanky/slevy-az-80-jak-e-shopy-kouzli-s-cenami-aneb-black-friday-po-cesku/">
              <img src="https://res.cloudinary.com/topmonks/image/upload/v1572805593/www.hlidacshopu.cz/media/2017-11-28-lupa.jpg" alt="" width="250" height="142" role="presentation">
            </a>
          </div>
          <div class="media__body">
            <h3>
              <a href="https://www.lupa.cz/clanky/slevy-az-80-jak-e-shopy-kouzli-s-cenami-aneb-black-friday-po-cesku/">
                Slevy až 80 %? Jak e-shopy kouzlí s cenami aneb Black Friday po Česku</a>
            </h3>
            <time datetime="2017-11-28" class="media__date">28. listopadu 2017</time>
            <p class="media__description">
              Také nevěříte až 80% slevám, které většina českých e-shopů
              nabízí během akcí typu Black Friday? Vždycky se najde nějaký případ,
              kdy si to prodejci usnadní a čarují například s&nbsp;původními cenami před
              slevou. Jsou to jen výjimky? Nebo je celý Black Friday jen možnost, jak před
              Vánoci masivně zpropagovat slevy, které beztak nabízejí celý&nbsp;rok?</p>
          </div>
        </article>
        <article class="media-article-item">
          <div class="media__image">
            <a href="https://zpravy.aktualne.cz/finance/nakupovani/naleteli-jste-pri-black-friday-co-delat-kdyz-je-obri-sleva-j/r~b06bc9b0d55511e7b6830cc47ab5f122/">
              <img src="https://res.cloudinary.com/topmonks/image/upload/v1572805594/www.hlidacshopu.cz/media/2017-11-30-aktualne.jpg" alt="" width="250" height="142" role="presentation">
            </a>
          </div>
          <div class="media__body">
            <h3>
              <a href="https://zpravy.aktualne.cz/finance/nakupovani/naleteli-jste-pri-black-friday-co-delat-kdyz-je-obri-sleva-j/r~b06bc9b0d55511e7b6830cc47ab5f122/">
                Naletěli jste při Black Friday? Co dělat, když je obří sleva jen trik</a>
            </h3>
            <time datetime="2017-11-30" class="media__date">30. listopadu 2017</time>
            <p class="media__description">
              Projděte si praktické rady a konkrétní případy pokut, které uložila Česká obchodní inspekce při předchozích slevových akcích.</p>
          </div>
        </article>
        <article class="media-article-item">
          <div class="media__image">
            <a href="https://zpravy.aktualne.cz/finance/nakupovani/black-friday-skutecne-slevy-porovnani/r~ab190004d43d11e7984d0cc47ab5f122/">
              <img src="https://res.cloudinary.com/topmonks/image/upload/v1572805593/www.hlidacshopu.cz/media/2017-11-28-aktualne.jpg" alt="" width="250" height="142" role="presentation">
            </a>
          </div>
          <div class="media__body">
            <h3>
              <a href="https://zpravy.aktualne.cz/finance/nakupovani/black-friday-skutecne-slevy-porovnani/r~ab190004d43d11e7984d0cc47ab5f122/">
                Pravda o slevách během Black Friday: e-shopy čarovaly s cenou, zjistila analýza</a>
            </h3>
            <time datetime="2017-11-28" class="media__date">28. listopadu 2017</time>
            <p class="media__description">
              Analýza se zaměřila na trojici velkých e-shopů. Zjistila, že reálné
              slevy byly výrazně nižší. Obchodníci totiž v&nbsp;mnoha případech
              navýšili před černým pátkem některé ceny, aby pak slevy působily
              výrazněji. Dokonce i&nbsp;konečná cena byla u&nbsp;jednoho e-shopu vyšší než
              před slevovou akcí. Obchodníci však tvrdí, že k&nbsp;úmyslným trikům
              s&nbsp;původní cenou nedochází, maximálně šlo podle nich o&nbsp;lidské
              pochybení.</p>
          </div>
        </article>
        <article class="media-article-item">
          <div class="media__image">
            <a href="https://zpravy.e15.cz/byznys/obchod-a-sluzby/internetove-obchody-na-black-friday-nadsazovaly-slevy-slo-o-lidska-pochybeni-rikaji-e-shopy-1340338">
              <img src="https://res.cloudinary.com/topmonks/image/upload/v1572805593/www.hlidacshopu.cz/media/2017-11-28-e15.jpg" alt="" width="250" height="142" role="presentation">
            </a>
          </div>
          <div class="media__body">
            <h3>
              <a href="https://zpravy.e15.cz/byznys/obchod-a-sluzby/internetove-obchody-na-black-friday-nadsazovaly-slevy-slo-o-lidska-pochybeni-rikaji-e-shopy-1340338">
                Internetové obchody na Black Friday nadsazovaly slevy. Šlo o lidská pochybení, říkají e-shopy</a>
            </h3>
            <time datetime="2017-11-28" class="media__date">28. listopadu 2018</time>
            <p class="media__description">
              Po vzoru USA a Kanady se snaží čeští obchodníci marketingově využít
              akci Černý pátek (Black Friday), během které lákají na vysoké slevy.
              Podle analýzy společnosti Apify, kterou zveřejnil její spoluzakladatel Jakub
              Balada, však nejvýznamnější e-shopy výši slev mnohdy zveličují tím,
              že těsně před akcí cenu některých produktů zvyšují. V&nbsp;konečném
              důsledku tak může zákazník zaplatit více, než kdyby vybraný produkt
              koupil mimo akci Černý pátek. Prodejci nicméně odmítají, že by šlo
              z&nbsp;jejich strany o&nbsp;systematické jednání. Přiznávají však, že
              k&nbsp;pochybením&nbsp;došlo.</p>
          </div>
        </article>
        <article class="media-article-item">
          <div class="media__image">
            <a href="https://www.novinky.cz/ekonomika/456282-nektere-obchody-na-cerny-patek-u-pokladny-nezapocetly-slevu-zjistila-inspekce.html">
              <img src="https://res.cloudinary.com/topmonks/image/upload/v1572805593/www.hlidacshopu.cz/media/2017-11-29-novinky.jpg" alt="" width="250" height="142" role="presentation">
            </a>
          </div>
          <div class="media__body">
            <h3>
              <a href="https://www.novinky.cz/ekonomika/456282-nektere-obchody-na-cerny-patek-u-pokladny-nezapocetly-slevu-zjistila-inspekce.html">
                Některé obchody na Černý pátek u pokladny nezapočetly slevu, zjistila inspekce</a>
            </h3>
            <time datetime="2017-11-29" class="media__date">29. listopadu 2017</time>
            <p class="media__description">
              Během předvánočních slevových akcí Černý pátek provedla Česká
              obchodní inspekce 92&nbsp;kontrol, přičemž u&nbsp;13&nbsp;z&nbsp;nich konstatovala
              porušení zákona. Nejčastějším prohřeškem bylo to, že avizované ceny
              neodpovídaly cenám účtovaným, uvedl ve středu mluvčí ČOI Jiří
              Fröhlich. Některé obchody slevy počítaly z&nbsp;cen navýšených krátce před
              akcí. Podle ČOI je to etický problém, praktiku nemůže podle zákona
              postihovat.</p>
          </div>
        </article>
        <article class="media-article-item">
          <div class="media__image">
            <a href="https://byznys.ihned.cz/c1-65971770-e-shopy-umele-navysovaly-ceny-aby-mohly-avizovat-vyssi-slevy-behem-akce-black-friday-zjistila-analyza">
              <img src="https://res.cloudinary.com/topmonks/image/upload/v1572805594/www.hlidacshopu.cz/media/2017-11-28-ihned.jpg" alt="" width="250" height="142" role="presentation">
            </a>
          </div>
          <div class="media__body">
            <h3>
              <a href="https://byznys.ihned.cz/c1-65971770-e-shopy-umele-navysovaly-ceny-aby-mohly-avizovat-vyssi-slevy-behem-akce-black-friday-zjistila-analyza">
                E-shopy uměle navyšovaly ceny, aby mohly avizovat vyšší slevy během akce Black Friday, zjistila analýza</a>
            </h3>
            <time datetime="2017-11-28" class="media__date">28. listopadu 2017</time>
            <p class="media__description">
              Skutečné slevy během slevového černého pátku byly výrazně nižší,
              než na jaké se snažili nalákat obchodníci. Přinejmenším u&nbsp;trojice
              velkých e-shopů, na něž se zaměřila analýza společnosti&nbsp;Apify.</p>
          </div>
        </article>
        <article class="media-article-item" lang="sk">
          <div class="media__image">
            <a href="https://www.zive.sk/clanok/129079/pripravte-sa-zacina-obdobie-vyhovoriek-e-shopov/">
              <img src="https://res.cloudinary.com/topmonks/image/upload/v1572805594/www.hlidacshopu.cz/media/2017-12-03-zive.jpg" alt="" width="250" height="142" role="presentation">
            </a>
          </div>
          <div class="media__body">
            <h3>
              <a href="https://www.zive.sk/clanok/129079/pripravte-sa-zacina-obdobie-vyhovoriek-e-shopov/">
                Pripravte sa, začína sa obdobie výhovoriek e-shopov (komentár)</a>
            </h3>
            <time datetime="2017-12-03" class="media__date" lang="cs">3. prosince 2017</time>
            <p class="media__description">
              Slovo „zľava“ už dávno stratilo svoj význam. Raz do roka si to
              pripomíname. Poznáte to. Možno. Chcete si niečo kúpiť v&nbsp;e-shope, ale
              váhate. Veď možno cena klesne. Blíži sa predsa Black Friday, Cyber Monday,
              Whatever Thursday… no proste milión príležitostí, kedy môže cena
              klesnúť nižšie.</p>
          </div>
        </article>
        <article class="media-article-item" lang="en">
          <div class="media__image">
            <a href="https://prague.tv/en/s72/Directory/c209-Shopping/n11696-Black-Friday-discounts-lower-than-advertised">
              <img src="https://res.cloudinary.com/topmonks/image/upload/v1572805593/www.hlidacshopu.cz/media/2017-11-29-praguetv.jpg" alt="" width="250" height="142" role="presentation">
            </a>
          </div>
          <div class="media__body">
            <h3>
              <a href="https://prague.tv/en/s72/Directory/c209-Shopping/n11696-Black-Friday-discounts-lower-than-advertised">
                Black Friday discounts lower than advertised</a>
            </h3>
            <time datetime="2017-11-29" class="media__date" lang="cs">29. listopadu 2017</time>
            <p class="media__description">
              The actual discounts from e-shops during the discount Black Friday were
              significantly lower than what the stores’ advertising implied. The
              advertisements and actual prices were analyzed by the data research firm Apify.
              The shops deny that they systematically raised prices to create the illusion of
              savings.</p>
          </div>
        </article>
      </section>
    </div>
  </div>
</section>
{% endblock %}
