{% extends 'layouts/master.html' %}
{% block title %}Hlídač shopů v médiích{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/assets/css/media.css">
{% endblock %}

{% block main %}
<article class="media">
  <div class="mdc-layout-grid">
    <div class="layout-wrapper">
      <h2 class="media-heading">Média</h2>
      <section class="media-article-list layout-wrapper">
        <div class="media-article-item mdc-layout-grid__inner">
          <div
            class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-3-desktop">
            <div class="media-article-item__image">
              <img src="/assets/img/black-friday-slevy-e-commerce-1-prev-1.png" alt="clanek"/>
              <span class="media-article-item__image-tag media-tag--press">Tisková zpráva</span>
            </div>
          </div>
          <div
            class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-9-desktop">
            <h3>Black Friday po česku: kouzla se slevami po roce</h3>
            <p class="media__date">10. prosince 2019</p>
            <div class="media__description">
              Po loňské úspěšné analýze slev v&nbsp;rámci Black Friday jsme se opět
              rozhodli podívat na to, jak největší české e-shopy pracují s&nbsp;tímto
              fenoménem. Hlavně nás zajímalo, zda stále čarují se slevami, převážně
              pomocí umělého navyšování původních cen…
            </div>
          </div>
        </div>
        <div class="media-article-item mdc-layout-grid__inner">
          <div
            class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-3-desktop">
            <div class="media-article-item__image">
              <img src="/assets/img/black-friday-slevy-e-commerce-1-prev-1.png" alt="clanek"/>
              <span class="media-article-item__image-tag media-tag--about-us">Napsali o&nbsp;nás</span>
            </div>
          </div>
          <div
            class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-9-desktop">
            <h3>Black Friday po česku: kouzla se slevami po roce</h3>
            <p class="media__date">10. prosince 2019</p>
            <div class="media__description">
              Po loňské úspěšné analýze slev v&nbsp;rámci Black Friday jsme se opět
              rozhodli podívat na to, jak největší české e-shopy pracují s&nbsp;tímto
              fenoménem. Hlavně nás zajímalo, zda stále čarují se slevami, převážně
              pomocí umělého navyšování původních cen…
            </div>
          </div>
        </div>
        <div class="media-article-item mdc-layout-grid__inner">
          <div
            class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-3-desktop">
            <div class="media-article-item__image">
              <img src="/assets/img/black-friday-slevy-e-commerce-1-prev-1.png" alt="clanek"/>
              <span class="media-article-item__image-tag media-tag--about-us">Napsali o&nbsp;nás</span>
            </div>
          </div>
          <div
            class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-9-desktop">
            <h3>Black Friday po česku: kouzla se slevami po roce</h3>
            <p class="media__date">10. prosince 2019</p>
            <div class="media__description">
              Po loňské úspěšné analýze slev v&nbsp;rámci Black Friday jsme se opět
              rozhodli podívat na to, jak největší české e-shopy pracují s&nbsp;tímto
              fenoménem. Hlavně nás zajímalo, zda stále čarují se slevami, převážně
              pomocí umělého navyšování původních cen…
            </div>
          </div>
        </div>
        <div class="media-article-item mdc-layout-grid__inner">
          <div
            class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-3-desktop">
            <div class="media-article-item__image">
              <img src="/assets/img/black-friday-slevy-e-commerce-1-prev-1.png" alt="clanek"/>
            </div>
          </div>
          <div
            class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-9-desktop">
            <h3>Black Friday po česku: kouzla se slevami po roce</h3>
            <p class="media__date">10. prosince 2019</p>
            <div class="media__description">
              Po loňské úspěšné analýze slev v&nbsp;rámci Black Friday jsme se opět
              rozhodli podívat na to, jak největší české e-shopy pracují s&nbsp;tímto
              fenoménem. Hlavně nás zajímalo, zda stále čarují se slevami, převážně
              pomocí umělého navyšování původních cen…
            </div>
          </div>
        </div>
      </section>
      <h2 class="media-heading">Tiskové zprávy</h2>
      <section class="media-press-grid layout-wrapper">
        <div class="mdc-layout-grid__inner">
          <div
            class="media-press-grid__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop">
            <h3>Black Friday po česku: kouzla se slevami po roce</h3>
            <p class="media__date">10. prosince 2019</p>
            <div class="media__description">Po loňské úspěšné analýze slev v&nbsp;rámci Black Friday jsme se opět…
            </div>
          </div>
          <div
            class="media-press-grid__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop">
            <h3>Black Friday po česku: kouzla se slevami po roce</h3>
            <p class="media__date">10. prosince 2019</p>
            <div class="media__description">
              Po loňské úspěšné analýze slev v&nbsp;rámci Black Friday jsme se opět…
            </div>
          </div>
          <div
            class="media-press-grid__cell mdc-layout-grid__cell  mdc-layout-grid__cell--span-4-desktop">
            <h3>Black Friday po česku: kouzla se slevami po roce</h3>
            <p class="media__date">10. prosince 2019</p>
            <div class="media__description">
              Po loňské úspěšné analýze slev v&nbsp;rámci Black Friday jsme se opět…
            </div>
          </div>
        </div>
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid--align-right">
            <a href="#" class="media-press__all">Všechny tiskové zprávy ›</a>
          </div>
        </div>
      </section>
      <section class="media-article-list layout-wrapper">
        <div class="media-article-item mdc-layout-grid__inner">
          <div
            class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-3-desktop">
            <div class="media-article-item__image">
              <img src="/assets/img/black-friday-slevy-e-commerce-1-prev-1.png" alt="clanek"/>
              <span class="media-article-item__image-tag media-tag--press">
                Tisková zpráva
              </span>
            </div>
          </div>
          <div
            class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-9-desktop">
            <h3>Black Friday po česku: kouzla se slevami po roce</h3>
            <p class="media__date">10. prosince 2019</p>
            <div class="media__description">
              Po loňské úspěšné analýze slev v&nbsp;rámci Black Friday jsme se opět
              rozhodli podívat na to, jak největší české e-shopy pracují s&nbsp;tímto
              fenoménem. Hlavně nás zajímalo, zda stále čarují se slevami, převážně
              pomocí umělého navyšování původních cen…
            </div>
          </div>
        </div>
        <div class="media-article-item mdc-layout-grid__inner">
          <div
            class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-3-desktop">
            <div class="media-article-item__image">
              <img src="/assets/img/black-friday-slevy-e-commerce-1-prev-1.png" alt="clanek"/>
              <span class="media-article-item__image-tag media-tag--about-us">
                Napsali o nás
              </span>
            </div>
          </div>
          <div
            class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-9-desktop">
            <h3>Black Friday po česku: kouzla se slevami po roce</h3>
            <p class="media__date">10. prosince 2019</p>
            <div class="media__description">
              Po loňské úspěšné analýze slev v&nbsp;rámci Black Friday jsme se opět
              rozhodli podívat na to, jak největší české e-shopy pracují s&nbsp;tímto
              fenoménem. Hlavně nás zajímalo, zda stále čarují se slevami, převážně
              pomocí umělého navyšování původních cen…
            </div>
          </div>
        </div>
        <div class="media-article-item mdc-layout-grid__inner">
          <div
            class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-3-desktop">
            <div class="media-article-item__image">
              <img src="/assets/img/black-friday-slevy-e-commerce-1-prev-1.png" alt="clanek"/>
              <span class="media-article-item__image-tag media-tag--about-us">
                Napsali o nás
              </span>
            </div>
          </div>
          <div
            class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-9-desktop">
            <h3>Black Friday po česku: kouzla se slevami po roce</h3>
            <p class="media__date">10. prosince 2019</p>
            <div class="media__description">
              Po loňské úspěšné analýze slev v&nbsp;rámci Black Friday jsme se opět
              rozhodli podívat na to, jak největší české e-shopy pracují s&nbsp;tímto
              fenoménem. Hlavně nás zajímalo, zda stále čarují se slevami, převážně
              pomocí umělého navyšování původních cen…
            </div>
          </div>
        </div>
        <div class="media-article-item mdc-layout-grid__inner">
          <div
            class=" mdc-layout-grid__cell mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-3-desktop">
            <div class="media-article-item__image">
              <img src="/assets/img/black-friday-slevy-e-commerce-1-prev-1.png" alt="clanek"/>
            </div>
          </div>
          <div
            class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-9-desktop">
            <h3>Black Friday po česku: kouzla se slevami po roce</h3>
            <p class="media__date">10. prosince 2019</p>
            <div class="media__description">
              Po loňské úspěšné analýze slev v&nbsp;rámci Black Friday jsme se opět
              rozhodli podívat na to, jak největší české e-shopy pracují s&nbsp;tímto
              fenoménem. Hlavně nás zajímalo, zda stále čarují se slevami, převážně
              pomocí umělého navyšování původních cen…
            </div>
          </div>
        </div>
      </section>
      <section class="media-next-articles">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell--span-12">
            <button >10 dalších článků...</button>
          </div>
        </div>
      </section>
    </div>
  </div>
</article>
{% endblock %}
