:root {
  --tm-primary: #F7BD41;
  --tm-primary-hover: #F4A23A;
  --tm-primary-light: #FDEFC5;
  --tm-secondary: #7462e0;
  --tm-link: #133490;
  --tm-black-title: #001F3F;
  --tm-logo: #001F3F;

  --tm-hamburger-label: rgba(0,0,0,0.25);
}

.tm-logo {
  color: var(--tm-logo);
}
.tm-footer {
  background-color: var(--tm-black-title);
}

.tm-app-bar {
  color: var(--tm-black-title);
  background-color: var(--tm-white);
  box-shadow: var(--tm-basic-shadow);
}

.tm-hamburger .tm-hamburger__container::after {
  color: var(--tm-hamburger-label);
}


.tm-menu__list a {
  color: var(--tm-black-title);

  &:hover {
    color: var(--tm-primary);
    text-decoration: none;
    border-bottom: 2px solid var(--tm-primary-light);
  }
}

.how-we-work .box {
  padding-top: 2em;
  z-index: 15;
  position: relative;
  display: grid; }
.how-we-work .box > svg {
  margin: 0 auto;
  height: 140px; }

.how-we-work .box > h3 {
  text-align: left;
}


.action-button {
  background-color: #FDEFC5;
  color: #A2710E;
  width: -webkit-fill-available;
  padding: 12px 0px;
  margin: 16px 0 18px;
  border-radius: 4px;
  box-shadow: none;
  transition: all 100ms ease-in-out;

  &:hover {
    background-color: var(--tm-primary-light);
    box-shadow: none;
  }
}

.jumbotron .jumbotron__cta {
  margin-top: 1.667em!important;
}

.box {
  border-radius: 6px;

  box-shadow: var(--tm-basic-shadow);
}
.sub-info {
  font-size: 24px;
  color: var(--tm-black);
  line-height: 35px;
}

hr {
  background-color: #F3F3F3;
  height: 2px;
  border: none;
}

.center-cta {
  text-align: center;

  > a {
    margin-top: 2em;
  }
}
p > strong {
  color: var(--tm-secondary);
}

p > a {
  color: var(--tm-primary);
  border-bottom: 2px solid var(--tm-primary);

  &:hover {
    text-decoration: none;
    border-bottom: 2px solid var(--tm-primary-light);
  }
}
