:root {
  --tm-primary: #F7BD41;
  --tm-primary-hover: #F4A23A;
  --tm-primary-light: #FDEFC5;

  --tm-secondary: #7462e0;
  --tm-link: #133490;

  --tm-black: #001F3F;
}

body, h1, h2, h3{
  color: var(--tm-black)!important;
}

.tm-footer {
  background-color: var(--tm-black)!important;
}

.tm-app-bar {
  color: var(--tm-primary-dark);
  background-color: white!important;

  box-shadow: 2px 4px 10px rgba(92, 95, 212, 0.1)!important;
}

.tm-menu__list a {
  color: var(--tm-black)!important;

  &:hover {
    color: var(--tm-primary)!important;
    text-decoration: none;
    border-bottom: 2px solid var(--tm-primary-light);
  }
}

.tm-logo {
  color: var(--tm-black)!important;
}

.jumbotron h2 {
  color: var(--tm-black)!important;
}

.how-we-work .box {
  padding-top: 2em;
  z-index: 15;
  position: relative;
  display: grid; }
.how-we-work .box > svg {
  margin: 0 auto;
  height: 140px; }

.how-we-work .box > h3 {
  text-align: left;
}


.action-button {
  color: var(--tm-black);
  padding: 16px 24px;
  border: 2px solid var(--tm-primary);
  border-radius: 4px;

  box-shadow: none;

  transition: all 100ms ease-in-out;

  &:hover {
    background-color: var(--tm-primary-light);
    box-shadow: none;
  }
}

.jumbotron .jumbotron__cta {
  margin-top: 1.667em!important;
}

.box {
  border-radius: 6px;

  box-shadow: 0px 20px 32px -12px rgba(0,0,0,0.1);
}

hr {
  background-color: #F3F3F3;
  height: 2px;
  border: none;
}

.center-cta {
  text-align: center;

  > a {
    margin-top: 2em;
  }
}
p > strong {
  color: var(--tm-secondary);
}

p > a {
  color: var(--tm-primary);
  border-bottom: 2px solid var(--tm-primary);

  &:hover {
    text-decoration: none;
    border-bottom: 2px solid var(--tm-primary-light);
  }
}
