:root {
  --tm-primary: #F7BD41;
  --tm-primary-hover: #F4A23A;
  --tm-primary-light: #FDEFC5;
  --tm-secondary: #7462e0;
  --tm-link: #133490;
  --tm-black-title: #001F3F;
  --tm-black-subtitle: #3C3C3B;
  --tm-logo: #001F3F;
  --tm-btn: #F0BE59;
  --tm-hamburger-label: rgba(0, 0, 0, 0.25);
}


h2.jumbotron__title {
  font-weight: 900;
  font-size: 52px;
  line-height: 75px;
}
h3 {
  color: var(--tm-black-title);
}
.sub-info {
  font-size: 24px;
  color: var(--tm-black-title);
  line-height: 36px;
}
.tm-logo {
  color: var(--tm-logo);
}

.tm-footer {
  background-color: var(--tm-black-title);
}

.tm-app-bar {
  color: var(--tm-black-title);
  background-color: var(--tm-white);
  box-shadow: var(--tm-basic-shadow);
}

.tm-hamburger .tm-hamburger__container::after {
  color: var(--tm-hamburger-label);
}


.tm-menu__list a {
  color: #FFFFFF;

  &:hover {
    color: var(--tm-hamburger-label);
    text-decoration: none;
  }
}

.how-we-work .box {
  padding-top: 2em;
  z-index: 15;
  position: relative;
  display: grid;
}

.how-we-work .box > svg {
  margin: 0 auto;
  height: 140px;
}

.how-we-work .box > h3 {
  text-align: left;
}


.action-button {
  background-color: var(--tm-primary-light);
  color: #A2710E;
  width: initial;
  padding: 12px;
  margin: 16px 0 18px;
  border-radius: 4px;
  box-shadow: none;
  transition: all 100ms ease-in-out;

  &:hover {
    background-color: var(--tm-btn);
    box-shadow: none;
  }
}

.fake-button {
  background-color: var(--tm-secondary);
  margin: 0 auto;
  padding: 8px 28px;
  border-radius: 30px;
  z-index: 20;

  a {
    color: #FFFFFF;
  }
}

.jumbotron .jumbotron__cta {
  margin-top: 1.667em !important;
}

.box {
  border-radius: 6px;
  box-shadow: 2px 10px 23px rgba(92, 95, 255, 0.1);
}

hr {
  background-color: #F3F3F3;
  height: 2px;
  border: none;
}

.center-cta {
  text-align: center;

  > a {
    margin-top: 2em;
  }
}

p > strong {
  color: var(--tm-secondary);
}

p > a {
  color: var(--tm-primary);
  border-bottom: 2px solid var(--tm-primary);

  &:hover {
    text-decoration: none;
    border-bottom: 2px solid var(--tm-primary-light);
  }
}
