{% extends 'layouts/application.html' %}
{% block title %}references.topmonks.com{% endblock %}

{% block navigation %}
{{ macros.navigation('references') }}
{% endblock %}

{% block content %}
  {{ macros.pageHeader('References') }}

  <div class="mainBody mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <section id="startups" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>Our startups</h2>
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
              <div class="image">
                <a href="#price-fx"><img alt="PriceFx" src="/images/portfolio/pricefx-logo.png" width="200" height="200"></a>
              </div>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
              <div class="image">
                <a href="#purposefly"><img alt="PurposeFly" src="/images/portfolio/purposefly-logo.png" width="200" height="200"></a>
              </div>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
              <div class="image">
                <a href="#hearth-net"><img alt="Hearth.net" src="/images/portfolio/hearth-net-logo.png" width="200" height="200"></a>
              </div>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
              <div class="image">
                <a href="#go-real-europe"><img alt="Go Real Europe" src="/images/portfolio/go-real-europe-logo.png" width="200" height="200"></a>
              </div>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
              <div class="image">
                <a href="https://www.coocooshop.com/"><img alt="Coocoo Shop" src="/images/portfolio/coocoon-logo.png" width="200" height="200"></a>
              </div>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
              <div class="image">
                <a href="#techloop-io"><img alt="techloop.io" src="/images/portfolio/techloop-logo.png" width="200" height="200"></a>
              </div>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
              <div class="image">
                <a href="https://www.lafluence.com/"><img alt="Lafluence" src="/images/portfolio/lafluence-logo.png" width="200" height="200"></a>
              </div>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
              <div class="image">
                <a href="https://www.2pocket.com/"><img alt="2pocket" src="/images/portfolio/2pocket-logo.png" width="200" height="200"></a>
              </div>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
              <div class="image">
                <a href="https://swarmpit.io/"><img alt="Swarmpit" src="/images/portfolio/swarmpit-logo.png" width="200" height="200"></a>
              </div>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
              <div class="image">
                <a href="https://www.kartapacienta.cz/"><img alt="Karta Pacienta" src="/images/portfolio/cardoid-logo.png" width="200" height="200"></a>
              </div>
            </div>
          </div>
      </section>
      <section id="enterprises" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>Our enterprise customers</h2>
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
            <div class="image">
              <a href="#web-api"><img alt="Česká Spřitelna" src="/images/portfolio/cs-logo.png" width="200" height="200"></a>
            </div>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
            <div class="image">
              <img alt="GMC Software" src="/images/portfolio/gmc-software-logo.png" width="200" height="200">
            </div>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
            <div class="image">
              <img alt="Hewlett Packard Enterprise" src="/images/portfolio/hpe-logo.png" width="200" height="200">
            </div>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop">
            <div class="image">
              <img alt="CreditInfo Solutions" src="/images/portfolio/cis-logo.png" width="200" height="200">
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  </div>

  <section id="references" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
    <div class="wrapper">
      <h2>Selected references</h2>
    </div>
    <article id="price-fx" class="item">
      <div class="wrapper">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <h3>Price<i>f(x)</i></h3>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            <p><q>Simplifying – Accelerating – Delivering tangible business value.</q></p>
            <p>Price<i>f(x)</i> company is creating pricing solutions for big corporations. Despite its short
              life it has grown to 3&nbsp;mil. EUR revenue and its now empowered by more than 20&nbsp;dedicated
              employees. TopMonks is proud partner and co-author of its sotware solution which is now bringing
              significant value to dozens of multinational customers including Bosch, Kärcher, Media-Saturn
              and John Crane. Price<i>f(x)</i> is now vigorously expanding&nbsp;west.</p>
          </div>
          <div class="logo mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            <a href="https://www.pricefx.eu/site/"><img alt="logo: PriceFx" src="/images/portfolio/pricefx-logo.png" width="200" height="200"></a>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <h4>Client Implementations</h4>
            <div>
              <a href="http://www.mediamarktsaturn.com/"><img alt="logo: Media Markt Saturn" src="/images/portfolio/mediasaturn-logo.png" width="200" height="200"></a>
              <a href="https://reactioncommerce.com/"><img alt="logo: Reaction Commerce" src="/images/portfolio/rc-logo.png" width="200" height="200"></a>
              <a href="https://www.johncrane.com//"><img alt="logo: John Crane" src="/images/portfolio/johncrane-logo.png" width="200" height="200"></a>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="web-api" class="dark item">
      <div class="wrapper">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <h3>Web API, Česká spořitelna</h3>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            <p>WebAPI is an application that covers various services (REST, SOAP) and exposes them uniformly
              as REST API.</p>
            <p>It unifies the authentication method to individual requirements and looks for limit requirements
              within the time units and in excess shutdown of the service.</p>
          </div>
          <div class="logo mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            <a href="https://developers.csas.cz/"><img alt="logo: ČESKÁ SPOŘITELNA" src="/images/portfolio/cs-logo.png"></a>
          </div>
          <div class="video mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <iframe width="460" height="300" src="https://www.youtube.com/embed/jj9Jc0EBUUc" frameborder="0" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </article>
    <article id="purposefly" class="item">
      <div class="wrapper">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <h3>PurposeFly</h3>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            <p><q>Our services uncover the informal organization structure of
              your&nbsp;team.</q></p>
            <p>We develop simple software services to improve the team work and design. We believe that prosperous
              teams master the art of maximizing and balancing the results, expertise, energy, relationships,
              and purpose.</p>
            <p>Our tool named <a href="https://www.purposefly.com/frank/">Frank</a> visualizes the social bonds
              in any team in terms of PURPOSE, relationships, results, expertise, and energy. Simply, and
              in an illustrative and functional&nbsp;way.</p>
          </div>
          <div class="logo mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            <a href="https://www.purposefly.com/"><img alt="logo: PurposeFly" src="/images/portfolio/purposefly-logo.png"></a>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <div class="scroll-wrap">
              <img alt="logo: EU" src="/images/eu/publicita_TM-1.jpg" width="800" height="120">
            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="hearth-net" class="dark item">
      <div class="wrapper">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <h3>Hearth.net</h3>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            <p><q>A space for open hearts.</q></p>
            <p>Hearth is a unique social network dedicated to exchanging gifts and experiences.</p>
            <p>
              You don’t pay with money on ‘Hearth’. Offer some service or a thing and you will get in return something that you need. Users
              can join the community, make new friends there and explore the world without money. Generosity
              and reciprocity are the key values on this web page. We run the project for over a half year
              now and are in close contact with our clients to ensure that everything goes according to
              their needs. We are using agile SCRUM method with two-week sprints release. Hearth.net is
              developed by people who believe in this idea and support charitable lifestyle.
            </p>
          </div>
          <div class="logo mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            <a href="https://www.hearth.net/"><img alt="logo: Hearth.net" src="/images/portfolio/hearth-net-logo.png"></a>
          </div>
          <div class="video mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <iframe width="460" height="300" src="https://www.youtube.com/embed/o2ronQTnufc" frameborder="0" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </article>
    <article id="techloop-io" class="item">
      <div class="wrapper mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <h3>techloop.io</h3>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            <p><q>Reinventing your IT job search. Simplify your IT recruitment.</q></p>
            <p>Techloop.io presents a new and unique solution for software developers considering a change of
              career. This involves creating a virtual marketplace where software developers can connect
              with firms looking for top IT talent. Job seekers can operate anonymously, maintaining full
              control over the process.</p>
          </div>
          <div class="logo mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            <a href="https://techloop.io/"><img alt="logo: techloop.io" src="/images/portfolio/techloop-logo.png"></a>
          </div>
          <div class="video mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <iframe width="460" height="300" src="https://www.youtube.com/embed/fpM9aFm3FK4" frameborder="0" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </article>
    <article id="go-real-europe" class="dark item">
      <div class="wrapper">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <h3>Go real Europe</h3>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            <p><q>Let us create your own fairytale trip!</q></p>
            <p>
              GoRealEurope is a web page targeting North American market. It connects the travelers with experienced local guides in Middle
              Europe helping them to avoid the mistakes and wiles of selforganizing. Travelers oversee
              their budget and cooperate on the the itinerary in a funny and creative way.
            </p>
            <p>
              We have worked on this project for three months in a close consultations with the web page owner. The service have received
              outstanding references fromtheir customers so far.
            </p>
          </div>
          <div class="logo mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            <a href="http://www.gorealeurope.com/"><img alt="logo: Go Real Europe" src="/images/portfolio/go-real-europe-logo.png" width="200" height="200"></a>
          </div>
          <div class="video mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <iframe width="460" height="300" src="https://www.youtube.com/embed/wuU6XzKGLZk" frameborder="0" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </article>
    <article id="zoom-encourage" class="item">
      <div class="wrapper">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <h3>Zoom Encourage</h3>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            <p>The ZOOM International is a leading call centers solutions provider worldwide. They are engaged
              in call recordings, data processing and analytics. We have delivered a fundamental tool for
              them named ZOOM Encourage consisting of the CallREC and the analytics tool Scorecard. We
              redesigned the product and added something extra on top of it. The CallREC imports the data
              into Encourage and allows users to process it via Web UI. Calls are automatically transcribed
              into written form and optimized for fulltext search. It it possible to tag or comment the
              searched call. The next stage of the project will introduce agent for data evaluation and
              multichannel approach for processing the videos, emails, chats, Facebook, Twitter and other
              channels running through the call centres. The entire ZOOM Encourage will be split into several
              layers: a data layer, service layer, business logic layer, authentication configuration module,
              web UI layer etc.</p>
          </div>
          <div class="logo mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            <a href="https://www.zoomint.com/"><img alt="logo: ZOOM International" src="/images/portfolio/zoom-int-logo.png" width="200" height="200"></a>
          </div>
        </div>
      </div>
    </article>
    <article id="trumaker" class="dark item">
      <div class="wrapper">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <h3>Trumaker</h3>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            <p><q>Be nobody but yourself!</q></p>
            <p>Individualized menswear production made online. Fancy eshop with glamoroush fashion. After a
              year in production TopMonks have joined this ongoing project of large scare. This required
              quick orientation in the code and rapid adaptation by our team. We have developed the Outfitter
              Portal, Shopping Portal, Admin and Client Portals.</p>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
          </div>
        </div>
      </div>
    </article>
  </section>


{% endblock %}
