@import "@material/layout-grid/mdc-layout-grid";

:root {
  --mdc-layout-grid-margin-desktop: 24px;
  --mdc-layout-grid-gutter-desktop: 20px;
  --mdc-layout-grid-column-width-desktop: 60px;

  --tm-primary: #fe664b;
  --tm-primary-dark: #c53321;
  --tm-primary-light: #ff9878;
  --tm-secondary: #5c5fd4;
  --tm-secondary-dark: #1d35a2;
  --tm-secondary-light: #918cff;
  --tm-grey: #9b9b9b;
  --tm-article-background: #f8fbfc;
  --tm-black: #4a4a4a;
}

body {
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
  font-family: Lato, sans-serif, Roboto, Arial;
  font-weight: normal;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-variant-numeric: lining-nums slashed-zero;
  -webkit-font-variant-ligatures: common-ligatures contextual;
  font-variant-ligatures: common-ligatures contextual;
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;

  background: url("/images/main-info_BG.png") top no-repeat;
  color: #FFFFFF;
}

header {
  padding: 2em 0 0 4em;
}

.wrapper {
  max-width: 980px;
  margin: 0 auto;
}

h1 {
  font-size: 58px;
  font-weight: 900;
  text-align: center;
}

h2 {
  font-size: 28px;
  font-weight: 900;
  text-align: center;
}
h2.h2_title {
  line-height: 0;
  font-weight: 400;
  padding-bottom: 1em;
}

h3 {
  text-align: center;
}

h3.h3_larger {
  font-size: 24px;
  text-align: center;
  font-weight: 900;
}

h4 {
  font-weight: 900;
  font-size: 24px;
  text-align: center;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

a {
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

/* Navigation bar - header */
.nav_bar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nav_bar ul {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
  color: white;
  list-style-type: none;
  padding: 0;
}

.nav_bar li a {
  color: #FFFFFF;
  border-bottom: 2px solid transparent;
}

.nav_bar a:hover {
  border-color: #EC71E9;
}

#logo {
  position: relative;
  width: 194px;
  height: 21px;
}

#logo svg.topmonks {
  position: absolute;
  top: 14px;
  left: 49px;
  z-index: 10;
}

svg.monk {
  padding-right: 6px;
}

.hamburger {
  visibility: hidden;
}

/* Main_info section */
.developers {
  background: url("/images/slices_BG.png") center no-repeat;
  height: 280px;
  width: 100%;
}

.opening {
  position: relative;
  margin-top: 5em;
}

.main_content_button {
  position: absolute;
  content: "";
  display: block;
  bottom: 68px;
  left: 32em;
  margin: 0 auto;
}

a.button {
  background: linear-gradient(to bottom right, #EE72E9 0, #96f 78%);
  border-radius: 32px;
  padding: 12px 24px;
  color: #fff;
}

/*Values*/
#values {
  background: url("/images/values_BG.png") right no-repeat;
  background-position-y: 100px;
}

#values p {
  text-align: center;
}

.value_1::before {
  content: "";
  display: block;
  background: url("/images/value_1.svg") center no-repeat;
  width: 100%;
  height: 99px;
}

.value_2::before {
  content: "";
  display: block;
  background: url("/images/value_2.svg") center no-repeat;
  width: 100%;
  height: 99px;
}

/* welcome */
.welcome h2 {
  font-weight: 400;
}

/* Offers */
.offer_white-box p {
  color: #586B78;
}

.offer_white-box {
  color: #000000;
  background-color: #FFFFFF;
  width: 313px;
  height: 486px;
  box-shadow: 0 0 20px #d3cdcd;
  padding: 24px;
}

.offer_purple-box {
  background-color: #4D2F72;
  width: 320px;
  height: 531px;
  padding: 24px;
}

h3.blockchain_bubble::before {
  content: "";
  display: block;
  background: url("/images/blockchain.svg") center no-repeat;
  width: 100%;
  height: 116px;
  margin-bottom: 2em;
}

h3.aApps_bubble::before {
  content: "";
  display: block;
  background: url("/images/dApps.svg") center no-repeat;
  width: 100%;
  height: 116px;
  margin-bottom: 2em;
}

h3.ICO_bubble::before {
  content: "";
  display: block;
  background: url("/images/ICO.svg") center no-repeat;
  width: 100%;
  height: 116px;
  margin-bottom: 2em;
}

/* Offer continue */
.offer2 {
  margin-top: 3em;
  background: url("/images/offer2_BG.png") left no-repeat;
}

/* Security First section */
.security .wrapper {
  background: url("/images/security_white_BG.png") center no-repeat;
  padding-top: 0;
}

.security h3 {
  color: #9B9B9B;
}

.security h3.h3-larger::before {
  content: "";
  display: block;
  background: url("/images/security.svg") center no-repeat;
  width: 100%;
  height: 160px;
  margin-bottom: 0.5em;
}

.security p {
  color: #586B78;
  width: 405px;
}

.security_first {
  background-image: url("/images/security_first.png");
}

/* How we work */
#our-work {
  background-color: #212142;
}

.our-work_box {
  background-color: #333355;
  width: 300px;
  height: 440px;
  padding: 58px 24px;
}

.our-work_box p {

}

.box1::before {
  content: "";
  display: block;
  background: url("/images/we-listen.svg") center no-repeat;
  width: 100%;
  height: 82px;
}

.box2::before {
  content: "";
  display: block;
  background: url("/images/we-develop.svg") center no-repeat;
  width: 100%;
  height: 82px;
}

.box3::before {
  content: "";
  display: block;
  background: url("/images/we-verify.svg") center no-repeat;
  width: 100%;
  height: 82px;
}

.our-work_crypto::before {
  content: "";
  display: block;
  background: url("/images/crypto.svg") center no-repeat;
  width: 100%;
  height: 60px;
}
.our-work_members::before {
  content: "";
  display: block;
  background: url("/images/members.svg") center no-repeat;
  width: 100%;
  height: 60px;
}

.our-work_blockstars::before {
  content: "";
  display: block;
  background: url("/images/blockstars.svg") center no-repeat;
  width: 100%;
  height: 60px;
}
.why-topmonks {
  margin: 6em 0 4em;
}

/*Contact section*/
#contact {
  color: #1C1C37;
  text-align: center;
  margin-bottom: 4em;
}
#contact img {
  width: 100%;
  height: 92px;
  margin: 0 auto;
}
#contact h4 {
  line-height: 0;
}
#contact p {
  line-height: 0;
  padding-bottom: 1em;
}

footer {
  background-color: #212142;
}

footer p {
  color: #FFFFFF;
}
