{%- import 'macros/helpers.html' as macros -%}
{{ macros.css('case-studies') }}
{% set gridSpan = 6 if caseStudiesData.activeCase else 4 %}

<section class="tm-case-studies">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner tm-layout-wrapper">
      <div class="tm-case-studies__title mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h2>{{caseStudiesData.title}}</h2>
        {% if caseStudiesData.subTitle %}
        <p class="sub-text">{{caseStudiesData.subTitle}}</p>
        {% endif %}
      </div>
      {% if caseStudiesData.activeCase != 'adler' %}
      <div
        class="tm-case-studies__clients mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-{{gridSpan}}-desktop">
        <a href="/jak-pracujeme/adler">
          <div class="tm-case-studies__logo tm-case-studies__logo--adler">
            <div class="tm-bgnd-wrapper">{{macros.sprite('img_logo_adler')}}</div></div>
          <h3>Adler</h3></a>
        <p>Řešení na míru automatizující proces nákupu, marketingu a prodeje s&nbsp;vizí, že aplikace budou v&nbsp;budoucnu integrovány do jedné komplexní administrativní platformy.</p>
      </div>
      {% endif %}
      {% if caseStudiesData.activeCase != 'pricefx' %}
      <div
        class="tm-case-studies__clients mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-{{gridSpan}}-desktop">
        <a href="/jak-pracujeme/price-fx">
          <div class="tm-case-studies__logo tm-case-studies__logo--pricefx">
            <div class="tm-bgnd-wrapper">{{macros.sprite('img_logo_pricefx')}}</div></div>
          <h3>Price f(x)</h3></a>
        <p>Poskytnutí profesionální konzultace na podporu služeb rozšiřujících portfolio zákazníků, a zároveň také pomoc při zlepšování UX pro webové stránky.</p>
      </div>
      {% endif %}
      {% if caseStudiesData.activeCase != 'cs' %}
      <div
        class="tm-case-studies__clients mdc-layout-grid__cell mdc-layout-grid__cell--span-12-phone mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-{{gridSpan}}-desktop">
        <a href="/jak-pracujeme/ceska-sporitelna-web-api/">
        <div class="tm-case-studies__logo tm-case-studies__logo--ceska-sporitelna">
          <div class="tm-bgnd-wrapper">{{macros.sprite('img_logo_cs')}}</div></div>
          <h3>Česká Spořitelna WebAPI</h3></a>
        <p>Zákaznická platforma využívána interně bankami, zároveň externě ve formě veřejné API.</p>
      </div>
      {% endif %}
    </div>
  </div>
</section>
