{% extends 'layouts/topmonks.html' %}
{% set page = 'topmonks-contact' %}
{% block title %}TopMonks Contacts{% endblock %}

{% block head %}
<meta property="og:title" content="TopMonks Contacts">
<meta property="fb:pages" content="190700404282725">
<meta property="og:type" content="business.business">
<meta property="og:url" content="https://www.topmonks.com/contact/">
<meta property="og:site_name" content="TopMonks.com">
<meta property="business:contact_data:street_address" content="Struhařovská 2931/9"/>
<meta property="business:contact_data:locality" content="Praha 4"/>
<meta property="business:contact_data:postal_code" content="141 00"/>
<meta property="business:contact_data:country_name" content="Czech republic"/>
<meta property="business:contact_data:email" content="info@topmonks.com"/>
<meta property="business:contact_data:phone_number" content="+420 226 257 521"/>
<meta property="business:contact_data:website" content="https://www.topmonks.com/"/>
<style>
  .box.address {
    padding: 0;
  }
  .box.address .content {
    padding: 0 16px 8px;
  }
  .box.address img {
    margin: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .box h3 {
    text-align: left;
  }
</style>
{% endblock %}

{% block content %}
  <div itemscope itemtype="https://schema.org/Organization">
    <section class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner tm-layout-wrapper">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <h2>Contacts</h2>
        </div>

        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <p><b>Office</b><br> Phone line:
            <a itemprop="telephone" href="tel:+420226257521">+420&nbsp;226&nbsp;257&nbsp;521</a><br>
            <a itemprop="email" href="mailto:info&#64;topmonks.com">info@topmonks.com</a></p>
        </div>

        <div class="box mdc-layout-grid__cell" itemprop="employee" itemscope="" itemtype="https://schema.org/Person">
          <p><b>HR aka Happy Makers</b><br>
            <span itemprop="name">Anna Kovacsová</span>:
            <a itemprop="telephone" href="tel:+420777556859">+420&nbsp;777&nbsp;556&nbsp;859</a><br>
            <span itemprop="name">Eliška Monsportová</span>:
            <a itemprop="telephone" href="tel:+420724390424">+420&nbsp;724&nbsp;390&nbsp;424</a><br>
            <a itemprop="email" href="mailto:happy&#64;topmonks.com">happy@​topmonks.com</a></p>
        </div>

        <div class="box mdc-layout-grid__cell" itemprop="employee" itemscope
             itemtype="https://schema.org/Person">
          <p><b>Sales</b><br/>
            <span itemprop="name">Kristýna Sloupová</span>:
            <a itemprop="telephone" href="tel:+420733713555">+420&nbsp;733&nbsp;713&nbsp;555</a><br/>
            <span itemprop="name">Ladislav Gerencséry</span>:
            <a itemprop="telephone" href="tel:+420606637915">+420&nbsp;606&nbsp;637&nbsp;915</a><br/>
            <a itemprop="email" href="mailto:sales&#64;topmonks.com">sales@​topmonks.com</a></p>
        </div>

        <div class="box mdc-layout-grid__cell" itemprop="employee" itemscope="" itemtype="https://schema.org/Person">
          <p><b>Startup studio</b><br>
            <span itemprop="name">Jirka Pénzeš</span>:
            <a itemprop="telephone" href="tel:+420732364404">+420&nbsp;732&nbsp;364&nbsp;404</a><br>
            <a itemprop="email" href="mailto:studio&#64;topmonks.com">studio@​topmonks.com</a></p>
        </div>
      </div>
    </section>

    <section id="offices" class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner tm-layout-wrapper">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <h2>Offices</h2>
        </div>
        <div class="box mdc-layout-grid__cell address" itemprop="subOrganization" itemscope="" itemtype="https://schema.org/Organization"
             id="prague">
          <a href="https://goo.gl/maps/SBK1BRsmgu22" class="map" title="Show Prague Office on map">
            <img alt="[mapa] Praha Spořilov"
                 src="https://maps.googleapis.com/maps/api/staticmap?center=Struhařovská+2931/9,Praha&amp;zoom=15&amp;size=320x240&amp;maptype=roadmap&amp;markers=color:blue%7Clabel:P%7C50.045386,14.491246&amp;key=AIzaSyCgsyl63h69YaF4_jdOcbGi1i4LefEFxRc"
                 srcset="https://maps.googleapis.com/maps/api/staticmap?center=Struhařovská+2931/9,Praha&amp;zoom=15&amp;size=320x240&amp;maptype=roadmap&amp;markers=color:blue%7Clabel:P%7C50.045386,14.491246&amp;key=AIzaSyCgsyl63h69YaF4_jdOcbGi1i4LefEFxRc 1x,
                         https://maps.googleapis.com/maps/api/staticmap?center=Struhařovská+2931/9,Praha&amp;zoom=15&amp;size=320x240&amp;maptype=roadmap&amp;markers=color:blue%7Clabel:P%7C50.045386,14.491246&amp;key=AIzaSyCgsyl63h69YaF4_jdOcbGi1i4LefEFxRc&amp;scale=2 2x"
                 width="100%">
          </a>
          <div class="content">
            <h3 itemprop="name">Prague</h3>
            <span itemprop="legalName">TopMonks s.r.o.</span>
            <div itemprop="location" itemscope itemtype="https://schema.org/Place">
              <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                <span itemprop="streetAddress">Struhařovská 2931/9</span><br>
                <span itemprop="postalCode">141 00</span>
                <span itemprop="addressLocality">Praha 4</span><br>
                <span itemprop="addressCountry">Czech Republic</span>
              </div>
              <a href="https://goo.gl/maps/SBK1BRsmgu22" class="button" data-marker="praha">show on map</a>
              <div itemprop="geo" itemscope itemtype="https://schema.org/GeoCoordinates">
                <meta itemprop="latitude" content="50.045386">
                <meta itemprop="longitude" content="14.491246">
              </div>
            </div>
          </div>
        </div>
        <!--div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
          <a href="https://mapy.cz/s/17lM6">
            <img class="pure-img map" alt="Mapa k TopMonks Praha" src="/images/contact/contact-map.png">
          </a>
        </div-->
        <div class="box mdc-layout-grid__cell address" itemprop="subOrganization" itemscope="" itemtype="https://schema.org/Organization"
             id="ostrava">
          <a href="https://goo.gl/maps/SkoWqfoKgg12" class="map" title="Show Ostrava Office on map">
            <img alt="[mapa] Ostrava" src="https://maps.googleapis.com/maps/api/staticmap?center=Sadová+1728/17,Ostrava&amp;zoom=15&amp;size=320x240&amp;maptype=roadmap&amp;markers=color:green%7Clabel:O%7C49.8454375,18.2892897&amp;key=AIzaSyCgsyl63h69YaF4_jdOcbGi1i4LefEFxRc"
                 srcset="https://maps.googleapis.com/maps/api/staticmap?center=Sadová+1728/17,Ostrava&amp;zoom=15&amp;size=320x240&amp;maptype=roadmap&amp;markers=color:green%7Clabel:O%7C49.8454375,18.2892897&amp;key=AIzaSyCgsyl63h69YaF4_jdOcbGi1i4LefEFxRc 1x,
                         https://maps.googleapis.com/maps/api/staticmap?center=Sadová+1728/17,Ostrava&amp;zoom=15&amp;size=320x240&amp;maptype=roadmap&amp;markers=color:green%7Clabel:O%7C49.8454375,18.2892897&amp;key=AIzaSyCgsyl63h69YaF4_jdOcbGi1i4LefEFxRc&amp;scale=2 2x"
                 width="100%">
          </a>
          <div class="content">
            <h3 itemprop="name">Ostrava</h3>
            <span itemprop="legalName">TopMonks s.r.o.</span>
            <div itemprop="location" itemscope itemtype="https://schema.org/Place">
              <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                <span itemprop="streetAddress">Sadová 1728/17</span><br>
                <span itemprop="postalCode">702 00</span>
                <span itemprop="addressLocality">Ostrava</span><br>
                <span itemprop="addressCountry">Czech Republic</span>
              </div>
              <a href="https://goo.gl/maps/SkoWqfoKgg12" class="button" data-marker="ostrava">show on map</a>
              <div itemprop="geo" itemscope itemtype="https://schema.org/GeoCoordinates">
                <meta itemprop="latitude" content="49.8454375">
                <meta itemprop="longitude" content="18.2892897">
              </div>
            </div>
          </div>
        </div>
        <div class="box mdc-layout-grid__cell address" itemprop="subOrganization" itemscope="" itemtype="https://schema.org/Organization"
             id="san-jose">
          <a href="https://goo.gl/maps/YAJRUb1rDox" class="map" title="Show San Jose Office on map">
            <img alt="[mapa] San Jose" src="https://maps.googleapis.com/maps/api/staticmap?center=2+North+1st+St.,San+Jose,CA&amp;zoom=15&amp;size=320x240&amp;maptype=roadmap&amp;markers=color:red%7Clabel:S%7C37.336482,-121.8905285&amp;key=AIzaSyCgsyl63h69YaF4_jdOcbGi1i4LefEFxRc"
                 srcset="https://maps.googleapis.com/maps/api/staticmap?center=2+North+1st+St.,San+Jose,CA&amp;zoom=15&amp;size=320x240&amp;maptype=roadmap&amp;markers=color:red%7Clabel:S%7C37.336482,-121.8905285&amp;key=AIzaSyCgsyl63h69YaF4_jdOcbGi1i4LefEFxRc 1x,
                         https://maps.googleapis.com/maps/api/staticmap?center=2+North+1st+St.,San+Jose,CA&amp;zoom=15&amp;size=320x240&amp;maptype=roadmap&amp;markers=color:red%7Clabel:S%7C37.336482,-121.8905285&amp;key=AIzaSyCgsyl63h69YaF4_jdOcbGi1i4LefEFxRc&amp;scale=2 2x"
                 width="100%">
          </a>
          <div class="content">
            <h3 itemprop="name">San Jose</h3>
            <span itemprop="legalName">TopMonks LLC</span>
            <div itemprop="location" itemscope itemtype="https://schema.org/Place">
              <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                <span itemprop="streetAddress">2 North 1st St., 5th Floor</span><br>
                <span itemprop="addressLocality">San Jose</span>,
                <span itemprop="addressRegion">CA</span>
                <span itemprop="postalCode">95136</span><br>
                <span itemprop="addressCountry">United States</span>
              </div>
              <a href="https://goo.gl/maps/YAJRUb1rDox" class="button" data-marker="san-jose">show on map</a>
              <div itemprop="geo" itemscope itemtype="https://schema.org/GeoCoordinates">
                <meta itemprop="latitude" content="37.336482">
                <meta itemprop="longitude" content="-121.8905285">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="billing" class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner tm-layout-wrapper">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <h2>Billing information</h2>
        </div>
        <div class="box mdc-layout-grid__cell mdc-layout-grid__cell--span-8-tablet">
          <h3>Billing address</h3>
          <span itemprop="legalName">TopMonks s.r.o.</span><br>
          <span itemprop="foundingLocation" itemscope="" itemtype="https://schema.org/Place">
          <span itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
          <span itemprop="streetAddress">Struhařovská 2931/9</span><br>
          <span itemprop="postalCode">141 00</span>
          <span itemprop="addressLocality">Praha 4</span>
          </span>
          </span><br>
          <a href="mailto:invoices@topmonks.com">invoices@topmonks.com</a>

          <div>Reg. No: 24847437<br> VAT ID: <span itemprop="vatID">CZ24847437</span></div>
        </div>
        <div class="box mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet">
          <h3>Bank account</h3>
          <div>Bank: Raiffeisen Bank</div>
          <div>Account number: 780318/5500</div>
          <div>IBAN: CZ3655000000000000780318</div>
          <div>BIC: RZBCCZPP</div>
        </div>
      </div>
    </section>
  </div>

{% endblock %}

