<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ language[page].title }}{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">

  <!-- Preload CDN assets -->
  <link rel="dns-prefetch" href="https://www.googletagmanager.com">
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <link rel="dns-prefetch" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://ajax.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">

  <link rel="stylesheet" href="https://use.typekit.net/her1ktw.css">
  <link rel="stylesheet" href="/stylesheets/typography.css">
  <link rel="stylesheet" href="/stylesheets/main.css">

  {% block head %}{% endblock %}
  {% include "shared/app-icons.html" %}
</head>
<body id="page-{{page}}">
  <header>
    {% block navigation %}{% endblock %}
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    {% include 'shared/footer.html' %}
  </footer>

{% block javascript %}
<script src="/javascripts/app.js"></script>
{% endblock %}

</body>
</html>
